<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проект "Развитие +"</a></span>
						<span>Общая информация о проекте</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
                                        <form class="formCard"
                                              th:action="@{/private-office/finance-request/project-main}"
                                              th:object="${projectMain}"
                                              method="post"
                                              v-cloak=""
                                              enctype="multipart/form-data"
                                              id="generalProjectInfo"
                                              style="box-shadow: none">
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area">
														<div class="grid-cell">
															<div class="grid-area">
																<div class="grid-cell _md-2 _md-offset-2">
																	<div class="formCard-icon">
																		<svg class="icon-svg">
																			<use xlink:href="#icon-success"></use>
																		</svg>
																	</div>
																</div>
																<div class="grid-cell _md-8">
																	<div class="formCard-title">
																		Данные успешно сохранены
																	</div>
																	<div class="grid-cell" th:each="field : ${fields}">
																		<p th:text="${field}">
																		</p>
																	</div>
																</div>
															</div>
														</div>
														<div class="grid-cell">
															<div class="grid-container _md-8 _md-offset-4 _tiny">
																<div class="formCard-description">
																	Следующий этап "Направленность проекта и его отраслевая принадлежность"
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-content">
													<div class="grid-area">
														<div class="grid-cell _md-9 _md-offset-3">

														</div>
													</div>
												</div>
												<div class="space _medium"></div>
												<div class="formCard-footer">
													<div class="grid-area">
														<div class="grid-cell">
															<div class="grid-area">
																<div class="grid-cell _md-offset-4">
																	<input type="submit" name="back" class="form-button _link" value="Назад" />
																	<input type="submit" name="next" class="form-button _primary _long" value="Продолжить" />
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _massive"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
