<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->

<script type="text/x-template" id="countdown">
    <div class="form-field-message __textRight" v-if="string" :class="{'-error':errorMax, '-default':!errorMax}">
        <span v-if="errorMax">
            Лимит превышен на {{Math.abs(diff)}} сим.
        </span>
        <span v-else="">
            Осталось {{Math.abs(diff)}} сим.
        </span>
    </div>
</script>

<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проект "Развитие +"</a></span>
						<span>Общая информация о проекте</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
                                        <form action="./global-info-1.html" class="formCard formCard-resume"
                                              th:action="@{/private-office/finance-request/project-main}"
                                              th:object="${projectMain}"
                                              method="post"
                                              enctype="multipart/form-data"
                                              id="generalProjectInfo"
                                              style="box-shadow: none"
                                              ref="form"
                                              v-cloak="">
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area _alignCenter">
														<div class="grid-cell _md-3">
															<div class="formCard-step __textCenter-lg-up">
																<span>1</span>/2
															</div>
														</div>
														<div class="grid-cell _md-9">
															<div class="formCard-title">
																Общая информация о проекте
															</div>
														</div>
													</div>
												</div>
												<div class="formCard-content">
													<div class="grid-area">
														<div class="grid-cell _md-9 _md-offset-3">
															<div class="grid-area _large">
																<div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Наименование проекта
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{projectNomination}"
                                                                                            name="projectNomination"
                                                                                            type="text"
                                                                                            placeholder="Развитие +"
                                                                                            v-validate="'required'"
                                                                                            :class="{'input': true, '-error': errors.has('projectNomination') }"
                                                                                            data-vv-as="Наименование" />
                                                                                        <span v-show="errors.has('projectNomination')" class="form-field-message -error">
                                                                                            {{ errors.first('projectNomination') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="grid-area">
                                                                                    <div class="grid-cell _sm-10">
                                                                                        <div class="form-field-label">
                                                                                            Цель проекта
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="grid-cell _sm-2">
                                                                                        <div class="form-field-message -default">
                                                                                            2000 сим.
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputTextarea _fluid">
                                                                                        <textarea th:field="*{projectTarget}"
                                                                                            name="projectTarget"
                                                                                            placeholder="Кратко опишите цель проекта"
                                                                                            v-model="inputs.projectTarget"
                                                                                            v-validate="'required|max:2000'"
                                                                                            :class="{'input': true, '-error': errors.has('projectTarget') }"
                                                                                            data-vv-as="Цель проекта">
                                                                                        </textarea>
                                                                                        <span v-show="errors.has('projectTarget')" class="form-field-message -error">
                                                                                            {{ errors.first('projectTarget') }}
                                                                                        </span>
                                                                                    </div>
                                                                                    <countdown :string="inputs.projectTarget" :max="2000"></countdown>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="grid-area">
                                                                                    <div class="grid-cell _sm-10">
                                                                                        <div class="form-field-label">
                                                                                            Ожидаемый результат
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="grid-cell _sm-2">
                                                                                        <div class="form-field-message -default">
                                                                                            2000 сим.
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputTextarea _fluid">
                                                                                        <textarea th:field="*{projectExpectedResult}"
                                                                                            name="projectExpectedResult"
                                                                                            placeholder="Опишите ожидаемый результат от проекта"
                                                                                            v-model="inputs.projectExpectedResult"
                                                                                            v-validate="'required|max:2000'"
                                                                                            :class="{'input': true, '-error': errors.has('projectExpectedResult') }"
                                                                                            data-vv-as="Ожидаемый результат">
                                                                                        </textarea>
                                                                                        <span v-show="errors.has('projectExpectedResult')" class="form-field-message -error">
                                                                                            {{ errors.first('projectExpectedResult') }}
                                                                                        </span>
                                                                                    </div>
                                                                                    <countdown :string="inputs.projectExpectedResult" :max="2000"></countdown>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Тип проекта
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputSelect _fluid">
                                                                                        <select th:field="*{projectType1}"
                                                                                            name="projectType1"
                                                                                            v-model="inputs.projectType1"
                                                                                            v-validate="'required'"
                                                                                            :class="{'input': true, '-error': errors.has('projectType1') }"
                                                                                            data-vv-as="Тип проекта">

                                                                                            <option value="">Выберите</option>
                                                                                            <option th:each="item : ${ref.projectType}"
                                                                                                    th:value="${item.id}"
                                                                                                    th:text="${item.title}">no title</option>
                                                                                        </select>
                                                                                        <span v-show="errors.has('projectType1')" class="form-field-message -error">
                                                                                            {{ errors.first('projectType1') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell" v-if="inputs.projectType1 == 5">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Иной вариант
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{projectType1Custom}"
                                                                                            name="projectType1Custom"
                                                                                            vt-validate="'required'"
                                                                                            :class="{'input': true, '-error': errors.has('projectType1Custom') }"
                                                                                            data-vv-as="Иной вариант" />
                                                                                        <span v-show="errors.has('projectType1Custom')" class="form-field-message -error">
                                                                                            {{ errors.first('projectType1Custom') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="grid-area">
                                                                                    <div class="grid-cell _sm-10">
                                                                                        <div class="form-field-label">
                                                                                            Краткое описание сути проекта
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="grid-cell _sm-2">
                                                                                        <div class="form-field-message -default">
                                                                                            2000 сим.
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputTextarea _fluid">
                                                                                        <textarea th:field="*{projectDescription}"
                                                                                            name="projectDescription"
                                                                                            placeholder="Опишите суть проекта"
                                                                                            v-model="inputs.projectDescription"
                                                                                            v-validate="'required|max:2000'"
                                                                                            :class="{'input': true, '-error': errors.has('projectDescription') }"
                                                                                            data-vv-as="Краткое описание сути проекта">
                                                                                        </textarea>
                                                                                        <span v-show="errors.has('projectDescription')" class="form-field-message -error">
                                                                                            {{ errors.first('projectDescription') }}
                                                                                        </span>
                                                                                    </div>
                                                                                    <countdown :string="inputs.projectDescription" :max="2000"></countdown>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Место реализации проекта
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputSelect _fluid">
                                                                                        <select name="projectSalePlace"
                                                                                            th:field="*{projectSalePlace}"
                                                                                            v-validate="'required'"
                                                                                            :class="{'input': true, '-error': errors.has('projectSalePlace') }"
                                                                                            data-vv-as="Место реализации проекта">

                                                                                            <option value="">Выберите</option>
                                                                                            <option th:each="item : ${ref.region}"
                                                                                                    th:value="${item.id}"
                                                                                                    th:text="${item.title}">no title</option>
                                                                                        </select>
                                                                                        <span v-show="errors.has('projectSalePlace')" class="form-field-message -error">
                                                                                            {{ errors.first('projectSalePlace') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell" v-for="(place, index) in inputs.extraPlaces">
                                                                    <div class="form-field">
                                                                        <div class="grid-area" style="align-items: flex-end">
                                                                            <div class="grid-cell _xs-8">
                                                                                <div class="form-field-label">
                                                                                    Дополнительное место реализации проекта
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputSelect _fluid">
                                                                                        <select name="projectSalePlaceCustom"
                                                                                            v-model="place.value"
                                                                                            v-validate="'required'"
                                                                                            :class="{'input': true, '-error': errors.has('projectSalePlaceCustom') }"
                                                                                            data-vv-as="Место реализации проекта">
                                        
                                                                                            <option value="">Выберите</option>
                                                                                            <option th:each="item : ${ref.region}"
                                                                                                    th:value="${item.id}"
                                                                                                    th:text="${item.title}">no title</option>
                                                                                        </select>
                                                                                        <span v-show="errors.has('projectSalePlaceCustom')" class="form-field-message -error">
                                                                                            {{ errors.first('projectSalePlaceCustom') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="grid-cell _xs-4">
                                                                                <a href="#" class="link" v-on:click.prevent="removeExtraPlace(index)">
                                                                                    <svg class="icon-svg" style="width: 2em; height: 2em">
                                                                                        <use xlink:href="#icon-close"></use>
                                                                                    </svg>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="grid-area">
                                                                        <div class="grid-cell _sm-8">
                                                                            <div class="form-field">
                                                                                <div class="form-field-input">
                                                                                    <div class="grid-area _tiny">
                                                                                        <div class="grid-cell">
                                                                                            <a href="#" class="form-button _primary _bordered" v-on:click.prevent="addExtraPlace">+ Добавить место</a>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="grid-area" style="align-items: flex-end">
                                                                        <div class="grid-cell _sm-8">
                                                                            <div class="grid-area">
                                                                                <div class="grid-cell">
                                                                                    <div class="form-field">
                                                                                        <div class="grid-area">
                                                                                            <div class="grid-cell _sm-10">
                                                                                                <div class="form-field-label">
                                                                                                    Наличие опыта у менеджеров проекта по реализации аналогичных проектов
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="grid-cell _sm-2">
                                                                                                <div class="form-field-message -default">
                                                                                                    2000 сим.
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputTextarea _fluid">
                                                                                                <textarea th:field="*{projectExperienceProjectManagers}"
                                                                                                    placeholder="Опишите наличие опыта у менеджеров проекта" name="projectExperienceProjectManagers"
                                                                                                    v-model="inputs.projectExperienceProjectManagers"
                                                                                                    v-validate="'required|max:2000'"
                                                                                                    :class="{'input': true, '-error': errors.has('projectExperienceProjectManagers') }"
                                                                                                    data-vv-as="Наличие опыта">
                                                                                                </textarea>
                                                                                                <span v-show="errors.has('projectExperienceProjectManagers')" class="form-field-message -error">
                                                                                                    {{ errors.first('projectExperienceProjectManagers') }}
                                                                                                </span>
                                                                                            </div>
                                                                                            <countdown :string="inputs.projectExperienceProjectManagers" :max="2000"></countdown>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid-cell _sm-4">
                                                                            <div class="form-field-message -default">
                                                                                Указать наименование проектов, реализованных менеджерами при отсутствии опыта представить обоснование формирования данной команды менеджеров
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
																<div class="grid-cell"></div>
																<h2 class="form-sectionTitle">
																	Информация о степени проработки проекта
																</h2>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Дата и уровень принятия решения о необходимости реализации проекта
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputTextarea _fluid">
                                                                                        <textarea th:field="*{projectProjectDecisionDateAndLevel}" placeholder="21.01.2016 ???" autosize="autosize"
                                                                                        name="projectProjectDecisionDateAndLevel"
                                                                                        v-validate="'required'"
                                                                                        :class="{'input': true, '-error': errors.has('projectProjectDecisionDateAndLevel') }"
                                                                                        data-vv-as="Дата и уровень принятия решения">
                                                                                    </textarea>
                                                                                    <span v-show="errors.has('projectProjectDecisionDateAndLevel')" class="form-field-message -error">
                                                                                        {{ errors.first('projectProjectDecisionDateAndLevel') }}
                                                                                    </span>
																					</div>
																				</div>
																				<div class="form-field-message -error __hidden"></div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="grid-area" style="align-items: flex-end">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area">
																				<div class="grid-cell">
																					<div class="form-field">
																						<div class="grid-area">
																							<div class="grid-cell">
																								<div class="form-field-label">
																									Степень готовности проектной документации
																								</div>
																							</div>
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputTextarea _fluid">
																								<textarea th:field="*{projectReadinessOfProjectDocumentation}" placeholder="Опишите cтепень готовности проектной документации" name="projectReadinessOfProjectDocumentation"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('projectReadinessOfProjectDocumentation') }"
                                                                                                data-vv-as="Степень готовности">
                                                                                            </textarea>
                                                                                            <span v-show="errors.has('projectReadinessOfProjectDocumentation')" class="form-field-message -error">
                                                                                                {{ errors.first('projectReadinessOfProjectDocumentation') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell _sm-4">
																			<div class="form-field-message -default">
																				Приводится список имеющейся документации по проекту, в том числе наличие необходимых экспертных заключений по проекту, предусмотренных
																				законодательством РФ (налоговых, юридических, экологических, технико-экономических и иных)
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area">
																				<div class="grid-cell">
																					<div class="form-field">
																						<div class="form-field-label">
																							Перечень ранее проведенных и осуществляемых мероприятий по реализации проекта
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputTextarea _fluid">
                                                                                                <textarea th:field="*{projectProjectImplementationActivities}" placeholder="Перечислите ранее проведенные и осуществляемые мероприятия по реализации проекта"
                                                                                                name="projectProjectImplementationActivities"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('projectProjectImplementationActivities') }"
                                                                                                data-vv-as="Перечень мероприятий">
                                                                                            </textarea>
                                                                                            <span v-show="errors.has('projectProjectImplementationActivities')" class="form-field-message -error">
                                                                                                {{ errors.first('projectProjectImplementationActivities') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-footer">
													<div class="grid-area">
														<div class="grid-cell _md-9">
															<div class="grid-area">
																<div class="grid-cell __textRight">
																		<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
																		<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="space _massive"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
</div>
