.storiesSlider {

    &-container {
        display: flex;
        flex-grow: 1;

        @include dd-responsive-media((xs, lg)) {
            flex-wrap: wrap;
        }
    }

    &-body {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 33%;
        padding: 45px 45px 20px 20px;
        background-color: dd-color-palette(primary);
        color: #fff;
        flex-shrink: 0;
        flex-grow: 0;
    }

    &-title {
        width: 100%;
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
    }

    &-text {
        position: relative;
        width: 100%;
        height: 150px;
        margin-bottom: 100px;
        line-height: 1.6;
        overflow: hidden;
        text-overflow: ellipsis;

        &-gradient {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 50%;
            background: linear-gradient(to top, dd-color-palette(primary), transparent);
        }
    }

    &-image {
        width: 67%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
        flex-grow: 0;
    }

    .form-button {
        margin-top: auto;
        font-weight: 700;
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 3px;

        &:hover {
            color: dd-color-palette(primary);
            background-color: #fff;
        }
    }

    .owl-stage {
        display: flex;
    }

    .owl-item {
        display: flex;
    }

    .owl-dots {
        color: #fff;
        left: 20px;
        transform: none;
        bottom: 100px;
    }

    .owl-dot {
        background-color: #fff;
        opacity: 0.2;

        &:hover {
            opacity: 0.4;
        }

        &.active {
            opacity: 0.8;
        }
    }

    @include dd-responsive-media((xs, lg)) {

        &-text {
            height: 80px;
            margin-bottom: 50px;
        }

        &-body,
        &-image {
            width: 100%;
        }

        &-image {
            height: 300px;
        }

        .owl-dots {
            bottom: auto;
            top: 20px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
