<div class="storiesSlider owlSlider owl-carousel">
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Создание семейства российских региональных самолетов Sukhoi Superjet 100
            </div>
            <div class="storiesSlider-text">
                <p>Целью проекта является создание современного российского регионального самолета. Проект реализуется в рамках программы «Суперджет 100», которая включена в ФЦП «Развитие гражданской авиационной техники России на 2002-2010 годы и на период до 2015 года» и направлен на создание и вывод на международный рынок конкурентоспособной продукции отечественного авиапрома – самолета «Сухой Суперджет 100».</p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/sj.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Реконструкция Нижнетуринской ГРЭС
            </div>
            <div class="storiesSlider-text">
                <p>Проект направлен на создание современной энергетической инфраструктуры и повышение эффективности использования топлива. Реконструируется Нижнетуринская ГРЭС в Свердловской области, с целью увеличения мощности станции до 460 МВт.</p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/gres.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Развитие международного аэропорта «Курумоч»
            </div>
            <div class="storiesSlider-text">
                <p>Проект направлен на строительство нового терминала в аэропорту "Курумоч" (г. Самара).
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/Kurumoch.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Создание объединенного транспортно-логистического комплекса на территории Калужской области
            </div>
            <div class="storiesSlider-text">
                <p>Создание логистического комплекса на базе двух логистических площадок «Ворсино» и «Росва» в Калужской области для обработки грузопотоков Московского транспортного узла и резидентов индустриальных парков Калужской области
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/q1.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Реконструкция Ижевской ТЭЦ-1

            </div>
            <div class="storiesSlider-text">
                <p>Проект направлен на создание современной энергетической инфраструктуры и повышение эффективности использования топлива.
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/Ижевский ТЭЦ.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Приобретение АО «ВЭБ-лизинг» технологического оборудования</div>
            <div class="storiesSlider-text">
                <p>Производство нового самолета с нуля с применением композитных материалов, которые влияют на массу воздушного судна и расход топлива. Целью проекта является приобретение оборудования (оснастки) для производства воздушных судов.
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/МС21.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Оплата расходов ОАО «Метровагонмаш» по производству и поставке продукции</div>
            <div class="storiesSlider-text">
                <p>Поддержка экспорта. Финансирование необходимых работ для оказания ОАО «Метровагонмаш» услуг модернизацию вагонов метро, используемых в г. Будапешт, включая капитальный ремонт, оказание соответствующих услуг, поставку запасных частей
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/Метровагонмаш_после.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Производство синтетического сапфира для оптоэлектроники
            </div>
            <div class="storiesSlider-text">
                <p>Создание предприятия, технологические возможности которого позволят осуществлять полный цикл производства искусственного сапфира: изготовление сырья, выращивание искусственных сапфиров для производства на его основе различных специализированных компонентов для применения в микроэлектронике (заготовки для производства светодиодов и интегральных схем), оптоэлектронике, оптике, медицине, часовой, химической промышленности и других отраслях промышленности.
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/sapfir.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Разработка и экспорт на международный рынок инновационных российских суперкомпьютерных технологий и услуг
            </div>
            <div class="storiesSlider-text">
                <p>Создание суперкомпьютерных платформ и программного обеспечения в интересах развития инноваций и модернизации науки и промышленности.
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/supercomputer2.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Создание космического аппарата «Экспресс-АМ7»
            </div>
            <div class="storiesSlider-text">
                <p>Финансирование производства спутников КА «Экспресс-АМ7» для создания дополнительного объема спутниковой емкости в целях обеспечения населения регионов России современными средствами коммуникаций и создания условий для интенсивного развития новых инфокоммуникационных технологий, в т.ч. подвижных сетей президентской и правительственной связи.
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/АМ-7_2.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Строительство дата-центра в г. Санкт-Петербурге
            </div>
            <div class="storiesSlider-text">
                <p>Строительство и запуск центра обработки данных по собственной запатентованной технологии StackКУБ в г. Санкт-Петербург. Технология проекта StackКУБ является инновационной и не имеет прямых аналогов.
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/data-center_3.jpg');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Создание производства авиационных агрегатов в Першинском филиале  ОАО НПО «Наука»
            </div>
            <div class="storiesSlider-text">
                <p>Проект направлен на создание современного высокотехнологичного комплекса по производству комплектующих для авиационной и космической техники. Реализация проекта будет способствовать развитию производства отечественных высокотехнологичных авиационных агрегатов (соответствующих мировым стандартам, либо превышающие их).
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/science_3.png');"></div>
    </div>
    <div class="storiesSlider-container">
        <div class="storiesSlider-body">
            <div class="storiesSlider-title">Реконструкция аэровокзального комплекса в г. Сочи
            </div>
            <div class="storiesSlider-text">
                <p>Проект направлен на создание современной авиапортовой инфраструктуры России.
                </p>
                <div class="storiesSlider-text-gradient"></div>
            </div>
            <a href="./project-history.html" class="form-button _long">Посмотреть все проекты</a>
        </div>
        <div class="storiesSlider-image" style="background-image: url('./img/static/Airport_Sochi_2.jpg');"></div>
    </div>
</div>
