.notificationButton {

	&-inner {
		display: flex;
		align-items: center;
		padding: 20px 0;

		img {
			width: 30px;
			height: 30px;
			margin-right: 10px;
			border-radius: 999px;
			overflow: hidden;
		}
	}

	&-caption {
		font-weight: 700;
		overflow: hidden;
        word-break: break-all;

		&-small {
			font-size: 0.86em;
			opacity: 0.5;
		}
	}

	&-icon {
		margin-left: auto;
		font-size: 22px;
	}

	&._small {
		font-size: 14px;

		.notificationButton {

			&-inner {
				padding: 10px 0;
			}
		}
	}

	&.-active {
		background-color: dd-color-palette(primary);
	}
}
