.financingMap {
    &-title {
        font-size: 30px;
        color: #ffffff;

        strong {
            font-weight: 800;
            text-transform: uppercase;
        }
    }

    &-link {
        color: #ffffff;
        text-decoration: none;
        font-size: 18px;
        opacity: 0.5;

        .icon-svg {
            height: 12px;
            width: 12px;
            margin-right: 3px;
        }
    }

    &-map {
        width: 100%;
        padding-bottom: 50%;
        position: relative;

        &-object {
            position: absolute !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &-nav {
        margin-top: -60px;
		text-align: center;
        //display: flex;
        //justify-content: center;
        //align-items: center;

        &-link {
			display: inline-block;
			vertical-align: middle;
            color: #ffffff;
            border-bottom: 1px dotted rgba(255, 255, 255, .6);
            margin: 0 20px;
            font-size: 18px;
            opacity: 0.6;
            text-decoration: none;
            text-transform: uppercase;

            &.-active {
                border-bottom: none;
                opacity: 1;
                //font-weight: 600;
            }
        }

        &-divider {
            display: inline-block;
			vertical-align: middle;
            height: 50px;
            width: 0;
			border-right: 1px solid #fff;
            //background: #ffffff;
            opacity: 0.2;
            margin: 0 2px;
			flex-shrink: 0;
			flex-basis: auto;
			flex-grow: 0;
        }
    }

    &-card {
        height: 100%;
        font-size: 12px;
        padding: 5px;
        color: #a1a1a1;
        box-shadow: 0 18px 32px rgba(0, 22, 34, 0.3);

        &-head {
            display: flex;

            &-title {
                color: dd-color-palette(primary);
                font-size: 16px;
                text-transform: uppercase;
                word-wrap: break-word;
                font-weight: 700;
                min-width: 0;
            }

            &-info {
                color: #a1a1a1;
                font-size: 14px;
                text-align: right;
                margin-left: auto;
                padding-left: 10px;
            }
        }
    }

    &-barChart {
        display: flex;
        height: 37px;

        div {
            margin: 0 5px;
            color: #ffffff;
            font-size: 10px;
            text-align: center;
            line-height: 37px;

            &:first-child { margin-left: 0; }
            &:last-child { margin-right: 0; }
        }
    }

    &-legend {
        font-size: 14px;
        margin-top: 20px;

        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            color: #202020;

            &-value {
                color: #a1a1a1;
            }

            &-name {
                font-weight: 600;
                margin-right: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &-square {
                width: 10px;
                height: 10px;
                margin-right: 10px;
                flex: none;
            }

            &._compact {
                width: 50%;
                flex: auto;
                color: #575757;
            }
        }


        &._compact {
            display: flex;
            flex-wrap: wrap;
        }
    }

    &-managers {
        &-info {
            display: flex;
            justify-content: center;
            align-items: baseline;

            &-title {
                font-size: 100px;
                line-height: 100px;
                color: dd-color-palette(primary);
                font-weight: 300;
            }
            &-light {
                font-size: 24px;
                color: dd-color-palette(soft);
            }
        }

        &-button {
            background: dd-color-palette(primary);
            color: #ffffff;
            text-transform: uppercase;
            border-radius: 3px;
            font-size: 16px;
            font-weight: 600;
            padding: 14px 30px;
            cursor: pointer;
            text-align: center;
            display: inline-block;
        }

        &-list {
            overflow-y: auto;
            max-height: 180px;

            &-item {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                &:last-child { margin-bottom: 0; }

                &-img {
                    width: 60px;
                    height: 60px;
                    flex: none;
                    background-size: cover;
                    background-position: center;
                    background-image: url('./img/static/default-photo.png');
                    border-radius: 50%;
                    margin-right: 10px;
                    border: 1px solid dd-color-palette(soft);
                }

                &-name {
                    font-size: 16px;
                    color: dd-color-palette(primary);
                    font-weight: 600;
                }

                &.-compact {
                    margin-bottom: 12px;
                }

                &.-compact &-img {
                    width: 30px;
                    height: 30px;
                }

                &.-compact &-name {
                    font-size: 14px;
                }
            }

            &::-webkit-scrollbar-track
            {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 1px;
                background-color: #f5f5f5;
            }

            &::-webkit-scrollbar
            {
                width: 4px;
                background-color: #f5f5f5;
            }

            &::-webkit-scrollbar-thumb
            {
                border-radius: 1px;
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #a1a1a1;
            }
        }
    }

    &.-loading {
        position: relative;
        z-index: 0;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba(#fff,0.5);
        }

        &:after {
            content: '';
            position: absolute;
            top: calc(50% - 25px);
            left: calc(50% - 25px);
            width: 50px;
            height: 50px;
            z-index: 2;
            background: url(../img/svg/icon-loader.svg) center center no-repeat;
        }
    }
}
