<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проект "Развитие +"</a></span>
						<span>Направленность проекта и его отраслевая принадлежность</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
                                        <form action="./project-direction-1.html"
                                              th:action="@{/private-office/finance-request/direction-industry}"
                                              th:object="${directionIndustry}"
                                              method="post"
                                              enctype="multipart/form-data"
                                              class="formCard formCard-resume"
                                              style="box-shadow: none"
                                              id="projectDirectionInfo" ref="form"
                                              v-cloak="" >
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area _alignCenter">
														<div class="grid-cell _md-3">
															<div class="formCard-step __textCenter-lg-up">
																<span>1</span>/1
															</div>
														</div>
														<div class="grid-cell _md-9">
															<div class="formCard-title">
																Направленность проекта и&nbsp;его отраслевая принадлежность
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-content">
													<div class="grid-area">
														<div class="grid-cell _md-9 _md-offset-3">
															<div class="grid-area _large">
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell">
																				<div class="form-field-label">
																					Направление проекта
																				</div>
																			</div>
																			<div class="grid-cell _md-6"  th:each="direction : ${ref.projectDirection}">
																				<div class="form-field-input">
																					<div class="form-inputRadio">
																						<input type="radio" th:field="*{projectProjectIsAimedTo}" th:value="${direction.id}" />
																						<label th:for="${#ids.prev('projectProjectIsAimedTo')}" th:text="${direction.title}"></label>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div id="projectProjectIsAimedToCustomId" class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area">
																				<div class="grid-cell">
																					<div class="form-field">
																						<div class="form-field-label">
																							Иной вариант
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputText _fluid">
																								<input th:field="*{projectProjectIsAimedToCustom}" type="text" placeholder="Укажите иной вариант"/>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell _sm-4">
																			<div class="form-field-message -default">
																				Необходимо определить основное направление при реализации проекта в нескольких направлениях
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area">
																				<div class="grid-cell">
																					<div class="form-field">
																						<div class="form-field-label">
																							Краткое обоснование соответствия проекта вышеуказанному направлению
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputTextarea _fluid">
                                                                                                <textarea th:field="*{projectProjectAimReason}" placeholder="Обоснование в свободной форме"
                                                                                                name="projectProjectAimReason"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('projectProjectAimReason') }"
                                                                                                data-vv-as="Краткое обоснование">
                                                                                            </textarea>
                                                                                            <span v-show="errors.has('projectProjectAimReason')" class="form-field-message -error">
                                                                                                {{ errors.first('projectProjectAimReason') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area">
																				<div class="grid-cell">
																					<div class="form-field">
																						<div class="form-field-label">
																							Конкурентные преимущества проекта на рынке
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputTextarea _fluid">
																								<textarea th:field="*{projectProjectAdvantagesInMarket}" placeholder="Опишите конкурентные преимущества проекта" name="projectProjectAdvantagesInMarket"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('projectProjectAdvantagesInMarket') }"
                                                                                                data-vv-as="Конкурентные преимущества">
                                                                                            </textarea>
                                                                                            <span v-show="errors.has('projectProjectAdvantagesInMarket')" class="form-field-message -error">
                                                                                                {{ errors.first('projectProjectAdvantagesInMarket') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="space _medium"></div>
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="form-field-label">
																				Отрасль реализации проекта
																			</div>
																			<div class="grid-cell _md-6" th:each="sector : ${ref.projectSectors}">
																				<div class="form-field-input">
																					<div class="form-inputRadio">
																						<input type="radio" th:field="*{projectSectors1}" th:value="${sector.id}" />
																						<label th:for="${#ids.prev('projectSectors1')}" th:text="${sector.title}"></label>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div id="projectSectorsCustomId" class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area" >
																				<div class="grid-cell">
																					<div class="form-field">
																						<div class="form-field-label">
																							Иной вариант
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputText _fluid">
																								<input th:field="*{projectSectorsCustom}" type="text" placeholder="Укажите иной вариант" />
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell _sm-4">
																			<div class="form-field-message -default">
																				Необходимо определить основную отрасль при реализации проекта для нескольких отраслей
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area">
																				<div class="grid-cell">
																					<div class="form-field">
																						<div class="form-field-label">
																							Обоснование отнесения проекта вышеуказанной отрасли
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputTextarea _fluid">
																								<textarea th:field="*{projectSectorsReason}" placeholder="Обоснование в свободной форме" name="projectSectorsReason"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('projectSectorsReason') }"
                                                                                                data-vv-as="Обоснование">
                                                                                            </textarea>
                                                                                            <span v-show="errors.has('projectSectorsReason')" class="form-field-message -error">
                                                                                                {{ errors.first('projectSectorsReason') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-footer">
													<div class="grid-area">
														<div class="grid-cell _md-9">
															<div class="grid-area">
																<div class="grid-cell __textRight">
																		<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
																		<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _massive"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
