<div class="mainTabs" id="mainTabs" v-cloak="">
	<div class="mainTabs-header">
		<div class="mainTabs-background"></div>
		<div class="mainTabs-header-wrapper">
			<div class="grid-container _main">
				<div class="space _massive"></div>
				<h2 class="page-title __textCenter">5 шагов к финансированию</h2>
				<div class="space _massive"></div>
				<div class="mainTabs-tabGrid owlSlider">
					<div class="mainTabs-tabGrid-item">
						<a href="#" class="mainTabs-link" v-bind:class="{'-active':currentIndex==0}" v-on:click.prevent="setCurrentIndex(0)">
							<div class="mainTabs-link-icon">1</div>
							<div>Первичное обращение</div>
						</a>
					</div>
					<div class="mainTabs-tabGrid-item">
						<a href="#" class="mainTabs-link" v-bind:class="{'-active':currentIndex==1}" v-on:click.prevent="setCurrentIndex(1)">
							<div class="mainTabs-link-icon">2</div>
							<div>Резюме проекта</div>
						</a>
					</div>
					<div class="mainTabs-tabGrid-item">
						<a href="#" class="mainTabs-link" v-bind:class="{'-active':currentIndex==2}" v-on:click.prevent="setCurrentIndex(2)">
							<div class="mainTabs-link-icon">3</div>
							<div>Экспресс-оценка</div>
						</a>
					</div>
					<div class="mainTabs-tabGrid-item">
						<a href="#" class="mainTabs-link" v-bind:class="{'-active':currentIndex==3}" v-on:click.prevent="setCurrentIndex(3)">
							<div class="mainTabs-link-icon">4</div>
							<div>Запрос на финансирование</div>
						</a>
					</div>
					<div class="mainTabs-tabGrid-item">
						<a href="#" class="mainTabs-link" v-bind:class="{'-active':currentIndex==4}" v-on:click.prevent="setCurrentIndex(4)">
							<div class="mainTabs-link-icon">5</div>
							<div>Экспертиза внутри Банка</div>
						</a>
					</div>
				</div>
				<div class="space _large"></div>
				<div class="space _small"></div>
			</div>
		</div>
	</div>
	<div class="grid-container _main">
		<div class="mainTabs-content">
			<div class="space _large"></div>
			<div class="space _small"></div>
			<div class="mainTabs-contentGrid" v-show="currentIndex==0">
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg" style="width: 50px; height: 50px;">
							<use xlink:href="#icon-user"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
						Клиент
					</div>
					<div class="mainTabs-content-body">
						Заполнение формы Первичного обращения, прохождение через этап автоматического отбора.
					</div>
					<div class="space _large"></div>
				</div>
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg" style="width: 50px;">
							<use xlink:href="#icon-manager"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
                        Региональный
						менеджер
					</div>
					<div class="mainTabs-content-body">
						Получение уведомления о поступлении нового проекта.
					</div>
					<div class="space _large"></div>
				</div>
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg">
							<use xlink:href="#icon-bank"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
						Внешэкономбанк
					</div>
					<div class="mainTabs-content-body">
						Отслеживание статистики первичного отбора.
					</div>
					<div class="space _large"></div>
				</div>
			</div>
			<div class="mainTabs-contentGrid" v-show="currentIndex==1">
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg" style="width: 50px; height: 50px;">
							<use xlink:href="#icon-user"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
						Клиент
					</div>
					<div class="mainTabs-content-body">
						Формирование  резюме проекта.
					</div>
					<div class="space _large"></div>
				</div>
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg" style="width: 50px;">
							<use xlink:href="#icon-manager"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
                        Региональный
						менеджер
					</div>
					<div class="mainTabs-content-body">
						Сбор информации о проекте и Клиенте.
					</div>
					<div class="space _large"></div>
				</div>
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg">
							<use xlink:href="#icon-bank"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
						Внешэкономбанк
					</div>
					<div class="mainTabs-content-body">
						Отслеживание статуса проекта.
					</div>
					<div class="space _large"></div>
				</div>
			</div>
			<div class="mainTabs-contentGrid" v-show="currentIndex==2">
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg" style="width: 50px; height: 50px;">
							<use xlink:href="#icon-user"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
						Клиент
					</div>
					<div class="mainTabs-content-body">
						Получение уведомления о результате проведения экспресс-оценки.
					</div>
					<div class="space _large"></div>
				</div>
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg" style="width: 50px;">
							<use xlink:href="#icon-manager"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
                        Региональный
						менеджер
					</div>
					<div class="mainTabs-content-body">
						Проведение экспресс-оценки проекта.
					</div>
					<div class="space _large"></div>
				</div>
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg">
							<use xlink:href="#icon-bank"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
						Внешэкономбанк
					</div>
					<div class="mainTabs-content-body">
						Получение уведомления о результатах проведения экспресс-оценки, проведение первичной фильтрации проектов Банком.
					</div>
					<div class="space _large"></div>
				</div>
			</div>
			<div class="mainTabs-contentGrid" v-show="currentIndex==3">
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg" style="width: 50px; height: 50px;">
							<use xlink:href="#icon-user"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
						Клиент
					</div>
					<div class="mainTabs-content-body">
						Формирование запроса на финансирование.
					</div>
					<div class="space _large"></div>
				</div>
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg" style="width: 50px;">
							<use xlink:href="#icon-manager"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
                        Региональный
						менеджер
					</div>
					<div class="mainTabs-content-body">
						Помощь в комплектации материалов по проекту, оказание методологической поддержки.
					</div>
					<div class="space _large"></div>
				</div>
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg">
							<use xlink:href="#icon-bank"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
						Внешэкономбанк
					</div>
					<div class="mainTabs-content-body">
						Отслеживание сроков подготовки запроса на финансирование.
					</div>
					<div class="space _large"></div>
				</div>
			</div>
			<div class="mainTabs-contentGrid" v-show="currentIndex==4">
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg" style="width: 50px; height: 50px;">
							<use xlink:href="#icon-user"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
						Клиент
					</div>
					<div class="mainTabs-content-body">
						Отслеживание изменений статусов в режиме онлайн, доработка материалов по проекту.
					</div>
					<div class="space _large"></div>
				</div>
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg" style="width: 50px;">
							<use xlink:href="#icon-manager"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
                        Региональный
						менеджер
					</div>
					<div class="mainTabs-content-body">
						Помощь в получении необходимых согласований, доработка материалов по проекту.
					</div>
					<div class="space _large"></div>
				</div>
				<div class="mainTabs-contentGrid-item">
					<div class="mainTabs-content-icon">
						<svg class="icon-svg">
							<use xlink:href="#icon-bank"></use>
						</svg>
					</div>
					<div class="mainTabs-content-title">
						Внешэкономбанк
					</div>
					<div class="mainTabs-content-body">
						Проведение экспертизы проекта внутри Банка.
					</div>
					<div class="space _large"></div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="space _small"></div>
		</div>
	</div>
</div>
