.mainTabs {
	position: relative;

	&-tabGrid {
		@include dd-grid-area();
		justify-content: center;

		&-item {
			position: relative;
			flex-grow: 0;
			flex-shrink: 0;
			width: 20%;

			&:not(:last-child)::before {
				content: '';
				width: calc(50% - #{33px/2});
				height: 5px;
				position: absolute;
				top: 40px;
				left: 100%;
				transform: translateX(-50%);
				background-image: url(../img/svg/icon-dots.svg);
				background-position: center;
				background-repeat: no-repeat;
				opacity: 0.2;
			}
		}

		&.owl-carousel {
			margin: 0;
			display: block;

			.mainTabs-tabGrid {

				&-item {
					width: auto;
				}
			}
		}
	}

	&-contentGrid {
		@include dd-grid-area(100px, medium);
		//justify-content: center;
		padding-left: 80px;
		padding-right: 80px;

		&-item {
			flex-grow: 0;
			flex-shrink: 0;
			width: 33.33%;

			&:not(:last-child) {
				border-right: 1px solid rgba(dd-color-palette(soft), 0.5);
			}
		}
	}

	&-header {
		position: relative;

		&-wrapper {
			position: relative;
		}
	}

	&-link {
		display: block;
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		line-height: 1.33;
		text-align: center;
		opacity: 0.5;
		text-decoration: none;
		text-transform: uppercase;

		&-icon {
			display: inline-block;
			text-align: center;
			width: 66px;
			height: 66px;
			font-size: 36px;
			line-height: 66px;
			border-radius: 999px;
			border: 2px solid;
			margin-bottom: 25px;
		}

		&:hover {
			opacity: 0.7;
		}

		&.-active {
			opacity: 1;
		}
	}

	&-content {
		position: relative;
		background: #fff;
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);

		&-icon {
			fill: dd-color-palette(primary);
			width: 60px;
			height: 60px;
			margin-bottom: 5px;
		}

		&-title {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.2;
			color: dd-color-palette(primary);
			margin-bottom: 10px;
		}

		&-body {
			font-size: 18px;
			font-weight: 400;
			line-height: 1.33;
		}
	}

	&-background {
		position: absolute;
		top: 0;
		left: 0;
		background-color: dd-color-palette(primary);
		background-image: url(../img/static/mainTabs-back.jpg);
		background-position: center bottom;
		background-size: cover;
		width: 100%;
		height: calc(100% + 130px);
	}

	.page-title {
		color: #fff;
	}

	@include dd-responsive-media((xs, md)) {

		&-tabGrid {

			&-item {
				width: 33.33%;

				&:nth-child(3):before {
					display: none;
				}
			}
		}

		/*&-contentGrid {

			&-item {
				width: 50%;

				&:nth-child(2) {
					border-right: 0;
				}
			}
		}*/
	}

	@include dd-responsive-media((xs, md)) {

		&-contentGrid {

			&-item {
				width: 100%;
				&:not(:last-child) {
					border-right: 0;
				}
			}
		}
	}

	@include dd-responsive-media((xs)) {

		&-contentGrid {
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}