<div class="projectGrid">
	<div class="projectGrid-container">
		<table class="projectGrid-table">
			<tr class="projectGrid-row">
				<td class="projectGrid-cell">
					<div class="projectGrid-cell-content"></div>
				</td>
			</tr>
		</table>
	</div>
</div>