.projectGrid {

	&-container {
		font-size: 14px;
		overflow: auto;
	}

	&-table {
		width: 100%;
        overflow: hidden;
	}

	&-row {
		border-bottom: 1px solid #eaeaea;

		&:first-of-type {
			border-bottom: 1px solid dd-color-palette(soft);
		}

		&._high {

			td {
				padding-top: 20px;
				padding-bottom: 20px;
			}
		}
	}

	&-cell {
		padding: 10px 0;
		padding-right: 10px;

		&:last-of-type {
			padding-right: 0;
			text-align: center;
		}

		&-content {
			width: 100%;
			max-width: 200px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&._small {
			width: 70px;
		}
	}
}

.date-label {
    width: 20px;
    height: 20px;
}
