<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta http-equiv="Cache-Control" content="no-cache"></meta>
    <link href="<!-- @@var root -->/vendor/owl-carousel/assets/owl.carousel.min.css" th:href="@{/vendor/owl-carousel/assets/owl.carousel.min.css}" rel="stylesheet" />
    <link href="<!-- @@var root -->/vendor/billboard/billboard.css" th:href="@{/vendor/billboard/billboard.css}" rel="stylesheet" />
    <link href="<!-- @@var root -->/vendor/jquery-date-range-picker/dist/daterangepicker.min.css" th:href="@{/vendor/jquery-date-range-picker/dist/daterangepicker.min.css}" rel="stylesheet" />
    <link href="<!-- @@var root -->/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
</head>

<body class="page <!-- @@var pageMod -->">
    <svg style="display: none" height="0" width="0" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <filter id="svgBlurFilter">
            <feGaussianBlur in="SourceGraphic" stdDeviation="50" />
        </filter>

    </svg>

    <script type="text/x-template" id="countdown">
        <div class="form-field-message __textRight" v-if="string" :class="{'-error':errorMax, '-default':!errorMax}">
        <span v-if="errorMax">
            Лимит превышен на {{Math.abs(diff)}} сим.
        </span>
            <span v-else="">
            Осталось {{Math.abs(diff)}} сим.
        </span>
        </div>
    </script>

    <!-- @@placeholder = body -->
    <script src="<!-- @@var root -->/svg/svg-symbols.js" th:src="@{/svg/svg-symbols.js}"></script>
    <script src="<!-- @@var root -->/vendor/jquery/jquery-2.2.4.min.js" th:src="@{/vendor/jquery/jquery-2.2.4.min.js}"></script>
    <script src="<!-- @@var root -->/vendor/mask/jquery.mask.min.js" th:src="@{/vendor/mask/jquery.mask.min.js}"></script>
    <script src="<!-- @@var root -->/vendor/jqvmap/jquery.vmap.js" th:src="@{/vendor/jqvmap/jquery.vmap.js}"></script>
    <script src="<!-- @@var root -->/vendor/jqvmap/jquery.vmap.russia.js" th:src="@{/vendor/jqvmap/jquery.vmap.russia.js}"></script>
    <script src="<!-- @@var root -->/vendor/chartjs/chart.min.js" th:src="@{/vendor/chartjs/chart.min.js}"></script>
    <script src="<!-- @@var root -->/vendor/owl-carousel/owl.carousel.min.js" th:src="@{/vendor/owl-carousel/owl.carousel.min.js}"></script>
    <script src="<!-- @@var root -->/vendor/billboard/d3.v4.min.js" th:src="@{/vendor/billboard/d3.v4.min.js}"></script>
    <script src="<!-- @@var root -->/vendor/billboard/billboard.js" th:src="@{/vendor/billboard/billboard.js}"></script>
    <script src="<!-- @@var root -->/vendor/moment/moment.js" th:src="@{/vendor/moment/moment.js}"></script>
    <script src="<!-- @@var root -->/vendor/jquery-date-range-picker/dist/jquery.daterangepicker.min.js" th:src="@{/vendor/jquery-date-range-picker/dist/jquery.daterangepicker.min.js}"></script>
    <script src="<!-- @@var root -->/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>
