<!-- @@master = html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Мои проекты</a></span>
						<span>Отправка запроса на финасирование</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<!-- @@placeholder = body -->
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>

