// Убирает стили футера внутри богоподобного дэйтпикера,
// который написан с использованием своих неймспесов,
// а также строго по всем методологиям одновременно
.date-picker-wrapper .footer {
		background-color: transparent;
    color: inherit;
    padding: 0;
}