.owlSlider {

	.owl-prev, .owl-next {
		display: flex;
		align-items: center;
		justify-content: center;
		font: normal normal normal 30px/1 FontAwesome;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		position: absolute;
		top: 10px;
		height: 60px;
		width: 60px;
		border-radius: 50%;
		pointer-events: auto;
		opacity: 0.5;
		text-align: center;
		transform: none;

		&:before {
			content: '';
			display: block;
			width: 50%;
			height: 50%;
			background-image: url(../img/svg/icon-arrow.svg);
			filter: invert(100);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			opacity: 0.7;
		}

		&.disabled {
			opacity: 0.2;
			pointer-events: none;
		}

		&:hover {
			opacity: 1;
		}
	}

	.owl-prev {
		left: -10px;

		&:before {
			transform: rotate(180deg);
		}
	}

	.owl-next {
		right: -10px;

		&:before {
			transform: rotate(0deg);
		}
	}

    .owl-dots {
        font-size: 0;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .owl-dot {
        display: inline-block;
        vertical-align: top;
        width: 10px;
        height: 10px;
        margin: 0 2px;
        background-color: #000000;
        border-radius: 999px;
        opacity: 0.1;
        cursor: pointer;

        &:hover {
            opacity: 0.2;
        }

        &.active {
            opacity: 0.4;
        }
    }
}
