<div class="office-cardAssessment-header">
	<div class="grid-area _alignCenter">
		<div class="grid-cell _md-3">
			<div class="office-cardAssessment-step __textCenter-lg-up">
				<span>1</span>/7
			</div>
		</div>
		<div class="grid-cell _md-9">
			<div class="office-cardAssessment-title">
				Деловая репутация клиента
			</div>
		</div>
	</div>
</div>
<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="office-cardAssessment-statement">
	Характеристика деловой репутации
</div>

<div class="space _medium"></div>

<div class="office-cardAssessment-form">
	<div class="office-cardAssessment-buttons">
		<office-toggle-group name="fn_reputationCheck" v-bind:value="inputs.reputationCheck" v-validate="currentPageIndex == 0 ? 'required' : ''" v-on:change="inputs.reputationCheck = arguments[0]; validateField(0, 'reputationCheck')"></office-toggle-group>
		<div class="form-field-message -error" v-if="validation['0'].reputationCheck.error">
			{{validation['0'].reputationCheck.error}}
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-input">
			<div class="form-inputTextarea _fluid" v-bind:class="{'-error':validation['0'].reputationDesc.error}">
				<textarea name="fn_reputationDesc" placeholder="- Задолженности в бюджете;&#10;- Сведения о компании;&#10;- Судебные разбирательства;&#10;- Публикации о клиенте." v-model="inputs.reputationDesc" v-on:change="validateField(0, 'reputationDesc')"></textarea>
			</div>
		</div>
		<div class="form-field-message -error" v-if="validation['0'].reputationDesc.error">
			{{validation['0'].reputationDesc.error}}
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-label">Прикрепить файлы</div>
		<div class="space _small"></div>
		<div class="form-field-input">
			<form-input-files name="fn_reputationFiles[]" v-bind:files="inputs.reputationFiles" v-on:change="inputs.reputationFiles = arguments[0]"></form-input-files>
		</div>
	</div>
</div>

<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="__textRight">
	<a href="#" class="form-button _primary _long" v-on:click="nextPage">Далее</a>
</div>
