<div class="office-cardAssessment-header">
	<div class="grid-area _alignCenter">
		<div class="grid-cell _md-3">
			<div class="office-cardAssessment-step __textCenter-lg-up">
				<span>2</span>/7
			</div>
		</div>
		<div class="grid-cell _md-9">
			<div class="office-cardAssessment-title">
				Общая стоимость проекта
			</div>
		</div>
	</div>
</div>
<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="office-cardAssessment-statement">
	Больше или равно 1 млдр.руб.
</div>

<div class="space _medium"></div>

<div class="office-cardAssessment-form">
	<div class="office-cardAssessment-buttons">
		<office-toggle-group name="fn_costCheck" v-bind:value="inputs.costCheck" v-validate="currentPageIndex == 1 ? 'required' : ''" v-on:change="inputs.costCheck = arguments[0]; validateField(1, 'costCheck')"></office-toggle-group>
		<div class="form-field-message -error" v-if="validation['1'].costCheck.error">
			{{validation['1'].costCheck.error}}
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-input">
			<div class="form-inputTextarea _fluid">
				<textarea name="fn_costDesc" v-model="inputs.costDesc" v-on:change="validateField(1, 'costDesc')"></textarea>
			</div>
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-label">Прикрепить файлы</div>
		<div class="space _small"></div>
		<div class="form-field-input">
			<form-input-files name="fn_costFiles[]" v-bind:files="inputs.costFiles" v-on:change="inputs.costFiles = arguments[0]"></form-input-files>
		</div>
	</div>
</div>

<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="__textRight">
	<a href="#" class="form-button _link" v-on:click="prevPage">Назад</a>
	<a href="#" class="form-button _primary _long" v-on:click="nextPage">Далее</a>
</div>
