<div class="office-cardAssessment-header">
	<div class="grid-area _alignCenter">
		<div class="grid-cell _md-3">
			<div class="office-cardAssessment-step __textCenter-lg-up">
				<span>3</span>/7
			</div>
		</div>
		<div class="grid-cell _md-9">
			<div class="office-cardAssessment-title">
				Срок окупаемости проекта
			</div>
		</div>
	</div>
</div>
<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="office-cardAssessment-statement">
	Больше 5 лет
</div>

<div class="space _medium"></div>

<div class="office-cardAssessment-form">
	<div class="office-cardAssessment-buttons">
		<office-toggle-group name="fn_paybackTimeCheck" v-bind:value="inputs.paybackTimeCheck" v-validate="currentPageIndex == 2 ? 'required' : ''" v-on:change="inputs.paybackTimeCheck = arguments[0]; validateField(2, 'paybackTimeCheck')"></office-toggle-group>
		<div class="form-field-message -error" v-if="validation['2'].paybackTimeCheck.error">
			{{validation['2'].paybackTimeCheck.error}}
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-input">
			<div class="form-inputTextarea _fluid">
				<textarea name="fn_paybackTimeDesc" v-model="inputs.paybackTimeDesc" v-on:change="validateField(2, 'paybackTimeDesc')"></textarea>
			</div>
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-label">Прикрепить файлы</div>
		<div class="space _small"></div>
		<div class="form-field-input">
			<form-input-files name="fn_paybackTimeFiles[]" v-bind:files="inputs.paybackTimeFiles" v-on:change="inputs.paybackTimeFiles = arguments[0]"></form-input-files>
		</div>
	</div>
</div>

<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="__textRight">
	<a href="#" class="form-button _link" v-on:click="prevPage">Назад</a>
	<a href="#" class="form-button _primary _long" v-on:click="nextPage">Далее</a>
</div>
