<div class="office-cardAssessment-header">
	<div class="grid-area _alignCenter">
		<div class="grid-cell _md-3">
			<div class="office-cardAssessment-step __textCenter-lg-up">
				<span>4</span>/7
			</div>
		</div>
		<div class="grid-cell _md-9">
			<div class="office-cardAssessment-title">
				Отраслевая принадлежность
			</div>
		</div>
	</div>
</div>
<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="office-cardAssessment-statement">
	Соответствует стратегии банка
</div>

<div class="space _medium"></div>

<div class="office-cardAssessment-form">
	<div class="office-cardAssessment-buttons">
		<office-toggle-group name="fn_industryCheck" v-bind:value="inputs.industryCheck" v-validate="currentPageIndex == 3 ? 'required' : ''" v-on:change="inputs.industryCheck = arguments[0]; validateField(3, 'industryCheck')"></office-toggle-group>
		<div class="form-field-message -error" v-if="validation['3'].industryCheck.error">
			{{validation['3'].industryCheck.error}}
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-input">
			<div class="form-inputTextarea _fluid">
				<textarea name="fn_industryDesc" v-model="inputs.industryDesc" v-on:change="validateField(3, 'industryDesc')"></textarea>
			</div>
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-label">Прикрепить файлы</div>
		<div class="space _small"></div>
		<div class="form-field-input">
			<form-input-files name="fn_industryFiles[]" v-bind:files="inputs.industryFiles" v-on:change="inputs.industryFiles = arguments[0]"></form-input-files>
		</div>
	</div>
</div>

<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="__textRight">
	<a href="#" class="form-button _link" v-on:click="prevPage">Назад</a>
	<a href="#" class="form-button _primary _long" v-on:click="nextPage">Далее</a>
</div>
