<div class="office-cardAssessment-header">
	<div class="grid-area _alignCenter">
		<div class="grid-cell _md-3">
			<div class="office-cardAssessment-step __textCenter-lg-up">
				<span>5</span>/7
			</div>
		</div>
		<div class="grid-cell _md-9">
			<div class="office-cardAssessment-title">
				Соответствие стратегическим приоритетам региона
			</div>
		</div>
	</div>
</div>
<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="office-cardAssessment-statement">
	Соответствует
</div>

<div class="space _medium"></div>

<div class="office-cardAssessment-form">
	<div class="office-cardAssessment-buttons">
		<office-toggle-group name="fn_strategyCheck" v-bind:value="inputs.strategyCheck" v-validate="currentPageIndex == 4 ? 'required' : ''" v-on:change="inputs.strategyCheck = arguments[0]; validateField(4, 'strategyCheck')"></office-toggle-group>
		<div class="form-field-message -error" v-if="validation['4'].strategyCheck.error">
			{{validation['4'].strategyCheck.error}}
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-input">
			<div class="form-inputTextarea _fluid">
				<textarea name="fn_strategyDesc" v-model="inputs.strategyDesc" v-on:change="validateField(4, 'strategyDesc')"></textarea>
			</div>
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-label">Прикрепить файлы</div>
		<div class="space _small"></div>
		<div class="form-field-input">
			<form-input-files name="fn_strategyFiles[]" v-bind:files="inputs.strategyFiles" v-on:change="inputs.strategyFiles = arguments[0]"></form-input-files>
		</div>
	</div>
</div>

<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="__textRight">
	<a href="#" class="form-button _link" v-on:click="prevPage">Назад</a>
	<a href="#" class="form-button _primary _long" v-on:click="nextPage">Далее</a>
</div>
