<div class="office-cardAssessment-header">
	<div class="grid-area _alignCenter">
		<div class="grid-cell _md-3">
			<div class="office-cardAssessment-step __textCenter-lg-up">
				<span>6</span>/8
			</div>
		</div>
		<div class="grid-cell _md-9">
			<div class="office-cardAssessment-title">
				Средства уже вложенные в проект
			</div>
		</div>
	</div>
</div>
<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="office-cardAssessment-statement">
	Есть вложенные средства
</div>

<div class="space _medium"></div>

<div class="office-cardAssessment-form">
	<div class="office-cardAssessment-buttons">
		<office-toggle-group name="fn_investedCheck" v-bind:value="inputs.investedCheck" v-validate="currentPageIndex == 5 ? 'required' : ''" v-on:change="inputs.investedCheck = arguments[0]; validateField(5, 'investedCheck')"></office-toggle-group>
		<div class="form-field-message -error" v-if="validation['5'].investedCheck.error">
			{{validation['5'].investedCheck.error}}
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-input">
			<div class="form-inputTextarea _fluid">
				<textarea name="fn_investedDesc" v-model="inputs.investedDesc" v-on:change="validateField(5, 'investedDesc')"></textarea>
			</div>
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-label">Прикрепить файлы</div>
		<div class="space _small"></div>
		<div class="form-field-input">
			<form-input-files name="fn_investedFiles[]" v-bind:files="inputs.investedFiles" v-on:change="inputs.investedFiles = arguments[0]"></form-input-files>
		</div>
	</div>
</div>

<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="__textRight">
	<a href="#" class="form-button _link" v-on:click="prevPage">Назад</a>
	<a href="#" class="form-button _primary _long" v-on:click="nextPage">Далее</a>
</div>
