<div class="office-cardAssessment-header">
	<div class="grid-area _alignCenter">
		<div class="grid-cell _md-3">
			<div class="office-cardAssessment-step __textCenter-lg-up">
				<span>6</span>/7
			</div>
		</div>
		<div class="grid-cell _md-9">
			<div class="office-cardAssessment-title">
				Размер собственного участия в проекте
			</div>
		</div>
	</div>
</div>
<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="office-cardAssessment-statement">
	Собственное участие Клиента
</div>

<div class="space _medium"></div>

<div class="office-cardAssessment-form">

	<div class="form-field">
		<div class="form-field-input">
			<div class="form-inputText _fluid">
				<input type="text" placeholder="10" name="fn_participationValueString" v-validate="currentPageIndex == 6 ? 'required' : ''" v-model="inputs.participationValue" v-on:change="validateField(6, 'participationValue')"/>
			</div>
			<div class="form-field-input-suffix">%</div>
		</div>

        <div class="form-field-message -error" v-show="errors.has('fn_participationValueString')">
            Поле "Собственное участие Клиента" обязательно для заполнения
        </div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-label">Прикрепить файлы</div>
		<div class="space _small"></div>
		<div class="form-field-input">
			<form-input-files name="fn_participationFiles[]" v-bind:files="inputs.participationFiles" v-on:change="inputs.participationFiles = arguments[0]"></form-input-files>
		</div>
	</div>
</div>

<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="__textRight">
	<a href="#" class="form-button _link" v-on:click="prevPage">Назад</a>
	<a href="#" class="form-button _primary _long" v-on:click="nextPage">Далее</a>
</div>
