<div class="office-cardAssessment-header">
	<div class="grid-area _alignCenter">
		<div class="grid-cell _md-3">
			<div class="office-cardAssessment-step __textCenter-lg-up">
				<span>7</span>/7
			</div>
		</div>
		<div class="grid-cell _md-9">
			<div class="office-cardAssessment-title">
				Безубыточность проекта
			</div>
		</div>
	</div>
</div>
<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="office-cardAssessment-statement">
	Безубыточный
</div>

<div class="space _medium"></div>

<div class="office-cardAssessment-form">
	<div class="office-cardAssessment-buttons">
		<office-toggle-group name="fn_breakEvenCheck" v-bind:value="inputs.breakEvenCheck" v-validate="currentPageIndex == 7 ? 'required' : ''" v-on:change="inputs.breakEvenCheck = arguments[0]; validateField(7, 'breakEvenCheck')"></office-toggle-group>
		<div class="form-field-message -error" v-if="validation['7'].breakEvenCheck.error">
			{{validation['7'].breakEvenCheck.error}}
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-input">
			<div class="form-inputTextarea _fluid">
				<textarea name="fn_breakEvenDesc" v-model="inputs.breakEvenDesc" v-on:change="validateField(7, 'breakEvenDesc')"></textarea>
			</div>
		</div>
	</div>

	<div class="space _medium"></div>

	<div class="form-field">
		<div class="form-field-label">Прикрепить файлы</div>
		<div class="space _small"></div>
		<div class="form-field-input">
			<form-input-files name="fn_breakEvenFiles[]" v-bind:files="inputs.breakEvenFiles" v-on:change="inputs.breakEvenFiles = arguments[0]"></form-input-files>
		</div>
	</div>
</div>

<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _medium"></div>

<div class="__textRight">
	<a href="#" class="form-button _link" v-on:click="prevPage">Назад</a>
	<a href="#" class="form-button _primary _long" v-on:click="submit">Далее</a>
</div>
