<div class="office-cardAssessment-result __textCenter">
	<div class="office-cardAssessment-result-label">
		Проект набрал
	</div>
	<div class="space _large"></div>
	<div class="office-cardAssessment-result-value _fail">
		<div class="office-cardAssessment-result-value-number" th:text="${sum}">
			4,5
		</div>
		<div class="space _large"></div>
		<div class="office-cardAssessment-result-value-suffix">
			Отказано
		</div>
	</div>
</div>

<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _large"></div>

<div class="__textCenter">
	<a href="#" class="form-button _primary _long">Подтвердить</a>
</div>
<div class="__textCenter">
	<a href="#" class="form-button _link" v-on:click="prevPage">Назад</a>
</div>