<div class="office-cardAssessment-result __textCenter">
	<div class="office-cardAssessment-result-label">
		Проект набрал
	</div>
	<div class="space _large"></div>
	<div class="office-cardAssessment-result-value" th:classappend="${valid} ? '_success' : '_fail'">
		<div class="office-cardAssessment-result-value-number" th:text="${valuation}"></div>
		<div class="space _large"></div>
		<div class="office-cardAssessment-result-value-suffix" th:text="${valid} ? 'Разрешено' : 'Отказано'" ></div>
	</div>
</div>

<div class="space _medium"></div>
<div class="divider"></div>
<div class="space _large"></div>

<div class="__textCenter">
	<a href="#" th:href="@{/private-office/express-assessment/submit}" class="form-button _primary _long">Подтвердить</a>
</div>
<div class="__textCenter">
	<a href="#" th:href="@{/private-office/express-assessment(id=${project.projectId})}" class="form-button _link" v-on:click="prevPage">Назад</a>
</div>