<!-- @@master = ../layout/html.html {"pageMod": "", "root": "../"} -->

<!-- @@block = body -->
<div class="page-wrapper">
    <div class="page-header">
        <!--@@include = ../../components/header/header.html-->
    </div>
    <div class="page-content">
        <div class="grid-container _main">
            <div class="space _large"></div>
            <div class="grid-area _center">
				<div class="grid-cell _sm-10 _md-8 _lg-6">
					<div class="card">
						<div class="space _large"></div>
						<div class="grid-container _massive">
							<div class="grid-area">
								<div class="grid-cell">
									<div class="form-field-label">Ссылка для входа в личный кабинет отправлена на Ваш e-mail.</div>
								</div>
							</div>
						</div>
						<div class="space _large"></div>
						<div class="formCard-footer">
							<div class="grid-area">
								<div class="grid-cell _md-10">
									<div class="grid-area">
										<div class="grid-cell __textRight">
											<a href="/" th:href="@{/}" class="form-button _primary _long">Назад</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					<div class="space _large"></div>
					</div>
				</div>
			</div>
        </div>
    </div>
    <div class="page-footer">
        <!--@@include = ../../components/footer/footer.html-->
    </div>
</div>