.industriesFinance {

	&-features {
		display: flex;

		&-item {
			display: flex;
			width: 33%;
			padding: 0 5%;

			&:not(:nth-child(3n)) {
				border-right: 1px solid rgba(255, 255, 255, 0.2);
			}

			&-text {
				position: relative;
				color: #fff;

				&::before {
					content: '/';
					position: absolute;
					left: -0.7em;
					font-weight: 700;
					color: inherit;
				}
			}
		}

		@include dd-responsive-media((xs, sm)) {
			flex-direction: column;

			&-item {
				width: 100%;
				padding-top: 2%;
				padding-bottom: 2%;

				&:not(:nth-child(3n)) {
					border-right: none;
				}
			}
		}
	}

	&-branchCard {
		display: flex;
		flex-direction: column;
		//justify-content: space-between;
		//min-height: 530px;

		&-item {
			padding: 15px;
			background-color: #fff;
            margin-bottom: 15px;

			svg {
				width: 5em;
				height: 5em;
				fill: #0086cd;
			}

			&.-active {
				background-color: #0fa8da;
			}
		}
	}

	&-branchOpened {
		display: flex;
		min-height: 530px;
		background-color: #fff;

		&-body {
			display: flex;
			flex-direction: column;
			width: 50%;
			padding: 15px 20px;

			&._fullSize {
				width: 100%;
			}

			.customList-item {
				padding: 0;
			}
		}

		&-image {
			width: 50%;
			height: 530px;
			background-color: #000;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		&._reverse {
			flex-direction: row-reverse;
		}

		@include dd-responsive-media((xs, sm)) {
			flex-direction: column;

            &-body {
                width: 100%;
            }

			&-image {
				width: 100%;
				height: 300px;
			}

			&._reverse {
				flex-direction: column;
			}
		}
	}
}
