.page {
	background-color: #018acf;

	&-wrapper {
		@include dd-grid-templateRows(0, 1, 0);
		height: 100%;

		& > * {
			flex-basis: auto;
		}
	}

	&-title {
		color: dd-color-palette(primary);
		font-size: 48px;
		font-weight: 700;
		text-transform: uppercase;

		&._white {
			color: #fff;
		}

		&._small {
			font-size: 30px;
		}

		@include dd-responsive-media((md, lg)) {
			font-size: 3.5vw;
		}

		@include dd-responsive-media((xs, sm)) {
			font-size: 24px;
		}
	}

	&-text {

		&._red {
			color: #f57047;
		}

		&._orange {
			color: #f5ad47;
		}
	}

	&._gray {
		background-color: #f8f9fb;
	}

	&-backLink {
		display: inline-block;
		font-size: 18px;
		font-weight: 300;
		color: #fff;

		svg {
			transform: scale(-1, 1);
		}

		&._gray {
			color: #a1a1a1;
		}
	}
}
