.pageMain {

	&-header {

		&-button {
			font-weight: 700;
			color: dd-color-palette(primary);
		}
	}

	&-features {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

		&-item {
			display: flex;
			width: #{100% / 3};
			height: 100%;
			padding: 0 40px;
			padding-bottom: 20px;
			flex-direction: column;
			text-align: center;
			border-right: 1px solid #d2d2d2;

			&:last-child {
				border-right: none;
			}

			@include dd-responsive-media ((md, lg)) {
				&:nth-child(2) {
					border-right: none;
				}

				&:last-child {
					width: 100%;
				}
			}

			@include dd-responsive-media ((xs, sm)) {
				width: 100%;
				border: none;
			}

			&-body {
				display: flex;
				align-items: center;
				justify-content: center;
				padding-bottom: 25px;
				font-size: 20px;
				font-weight: 400;
				text-transform: uppercase;
				color: #a1a1a1;
			}

			@include dd-responsive-media ((xs, sm)) {
				flex-direction: column;
			}
		}

		&-comment {
			font-size: 18px;
			font-weight: 600;
			line-height: 25px;
			color: #202020;
		}

		&-text {
			padding: 0 40px;
			font-size: 30px;
			font-weight: 700;
			line-height: 35px;
			text-transform: uppercase;
			color: dd-color-palette(primary);
			text-align: left;

			@include dd-responsive-media ((md, lg)) {
				padding-top: 40px;
				font-size: 2.5vw;
				text-align: center;
			}

			@include dd-responsive-media ((xs, sm)) {
				font-size: 16px;
				text-align: center;
			}
		}
	}

	&-keyNumber {
		padding: 0 16px;
		font-size: 100px;
		font-weight: 600;
		line-height: 72px;
		color: dd-color-palette(primary);
	}
}
