<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Мои проекты</a></span>
						<span><a href="#" class="link">Развитие +</a></span>
						<span>Информация о клиенте</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
										<form class="formCard" method="post" action=""
												enctype="multipart/form-data" style="box-shadow: none" v-cloak="" id="officeUserApplicantInfo">
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area _alignCenter">
														<div class="grid-cell _md-9">
															<div class="formCard-title">
																Информация о заявителе
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-content">
													<div class="grid-area">
														<div class="grid-cell _md-10">
															<div class="grid-area">
																<div class="grid-cell _sm-8">
																	<div class="grid-area _large">
																		<div class="grid-cell">
																			<div class="form-field _static">
																				<div class="grid-area">
																					<div class="grid-cell">
																						<div class="form-field-label">
																							Фамилия
																						</div>
																						<div class="form-field-static">
																							Константинопольский
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field _static">
																				<div class="grid-area">
																					<div class="grid-cell">
																						<div class="form-field-label">
																							Имя
																						</div>
																						<div class="form-field-static">
																							Константин
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field _static">
																				<div class="grid-area">
																					<div class="grid-cell">
																						<div class="form-field-label">
																							Отчество
																						</div>
																						<div class="form-field-static">
																							Константинович
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell"></div>
																		<div class="grid-cell">
																			<div class="form-field _static">
																				<div class="grid-area">
																					<div class="grid-cell">
																						<div class="form-field-label">
																							Должность
																						</div>
																						<div class="form-field-static">
																							Генеральный директор
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field _static">
																				<div class="grid-area">
																					<div class="grid-cell">
																						<div class="form-field-label">
																							Номер телефона
																						</div>
																						<div class="form-field-static">
																							+7 (495) 456-78-90
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field _static">
																				<div class="grid-area">
																					<div class="grid-cell">
																						<div class="form-field-label">
																							Номер факса
																						</div>
																						<div class="form-field-static">
																							+7 (495) 456-78-90
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell _md-3 _md-offset-1">
																	<div class="grid-area">
																		<div class="grid-cell">
																			<div class="profile">
																				<div class="profile-grid">
																					<div class="profile-grid-item _image" style="min-width: 160px; width: 100%;">
																						<div class="profile-image" style="background-image: url('./img/static/face-1.png')"></div>
																					</div>
																				</div>
																			</div>
																			<div class="space _medium"></div>
																			<a href="#" class="form-button _primary _long _bordered _lowercase">Сообщения</a>
																			<div class="space _tiny"></div>
																			<a href="#" class="form-button _primary _long _bordered _lowercase">+&nbsp;Документ</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _massive"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _large"></div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-8">
										<form class="formCard" method="post" action=""
												enctype="multipart/form-data" style="box-shadow: none" v-cloak="" id="officeUserAddress">
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area _alignCenter">
														<div class="grid-cell _md-9">
															<div class="formCard-title">
															Адрес регистрации
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-content">
													<div class="grid-cell">
														<div class="grid-area _large">
															<div class="grid-cell">
																<div class="form-field _static">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="form-field-label">
																				Страна, регион, область, провинция, штат
																			</div>
																			<div class="form-field-static">
																				Россия
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="grid-cell">
																<div class="form-field _static">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="form-field-label">
																				Населенный пункт
																			</div>
																			<div class="form-field-static">
																				Москва
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="grid-cell">
																<div class="form-field _static">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="form-field-label">
																				Улица
																			</div>
																			<div class="form-field-static">
																				Мира
																			</div>
																		</div>
																	</div>
																</div>
															</div>
															<div class="grid-cell">
																<div class="form-field _static">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area">
																				<div class="grid-cell _sm-4">
																					<div class="form-field-label">
																						Дом
																					</div>
																					<div class="form-field-static">
																						11
																					</div>
																				</div>
																				<div class="grid-cell _sm-4">
																					<div class="form-field-label">
																						Корпус
																					</div>
																					<div class="form-field-static">
																						н / у
																					</div>
																				</div>
																				<div class="grid-cell _sm-4">
																					<div class="form-field-label">
																						Квартира
																					</div>
																					<div class="form-field-static">
																						105
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _massive"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
