<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../../../components/form/form-inputFiles.html-->
</script>

<div class="office page-wrapper _gray" id="officeDossier">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _large"></div>
                <div class="__hidden-lg-up">
                    <div class="office-breadCrumbs">
                        <!--span th:text="'Электронное досье / ' + ${project.projectNomination}"></span-->
                        <span th:text="'Документы проекта / ' + ${project.projectNomination}"></span>
                    </div>
                    <div class="space _medium"></div>
                </div>
                <div class="grid-area">
                    <div class="grid-cell _xl-8">
                        <div class="card">
                            <div class="grid-container _large">
                                <div class="space _large"></div>
                                <h1 class="office-title __textUpperCase" th:text="'Документы проекта ' + ${project.projectNomination}"></h1>
                                <div class="space _large"></div>
                                <div class="form-field">
                                    <div class="form-field-input">
                                        <div class="grid-area _small">
                                            <div class="grid-cell">
                                                <form-input-files name="files[]" v-bind:files="inputs.files" v-on:change="inputs.files = arguments[0]" cell-class="_sm-6" area-class="_large"></form-input-files>
                                            </div>
                                            <div class="grid-cell _xs-7 _sm-4 _md-3" th:if="${notNeedAddFile} == null">
                                                <div class="form-field-message -default">
                                                    Доступны форматы: doc, xls, pdf, png, jpeg не более 10 мб
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="space _large"></div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell _xl-4 _xxl-4">
                        <div class="grid-area">
                            <div class="grid-cell _md-6 _xl-12" th:if="${#arrays.contains(user.roles, 'USER')}">
                                <div class="cardManager">
                                        <div class="grid-container" th:if="${manager} != null">
                                            <div class="space _medium"></div>
                                            <div class="cardManager-title">Региональный менеджер</div>
                                            <div class="space _medium"></div>
                                            <div class="grid-area">
                                                <div class="grid-cell">
                                                    <div class="profile">
                                                        <div class="profile-grid">
                                                            <div class="profile-grid-item _image">
                                                                <div class="profile-image" th:style="${manager != null} ? 'background-image: url(' + ${manager.image} + ')' : '#' "></div>
                                                            </div>
                                                            <div class="profile-grid-item _title">
                                                                <div class="profile-title _black" th:text="${manager != null}? ${manager.nameFirst} + ' ' + ${manager.nameLast} : 'нет данных' ">
                                                                    Мария Грут
                                                                </div>
                                                                <div class="profile-body">
                                                                    <div class="profile-body-location _gray">
                                                                        <div class="profile-body-location-region" th:text="${regionZnF} ? ${regionZnF} : 'нет данных' ">Центральный&nbsp;ФО</div>
                                                                    </div>

                                                                    <div class="profile-body-rating">
                                                                        <div class="profile-body-rating-top" style="width: 50%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                                        <div class="profile-body-rating-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space _medium"></div>
                                            <div class="divider _dashed"></div>
                                            <div class="space _medium"></div>
                                            <div class="cardManager-connection" style="font-size: 14px;">
                                                <div class="grid-area">
                                                    <div class="grid-cell _sm-6">
                                                        <div class="cardManager-label">Телефон:</div>
                                                        <a class="link _inherit cardManager-phone" href="tel:+79231510604" th:href="${manager != null} ? 'tel:' + ${manager.phone} : '#' " th:text="${manager != null} ? ${manager.phone} : 'нет данных' ">+7 923 151-06-04</a>
                                                    </div>
                                                    <div class="grid-cell _sm-6">
                                                        <div class="cardManager-label">E-mail:</div>
                                                        <div class="cardManager-email"><a class="link _underline" href="mailto:ivanov@mail.com" th:href="${manager != null} ? 'mailto:' + ${manager.email} : '#' " th:text="${manager != null} ? ${manager.email} : 'нет данных' ">ivanov@mail.com</a></div>
                                                    </div>
                                                </div>
                                                <div class="space _medium"></div>
                                                <!--
                                                <div class="grid-area">
                                                    <div class="grid-cell _sm-6">
                                                        <a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">Сообщения</a>
                                                    </div>
                                                    <div class="grid-cell _sm-6">
                                                        <a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">+&nbsp;Документ</a>
                                                    </div>
                                                </div>
                                            -->
                                            </div>
                                            <div class="space _large"></div>
                                        </div>
                                    </div>
                                </div>
                            <div class="grid-cell _md-6 _xl-12" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
                                <div class="cardManager">
                                    <div class="space _medium"></div>
                                    <div class="cardManager-title">Клиент</div>
                                    <div class="space _medium"></div>
                                    <div class="grid-area">
                                        <div class="grid-area">
                                                <div class="grid-cell">
                                                    <div class="profile">
                                                        <div class="profile-grid">
                                                            <div class="profile-grid-item _image">
                                                                <div class="profile-image" th:style="${client != null} ? 'background-image: url(' + ${client.image} + ')' : '#' "></div>
                                                            </div>
                                                            <div class="profile-grid-item _title">
                                                                <div class="profile-title _black" th:text="${client != null}? ${client.nameFirst} + ' ' + ${client.nameLast} : 'нет данных' " >
                                                                    Мария Грут
                                                                </div>
                                                                <div class="profile-body">
                                                                    <div class="profile-body-location _gray">
                                                                        <div class="profile-body-location-region" th:text="${regionZnF} ? ${regionZnF} : 'нет данных' ">Центральный&nbsp;ФО</div>
                                                                        <div class="profile-body-location-city"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="space _medium"></div>
                                    <div class="divider _dashed"></div>
                                    <div class="space _medium"></div>
                                    <div class="cardManager-connection">
                                        <div class="grid-area">
                                                <div class="grid-cell _sm-6">
                                                    <div class="cardManager-label">Телефон:</div>
                                                    <a class="link _inherit cardManager-phone" href="tel:+79231510604" th:href="${client != null} ? 'tel:' + ${client.phone} : '#' " th:text="${client != null} ? ${client.phone} : 'нет данных' ">+7 923 151-06-04</a>
                                                </div>
                                                <div class="grid-cell _sm-6">
                                                    <div class="cardManager-label">E-mail:</div>
                                                    <div class="cardManager-email"><a class="link _underline" href="mailto:ivanov@mail.com" th:href="${client != null} ? 'mailto:' + ${client.email} : '#' " th:text="${client != null} ? ${client.email} : 'нет данных' ">ivanov@mail.com</a></div>
                                                </div>
                                            </div>
                                        <div class="space _medium"></div>
                                        <!--
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-6">
                                                <a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">Сообщения</a>
                                            </div>
                                            <div class="grid-cell _sm-6">
                                                <a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">+&nbsp;Документ</a>
                                            </div>
                                        </div>
                                    -->
                                    </div>
                                    <div class="space _large"></div>
                                </div>
                            </div>
                            <div class="grid-cell _md-6 _xl-12">
                                    <div class="cardManager">
                                            <div class="cardManager-title">Сотрудник банка</div>
                                                <div class="space _medium"></div>
                                                <div class="grid-area">
                                                    <div class="grid-cell">
                                                        <div class="profile">
                                                            <div class="profile-grid">
                                                                <div class="profile-grid-item _image">
                                                                    <div class="profile-image" th:style="${collaborator != null} ? 'background-image: url(' + ${collaborator.image} + ')' : '#' "></div>
                                                                </div>
                                                                <div class="profile-grid-item _title">
                                                                    <div class="profile-title _black" th:text="${collaborator != null}? ${collaborator.nameFirst} + ' ' + ${collaborator.nameLast} : 'нет данных' ">
                                                                        Мария Грут
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space _medium"></div>
                                                <div class="divider _dashed"></div>
                                                <div class="space _medium"></div>
                                                <div class="cardManager-connection" style="font-size: 14px;">
                                                    <div class="grid-area">
                                                        <div class="grid-cell _sm-6">
                                                            <div class="cardManager-label">Телефон:</div>
                                                            <a class="link _inherit cardManager-phone" href="tel:+79231510604" th:href="${collaborator != null} ? 'tel:' + ${collaborator.phone} : '#' " th:text="${collaborator != null} ? ${collaborator.phone} : 'нет данных' ">+7 923 151-06-04</a>
                                                        </div>
                                                        <div class="grid-cell _sm-6">
                                                            <div class="cardManager-label">E-mail:</div>
                                                            <div class="cardManager-email"><a class="link _underline" href="mailto:ivanov@mail.com" th:href="${collaborator != null} ? 'mailto:' + ${collaborator.email} : '#' " th:text="${collaborator != null} ? ${collaborator.email} : 'нет данных' ">ivanov@mail.com</a></div>
                                                        </div>
                                                    </div>
                                                    <div class="space _medium"></div>
                                                    <!--
                                                    <div class="grid-area">
                                                        <div class="grid-cell _sm-6">
                                                            <a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">Сообщения</a>
                                                        </div>
                                                        <div class="grid-cell _sm-6">
                                                            <a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">+&nbsp;Документ</a>
                                                        </div>
                                                    </div>
                                                -->
                                                </div>
                                                <div class="space _large"></div>
                                        </div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _massive"></div>
        </div>
    </div>
</div>
