<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-content _gray" id="officeFinanceRequest">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _large"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span>Резюме проектов</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="projectGrid">
									<div class="projectGrid-container">
										<table class="projectGrid-table">
											<tr class="projectGrid-row _high">
												<td class="projectGrid-cell _small">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputText _fluid">
																<input name="" type="" placeholder="№"/>
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputText _fluid"> 
																<input name="" type="" placeholder="Название проекта"/>
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputText _fluid">
																<input name="" type="" placeholder="Клиент"/>
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputText _fluid">
																<input name="" type="" placeholder="СБ"/>
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputSelect _fluid">
																<select name="">
																	<option value="01" selected="selected">Заполняет</option>
																	<option value="02">Заполняет</option>
																	<option value="03">Заполняет</option>
																</select>
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputSelect _fluid">
																<select name="">
																	<option value="01" selected="selected">Этап</option>
																	<option value="02">Этап</option>
																	<option value="03">Этап</option>
																</select>
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputDate _fluid">
																<input name="" type="text" placeholder="Дата"/>
															</div>
															<div class="form-field-input-suffix">
																<svg class="icon-svg">
																	<use xlink:href="#icon-calendar"></use>
																</svg>
															</div>
														</div>
													</div>
												</td>
												<td></td>
											</tr>
											<tr class="projectGrid-row" data-th-each="project : ${projects}">
												<td class="projectGrid-cell" data-th-text="${project.code}">
													19234
												</td>
												<td class="projectGrid-cell" data-th-text="${project.title}">
													<a href="#" class="link">Развитие +</a>
												</td>
												<td class="projectGrid-cell">
													<a href="#" class="link">Иванов И. И.</a>
												</td>
												<td class="projectGrid-cell">
													Петров И В.
												</td>
												<td class="projectGrid-cell">
													Клиент
												</td>
												<td class="projectGrid-cell">
													<div class="projectGrid-cell-content">
														Общие сведения об инициаторе проекта и получателе средств
													</div>
												</td>
												<td class="projectGrid-cell">
													01.06.17
												</td>
												<td class="projectGrid-cell">
													<a class="form-button _primary _lowercase _long" href="#">Заполнить</a>
												</td>
											</tr>
											<tr class="projectGrid-row">
												<td class="projectGrid-cell">
													19234
												</td>
												<td class="projectGrid-cell">
													<a href="#" class="link">Северный транзит</a>
												</td>
												<td class="projectGrid-cell">
													<a href="#" class="link">Константинопольский К. К.</a>
												</td>
												<td class="projectGrid-cell">
													Петров И В.
												</td>
												<td class="projectGrid-cell">
													Клиент
												</td>
												<td class="projectGrid-cell">
													<div class="projectGrid-cell-content">
														Бизнес-модель
													</div>
												</td>
												<td class="projectGrid-cell">
													01.06.17
												</td>
												<td class="projectGrid-cell">
													<a class="form-button _primary _lowercase _long _disabled" href="#">Заполнить</a>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
							<div class="space _large"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
</div>
