<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
  <div class="page-header">
    <!--@@include = ../../../components/office/office-header-final.html-->
  </div>
  <div class="page-content">
    <!--@@include = ../../../components/office/office-sideMenu-final.html-->
    <div class="office-content">
      <div class="grid-container">
        <div class="space _medium"></div>
        <div class="__hidden-lg-up">
          <div class="office-breadCrumbs">
            <span><a href="#" class="link">Личный кабинет</a></span>
            <span>Данные для входа</span>
          </div>
          <div class="space _medium"></div>
        </div>
        <div class="grid-area">
          <div class="grid-cell">
            <div class="card">
              <div class="grid-container _large">
                <div class="space _large"></div>
                <h1 class="office-title __textUpperCase">База знаний</h1>
                <div class="space _large"></div>
                <div class="grid-area _large">
                  <section class="grid-cell">
                    <h2 class="office-sectionTitle _simple __textUpperCase">Общие сведения и условия</h2>
                    <div class="space _large"></div>
                    <div class="grid-area">
                      <div class="grid-cell _sm-6 _md-4">
                        <div class="form-inputFiles-file _small">
                          <div class="form-inputFiles-file-icon _doc"></div>
                          <div class="form-inputFiles-file-body">
                            <div class="form-inputFiles-file-title">
                              <a href="http://veb.ru/strategy/invest/#doc" class="link _inherit">Общие требования к оформлению документов</a>
                            </div>
                            <!--<div class="form-inputFiles-file-size">125 кб.</div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="grid-cell">
                    <h2 class="office-sectionTitle _simple __textUpperCase">Требования к заполнению</h2>
                    <div class="space _large"></div>
                    <div class="grid-area">
                      <div class="grid-cell _sm-6 _md-4">
                        <div class="form-inputFiles-file _small">
                          <div class="form-inputFiles-file-icon _doc"></div>
                          <div class="form-inputFiles-file-body">
                            <div class="form-inputFiles-file-title">
                              <a href="http://veb.ru/strategy/invest/#doc" class="link _inherit">Требования к составлению бизнес-модели, Требования к составлению бизнес-плану, Форма концепции проекта</a>
                            </div>
                            <!--<div class="form-inputFiles-file-size">125 кб.</div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="grid-cell">
                    <h2 class="office-sectionTitle _simple __textUpperCase">Примеры заполнения</h2>
                    <div class="space _large"></div>
                    <div class="grid-area">
                      <div class="grid-cell _sm-6 _md-4">
                        <div class="form-inputFiles-file _small">
                          <div class="form-inputFiles-file-icon _doc"></div>
                          <div class="form-inputFiles-file-body">
                            <div class="form-inputFiles-file-title">
                              <a href="http://veb.ru/strategy/invest/#doc" class="link _inherit"></a>
                            </div>
                            <!--<div class="form-inputFiles-file-size">125 кб.</div>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="grid-cell">
                    <h2 class="office-sectionTitle _simple __textUpperCase">Данные о платформе</h2>
                    <div class="space _large"></div>
                    <div class="grid-area">
                      <div class="grid-cell _sm-6 _md-4" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
                        <div class="form-inputFiles-file _small">
                          <div class="form-inputFiles-file-icon _doc"></div>
                          <div class="form-inputFiles-file-body">
                            <div class="form-inputFiles-file-title">
                              <a href="/files/instr_SM.docx" class="link _inherit"> Руководства пользователя СМ</a>
                            </div>
                            <!-- <div class="form-inputFiles-file-size">125 кб.</div> -->
                          </div>
                        </div>
                      </div>
                      <div class="grid-cell _sm-6 _md-4" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
                        <div class="form-inputFiles-file _small">
                          <div class="form-inputFiles-file-icon _doc"></div>
                          <div class="form-inputFiles-file-body">
                            <div class="form-inputFiles-file-title">
                              <a href="/files/rm/position.pdf" class="link _inherit"> Положение о деятельности Региональных Менеджеров</a>
                            </div>
                            <!-- <div class="form-inputFiles-file-size">125 кб.</div> -->
                          </div>
                        </div>
                      </div>
                      <div class="grid-cell _sm-6 _md-4" th:if="${#arrays.contains(user.roles, 'USER')}">
                        <div class="form-inputFiles-file _small">
                          <div class="form-inputFiles-file-icon _doc"></div>
                          <div class="form-inputFiles-file-body">
                            <div class="form-inputFiles-file-title">
                              <a href="/files/instr_client.docx" class="link _inherit"> Руководства пользователя Клиент</a>
                            </div>
                            <!-- <div class="form-inputFiles-file-size">125 кб.</div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section class="grid-cell" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
                        <h2 class="office-sectionTitle _simple __textUpperCase">Продукты ДЗО</h2>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell _sm-6 _md-4" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
                                <div class="form-inputFiles-file _small">
                                    <div class="form-inputFiles-file-icon _pdf"></div>
                                    <div class="form-inputFiles-file-body">
                                        <div class="form-inputFiles-file-title">
                                            <a href="/files/Svyaz-Bank.pdf" class="link _inherit"> Презентация Связь Банка</a>
                                        </div>
                                        <!-- <div class="form-inputFiles-file-size">125 кб.</div> -->
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="space _massive"></div>
      </div>
    </div>
  </div>
</div>
