<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Личный кабинет</a></span>
						<span>Данные для входа</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
										<form class="formCard" method="post" th:action="@{/private-office/login-info}" th:object="${changePassword}" enctype="multipart/form-data" style="box-shadow: none">
											<div th:if="${error}">
													<div class="form-message _clear -error">
															<strong>Пароли не совпадают</strong><br />
															Пожалуйста проверьте правильность написания старого и нового пароля
													</div>
													<div class="space _large"></div>
											</div>
											<div th:if="not ${error}">
													<div class="form-message _clear -success">
															<strong>Пароль успешно изменен</strong>
													</div>
													<div class="space _large"></div>
											</div>
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area _alignCenter">
														<div class="grid-cell _md-9">
															<div class="formCard-title">
																Настройки доступа
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-content">
													<div class="grid-area">
														<div class="grid-cell _md-10">
															<div class="grid-area">
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area _large">
																			<!--
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					E-mail
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
																						<input name="emailAddress" type="text" placeholder="ivanov@mail.com"/>
																					</div>
																				</div>
																			</div>
																			<div class="grid-cell _sm-8">
																				<div class="divider _soft"></div>
																			</div>
																		-->
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Старый пароль
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
																						<input name="oldPassword" type="password" placeholder="Введите старый пароль, для его смены"/>
																					</div>
																				</div>
																			</div>
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Новый пароль
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
																						<input name="newPassword1" type="password" placeholder="Введите новый пароль"/>
																					</div>
																				</div>
																			</div>
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Повторите пароль
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
																						<input name="newPassword2" type="password" placeholder="Повторите новый пароль"/>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-footer">
													<div class="grid-area">
														<div class="grid-cell _md-10">
															<div class="grid-area">
																<div class="grid-cell _sm-8 __textRight">
																	<input type="submit" name="submit" class="form-button _primary _long" value="Сохранить" />
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _massive"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
