<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray" id="officeFinanceRequest">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _large"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span>Сообщения</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell _xl-4 _xxl-3">
						<div class="grid-area">
							<div class="grid-cell" th:each="project : ${projects}">

                                <div class="dropDown _static | notificationDropDown" th:classappend="${project.projectId} == ${projectId} ? ' -open'" data-dropDown-clickOutside="">

                                    <div class="dropDown-link">
                                        <div class="notificationButton card">
                                            <div class="grid-container p_l-2">
                                                <a v-on:click.prevent="slideUsersForChat($event)" href="#" th:href="@{/private-office/message(id=${project.projectId})}" class="link d_ib" th:classappend="${project.projectId} == ${projectId} ? ' -active'">
                                                    <div class="notificationButton-inner">
                                                        <div class="notificationButton-caption" th:text="${project.projectNomination}">Развитие +</div>
                                                        <!--
                                                        <div class="notificationButton-icon">
                                                            <div class="brandIcon _number _small">
                                                                <div class="brandIcon-container">
                                                                    <div class="brandIcon-inner">15</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                         -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="dropDown-content chat-contact-list" th:if="${project.projectId} == ${projectId} ? ' -active'">
                                        <div class="notificationButton _small -active">
                                            <div class="grid-container">
                                                <a th:href="@{/private-office/message(id=${project.projectId})}" class="link">
                                                    <div class="notificationButton-inner">
                                                        <img src="/img/static/default-photo.png" alt="Veb" />
                                                        <div class="notificationButton-caption">
                                                            <div class="notificationButton-caption-small">
                                                                Сотрудник банка
                                                            </div>

                                                        </div>
                                                        <!--
                                                        <div class="notificationButton-icon">
                                                            <div class="brandIcon _number _small">
                                                                <div class="brandIcon-container">
                                                                    <div class="brandIcon-inner">2</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="notificationButton _small" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
                                            <div class="grid-container">
                                                <a href="#" th:href="@{/private-office/message(id=${project.projectId},who=${currentProject.declarer.crmId})}" class="link">
                                                    <div class="notificationButton-inner">
                                                        <img src="/img/static/default-photo.png" alt="Veb" />
                                                        <div class="notificationButton-caption">
                                                            <div class="notificationButton-caption-small">
                                                                Клиент
                                                            </div>
                                                            <span th:text="${currentProject.declarer.applicantNameFirst}"></span>
                                                            <span th:text="${currentProject.declarer.applicantNameLast}"></span>
                                                        </div>
                                                        <!--
                                                        <div class="notificationButton-icon">
                                                            <div class="brandIcon _number _small">
                                                                <div class="brandIcon-container">
                                                                    <div class="brandIcon-inner">2</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="notificationButton _small" th:if="${#arrays.contains(user.roles, 'USER')}">
                                            <div class="grid-container">
                                                <a th:href="@{/private-office/message(id=${project.projectId},who=${currentProject.projectManager.crmId})}" class="link">
                                                    <div class="notificationButton-inner">
                                                        <img src="/img/static/default-photo.png" th:src="${currentProject.projectManager.image}" alt="Veb" />
                                                        <div class="notificationButton-caption">
                                                            <div class="notificationButton-caption-small">
                                                                Сертифицированный менеджер
                                                            </div>
                                                            <span th:text="${currentProject.projectManager.nameFirst}"></span>
                                                            <span th:text="${currentProject.projectManager.nameLast}"></span>
                                                        </div>
                                                        <!--
                                                        <div class="notificationButton-icon">
                                                            <div class="brandIcon _number _small">
                                                                <div class="brandIcon-container">
                                                                    <div class="brandIcon-inner">2</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
						</div>
					</div>
					<div class="grid-cell _xl-8 _xxl-9">
						<div class="card" th:if="${projectId} != null">
							<!--@@include = ../../../components/chat/chat.html-->
						</div>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
</div>
