<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray" id="officeFinanceRequest">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _large"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Обратная связь</a></span>
						<span>Уведомления</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell _xl-4 _xxl-3">
						<div class="grid-area">
							<div class="grid-cell" th:each="project : ${projects}">
								<div class="notificationButton card" th:classappend="${project.projectId} == ${projectId} ? ' -active'">
									<div class="grid-container">
										<a href="#" th:href="@{/private-office/notification(id=${project.projectId})}" class="link" th:classappend="${project.projectId} == ${projectId} ? '_white -active'">
											<div class="notificationButton-inner">
												<div class="notificationButton-caption" th:text="${project.projectNomination}">Развитие +</div>
												<div class="notificationButton-icon">
													<div class="brandIcon _number _small">
														<div class="brandIcon-container">
															<div class="brandIcon-inner" th:text="${project.count}">1</div>
														</div>
													</div>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-cell _xl-4 _xxl-5">
						<div class="card" style="height: 100%;">
							<div class="grid-container">
								<div class="space _medium"></div>
								<div class="grid-area">
									<div class="grid-cell" th:each="notification : ${notifications}">
										<div class="office-bell-item"  th:if="${notification}  != null">
											<div class="office-bell-item-icon">
												<div class="brandIcon _success"  th:if="${notification.isGood}">
													<div class="brandIcon-container">
														<div class="brandIcon-inner">
															<svg class="icon-svg">
																<use xlink:href="#icon-checkmark"></use>
															</svg>
														</div>
													</div>
												</div>
												<div class="brandIcon  _fail"  th:if="not ${notification.isGood}">
													<div class="brandIcon-container">
														<div class="brandIcon-inner">
															<svg class="icon-svg">
																<use xlink:href="#icon-cross"></use>
															</svg>
														</div>
													</div>
												</div>
											</div>
											<div class="office-bell-item-message" style="font-size: 16px;">
												Проект “<strong th:text="${notification.projectNomination}">Развитие +</strong>”
												<div th:text="${notification.message}"> </div>
											</div>
										</div>
										<div class="space _medium"></div>
										<div class="divider _soft"></div>
									</div>
								</div>
								<div class="space _medium"></div>
							</div>
						</div>
					</div>
                    <div class="grid-cell _xl-4 _xxl-4" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
                        <div class="card">
                            <div class="cardManager">
                                <div class="grid-container" th:if="${declarer} != null">
                                    <div class="space _medium"></div>
                                    <div class="cardManager-title">Клиент</div>
                                    <div class="space _medium"></div>
                                    <div class="grid-area">
                                        <div class="grid-cell">
                                            <div class="profile">
                                                <div class="profile-grid">
                                                    <div class="profile-grid-item _image">
                                                        <div class="profile-image" th:style="${manager != null} ? 'background-image: url(/img/static/default-photo.png)' : '#' "></div>
                                                    </div>
                                                    <div class="profile-grid-item _title">
                                                        <div class="profile-title _black" th:text="${declarer != null}? ${declarer.applicantNameFirst} + ' ' + ${declarer.applicantNameLast} : 'нет данных' ">
                                                            Мария Грут
                                                        </div>
                                                        <div class="profile-body">
                                                            <div class="profile-body-location _gray">
                                                                <!-- <div class="profile-body-location-region" th:text="${regionZnF} ? ${regionZnF} : 'нет данных' ">Центральный&nbsp;ФО</div> -->
                                                            </div>
                                                            <div class="profile-body-rating">
                                                                <!--
                                                                <div class="profile-body-rating-top" th:style="'width: ' + ${rating} + '%'" style="width: 0%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                                <div class="profile-body-rating-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                                -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space _medium"></div>
                                    <div class="divider _dashed"></div>
                                    <div class="space _medium"></div>
                                    <div class="cardManager-connection" style="font-size: 14px;">
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-6">
                                                <div class="cardManager-label">Телефон:</div>
                                                <a class="link _inherit cardManager-phone" href="tel:+79231510604" th:href="${declarer != null} ? 'tel:' + ${declarer.applicantPhoneNumbers} : '#' " th:text="${manager != null} ? ${declarer.applicantPhoneNumbers} : 'нет данных' ">+7 923 151-06-04</a>
                                            </div>
                                            <div class="grid-cell _sm-6">
                                                <div class="cardManager-label">E-mail:</div>
                                                <div class="cardManager-email" data-th-each="email : ${declarer.applicantEmails}">
                                                    <a class="link _underline" href="mailto:ivanov@mail.com" th:href="'mailto:' + ${email}" th:text="${email}">ivanov@mail.com</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="space _medium"></div>
                                        <!--
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-6">
                                                <a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">Сообщения</a>
                                            </div>
                                            <div class="grid-cell _sm-6">
                                                <a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">+&nbsp;Документ</a>
                                            </div>
                                        </div>
                                    -->
                                    </div>
                                    <div class="space _large"></div>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="grid-cell _xl-4 _xxl-4" th:if="${#arrays.contains(user.roles, 'USER')}">
						<div class="grid-area">
							<div class="grid-cell _md-6 _xl-4">
								<div class="card">
									<div class="cardManager">
										<div class="grid-container" th:if="${manager} != null">
											<div class="space _medium"></div>
											<div class="cardManager-title">Региональный менеджер</div>
											<div class="space _medium"></div>
											<div class="grid-area">
												<div class="grid-cell">
													<div class="profile">
														<div class="profile-grid">
															<div class="profile-grid-item _image">
																<div class="profile-image" th:style="${manager != null} ? 'background-image: url(' + ${manager.image} + ')' : '#' "></div>
															</div>
															<div class="profile-grid-item _title">
																<div class="profile-title _black" th:text="${manager != null}? ${manager.nameFirst} + ' ' + ${manager.nameLast} : 'нет данных' ">
																	Мария Грут
																</div>
																<div class="profile-body">
																	<div class="profile-body-location _gray">
																		<div class="profile-body-location-region" th:text="${regionZnF} ? ${regionZnF} : 'нет данных' ">Центральный&nbsp;ФО</div>
																	</div>
																	<div class="profile-body-rating">
																		<div class="profile-body-rating-top" th:style="'width: ' + ${rating} + '%'" style="width: 0%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
																		<div class="profile-body-rating-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="space _medium"></div>
											<div class="divider _dashed"></div>
											<div class="space _medium"></div>
											<div class="cardManager-connection" style="font-size: 14px;">
												<div class="grid-area">
													<div class="grid-cell _sm-6">
														<div class="cardManager-label">Телефон:</div>
														<a class="link _inherit cardManager-phone" href="tel:+79231510604" th:href="${manager != null} ? 'tel:' + ${manager.phone} : '#' " th:text="${manager != null} ? ${manager.phone} : 'нет данных' ">+7 923 151-06-04</a>
													</div>
													<div class="grid-cell _sm-6">
														<div class="cardManager-label">E-mail:</div>
														<div class="cardManager-email"><a class="link _underline" href="mailto:ivanov@mail.com" th:href="${manager != null} ? 'mailto:' + ${manager.email} : '#' " th:text="${manager != null} ? ${manager.email} : 'нет данных' ">ivanov@mail.com</a></div>
													</div>
												</div>
												<div class="space _medium"></div>
												<!--
												<div class="grid-area">
													<div class="grid-cell _sm-6">
														<a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">Сообщения</a>
													</div>
													<div class="grid-cell _sm-6">
														<a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">+&nbsp;Документ</a>
													</div>
												</div>
											-->
											</div>
											<div class="space _large"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell _md-6 _xl-12">
									<div class="card">
										<div class="cardManager">
											<div class="grid-container" th:if="${collaborator} != null">
												<div class="space _medium"></div>
												<div class="cardManager-title">Сотрудник банка</div>
												<div class="space _medium"></div>
												<div class="grid-area">
													<div class="grid-cell">
														<div class="profile">
															<div class="profile-grid">
																<div class="profile-grid-item _image">
																	<div class="profile-image" th:style="${collaborator != null} ? 'background-image: url(' + ${collaborator.image} + ')' : '#' "></div>
																</div>
																<div class="profile-grid-item _title">
																	<div class="profile-title _black" th:text="${collaborator != null}? ${collaborator.nameFirst} + ' ' + ${collaborator.nameLast} : 'нет данных' ">
																		Мария Грут
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _medium"></div>
												<div class="divider _dashed"></div>
												<div class="space _medium"></div>
												<div class="cardManager-connection" style="font-size: 14px;">
													<div class="grid-area">
														<div class="grid-cell _sm-6">
															<div class="cardManager-label">Телефон:</div>
															<a class="link _inherit cardManager-phone" href="tel:+79231510604" th:href="${collaborator != null} ? 'tel:' + ${collaborator.phone} : '#' " th:text="${collaborator != null} ? ${collaborator.phone} : 'нет данных' ">+7 923 151-06-04</a>
														</div>
														<div class="grid-cell _sm-6">
															<div class="cardManager-label">E-mail:</div>
															<div class="cardManager-email"><a class="link _underline" href="mailto:ivanov@mail.com" th:href="${collaborator != null} ? 'mailto:' + ${collaborator.email} : '#' " th:text="${collaborator != null} ? ${collaborator.email} : 'нет данных' ">ivanov@mail.com</a></div>
														</div>
													</div>
													<div class="space _medium"></div>
													<!--
													<div class="grid-area">
														<div class="grid-cell _sm-6">
															<a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">Сообщения</a>
														</div>
														<div class="grid-cell _sm-6">
															<a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">+&nbsp;Документ</a>
														</div>
													</div>
												-->
												</div>
												<div class="space _large"></div>
											</div>
										</div>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
</div>
