<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Мои проекты</a></span>
						<span><a href="#" class="link">Развитие +</a></span>
						<span>Информация о заявителе</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
										<form class="formCard" method="post" action=""
												enctype="multipart/form-data" style="box-shadow: none" v-cloak="" id="officeUserApplicantInfo">
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area">
														<div class="grid-cell _md-9">
															<div class="formCard-title">
																Персональные данные
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-content">
													<div class="grid-area">
														<div class="grid-cell _md-10">
															<div class="grid-area">
																<div class="grid-cell _sm-8">
																	<div class="grid-area _large">
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell">
																						<div class="form-field-label">
																							Фамилия
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputText _fluid" th:text="${manager.nameLast}">
																								<!--<input name="lastName" type="text" placeholder="Иванов"/>-->
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell">
																						<div class="form-field-label">
																							Имя
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputText _fluid" th:text="${manager.nameFirst}">
																								<!--<input name="firstName" type="text" placeholder="Иван"/>-->
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<!--
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell">
																						<div class="form-field-label">
																							Отчество
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputText _fluid" th:text="${manager.nameMiddle}">
																								<input name="midName" type="text" placeholder="Иванович"/>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	-->
																	</div>
																</div>
																<div class="grid-cell _md-3 _md-offset-1">
																	<div class="grid-area">
																		<div class="grid-cell __textLeft">
																			<div class="profile">
																				<div class="profile-grid">
																					<div class="profile-grid-item _image" style="min-width: 150px; width: 100%;">
																						<div class="profile-image" th:style="${manager != null} ? 'background-image: url(' + ${manager.image} + ')' : '#' "></div>
																					</div>
																				</div>
																			</div>
																			<!--
																			<div class="space _medium"></div>
																			<a href="#" class="form-button _primary _bordered _lowercase __textCenter">Загрузить&nbsp;фото</a>-->
																		</div>
																	</div>
																</div>
															</div>
															<div class="space _large"></div>
															<div class="formCard-title">
																Контактная информация
															</div>
															<div class="space _large"></div>
															<div class="grid-area _large">
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Телефон
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid" th:text="${manager.phone}">
																						<!--<input name="phoneNumber" type="text" placeholder="+7 (495) 456-78-90" data-mask="phone"/>-->
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Контакный E-mail
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid" th:text="${manager.email}">
																						<!--<input name="faxNumber" type="text" placeholder="i.ivanov@mail.com" data-mask="phone"/>-->
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Регион
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid" th:text="${region}">
																					<!--<div class="form-inputSelect _fluid" th:text="${region}">
																						th:text="${ref.region[__${manager.regionId}__].title}">
																						<select name="">
																							<option value="Выбрать">Центральный</option>
																							<option value="0">0</option>
																							<option value="0">0</option>
																						</select>
																						-->
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<!--
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Адрес
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
																						<input name="faxNumber" type="text" placeholder="Россия, г. Москва, ул. Мира, д. 12, кв. 142" data-mask="phone"/>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															-->
															</div>
															<!--
															<div class="space _large"></div>
															<div class="formCard-footer">
																<div class="grid-area">
																	<div class="grid-cell _md-8">
																		<div class="grid-area">
																			<div class="grid-cell __textRight">
																				<a href="#" class="form-button _primary _long">Сохранить</a>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														-->
														</div>
													</div>
												</div>
												<div class="space _massive"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
