.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: #fff;
	padding: 7px 0;
	z-index: 1;
	min-height: 77px;

	&-logo {
		display: block;
		width: 224px;
		height: 57px;
		color: #fff;
		margin-right: 85px;

		& > svg {
			fill: dd-color-palette(primary);
			transition: fill $time;
		}

		&:hover {

			& > svg {
				fill: dd-color-palette(primary, light);
			}
		}
	}

	&-grid {
		@include dd-grid-area();
		flex-wrap: nowrap;
		align-items: center;

		&-item {
			width: auto;

			&._logo {
				flex-shrink: 0;
				flex-grow: 0;
			}

			&._menu {
				flex-shrink: 1;
				flex-grow: 1;
			}
		}
	}

	&-menu {
		z-index: 1;

		&-grid {
			@include dd-grid-area(large, 0, false, false);
			align-items: center;

			&-item {
				position: relative;
				width: auto;
				flex-shrink: 0;
				flex-grow: 0;

				&._separately {

					&:not(:last-child)::after {
						content: '';
						position: absolute;
						top: 0;
						right: 0;
						width: 1px;
						height: 100%;
						background: #d2d2d2;
					}

					&._first {
						margin-left: auto;
					}
				}
			}
		}

		&-link {
			display: inline-block;
			font-size: 16px;
			text-decoration: none;
			color: dd-color-palette(primary);

			&:hover, &.-active {
				color: dd-color-palette(default);
			}
		}
	}

	&-burger {
		display: none;
		position: relative;
		z-index: 2;
	}

	@include dd-responsive-media((lg)) {

		&-menu {

			&-grid {
				@include dd-grid-gutters(medium, 0);
			}
		}
	}

	@include dd-responsive-media((xs, md)) {

		&-grid {

			&-item {

				&._logo {
					order: 2;
					flex-grow: 0;
					flex-shrink: 0;
				}

				&._menu {
					order: 1;
					flex-grow: 0;
					flex-shrink: 0;
				}
			}
		}

		&-menu {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			min-width: 230px;
			background-color: #fff;

			&-grid {
				position: relative;
				flex-direction: column;
				align-items: flex-start;

				&-item {
					width: 100%;

					&._separately {

						&:not(:last-child)::after {
							display: none;
						}
					}
				}
			}

			&-link {
				width: 100%;
				position: static;
				border: none;

				&:hover, &.-active {
					background-color: #f3f3f3;
				}
			}

			&.-opened {
				display: block;
				box-shadow: 0 2px 5px rgba(#000, 0.2);
			}
		}

		&-burger {
			display: inline-block;
		}
	}

	@include dd-responsive-media(md) {

		&-menu {

			&-link {
				padding: 15px 15px;
			}
		}
	}

	@include dd-responsive-media((xs, sm)) {

		&-menu {

			&-link {
				padding: 15px 10px;
			}
		}
	}

	@include dd-responsive-media((xs)) {

		&-phone {
			display: none;
		}
	}
}