<div class="header">
    <div class="grid-container _main">
        <div class="header-grid">
            <div class="header-grid-item _logo">
                <a class="header-logo" href="/" th:href="@{/}">
                    <svg class="icon-svg">
						<use xlink:href="#logo"></use>
					</svg>
                </a>
            </div>
            <div class="header-grid-item _menu">
                <a class="header-burger" href="#">
                    <div class="burger">
                        <div class="burger-icon"></div>
                        <div class="burger-icon"></div>
                        <div class="burger-icon"></div>
                    </div>
                </a>
                <div class="header-menu">
                    <ul class="header-menu-grid">
                        <li class="header-menu-grid-item">
                            <!--a class="header-menu-link" href="./manager-list.html" th:href="@{/manager-list.html}">Региональные менеджеры</a-->
                        </li>
                        <li class="header-menu-grid-item">
                            <a class="header-menu-link" href="./industries-finance.html" th:href="@{/industries-finance.html}">Отрасли</a>
                        </li>
                        <li class="header-menu-grid-item">
                            <a class="header-menu-link" href="./project-history.html" th:href="@{/project-history.html}">Истории успеха</a>
                        </li>
                        <li class="header-menu-grid-item">
                            <a class="header-menu-link" href="./map.html" th:href="@{/map.html}">Регионы</a>
                        </li>
                        <li class="header-menu-grid-item _separately _first">
                            <!--a class="header-menu-link" href="./firstRequest" th:href="@{/firstRequest}" >Подать заявку</a-->
                        </li>
                        <li class="header-menu-grid-item _separately">
                            <a class="header-menu-link" href="./private-office" th:href="@{/private-office}" th:if="not ${error}">Войти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
