<!-- @@master = layout/html.html {"pageMod": "", "root": "."} -->

<!-- @@block = body -->
<div class="page-wrapper">
	<div class="page-header">
		<!--@@include = ../components/header/header.html-->
	</div>
	<div class="page-content">
		<div class="grid-container _main">
			<div class="space _massive"></div>
			<div class="grid-area _center">
				<div class="grid-cell _lg-10 _xxl-9">
                    <div class="formCard">
                        <div class="grid-container _large">
                            <div class="space _massive"></div>
                            <div class="formCard-header">
                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-3">
                                                <div class="formCard-icon">
                                                    <svg class="icon-svg">
                                                        <use xlink:href="#icon-fail"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="grid-cell _md-9">
                                                <div class="formCard-title">
                                                    Возникла ошибка
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-container _md-9 _md-offset-3 _tiny">
                                            <div class="formCard-description" th:text="${timestamp} + ' - ' + ${status} + ' - ' + ${error} + ': ' + ${message}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space _large"></div>
                            <div class="grid-area">
                                <div class="grid-cell __textRight">
                                    <a href="/" th:href="@{/}" class="form-button _primary _long">Назад</a>
                                </div>
                            </div>
                            <div class="space _massive"></div>
                        </div>
                    </div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
	<div class="page-footer">
		<!--@@include = ../components/footer/footer.html-->
	</div>
</div>
