<!-- @@master = layout/html.html {"pageMod": "", "root": "."} -->

<!-- @@block = body -->
<div class="page-wrapper">
	<div class="page-header">
		<!--@@include = ../components/header/header.html-->
	</div>
	<div class="page-content">
		<div class="grid-container _main">
			<div class="space _massive"></div>
			<div class="grid-area _center">
				<div class="grid-cell _lg-10 _xxl-9">
					<!--@@include = ../components/formCard/formCard-field.html-->
					<!--@@include = ../components/formCard/formCard-page1.html-->
					<!--@@include = ../components/formCard/formCard-page2.html-->
					<!--@@include = ../components/formCard/formCard-page3.html-->
					<!--@@include = ../components/formCard/formCard-page4.html-->
					<!--@@include = ../components/formCard/formCard-pageSuccess.html-->
					<!--@@include = ../components/formCard/formCard-pageFail.html-->
					<div id="formFast" v-cloak="" style="position: relative">
						<transition appear="" v-bind:name="currentAnimation">
							<keep-alive>
								<component v-if="status===null" v-bind:is="pages[currentPageIndex]" v-on:next-page="nextPage" v-on:prev-page="prevPage" v-on:submit-form="submitForm" v-on:submit-manager="submitManager" v-on:update-fullname="updateFullname" v-bind:loading="loading" v-on:inputs-update="inputsUpdate" v-bind:managers="managers"></component>
								<page-success v-if="status=='success'" v-bind:managers="managers"></page-success>
								<page-fail v-if="status=='fail'" v-bind:managers="managers" v-bind:fullname="fullname" v-bind:projectname="inputs.projectTitle"></page-fail>
							</keep-alive>
						</transition>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
	<div class="page-footer">
		<!--@@include = ../components/footer/footer.html-->
	</div>
</div>
