<!-- @@master = layout/html.html {"pageMod": "", "root": "."} -->

<!-- @@block = body -->
<div class="page-wrapper">
    <div class="page-header">
        <!--@@include = ../components/header/header.html-->
    </div>
    <div class="page-content">
        <div class="grid-container _main">
            <div class="space _large"></div>
            <div class="card">
                <div class="space _large"></div>
                <div class="grid-container _large">
                    <div class="grid-area">
                        <div class="grid-cell">
                            <a class="link" href="./resume-1.html" th:href="@{/resume/1}">Резюме</a>
                        </div>
                        <div class="grid-cell">
                            <a class="link" href="./office-express-assessment.html" th:href="@{/assessment}">Экспресс оценка</a>
                        </div>
                        <div class="grid-cell">
                            <a class="link" href="./LK/01/finance-request-01.html" th:href="@{/lk}">Запрос на финансирование</a>
                        </div>
                        <div class="grid-cell">
                            <a class="link" href="./main.html" th:href="@{/terminated}">Выход</a>
                        </div>
                    </div>
                </div>
                <div class="space _large"></div>
            </div>
            <div class="space _large"></div>
        </div>
    </div>
    <div class="page-footer">
        <!--@@include = ../components/footer/footer.html-->
    </div>
</div>