<!-- @@master = layout/html.html {"pageMod": "", "root": "."} -->

<!-- @@block = body -->

<script type="text/x-template" id="industriesFinance-card">
	<div>
		<div class="industriesFinance-branchOpened"
			 v-if="!currentItem"
			 v-bind:class="{'_reverse':depth >= 1}">
			<div class="industriesFinance-branchOpened-body" v-bind:class="{'_fullSize':item.items.length > 10}">
				<div class="industryCard">
					<div class="industryCard-grid">
						<div class="industryCard-grid-icon _figure" v-if="depth==0">
							<svg class="icon-svg">
								<use v-bind:xlink:href="item.icon"></use>
							</svg>
						</div>
						<a href="#"
						   class="industryCard-grid-link"
						   v-if="depth!=0"
						   v-on:click.prevent="emitBack">
							<span class="industryCard-grid-icon _arrow">
                                <svg class="icon-svg">
                                    <use xlink:href="#icon-arrow"></use>
                                </svg>
                            </span>
                            <div class="industryCard-grid-title">{{item.title}}</div>
						</a>
						<div class="industryCard-grid-title" v-if="depth==0">{{item.title}}</div>
					</div>
				</div>
				<div class="space _medium"></div>
				<ul class="customList grid-area">
					<li class="grid-cell"
						v-for="subitem in item.items"
						v-bind:class="{'_sm-6':item.items.length > 10}">
						<div class="customList-item">
							<a href="#"
							   class="link _inherit _underline-reverse"
							   v-on:click.prevent="setCurrentItem(subitem)"
							   v-if="subitem.items">{{subitem.title}}</a>
							<div class="" v-if="!subitem.items">{{subitem.title}}</div>
						</div>
					</li>
				</ul>
				<div class="space _medium"></div>
			</div>
			<div class="industriesFinance-branchOpened-image"
				 v-bind:style="{'background-image':'url('+item.image+')'}"
				 v-if="item.items.length <= 10"></div>
		</div>
		<industries-finance-card v-bind:item="currentItem"
								 v-if="currentItem"
								 v-bind:depth="parseInt(depth)+1"
								 v-on:back="back"></industries-finance-card>
	</div>
</script>

<div class="page-wrapper">
	<div class="page-header">
		<!--@@include = ../components/header/header.html-->
	</div>
	<div class="industriesFinance" id="industriesFinance">
		<div class="page-content">
			<div class="grid-container _main">
				<div class="space _large"></div>
				<div class="grid-area __textCenter">
					<div class="grid-cell">
						<div class="page-backLink">
							<a href="./" class="link _inherit _transparent">
								<svg class="icon-svg">
									<use xlink:href="#icon-arrow"></use>
								</svg>
								На главную
							</a>
						</div>
					</div>
					<div class="grid-cell">
						<h2 class="page-title _white _small">Отрасли финансирования</h2>
					</div>
				</div>
				<div class="space _large"></div>
				<div class="grid-area _center">
					<div class="grid-cell _lg-10 _xxl-9">
						<div class="industriesFinance-features">
							<div class="industriesFinance-features-item">
								<p class="industriesFinance-features-item-text">Минимальная стоимость проекта от&nbsp;2&nbsp;млрд.&nbsp;руб</p>
							</div>
							<div class="industriesFinance-features-item">
								<p class="industriesFinance-features-item-text">Срок окупаемости проекта от&nbsp;5&nbsp;лет</p>
							</div>
							<div class="industriesFinance-features-item">
								<p class="industriesFinance-features-item-text">Соответствие отрасли финансирования</p>
							</div>
						</div>
					</div>
				</div>
				<div class="space _large"></div>
				<div class="grid-area _center" v-cloak="v-cloak">
					<div class="grid-cell _lg-11 _xxl-12 _xxl-offset-1">
						<div class="grid-area">
							<div class="grid-cell _md-12 _xl-4">
								<div class="industriesFinance-branchCard">
									<div class="industriesFinance-branchCard-item" v-for="item in items" v-bind:class="{'-active':item==currentItem}">
										<div class="industryCard">
											<div class="industryCard-grid">
												<a href="#" class="link _inherit _underline-reverse _flex" v-on:click.prevent="setCurrentItem(item)" v-bind:class="{'-active _white':item==currentItem}">
													<div class="industryCard-grid-icon _figure">
														<svg class="icon-svg">
															<use v-bind:xlink:href="item.icon"></use>
														</svg>
													</div>
													<div class="industryCard-grid-title">
														{{item.title}}
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell _md-12 _xl-8">
								<div class="grid-area">
									<div class="grid-cell _lg-12 _xl-11 _xxl-10">
										<industries-finance-card v-bind:item="currentItem" v-if="currentItem" v-bind:depth="0"></industries-finance-card>
										<!--<div class="industriesFinance-branchOpened _reverse">
											<div class="industriesFinance-branchOpened-body">
												<div class="industryCard">
													<div class="industryCard-grid">
														<a href="#" class="link _inherit _flex">
															<div class="industryCard-grid-icon _arrow">
																<svg class="icon-svg">
																	<use xlink:href="#icon-arrow"></use>
																</svg>
															</div>
															<div class="industryCard-grid-title">Транспортная</div>
														</a>
													</div>
												</div>
												<ul class="customList _spaced">
													<li class="customList-item">
														<a href="#" class="link _inherit _underline-reverse">Железнодорожная инфраструктура</a>
													</li>
													<li class="customList-item">
														<a href="#" class="link _inherit _underline-reverse">Дороги и мосты</a>
													</li>
													<li class="customList-item">
														<a href="#" class="link _inherit _underline-reverse">Портовая инфраструктура</a>
													</li>
													<li class="customList-item">
														<a href="#" class="link _inherit _underline-reverse">Инфраструктура аэропортов</a>
													</li>
												</ul>
											</div>
											<div class="industriesFinance-branchOpened-image" style="background-image: url('./img/static/branchOpened-img-1.jpg')"></div>
										</div>
										<div class="industriesFinance-branchOpened _reverse">
											<div class="industriesFinance-branchOpened-body">
												<div class="industryCard">
													<div class="industryCard-grid">
														<a href="#" class="link _inherit _flex">
															<div class="industryCard-grid-icon _arrow">
																<svg class="icon-svg">
																	<use xlink:href="#icon-arrow"></use>
																</svg>
															</div>
															<div class="industryCard-grid-title">Железнодорожная инфраструктура</div>
														</a>
													</div>
												</div>
												<ul class="customList _spaced">
													<li class="customList-item">
														<a href="#" class="link _inherit _underline-reverse">Подъездная инфраструктура</a>
													</li>
													<li class="customList-item">
														<a href="#" class="link _inherit _underline-reverse">Высокоскоростные магистрали</a>
													</li>
													<li class="customList-item">
														<a href="#" class="link _inherit _underline-reverse">Транспортные коридоры</a>
													</li>
													<li class="customList-item">
														<a href="#" class="link _inherit _underline-reverse">Ж/Д терминалы</a>
													</li>
												</ul>
											</div>
											<div class="industriesFinance-branchOpened-image" style="background-image: url('./img/static/branchOpened-img-1.jpg')"></div>
										</div>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
	<div class="page-footer">
		<!--@@include = ../components/footer/footer.html-->
	</div>
</div>
