<!-- @@master = layout/html.html {"pageMod": "_gray", "root": "."} -->

<!-- @@block = body -->
<div class="office page-content _gray" id="officeFinanceRequest">
	<div class="page-header">
		<!--@@include = ../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _large"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span>Резюме проектов</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="projectGrid">
									<div class="projectGrid-container">
										<form method="post" th:object="${filterListProject}">
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										<table class="projectGrid-table">
											<tr class="projectGrid-row _high">
												<td class="projectGrid-cell _small">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputText _fluid">
																<input name="number" type="number" placeholder="№" th:field="*{number}" />
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputText _fluid">
																<input name="name" type="text" placeholder="Проект" th:field="*{name}" />
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputText _fluid">
																<input name="applicant" type="text" placeholder="Заявитель" th:field="*{applicant}"/>
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputText _fluid">
																<input name="applicantEMail" type="text" placeholder="E-mail" th:field="*{applicantEMail}"/>
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputText _fluid">
																<input name="manager" type="text" placeholder="Менеджер" th:field="*{manager}"/>
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputDate _fluid">
																<input name="dateEntered" type="text" placeholder="Дата" th:field="*{dateEntered}"/>
															</div>
															<div class="form-field-input-suffix">
																<svg class="icon-svg">
																	<use xlink:href="#icon-calendar"></use>
																</svg>
															</div>
														</div>
													</div>
												</td>
												<td class="projectGrid-cell">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputText _fluid">
																<input name="status" type="text" placeholder="Статус" th:field="*{status}"/>
															</div>
														</div>
													</div>
												</td>

                                                <td class="projectGrid-cell" th:if="${#arrays.contains(user.roles, 'MANAGER')} and ${chooseMenu} == 'projects'">

                                                </td>
												<td class="projectGrid-cell">
													<button type="submit" class="form-button _primary _bordered _lowercase _long">применить</button>
												</td>
											</tr>
											<tr class="projectGrid-row" data-th-each="project : ${projects}">
												<td class="projectGrid-cell va_middle" data-th-text="${project.projectCode}"></td>
												<!-- <td class="projectGrid-cell" data-th-text="${project.projectNomination}"></td> -->
												<td class="projectGrid-cell project-name va_middle" th:switch="${chooseMenu}">
                          <a th:case="'dossier-list'" href="#" th:href="@{/private-office/dossier(id=${project.projectId})}" class="link" data-th-text="${project.projectNomination}"></a>
													<a th:case="*" v-on:click.prevent="slideDashboard($event)" href="#" th:href="@{/private-office/project(id=${project.projectId})}" class="link" data-th-text="${project.projectNomination}"></a>
												</td>
												<td class="projectGrid-cell va_middle" data-th-text="${project.applicantNameFirst} + ' ' + ${project.applicantNameLast}"></td>
												<td class="projectGrid-cell va_middle" data-th-text="${project.applicantEmail}"></td>
												<td class="projectGrid-cell va_middle"  data-th-text="${project.projectCertifiedManagerName}"></td>
												<!-- <td class="projectGrid-cell"  data-th-text="${#dates.format(project.projectDateEntered, 'dd-MM-yyyy')}"> -->
                                                <td class="projectGrid-cell ws_nowrap va_middle" th:unless="${chooseMenu} == 'assessment'">
                                                    <span data-th-text="${#dates.format(project.projectDateEntered, 'dd-MM-yyyy')}"></span>
                                                </td>
                                                <td class="projectGrid-cell ws_nowrap va_middle" th:if="${chooseMenu} == 'assessment'" th:switch="${project.projectRequestStatusDate}">

                                                    <div th:case="null">
                                                        Нет информации о дате перехода проекта в статус "Экспресс-оценка"
                                                    </div>

                                                    <div th:case="*">

                                                        <span data-th-text="${#dates.format(project.projectRequestStatusDate, 'dd-MM-yyyy')}"></span>
                                                        <div class="d_i">
                                                            &mdash;
                                                            <span th:if="${project.differenceDaysBetweenTodayAndEnteredDate lt 6}" data-th-text="${#dates.format(project.needDateExpressAssessment, 'dd-MM-yyyy')}"></span>
                                                            <span class="c_orange" th:if="${project.differenceDaysBetweenTodayAndEnteredDate lt 8} and ${project.differenceDaysBetweenTodayAndEnteredDate ge 6}" data-th-text="${#dates.format(project.needDateExpressAssessment, 'dd-MM-yyyy')}"></span>
                                                            <span class="c_red"    th:if="${project.differenceDaysBetweenTodayAndEnteredDate ge 8}" data-th-text="${#dates.format(project.needDateExpressAssessment, 'dd-MM-yyyy')}"></span>
                                                        </div>
                                                    </div>


                                                </td>
												<td class="projectGrid-cell va_middle"  data-th-text="${project.projectStatusName}"></td>
                                                <td class="projectGrid-cell va_middle ws_nowrap" th:if="${#arrays.contains(user.roles, 'MANAGER')} and ${chooseMenu} == 'projects'">
                                                    <span th:if="${project.saleRegion} != null" data-th-text="${project.saleRegion.title}"></span>
                                                </td>
												<td class="projectGrid-cell va_middle">
                                                    <div th:if="${chooseMenu} != 'dossier-list'">
                                                        <div th:switch="${project.projectRequestStatus}">
                                                            <a class="form-button _primary _lowercase _long" href="#" th:case="0"  th:if="${#arrays.contains(user.roles, 'USER')} or (${#arrays.contains(user.roles, 'MANAGER')} and ${project.projectCertifiedManagerId} == ${user.crmId})" th:href="@{/private-office/resume(id=${project.projectId})}">Резюме</a>
                                                            <a class="form-button _primary _lowercase _long" href="#" th:case="1"  th:if="(${#arrays.contains(user.roles, 'MANAGER')} and ${project.projectCertifiedManagerId} == ${user.crmId})"  th:href="@{/private-office/express-assessment(id=${project.projectId})}">Экспресс-оценка</a>
                                                            <a class="form-button _primary _lowercase _long" href="#" th:case="3"  th:if="${#arrays.contains(user.roles, 'USER')} or (${#arrays.contains(user.roles, 'MANAGER')} and ${project.projectCertifiedManagerId} == ${user.crmId})" th:href="@{/private-office/finance-request(id=${project.projectId})}">Запрос на финансирование</a>
                                                            <a class="form-button _primary _lowercase _long" href="#" th:if="${#arrays.contains(user.roles, 'MANAGER')} and  ${project.projectCertifiedManagerName} == ''" th:href="@{/private-office/accept(id=${project.projectId})}">Принять</a>
                                                        </div>
                                                    </div>
												</td>
											</tr>
										</table>
										</form>
									</div>
								</div>
							</div>
							<div class="space _large"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
</div>
