<!-- @@master = layout/html.html {"pageMod": "", "root": "."} -->

<!-- @@block = body -->
<div class="page-wrapper">
    <div class="page-header">
        <!--@@include = ../components/header/header.html-->
    </div>
    <div class="page-content">
        <div class="grid-container _main">
            <div class="space _large"></div>
            <div class="grid-area _center">
                <div class="grid-cell _sm-10 _md-8 _lg-6">
                    <div class="card">
                        <div class="space _medium"></div>
                        <div class="space _large"></div>
                        <h2 class="page-title _small __textCenter">Вход</h2>
                        <div class="space _large"></div>
                        <div class="grid-container _sm-10 _sm-offset-1 _md-8 _md-offset-2 _large">
                            <form action="/login" method="POST">

                                <div th:if="${error}">
                                    <div class="form-message _clear -error __textCenter">
                                        <strong>Не удается войти</strong><br />
                                        Пожалуйста проверьте правильность написания логина и пароля
                                    </div>
                                    <div class="space _large"></div>
                                </div>

                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid"  th:classappend="${error} ? ' -error'">
                                                    <input type="text" name="login" placeholder="E-mail"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputPassword _fluid" th:classappend="${error} ? ' -error'">
                                                    <input type="password" name="password" placeholder="Пароль" value=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="grid-cell">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputCheckbox">
                                                    <input type="checkbox" id="remember-checkbox" name="remember" checked="checked" />
                                                    <label for="remember-checkbox">Чужой компьютер</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                -->
                                    <div class="grid-cell">
                                        <button name="submit" type="submit" class="form-button _primary _fluid"
                                                v-on:click='()=>$event.target.setAttribute("disabled", "disabled")'>
                                            Войти
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            </form>
                        </div>
                        <div class="space _large" th:if="${error}"></div>
                        <div class="space _medium" th:if="${error}"></div>
                        <div class="__textCenter" th:if="${error}">
                            <a href="./recovery" class="link _underline">Восстановить пароль</a>
                        </div>
                        <div class="space _large"></div>
                        <div class="space _medium"></div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
        </div>
    </div>
    <div class="page-footer">
        <!--@@include = ../components/footer/footer.html-->
    </div>
</div>
