<!-- @@master = layout/html.html {"pageMod": "_gray", "root": "."} -->

<!-- @@block = body -->
<div class="page-wrapper">
	<div class="page-header">
		<!--@@include = ../components/header/header.html-->
	</div>
	<div class="page-content">
		<div class="pageMain">
			<header class="pageMain-header __textCenter">
				<!--@@include = ../components/jambotron/jambotron.html-->
			</header>
			<div class="space _massive"></div>
			<div class="grid-container _main">
				<h2 id="description" class="page-title __textCenter">Условия финансирования</h2>
				<div class="space _massive"></div>
				<div class="space _large"></div>
				<div class="pageMain-features">
					<div class="pageMain-features-item">
						<div class="pageMain-features-item-body">
							От <span class="pageMain-keyNumber">2</span> млрд. руб.
						</div>
						<div class="pageMain-features-comment">
							Минимальная стоимость&nbsp;проекта
						</div>
					</div>
					<div class="pageMain-features-item">
						<div class="pageMain-features-item-body">
							От <span class="pageMain-keyNumber">5</span> лет
						</div>
						<div class="pageMain-features-comment">
							Срок окупаемости проекта
						</div>
					</div>
					<div class="pageMain-features-item">
						<div class="pageMain-features-text">Соответствие отрасли финансирования</div>
					</div>
				</div>
				<div class="space _massive"></div>
				<div class="space _large"></div>
				<h2 id="sectors" class="page-title __textCenter">Отрасли финансирования</h2>
				<div class="space _massive"></div>
				<div class="financeIndustry">
					<div class="financeIndustry-grid">
						<div class="grid-area" style="justify-content: center">
							<div class="grid-cell _lg-6 _xl-4">
								<div class="financeIndustry-grid-item card">
									<div class="grid-container">
										<div class="grid-area">
											<div class="grid-cell">
												<div class="industryCard">
													<div class="industryCard-grid">
														<div class="industryCard-grid-icon _figure">
															<svg class="icon-svg">
																<use xlink:href="#icon-factory"></use>
															</svg>
														</div>
														<div class="industryCard-grid-title">Промышленность высоких переделов</div>
													</div>
												</div>
											</div>
											<div class="grid-cell">
												<ul class="customList">
													<li class="customList-item">Микроэлектроника</li>
													<li class="customList-item">Радиоэлектроника</li>
													<li class="customList-item">Приборостроение</li>
													<li class="customList-item">Энергетическое машиностроение</li>
													<li class="customList-item">Станкостроение</li>
												</ul>
												<a href="./industries-finance.html" th:href="@{/industries-finance.html}" class="financeIndustry-moreLink">
													Еще 26
													<svg class="icon-svg"  style="width: 0.9em; height: 0.9em">
														<use xlink:href="#icon-arrow" fill="#a1a1a1"></use>
													</svg>
												</a>
											</div>
											<div class="grid-cell"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell _lg-6 _xl-4">
								<div class="financeIndustry-grid-item card">
									<div class="grid-container">
										<div class="grid-area">
											<div class="grid-cell">
												<div class="industryCard">
													<div class="industryCard-grid">
														<div class="industryCard-grid-icon _figure">
															<svg class="icon-svg">
																<use xlink:href="#icon-chip"></use>
															</svg>
														</div>
														<div class="industryCard-grid-title">Высокотехнологичная сфера</div>
													</div>
												</div>
											</div>
											<div class="grid-cell">
												<ul class="customList">
													<li class="customList-item">Блокчейн</li>
													<li class="customList-item">Инфраструктура для новых технологий</li>
													<li class="customList-item">Частный капитал и космические технологии</li>
													<li class="customList-item">НБИКС-Технологии</li>
													<li class="customList-item">MARKETPLACE B2B</li>
												</ul>
											</div>
											<div class="grid-cell"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell _lg-6 _xl-4">
								<div class="financeIndustry-grid-item card">
									<div class="grid-container">
										<div class="grid-area">
											<div class="grid-cell">
												<div class="industryCard">
													<div class="industryCard-grid">
														<div class="industryCard-grid-icon _figure">
															<svg class="icon-svg">
																<use xlink:href="#icon-bridge"></use>
															</svg>
														</div>
														<div class="industryCard-grid-title">Инфраструктура</div>
													</div>
												</div>
											</div>
											<div class="grid-cell">
												<ul class="customList">
													<li class="customList-item">Транспортная инфраструктура</li>
													<li class="customList-item">Энергетическая инфраструктура</li>
													<li class="customList-item">Инфраструктура для промышленных площадок</li>
													<li class="customList-item">Высокотехнологичная инфраструктура здравоохранения</li>
												</ul>
											</div>
											<div class="grid-cell"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell _lg-6 _xl-4">
								<div class="financeIndustry-grid-item card">
									<div class="grid-container">
										<div class="grid-area">
											<div class="grid-cell">
												<div class="industryCard">
													<div class="industryCard-grid">
														<div class="industryCard-grid-icon _figure">
															<svg class="icon-svg">
																<use xlink:href="#icon-military"></use>
															</svg>
														</div>
														<div class="industryCard-grid-title">Конверсия ОПК</div>
													</div>
												</div>
											</div>
											<div class="grid-cell">
												<ul class="customList">
													<li class="customList-item">Новое производство, обновление, экспорт</li>
												</ul>
											</div>
											<div class="grid-cell"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell _lg-6 _xl-4">
								<div class="financeIndustry-grid-item card">
									<div class="grid-container">
										<div class="grid-area">
											<div class="grid-cell">
												<div class="industryCard">
													<div class="industryCard-grid">
														<div class="industryCard-grid-icon _figure">
															<svg class="icon-svg">
																<use xlink:href="#icon-export"></use>
															</svg>
														</div>
														<div class="industryCard-grid-title">Поддержка экспорта</div>
													</div>
												</div>
											</div>
											<div class="grid-cell">
												<ul class="customList">
													<li class="customList-item">Поставка высокотехнологичной продукции за рубеж</li>
												</ul>
											</div>
											<div class="grid-cell"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
				<h2 id="projects" class="page-title __textCenter">Истории успеха</h2>
				<div class="space _large"></div>
				<div class="space _medium"></div>
				<!--@@include = ../components/storiesSlider/storiesSlider.html-->
				<div class="space _massive"></div>
				<div class="card mediaBlock mediaBlockHorizontal">
					<div class="mediaBlock-image" style="background-image: url('./img/static/mediaBlock-img-4.jpg');"></div>
					<div class="mediaBlock-body">
						<h3 class="mediaBlock-title">
							Меры государственной поддержки
						</h3>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
			<!--@@include = ../components/mainTabs/mainTabs.html-->
			<div class="space _massive"></div>
			<div class="grid-container _main __hidden-sm-down">
				<div class="map">
					<div class="map-title">
						<h2 id="regions" class="page-title __textCenter">Регионы инвестирования</h2>
					</div>
					<div id="vmap" class="map-object"></div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
	<div class="page-footer">
		<!--@@include = ../components/footer/footer.html-->
	</div>
</div>
