<!-- @@master = layout/html.html {"pageMod": "", "root": "."} -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../components/form/form-inputFiles.html-->
</script>

<div class="page-wrapper">
    <div class="page-header">
        <!--@@include = ../components/header/header.html-->
    </div>
    <div class="page-content">
        <div class="grid-container _main" id="managerList">
            <div class="space _large"></div>
            <div class="grid-area __textCenter">
                <div class="grid-cell">
                    <div class="page-backLink">
                        <a href="./" th:href="@{/}" class="link _inherit _transparent">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                            На главную
                        </a>
                    </div>
                </div>
                <div class="grid-cell">
                    <h2 class="page-title _white _small">Региональные менеджеры</h2>
                </div>
            </div>
            <div class="space _large"></div>
            <div class="grid-area _center">
                <div class="grid-cell _lg-10 _xxl-9">
                    <div class="card">
                        <div class="grid-container _large">
                            <div class="space _large"></div>
                            <div class="grid-area">
                                <div class="grid-cell _md-5">
                                    <div class="form-field">
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid _rounded">
                                                <input type="search" placeholder="Имя и фамилия менеджера" v-model="inputs.search"/>
                                            </div>
                                            <div class="form-field-input-suffix">
                                                <a class="link _inherit" href="#">
                                                    <svg class="icon-svg">
                                                        <use xlink:href="#icon-search"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-cell _md-7">
                                    <div class="grid-area">
                                        <div class="grid-cell _md-6">
                                            <div class="form-field">
                                                <div class="form-field-input">
                                                    <div class="form-inputSelect _fluid _rounded">
                                                        <select v-model="inputs.district">
                                                            <option value="" selected="selected">Округ</option>
                                                            <option v-for="item, key in districtsFlat" :value="key">{{item}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-cell _md-6">
                                            <div class="form-field">
                                                <div class="form-field-input">
                                                    <div class="form-inputSelect _fluid _rounded" v-if="allowedRegionsFlat">
                                                        <select v-model="inputs.region">
                                                            <option value="" selected="selected">Регион</option>
                                                            <option v-for="item, key in allowedRegionsFlat" :value="key">{{item}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space _large"></div>
                            <div class="grid-area">
                                <div class="grid-cell">
                                    <div class="grid-area" style="align-items: center;" v-for="manager in managersPaginated">
                                        <div class="grid-cell _md-5">
                                            <div class="profile _small">
                                                <div class="profile-grid">
                                                    <div class="profile-grid-item _image">
                                                        <div class="profile-image" v-bind:style="'background-image: url('+manager.image+')'"></div>
                                                    </div>
                                                    <div class="profile-grid-item _title">
                                                        <div class="profile-title">
                                                            {{manager.first_name}} {{manager.last_name}}
                                                        </div>
                                                        <div class="profile-body-rating">
                                                            <div class="profile-body-rating-top" :style="{ width: manager.rating + '%' }" ><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                            <div class="profile-body-rating-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-cell _md-7">
                                            <div class="profile-body-location _indent">
                                                <div class="grid-area">
                                                    <div class="grid-cell _md-6">
                                                        <div class="profile-body-location-region">{{getDistrictName(manager.district)}}</div>
                                                    </div>
                                                    <div class="grid-cell _md-6">
                                                        <div class="profile-body-location-city">{{getRegionName(manager.region)}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="space _large"></div>

                            <div class="grid-area">
                                <div class="grid-cell __textCenter">
                                    <div class="form-field">
                                        <div class="form-field-input d_ib">
                                            <button @click.prevent="setPageCurrent(pageCurrent - 1)" :class="['form-button', '_rounded', '_blue', pageCurrent > 1 ? '' : '_disabled']">Назад</button>
                                        </div>
                                        <div class="form-field-input d_ib">
                                            <button @click.prevent="setPageCurrent(pageCurrent + 1)" :class="['form-button', '_rounded', '_blue', pageCurrent < pageCount ? '' : '_disabled']">Вперед</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="space _large"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _massive"></div>
        </div>
    </div>
    <div class="page-footer">
        <!--@@include = ../components/footer/footer.html-->
    </div>
</div>
