<!-- @@master = layout/html.html {"pageMod": "", "root": "."} -->

<!-- @@block = body -->
<div class="page-wrapper">
	<div class="page-header">
		<!--@@include = ../components/header/header.html-->
	</div>
	<div class="page-content">
		<div class="financingMap" id="financingMapPage" :class="{'-loading':loading}">
			<div class="space _large"></div>
			<div class="grid-container _main">
				<div class="grid-area">

					<!-- Map and navigaion -->
					<div class="grid-cell _md-10 _md-offset-1 __textCenter">
						<a href="./" class="financingMap-link">
							<svg class="icon-svg">
								<use xlink:href="#icon-angle"></use>
							</svg>
							На главную
						</a>
						<div class="space _small"></div>
						<div class="financingMap-map">
							<h2 class="financingMap-title __textCenter" v-cloak="">
								<strong>Карта финансирования</strong><br />
								<span v-show="mapMode === 'region' &amp;&amp; selectedAreaName == null">Выберите регион</span>
								<span v-show="mapMode === 'district' &amp;&amp; selectedAreaName == null">Выберите округ</span>
								<span v-show="mapMode === 'all'">Вся Россия</span>
								<span v-show="selectedAreaName">{{ selectedAreaName }}</span>
							</h2>

							<!-- Map is rendering here -->
							<div id="vmapBlue" class="financingMap-map-object"></div>
						</div>

						<!-- Navigation for map -->
						<div class="financingMap-nav">
							<a href="#" class="financingMap-nav-link"
							   v-bind:class="{ '-active': mapMode === 'all' }"
							   v-on:click.prevent="changeMapMode('all')">
								Вся Россия
							</a>
							<div class="financingMap-nav-divider"></div>
							<a href="#" class="financingMap-nav-link"
							   v-bind:class="{ '-active': mapMode === 'district' }"
							   v-on:click.prevent="changeMapMode('district')">
								Округ
							</a>
							<div class="financingMap-nav-divider"></div>
							<a href="#" class="financingMap-nav-link"
							   v-bind:class="{ '-active': mapMode === 'region' }"
							   v-on:click.prevent="changeMapMode('region')">
								Регион
							</a>
						</div>
					</div>

					<!-- Bottom area with 3 blocks (two blocks with charts and one block with info about managers) -->
					<!-- Data for these blocks depend on the area selected on the map -->
					<div class="grid-cell" v-cloak="">
						<div class="space _medium"></div>
						<div class="grid-area">

							<!-- First block with chart. Info about appeals ("Обращения") -->
							<div class="grid-cell _md-4">
								<div class="card financingMap-card">
									<div class="grid-container">
										<div class="space _medium"></div>
										<div class="financingMap-card-head">
											<div class="financingMap-card-head-title">Обращения</div>
											<div v-show="selectedAreaData"
												 class="financingMap-card-head-info">
												Всего обращений {{ appealsCount }}
											</div>
										</div>
										<div class="space _medium"></div>
										<div v-if="selectedArea &amp;&amp; !selectedAreaData">
											Нет данных по выделенной области
										</div>
										<div v-if="!selectedArea">
											Выберите объект на карте, чтобы просмотреть информацию
										</div>
										<!-- The chart itself -->
										<div class="financingMap-barChart" v-if="selectedAreaData">
											<div v-for="(appealsValue, index) in selectedAreaData.appeals"
												 v-bind:style="{ width: Math.round(appealsValue / appealsCount * 100) + '%', background: chartColors[index] }">
												{{ Math.round(appealsValue / appealsCount * 100) + '%' }}
											</div>
										</div>
										<!-- Legend for the chart -->
										<div class="financingMap-legend" v-if="selectedAreaData">
											<div class="financingMap-legend-item"
												 v-for="(appealsValue, index) in selectedAreaData.appeals">
												<div class="financingMap-legend-item-square"
													 v-bind:style="{ background: chartColors[index] }">
												</div>
												<div class="financingMap-legend-item-name">
													{{ dataLabels.appeals[index] }}
												</div>
												<div class="financingMap-legend-item-value">
													{{ appealsValue }}
												</div>
											</div>
										</div>
										<div class="space _medium"></div>
									</div>
								</div>
							</div>

							<!-- Second block with chart (by chartJS). Info about financing ("Направления финансирования") -->
							<div class="grid-cell _md-4">
								<div class="card financingMap-card">
									<div class="grid-container">
										<div class="space _medium"></div>
										<div class="financingMap-card-head">
											<div class="financingMap-card-head-title">Направления финансирования</div>
										</div>
										<div class="space _medium"></div>

										<div style="height: 90px;" v-show="selectedAreaData">
											<canvas id="financingChart"></canvas>
										</div>
										<div class="financingMap-legend _compact" v-if="selectedAreaData">
											<div class="financingMap-legend-item _compact"
												 v-for="(financingValue, index) in selectedAreaData.financing">
												<div class="financingMap-legend-item-square"
													 v-bind:style="{ background: chartColors[index] }">
												</div>
												<div class="financingMap-legend-item-name"
													 v-bind:title="dataLabels.financing[index]">
													{{ dataLabels.financing[index] }}
												</div>
											</div>
										</div>
										<div v-if="selectedArea &amp;&amp; !selectedAreaData">
											Нет данных по выделенной области
										</div>
										<div v-if="!selectedArea">
											Выберите объект на карте, чтобы просмотреть информацию
										</div>
										<div class="space _medium"></div>
									</div>
								</div>
							</div>

							<!-- Third block with info about managers for selected area (on map) -->
							<div class="grid-cell _md-4">
								<div class="card financingMap-card">
									<div class="grid-container">
										<div class="space _medium"></div>
										<div class="financingMap-card-head">
											<div class="financingMap-card-head-title">
                                                Региональные менеджеры
                                            </div>
											<div class="financingMap-card-head-info"
												 v-if="mapMode !== 'all' &amp;&amp; selectedAreaData">
												{{ selectedAreaData.managers.length }}
											</div>
										</div>
										<div class="space _medium"></div>
										<div v-if="selectedArea &amp;&amp; !selectedAreaData">
											Нет данных по выделенной области
										</div>
										<div v-if="!selectedArea">
											Выберите объект на карте, чтобы просмотреть информацию
										</div>
										<div v-if="mapMode === 'all' &amp;&amp; selectedAreaData">
											<div class="financingMap-managers-info">
												<span class="financingMap-managers-info-title">
													{{ selectedAreaData.managers.length }}
												</span>
												<span class="financingMap-managers-info-light">чел.</span>
											</div>
											<div class="space _large"></div>
											<div class="grid-cell __textCenter">
													<a class="financingMap-managers-button" href="./manager-list.html">
															Список менеджеров
													</a>
											</div>
										</div>
										<div v-if="selectedAreaData &amp;&amp; mapMode !== 'all'"
											 class="financingMap-managers-list">
											<div class="financingMap-managers-list-item"
												 v-for="manager in selectedAreaData.managers"
												 v-bind:class="{ '-compact': mapMode === 'district' }">
												<div class="financingMap-managers-list-item-img"
													 v-bind:style="{ 'background-image': 'url(' + getManagerPhoto(manager) + ')' }">
												</div>
												<div class="financingMap-managers-list-item-body">
													<div class="financingMap-managers-list-item-name">
														{{ manager.name }}
													</div>
													<div class="profile-body-rating">
														<div class="profile-body-rating-top" :style="{ width: manager.rating + '%' }" ><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
														<div class="profile-body-rating-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
													</div>
												</div>
												

												<div>
													
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
	<div class="page-footer">
		<!--@@include = ../components/footer/footer.html-->
	</div>
</div>
