<!-- @@master = layout/html.html {"pageMod": "_gray", "root": "."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
  <div class="page-header">
    <!--@@include = ../components/office/office-header-final.html-->
  </div>
  <div class="page-content">
    <!--@@include = ../components/office/office-sideMenu-final.html-->
    <div class="office-content">
      <div class="grid-container">
        <div class="space _medium"></div>
        <div class="__hidden-lg-up">
          <div class="office-breadCrumbs">
            <span><a href="#" class="link">Заявки</a></span>
            <span>Экспресс-оценка проекта</span>
          </div>
          <div class="space _medium"></div>
        </div>
        <div class="grid-area">
          <div class="grid-cell _xl-5 _xxl-4">

            <div class="card">
              <div class="grid-container">
                <div class="space _large"></div>

                <div class="office-cardAssessment-content">
                  <!--@@include = ../components/office/office-cardAssessment-content/result.html-->
                </div>

                <div class="space _medium"></div>
              </div>
            </div>

          </div>
          <div class="grid-cell _xl-7 _xxl-8">
            <div class="card">
              <div class="grid-container _large">
                <div class="space _large"></div>

                <div class="office-title" th:text="${assessment.nomination}">
                  Проект “Развитие трубопрокатной промышленности в России”
                </div>

                <div class="space _large"></div>

                <div class="office-sectionTitle">
                  Заявитель
                </div>
                <div class="space _large"></div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">ФИО:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="' ' + ${assessment.last_name} + ' ' +  ${assessment.first_name} + ' ' +  ${assessment.mid_name}">
                    Иванов Иван Иванович
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Номер телефона:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${assessment.phone_number}">
                    +7 923 181-66-66
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">E-mail:</div>
                  </div>
                  <div class="grid-cell _sm-7">
                    <a class="link _underline" href="#" th:href="@{mailto:{email}(email=${assessment.email1})}" th:text="${assessment.email1}">ivanov@gmail.com</a>
                  </div>
                </div>
                <div class="space _large"></div>

                <div class="office-sectionTitle">
                  Юр. лицо
                </div>
                <div class="space _large"></div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Вид лица:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="' ' + ${assessment.face_type} + ' - ' +  ${assessment.resident}? 'резидент' : 'не резидент'">
                    Юридическое лицо – резидент РФ
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Фирменное наименование:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${assessment.firm_name_rus}">
                    Проект “Развитие трубопрокатной промышленности в России”
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Место гос.регистрации юр. лица:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${assessment.registration_address}">
                    Россия, г. Москва, ул. Ленина, д.15, офис 3
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Адрес фактического местонахождения лица:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${assessment.factual_address}">
                    Россия, г. Москва, Тверской бульвар, д.3, офис 505
                  </div>
                </div>
                <div class="space _large"></div>

                <div class="office-sectionTitle">
                  О проекте
                </div>
                <div class="space _large"></div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Цель проекта:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${assessment.project_target}">
                    Наладить производство трубопрокатных изделий
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Ожидаемый результат:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${assessment.expected_result}">
                    Увеличение объема поставки труб
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Тип проекта:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${assessment.project_type}">
                    Строительство с нуля
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Краткое описание сути проекта:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${assessment.project_description}">
                    Мы хотим реализовать...
                  </div>
                </div>
                <div class="space _large"></div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Место реализации проекта:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${assessment.sale_place}">
                    Россия, Москва
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Отрасль:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${assessment.project_sectors}">
                    Микроэлектроника
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Общая стоимость:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${#numbers.formatInteger(assessment.project_cost,1)}">
                    10 000 000 000 руб.
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Срок окупаемости:</div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${paybackTime}">
                    10 лет
                  </div>
                </div>
                <div class="grid-area">
                  <div class="grid-cell _sm-5">
                    <div class="form-field-label">Объем запрашиваемого финансирования:
                    </div>
                  </div>
                  <div class="grid-cell _sm-7" th:text="${#numbers.formatInteger(assessment.financing_request_amount,1)}">
                    8 000 000 000 руб.
                  </div>
                </div>
                <div class="space _large"></div>

                <div class="space _medium"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="space _medium"></div>
      </div>
    </div>
  </div>
</div>