<!-- @@master = layout/html.html {"pageMod": "_gray", "root": "."} -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../components/form/form-inputFiles.html-->
</script>

<div class="page-wrapper">
    <div class="page-header">
        <!--@@include = ../components/header/header.html-->
    </div>
    <div class="page-content">
        <div class="grid-container _main" id="projectHistory" v-cloak="">
            <div class="space _large"></div>
            <div class="grid-area __textCenter">
                <div class="grid-cell">
                    <div class="page-backLink _gray">
                        <a href="./" class="link _inherit">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-arrow"></use>
                            </svg>
                            На главную
                        </a>
                    </div>
                </div>
                <div class="grid-cell">
                    <h2 class="page-title _small">Истории успеха</h2>
                </div>
            </div>
            <div class="space _large"></div>
            <div class="grid-area">
                <div class="grid-cell">
                    <div class="grid-area">
                        <div class="grid-cell _sm-4 __textCenter">
                            <div class="form-field">
                                <div class="form-field-input">
                                    <button @click="clearFilter" :class="['form-button', '_rounded', '_long', isActiveFilter ? '' : '_disabled']">Все проекты</button>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell _sm-4 __textRight">
                            <div class="form-field">
                                <div class="form-field-input">
                                    <div class="form-inputSelect _fluid _rounded">
                                        <select v-model="inputs.district">
                                            <option value="" selected="selected">Округ</option>
                                            <option v-for="item, key in districtsFlat" :value="key">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell _sm-4">
                            <div class="form-field">
                                <div class="form-field-input">
                                    <div class="form-inputSelect _fluid _rounded">
                                        <select v-model="inputs.region">
                                            <option value="" selected="selected">Регион</option>
                                            <option v-for="item, key in allowedRegionsFlat" :value="key">{{item}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
            <div class="grid-area _large">
                <div class="grid-cell" v-for="project in projectsPaginated">
                    <div class="projectCard">
                        <div class="projectCard-container card">
                            <div class="projectCard-image">
                                <div class="projectCard-image-back" v-bind:style="{'background-image': 'url(\''+project.image+'\')'}"></div>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     xmlns:xlink="http://www.w3.org/1999/xlink"
                                     class="projectCard-image-backSvg">
                                    <filter id="svgBlurFilter">
                                        <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
                                    </filter>
                                    <image v-bind:xlink:href="project.image" x="0" y="0"
                                           width="100%" height="100%"
                                           filter="url(#svgBlurFilter)" />
                                </svg>
                                <div class="projectCard-image-inner" v-bind:style="{'background-image': 'url(\''+project.image+'\')'}"></div>
                            </div>
                            <div class="projectCard-body">
                                <div class="projectCard-title">
                                    {{project.title}}
                                </div>
                                <div class="projectCard-data">
                                    <div class="grid-area">
                                        <div class="grid-cell _md-4">
                                            <div class="form-field _static">
                                                <div class="form-field-label">
                                                    Стоимость проекта
                                                </div>
                                                <div class="form-field-static">
                                                    {{project.cost}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-cell _md-4">
                                            <div class="form-field _static">
                                                <div class="form-field-label">
                                                    Объём участия ВЭБ
                                                </div>
                                                <div class="form-field-static">
                                                    {{project.participationScope}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-cell _md-4">
                                            <div class="form-field _static">
                                                <div class="form-field-label">
                                                    Отрасль
                                                </div>
                                                <div class="form-field-static">
                                                    {{project.industry}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-cell _md-6">
                                            <div class="form-field _static">
                                                <div class="form-field-label">
                                                    Место реализации проекта
                                                </div>
                                                <div class="form-field-static">
                                                    {{getRegionName(project.region)}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="projectCard-text">
                                    <p>
                                        {{project.desc}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>

            <div class="grid-area">
                <div class="grid-cell __textCenter">
                    <div class="navigator _rounded">
                        <button @click.prevent="setPageCurrent(pageCurrent - 1)" :class="['icon-left-open-big', 'page-prev', pageCurrent > 1 ? '' : '_disabled']"></button>

                        <div class="wrap-page-dot" v-if="pageCount > 0">

                            <button v-for="n in pageCount" @click.prevent="setPageCurrent(n)" :class="['page-dot', n == pageCurrent ? '_disabled _active' : '']"></button>
                        </div>

                        <button @click.prevent="setPageCurrent(pageCurrent + 1)" :class="['icon-right-open-big', 'page-next', pageCurrent < pageCount ? '' : '_disabled']"></button>
                    </div>
                </div>
            </div>
            <div class="space _massive"></div>
        </div>
    </div>
    <div class="page-footer">
        <!--@@include = ../components/footer/footer.html-->
    </div>
</div>
