<!-- @@master = layout/html.html {"pageMod": "", "root": "."} -->

<!-- @@block = body -->
<div class="page-wrapper">
    <div class="page-header">
        <!--@@include = ../components/header/header.html-->
    </div>
    <div class="page-content">
        <div class="grid-container _main">
            <div class="space _large"></div>
            <div class="grid-area _center">
                <div class="grid-cell _sm-10 _md-8 _lg-6">
                    <div class="card">
                        <div class="space _massive"></div>
                        <div class="__textCenter">
                            <svg class="icon-svg">
                                <use xlink:href="#icon-success"></use>
                            </svg>
                            <div class="space _large"></div>
                            <div class="grid-container _sm-10 _sm-offset-1">
                                <div class="formCard-title">
                                    Пароль успешно изменен
                                </div>
                            </div>
                            <div class="space _large"></div>
                            <div class="formCard-description">
                                Вы можете войти в личный кабинет
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-container _sm-10 _sm-offset-1 _md-8 _md-offset-2 _large / __textCenter">
                            <button type="submit" class="form-button _primary _fluid">Войти</button>
                        </div>
                        <div class="space _massive"></div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
        </div>
    </div>
    <div class="page-footer">
        <!--@@include = ../components/footer/footer.html-->
    </div>
</div>
