<!-- @@master = layout/html.html {"pageMod": "", "root": "."} -->

<!-- @@block = body -->
<div class="page-wrapper">
    <div class="page-header">
        <!--@@include = ../components/header/header.html-->
    </div>
    <div class="page-content">
        <div class="grid-container _main">
            <div class="space _large"></div>
            <div class="grid-area _center">
                <div class="grid-cell _sm-10 _md-8 _lg-6">
                    <div class="card">
                        <div class="space _medium"></div>
                        <div class="space _large"></div>
                        <h2 class="page-title _small __textCenter">Восстановление пароля</h2>
                        <div class="space _large"></div>
                        <div class="grid-container _sm-10 _sm-offset-1 _md-8 _md-offset-2 _large">
                            <form action="/login" method="POST">

                                <div> <!-- Form error message -->
                                    <div class="form-message _clear -error __textCenter">
                                        <strong>Пароли не совпадают</strong>
                                    </div>
                                    <div class="space _large"></div>
                                </div>

                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid -error">
                                                    <input type="password" name="password" placeholder="Пароль"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid -error">
                                                    <input type="password" name="password" placeholder="Повтор пароля"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <button type="submit" class="form-button _primary _fluid">Сохранить</button>
                                    </div>
                                </div>
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            </form>
                        </div>
                        <div class="space _large"></div>
                        <div class="space _medium"></div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
        </div>
    </div>
    <div class="page-footer">
        <!--@@include = ../components/footer/footer.html-->
    </div>
</div>
