<!-- @@master = layout/html.html {"pageMod": "", "root": "."} -->

<!-- @@block = body -->
<div class="page-wrapper">
    <div class="page-header">
        <!--@@include = ../components/header/header.html-->
    </div>
    <div class="page-content">
        <div class="grid-container _main">
            <div class="space _large"></div>
            <div class="grid-area _center">
                <div class="grid-cell _sm-10 _md-8 _lg-6">
                    <div class="card">
                        <div class="space _medium"></div>
                        <div class="space _large"></div>
                        <h2 class="page-title _small __textCenter">Запрос отправлен</h2>
                        <div class="space _large"></div>
                        <div class="grid-container _sm-10 _sm-offset-1 _md-8 _md-offset-2 _large / __textCenter / typ-block">
                            На электронную почту <strong th:text="${login}">ivanov@mail.com</strong> отправлена инструкция по восстановлению пароля
                        </div>
                        <div class="space _large"></div>
                        <div class="space _medium"></div>
                        <div class="__textCenter">
                            <a href="./" class="link _underline">Назад</a>
                        </div>
                        <div class="space _large"></div>
                        <div class="space _medium"></div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
        </div>
    </div>
    <div class="page-footer">
        <!--@@include = ../components/footer/footer.html-->
    </div>
</div>
