<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<!--@@include = ../../../components/form/form-cryptopro-header.html-->
<script type="text/x-template" id="form-inputFiles">
	<!--@@include = ../../../components/form/form-inputFiles.html-->
</script>
<!--@@include = ../../../components/form/form-cryptopro-functions.html -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проекта "Развитие +"</a></span>
						<span>Бизнес-модель проекта</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container _large">
								<div class="space _large"></div>
                                <form th:action="@{/private-office/finance-request/business-model}"
                                      th:object="${businessModel}"
                                      method="post"
                                      enctype="multipart/form-data"
                                      v-cloak=""
                                      class="formCard"
                                      style="box-shadow: none"
                                      id="projectBusinessModel">
									<div class="grid-area _alignCenter">
										<div class="grid-cell _md-3">
											<div class="formCard-step __textCenter-lg-up">
												<span>5</span>/5
											</div>
										</div>
										<div class="grid-cell _md-9">
											<div class="formCard-title">
												Финансовая модель
											</div>
										</div>
									</div>
									<div class="grid-area">
										<div class="grid-cell _md-6 _md-offset-3">
											<div class="form-field">
												<a class="link _underline" href="http://veb.ru/strategy/invest/#doc" >
													Ознакомиться с требованиями к описанию финансовой модели
												</a>
												<div class="form-field-message -default">PDF, 2 мб</div>
											</div>
											<div class="space _medium"></div>
											<div class="space _medium"></div>
											<div class="formCard-subtitle __large">
												Прикрепить файл
											</div>
											<div class="space _medium"></div>
											<div class="grid-area">
												<div class="grid-cell _md-8">
													<div class="form-field-input">
														<div class="grid-area _small">
															<div class="grid-cell">
																<form-input-files name="files[]" v-bind:files="inputs.files" v-on:change="inputs.files = arguments[0]"></form-input-files>
															</div>
															<div class="grid-cell">
																<div class="form-field-message -default">
																	Доступны форматы: doc, xls, pdf, png, jpeg не более 10 мб
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="space _massive"></div>
									<div class="grid-area">
										<div class="grid-cell _md-9">
											<div class="grid-area">
												<div class="grid-cell __textRight">
														<input type="submit" name="back" class="form-button _link" value="Назад" />
														<input type="submit" name="next" class="form-button _primary _long" value="Далее" />
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="space _massive"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _medium"></div>
			</div>
		</div>
	</div>
</div>
