<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
        <link rel="stylesheet" href="../../css/main.css" />
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _medium"></div>
                <div class="__hidden-lg-up">
                    <div class="office-breadCrumbs">
                        <span><a href="#" class="link">Проекта "Развитие +"</a></span>
                        <span>Бизнес-модель проекта</span>
                    </div>
                    <div class="space _medium"></div>
                </div>
                <div class="grid-area">
                    <div class="grid-cell">
                        <div class="card">
                            <div class="grid-container">
                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <form class="formCard"
                                              th:action="@{/private-office/finance-request/business-model}"
                                              th:object="${businessModel}"
                                              method="post"
                                              v-cloak=""
                                              enctype="multipart/form-data"
                                              id="officeInitiatorInfo"
                                              style="box-shadow: none">
                                            <div class="grid-container _large">
                                                <div class="space _massive"></div>
                                                <div class="formCard-header">
                                                    <div class="grid-area">
                                                        <div class="grid-cell">
                                                            <div class="grid-area">
                                                                <div class="grid-cell _md-2 _md-offset-1">
                                                                    <div class="formCard-icon">
                                                                        <svg class="icon-svg">
																			<use xlink:href="#icon-success"></use>
																		</svg>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell _md-8">
                                                                    <div class="formCard-title">
                                                                        Все данные успешно сохранены
                                                                    </div>
                                                                    <div class="grid-cell" th:each="field : ${fields}">
                                                                        <p th:text="${field}">
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="grid-cell">
                                                            <div class="grid-container _md-8 _md-offset-3 _tiny">
                                                                <div class="formCard-subtitle">
                                                                    Вы можете отправить запрос на финансирование
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="space _large"></div>
                                                <div class="space _small"></div>
                                                <div class="formCard-footer">
                                                    <div class="grid-area">
                                                        <div class="grid-cell _md-4"></div>
                                                        <div class="grid-cell _md-8">
                                                            <div class="grid-area">
                                                                <div class="grid-cell _md-8">
                                                                    <input type="submit" name="back" class="form-button _link" value="Назад" />
                                                                    <input type="submit" name="next" class="form-button _primary _long" value="Продолжить" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space _massive"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
