<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
   <div class="page-header">
      <!--@@include = ../../../components/office/office-header-final.html-->
   </div>
   <div class="page-content">
      <!--@@include = ../../../components/office/office-sideMenu-final.html-->
      <div class="office-content">
         <div class="grid-container">
            <div class="space _medium"></div>
            <div class="__hidden-lg-up">
               <div class="office-breadCrumbs">
                  <span><a href="#" class="link">Проекта "Развитие +"</a></span>
                  <span>Бизнес-модель проекта</span>
               </div>
               <div class="space _medium"></div>
            </div>
            <div class="grid-area">
               <div class="grid-cell">
                  <div class="card">
                     <div class="grid-container _large">
                        <div class="space _large"></div>
                         <form action="./business-model-1.html"
                               th:action="@{/private-office/finance-request/business-model}"
                               th:object="${businessModel}"
                               method="post"
                               enctype="multipart/form-data"
                               class="formCard formCard-resume"
                               style="box-shadow: none"
                               id="projectBusinessModel"
                               ref="form"
                               v-cloak="" >
                           <div class="grid-area _alignCenter">
                              <div class="grid-cell _md-3">
                                 <div class="formCard-step __textCenter-lg-up">
                                    <span>1</span>/5
                                 </div>
                              </div>
                              <div class="grid-cell _md-9">
                                 <div class="formCard-title">
                                    Описание проекта
                                 </div>
                              </div>
                           </div>
                           <div class="grid-area">
                              <div class="grid-cell _md-9 _md-offset-3">
                                 <div class="grid-area _large">

                                    <div class="grid-cell _sm-8">
                                       <div class="form-field">
                                          <div class="form-field-label">
                                             Целесообразность реализации
                                          </div>
                                          <div class="form-field-input">
                                             <div class="form-inputTextarea _fluid">
                                                <textarea th:field="*{projectProjectAdvisabilityRealization}" placeholder="Обоснование в свободной форме" name="projectProjectAdvisabilityRealization" v-validate="'required'"
                                                :class="{'input': true, '-error': errors.has('projectProjectAdvisabilityRealization') }"
                                                data-vv-as=" "></textarea>
                                              <span v-show="errors.has('projectProjectAdvisabilityRealization')" class="form-field-message -error">
                                                  {{ errors.first('projectProjectAdvisabilityRealization') }}
                                              </span>
                                             </div>
                                          </div>
                                          <div class="form-field-message -error __hidden"></div>
                                       </div>
                                    </div>

                                    <div class="grid-cell">
                                       <div class="grid-area">
                                          <div class="grid-cell _sm-8">
                                             <div class="form-field">
                                                <div class="form-field-label">
                                                   Основные качественные характеристики продукта (продуктовой линейки)
                                                </div>
                                                <div class="form-field-input">
                                                   <div class="form-inputTextarea _fluid">
                                                      <textarea th:field="*{projectProductMainQualitativeCharacteristics}" placeholder="Анализ полезности для потребителей (в том числе указать целевую аудиторию)" name="projectProductMainQualitativeCharacteristics" v-validate="'required'"
                                                      :class="{'input': true, '-error': errors.has('projectProductMainQualitativeCharacteristics') }"
                                                      data-vv-as=" "></textarea>
                                                    <span v-show="errors.has('projectProductMainQualitativeCharacteristics')" class="form-field-message -error">
                                                        {{ errors.first('projectProductMainQualitativeCharacteristics') }}
                                                    </span>
                                                   </div>
                                                </div>
                                                <div class="form-field-message -error __hidden"></div>
                                             </div>
                                          </div>
                                          <div class="grid-cell _sm-4">
                                             <div class="form-field-message -default">
                                             </div>
                                          </div>
                                       </div>
                                    </div>

                                    <div class="grid-cell _sm-8">
                                       <div class="form-field">
                                          <div class="form-field-label">
                                             Предполагаемые условия поставки и оплаты
                                          </div>
                                          <div class="form-field-input">
                                             <div class="form-inputTextarea _fluid">
                                                <textarea th:field="*{projectTermsDeliveryPaymentExpected}" placeholder="Опишите предполагаемые условия поставки и оплаты" name="projectTermsDeliveryPaymentExpected" v-validate="'required'"
                                                :class="{'input': true, '-error': errors.has('projectTermsDeliveryPaymentExpected') }"
                                                data-vv-as=" "></textarea>
                                              <span v-show="errors.has('projectTermsDeliveryPaymentExpected')" class="form-field-message -error">
                                                  {{ errors.first('projectTermsDeliveryPaymentExpected') }}
                                              </span>
                                             </div>
                                          </div>
                                          <div class="form-field-message -error __hidden"></div>
                                       </div>
                                    </div>
                                    <div class="grid-cell _sm-8">
                                       <div class="form-field">
                                          <div class="form-field-label">
                                             Предварительно согласованные или гарантируемые объемы закупок (портфель заказов)
                                          </div>
                                          <div class="form-field-input">
                                             <div class="form-inputTextarea _fluid">
                                                <textarea th:field="*{projectOrderBook}" placeholder="Укажите информацию о предварительно согласованных или гарантируемых объемах закупок (портфель заказов)" name="projectOrderBook" v-validate="'required'"
                                                :class="{'input': true, '-error': errors.has('projectOrderBook') }"
                                                data-vv-as=" "></textarea>
                                              <span v-show="errors.has('projectOrderBook')" class="form-field-message -error">
                                                  {{ errors.first('projectOrderBook') }}
                                              </span>
                                             </div>
                                          </div>
                                          <div class="form-field-message -error __hidden"></div>
                                       </div>
                                    </div>

                                    <div class="grid-cell">
                                       <div class="form-field">
                                          <div class="grid-area _tiny">
                                             <div class="grid-cell _sm-8">
                                                <div class="form-field-label">
                                                   Имеющиеся ресурсы у Получателя средств / Инициатора проекта для его реализации
                                                </div>
                                             </div>
                                             <div class="grid-cell">
                                                <div class="grid-area">
                                                   <div class="grid-cell _sm-8">
                                                      <div class="form-field-input">
                                                         <div class="form-inputTextarea _fluid">
                                                            <textarea th:field="*{projectRecipientAvailableResourcesEnum}" placeholder="Укажите имеющиеся ресурсы для реализации" name="projectRecipientAvailableResourcesEnum" v-validate="'required'"
                                                            :class="{'input': true, '-error': errors.has('projectRecipientAvailableResourcesEnum') }"
                                                            data-vv-as=" "></textarea>
                                                          <span v-show="errors.has('projectRecipientAvailableResourcesEnum')" class="form-field-message -error">
                                                              {{ errors.first('projectRecipientAvailableResourcesEnum') }}
                                                          </span>
                                                         </div>
                                                      </div>
                                                      <div class="form-field-message -error __hidden"></div>
                                                   </div>
                                                   <div class="grid-cell _sm-4">
                                                      <div class="form-field-message -default">
                                                         Производственная / строительная площадка, близость к рынку сбыта и сырья, наличие и качество прилегающей инфраструктуры и коммуникаций, в том числе складских помещений, степень изношенности здания и коммуникаций, наличие персонала для реализации проекта;
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>

                                    <div class="grid-cell">
                                       <div class="form-field">
                                          <div class="grid-area _tiny">
                                             <div class="grid-cell _sm-8">
                                                <div class="form-field-label">
                                                   Анализ проектных рисков
                                                </div>
                                             </div>
                                             <div class="grid-cell">
                                                <div class="grid-area">
                                                   <div class="grid-cell _sm-8">
                                                      <div class="form-field-input">
                                                         <div class="form-inputTextarea _fluid">
                                                            <textarea th:field="*{projectDesignRisksAnalysis}" placeholder="Укажите информацию о возможных рисках" name="projectDesignRisksAnalysis" v-validate="'required'"
                                                            :class="{'input': true, '-error': errors.has('projectDesignRisksAnalysis') }"
                                                            data-vv-as=" "></textarea>
                                                          <span v-show="errors.has('projectDesignRisksAnalysis')" class="form-field-message -error">
                                                              {{ errors.first('projectDesignRisksAnalysis') }}
                                                          </span>
                                                         </div>
                                                      </div>
                                                      <div class="form-field-message -error __hidden"></div>
                                                   </div>
                                                   <div class="grid-cell _sm-4">
                                                      <div class="form-field-message -default">
                                                         Описание основных рисков проекта, их оценка, вероятность реализации и способы управления
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>

                                 </div>
                              </div>
                           </div>
                           <div class="space _massive"></div>
                           <div class="grid-area">
                              <div class="grid-cell _md-9">
                                 <div class="grid-area">
                                    <div class="grid-cell __textRight">
                                            <input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
                                            <input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </form>
                        <div class="space _massive"></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="space _massive"></div>
         </div>
      </div>
   </div>
</div>
