<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<!--@@include = ../../../components/form/form-cryptopro-header.html-->
<script type="text/x-template" id="form-inputFiles">
	<!--@@include = ../../../components/form/form-inputFiles.html-->
</script>
<!--@@include = ../../../components/form/form-cryptopro-functions.html -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проекта "Развитие +"</a></span>
						<span>Бизнес-модель проекта</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container _large">
								<div class="space _large"></div>
                                <form action="./business-model-1.html"
                                      th:action="@{/private-office/finance-request/business-model}"
                                      th:object="${businessModel}"
                                      method="post"
                                      enctype="multipart/form-data"
                                      class="formCard formCard-resume"
                                      style="box-shadow: none"
                                      id="projectBusinessModel"
                                      ref="form"
                                      v-cloak="" >
									<div class="grid-area _alignCenter">
										<div class="grid-cell _md-3">
											<div class="formCard-step __textCenter-lg-up">
												<span>2</span>/5
											</div>
										</div>
										<div class="grid-cell _md-9">
											<div class="formCard-title">
												Анализ рынка проекта
											</div>
										</div>
									</div>
									<div class="grid-area">
										<div class="grid-cell _md-6 _md-offset-3">
											<div class="formCard-subtitle __massive">
												Требования для документа
											</div>
											<div class="space _medium"></div>
											<ol class="styled-ol">
												<li>Описание продукции и области применения продукции проекта;</li>
												<li>Целевая аудитория и основные покупатели (сегментация рынка по отраслям-потребителям, видам продукции, по крупнейшим заказчикам, по странам) продукции проекта;</li>
												<li>Сегменты рынка потребления (отрасли потребления) и тенденции развития/ особенности рынка продукции проекта;</li>
												<li>SWOT-анализ основных товаров-заменителей и перспективы их развития; Динамика рынка товаров-заменителей (в т.ч. объем рынка, баланс спроса/предложения, цены, экспорта/импорта) по данным сегментам в ретроспективе и прогнозном периоде;</li>
												<li>Описание и сравнение основных используемых производителями технологий производства продукции (производственная цепочка);</li>
												<li>Анализ рынка ключевого сырья для производства продукции проекта (в т.ч. анализ поставщиков/потребителей, динамика объема рынка, баланс спроса/предложения, цен, экспорта/импорта в ретроспективе и прогнозном периоде);</li>
												<li>Схема организации доставки сырья и определение оптимального размера «транспортного плеча» для доставки сырья;</li>
												<li>Историческая динамика и прогноз спроса на продукцию проекта, сезонность рынка и факторы, определяющие спрос (государственные (политические), социально-экономические, технологические);</li>
												<li>Историческая динамика и прогноз предложения на продукцию проекта с точки зрения производственная мощность и их загрузка у компаний-производителей, фактически/плановый объем реализации;</li>
												<li>Историческая динамика и прогноз баланса спроса/предложения, экспорта/импорта на рынке продукции проекта;</li>
												<li>Динамика цен (ретроспектива и прогнозный период) на продукцию проекта на рынке и факторы ее определяющие;</li>
												<li>SWOT-анализ крупнейших компаний-производителей продукции проекта, в т.ч. на международном и российском рынках (доля рынка, сбытовая и ценовая стратегия по продвижению продукции проекта на рынке, степень интеграции компании по цепочке создания добавочной стоимости и т.д.);</li>
												<li>Анализ транспортной и логистической инфраструктуры для доставки продукции Проекта на рынок, расчет оптимального/предельного размера «транспортного плеча» и расходов на транспортировку с учетом поддержания конкурентоспособной цены продукции проекта на целевом рынке сбыта;</li>
												<li>Расчет удельных (операционных) показателей по Проекту (в т.ч. в сравнении с компаниями-конкурентами): выручка, САРЕХ, ОРЕХ, САРЕХ+ОРЕХ в расчете на ед. продукции проекта, потребность в оборотном капитале в расчете на ед. продукции проекта, рентабельность по EBITDA в расчете на ед. продукции;</li>
												<li>Основные барьеры входа на рынок и степень конкуренции, факторы конкуренции на рынке (цена, качество, комплексность (дополнительный сервис, полная комплектация, ноу-хау и пр.);</li>
												<li>Анализ новых проектов в данной отрасли (если возможно) и имеющихся производственных мощностей (в т.ч. свободных) у (в т.ч. международных и российских) производителей продукции в сравнении с текущими и прогнозными потребностями (в т.ч. международного и российского) рынка;</li>
												<li>Анализ рисков и подготовка карты рисков проекта, стресс-тестирование рынка по высокочувствительным факторам риска и разработка предложений/рекомендаций по минимизации выявленных рисков проекта;</li>
												<li>Анализ сильных и слабых сторон, потенциальных возможностей и угроз проекта на рынках присутствия. Рекомендации по вариантам нейтрализации слабых и использовании сильных сторон Проекта.</li>
											</ol>
											<div class="space _medium"></div>
											<div class="formCard-subtitle __large">
												Прикрепить файл
											</div>
											<div class="space _medium"></div>
											<div class="grid-area">
												<div class="grid-cell _md-8">
													<div class="form-field-input">
														<div class="grid-area _small">
															<div class="grid-cell">
                                                                <form-input-files name="files[]" v-bind:files="inputs.files" v-on:change="inputs.files = arguments[0]"></form-input-files>
															</div>
															<div class="grid-cell">
																<div class="form-field-message -default">
																	Доступны форматы: doc, xls, pdf, png, jpeg не более 10 мб
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="space _massive"></div>
									<div class="grid-area">
										<div class="grid-cell _md-9">
											<div class="grid-area">
												<div class="grid-cell __textRight">
														<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="space _massive"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
