.profile {
	text-decoration: none;

	&-grid {
		@include dd-grid-area(small, small, true, false);
		align-items: center;
		flex-wrap: nowrap;

		&-item {

			&._image {
				flex-shrink: 0;
				flex-grow: 0;
				width: 30%;
				max-width: 150px;
			}

			&._title {
				flex-shrink: 1;
				flex-grow: 1;
			}
		}
	}

	&-image {
		padding-bottom: 100%;
		border-radius: 999px;
		background-color: dd-color-palette(soft);
		background-position: center;
		background-size: cover;
	}

	&-title {
		color: dd-color-palette(primary);
		font-weight: 600;

		&._black {
			margin-bottom: 5px;
			font-size: 18px;
			line-height: 1.2em;
			color: dd-color-palette(default);
		}
	}

	&-body {
		
		&-location {

			&._gray {
				font-size: 14px;
				color: #a1a1a1;
			}

			&._indent & {

				&-region,
				&-city {
					padding-left: 10px;
				}
			}
		}

		&-rating {
			unicode-bidi: bidi-override;
			color: #c5c5c5;
			font-size: 25px;
			height: 25px;
			width: 100px;
			position: relative;
			padding: 0;
			text-shadow: 0px 1px 0 #a2a2a2;

			span {
				width: 20px;
				font-size: 23px;
				min-width: 20px;
			}

			
			&-top {
				color: #2085ca;
				padding: 0;
				position: absolute;
				z-index: 1;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				top: 0;
				left: 0;
				overflow: hidden;
				line-height: 25px;
			}
			&-bottom {
				padding: 0;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				z-index: 0;
				line-height: 25px;
			}
		}
	}

	&[href] {
		display: inline-block;

		&:hover {

			.profile-title {
				color: dd-color-palette(default);
			}
		}
	}

	&._small & {

		&-grid {

			&-item {

				&._image {
					width: 100%;
					max-width: 70px;
				}
			}
		}
	}
}