<div class="profile">
	<div class="profile-grid">
		<div class="profile-grid-item _image">
			<div class="profile-image" style="background-image: url('./img/static/face-1.png')"></div>
		</div>
		<div class="profile-grid-item _title">
			<div class="profile-title">
				Мария Грут
			</div>
			<div class="profile-body">
				<div class="profile-body-location">
					<div class="profile-body-location-region">Центральный&nbsp;ФО</div>
					<div class="profile-body-location-city">Москва</div>
				</div>
			</div>
		</div>
	</div>
</div>