<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проект "Развитие +"</a></span>
						<span>Общие сведения об инициатооре проекта и получателе средств</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
                                        <form action="./initiator-info-3.html" class="formCard formCard-resume"
                                              th:action="@{/private-office/finance-request/initiator}"
                                              th:object="${initiator}" method="post"
                                              enctype="multipart/form-data" id="officeInitiatorInfo"
                                              style="box-shadow: none" ref="form" v-cloak="" >
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area _alignCenter">
														<div class="grid-cell _md-3">
															<div class="formCard-step __textCenter-lg-up">
																<span>3</span>/4
															</div>
														</div>
														<div class="grid-cell _md-9">
															<div class="formCard-title">
																Сотрудник организации,
																ответственный за взаимодействие
																с банком
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-content">
                                                    <div class="grid-area">
                                                        <div class="grid-cell _md-9 _md-offset-3">
                                                            <div class="grid-area _large">
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Фамилия
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{employeeNameLast}"
                                                                                            name="employeeNameLast"
                                                                                            type="text"
                                                                                            placeholder="Иванов"
                                                                                            v-validate="'required|validateRuText'"
                                                                                            :class="{'input': true, '-error': errors.has('employeeNameLast') }"
                                                                                            data-vv-as="Фамилия" />
                                                                                        <span v-show="errors.has('employeeNameLast')" class="form-field-message -error">
                                                                                            {{ errors.first('employeeNameLast') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Имя
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{employeeNameFirst}"
                                                                                            name="employeeNameFirst"
                                                                                            type="text"
                                                                                            placeholder="Иван"
                                                                                            v-validate="'required|validateRuText'"
                                                                                            :class="{'input': true, '-error': errors.has('employeeNameFirst') }"
                                                                                            data-vv-as="Имя" />
                                                                                        <span v-show="errors.has('employeeNameFirst')" class="form-field-message -error">
                                                                                            {{ errors.first('employeeNameFirst') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Отчество
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{employeeNameMid}"
                                                                                            name="employeeNameMid"
                                                                                            type="text"
                                                                                            placeholder="Иванович"
                                                                                            v-validate="'required|validateRuText'"
                                                                                            :class="{'input': true, '-error': errors.has('employeeNameMid') }"
                                                                                            data-vv-as="Отчество" />
                                                                                        <span v-show="errors.has('employeeNameMid')" class="form-field-message -error">
                                                                                            {{ errors.first('employeeNameMid') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell"></div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Должность
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{employeePosition}"
                                                                                            name="employeePosition"
                                                                                            type="text"
                                                                                            placeholder="Генеральный директор"
                                                                                            v-validate="'required|validateRuText'"
                                                                                            :class="{'input': true, '-error': errors.has('employeePosition') }"
                                                                                            data-vv-as="Должность" />
                                                                                        <span v-show="errors.has('employeePosition')" class="form-field-message -error">
                                                                                            {{ errors.first('employeePosition') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Номер телефона
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{employeePhoneNumber}"
                                                                                            name="employeePhoneNumber"
                                                                                            type="text"
                                                                                            placeholder="+7 (495) 456-78-90"
                                                                                            data-mask="phone"
                                                                                            v-validate=""
                                                                                            data-vv-rules="required|regex:^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$"
                                                                                            :class="{'input': true, '-error': errors.has('employeePhoneNumber') }"
                                                                                            data-vv-as="Номер телефона" />
                                                                                        <span v-show="errors.has('employeePhoneNumber')" class="form-field-message -error">
                                                                                            {{ errors.first('employeePhoneNumber') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Номер факса
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{employeeFaxNumber}"
                                                                                            name="employeeFaxNumber"
                                                                                            type="text"
                                                                                            placeholder="+7 (495) 456-78-90"
                                                                                            data-mask="phone"
                                                                                            v-validate=""
                                                                                            data-vv-rules="required|regex:^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$"
                                                                                            :class="{'input': true, '-error': errors.has('employeeFaxNumber') }"
                                                                                            data-vv-as="Номер факса" />
                                                                                        <span v-show="errors.has('employeeFaxNumber')" class="form-field-message -error">
                                                                                            {{ errors.first('employeeFaxNumber') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Адрес электронной почты
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{employeeEmail}"
                                                                                            name="employeeEmail"
                                                                                            type="text"
                                                                                            placeholder="ivanov@mail.com"
                                                                                            v-validate=""
                                                                                            data-vv-rules="required|regex:^[A-Za-z0-9-_\.]+@[A-Za-z0-9-_\.]+\.[A-Za-z0-9-_\.]+$"
                                                                                            :class="{'input': true, '-error': errors.has('employeeEmail') }"
                                                                                            data-vv-as="Адрес электронной почты" />
                                                                                        <span v-show="errors.has('employeeEmail')" class="form-field-message -error">
                                                                                            {{ errors.first('employeeEmail') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
												<div class="space _massive"></div>
												<div class="formCard-footer">
													<div class="grid-area">
														<div class="grid-cell _md-9">
															<div class="grid-area">
																<div class="grid-cell __textRight">
																		<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
																		<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
																		<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _massive"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
