<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проект "Развитие +"</a></span>
						<span>Общие сведения об инициатооре проекта и получателе средств</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="grid-area">
									<div class="grid-cell _lg-10">
                                        <form class="formCard" th:action="@{/private-office/finance-request/initiator}"
                                              th:object="${initiator}" method="post" v-cloak=""
                                              enctype="multipart/form-data" id="officeInitiatorInfo"
                                              style="box-shadow: none">
											<div class="grid-container _large">
												<div class="space _massive"></div>
												<div class="formCard-header">
													<div class="grid-area">
														<div class="grid-cell">
															<div class="grid-area">
																<div class="grid-cell _md-2 _md-offset-2">
																	<div class="formCard-icon">
																		<svg class="icon-svg">
																			<use xlink:href="#icon-success"></use>
																		</svg>
																	</div>
																</div>
																<div class="grid-cell _md-8">
																	<div class="formCard-title">
																		Данные успешно сохранены
																	</div>
																	<div class="grid-cell" th:each="field : ${fields}">
																		<p th:text="${field}">
																		</p>
																	</div>
																</div>
															</div>
														</div>
														<div class="grid-cell">
															<div class="grid-container _md-8 _md-offset-4 _tiny">
																<div class="formCard-description">
																	Следующий этап "Общая информация о проекте"
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="space _small"></div>
												<div class="formCard-footer">
													<div class="grid-area">
														<div class="grid-cell _md-4"></div>
														<div class="grid-cell _md-8">
															<div class="grid-area">
																<div class="grid-cell _md-8">
																		<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
																		<input type="submit" name="next" class="form-button _primary _long" value="Продолжить"  v-on:click="onSubmit($event)"/>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _massive"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
