<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _medium"></div>
                <div class="__hidden-lg-up">
                    <div class="office-breadCrumbs">
                        <span><a href="#" class="link">Проект "Развитие +"</a></span>
                        <span>Общие сведения об инициатооре проекта и получателе средств</span>
                    </div>
                    <div class="space _medium"></div>
                </div>
                <div class="grid-area">
                    <div class="grid-cell">
                        <div class="card">
                            <div class="grid-container">
                                <div class="space _massive"></div>
                                <div class="grid-area">
                                    <div class="grid-cell _lg-10">
                                        <form action="./initiator-info-4.html" class="formCard formCard-resume"
                                              th:action="@{/private-office/finance-request/initiator}"
                                              th:object="${initiator}" method="post"
                                              enctype="multipart/form-data" id="officeInitiatorInfo"
                                              style="box-shadow: none" ref="form" v-cloak="" >
                                            <div class="grid-container">
                                                <div class="formCard-header">
                                                    <div class="grid-area _alignCenter">
                                                        <div class="grid-cell _md-3">
                                                            <div class="formCard-step __textCenter-lg-up">
                                                                <span>4</span>/4
                                                            </div>
                                                        </div>
                                                        <div class="grid-cell _md-9">
                                                            <div class="formCard-title">
                                                                Дополнительные сведения
                                                                об Инициаторе проекта /
                                                                Получателе средств
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space _large"></div>
                                                <div class="formCard-content">
                                                    <div class="grid-area">
                                                        <div class="grid-cell _md-9 _md-offset-3">
                                                            <div class="grid-area _large">
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Номер телефона
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{initiatorPhoneNumber}"
                                                                                            name="initiatorPhoneNumber"
                                                                                            type="text"
                                                                                            placeholder="+7 (495) 456-78-90"
                                                                                            data-mask="phone"
                                                                                            v-validate=""
                                                                                            data-vv-rules="required|regex:^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$"
                                                                                            :class="{'input': true, '-error': errors.has('initiatorPhoneNumber') }"
                                                                                            data-vv-as="Номер телефона" />
                                                                                        <span v-show="errors.has('initiatorPhoneNumber')" class="form-field-message -error">
                                                                                            {{ errors.first('initiatorPhoneNumber') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Номер факса
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{initiatorFaxNumber}"
                                                                                            name="initiatorFaxNumber"
                                                                                            type="text"
                                                                                            placeholder="+7 (495) 456-78-90"
                                                                                            data-mask="phone"
                                                                                            v-validate=""
                                                                                            data-vv-rules="required|regex:^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$"
                                                                                            :class="{'input': true, '-error': errors.has('initiatorFaxNumber') }"
                                                                                            data-vv-as="Номер факса" />
                                                                                        <span v-show="errors.has('initiatorFaxNumber')" class="form-field-message -error">
                                                                                            {{ errors.first('initiatorFaxNumber') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Адрес электронной почты
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{initiatorEmail}"
                                                                                            name="initiatorEmail"
                                                                                            type="text"
                                                                                            placeholder="ivanov@mail.com"
                                                                                            v-validate=""
                                                                                            data-vv-rules="required|regex:^[A-Za-z0-9-_\.]+@[A-Za-z0-9-_\.]+\.[A-Za-z0-9-_\.]+$"
                                                                                            :class="{'input': true, '-error': errors.has('initiatorEmail') }"
                                                                                            data-vv-as="Адрес электронной почты" />
                                                                                        <span v-show="errors.has('initiatorEmail')" class="form-field-message -error">
                                                                                            {{ errors.first('initiatorEmail') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Почтовый адрес
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input th:field="*{initiatorPostalAddress.name}"
                                                                                            type="text"
                                                                                            placeholder="0123456789, г. Москва, ул. Петухова, д. 12, кв. 151"
                                                                                            name="initiatorPostalAddressName"
                                                                                            v-validate="'required'"
                                                                                            :class="{'input': true, '-error': errors.has('initiatorPostalAddressName') }"
                                                                                            data-vv-as="Почтовый адрес" />
                                                                                        <span v-show="errors.has('initiatorPostalAddressName')" class="form-field-message -error">
                                                                                            {{ errors.first('initiatorPostalAddressName') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-sectionTitle">
                                                                    Банковские реквизиты
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-sectionTitle _small">
                                                                        Расчеты в рублях
                                                                    </div>
                                                                    <div class="space _medium"></div>
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Получатель
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input type="text" th:field="*{initiatorRequisitesReceiver}" placeholder="Иванов Иван Иванович" name="initiatorRequisitesReceiver"
                                                                                        v-validate="'required'"
                                                                                        :class="{'input': true, '-error': errors.has('initiatorRequisitesReceiver') }"
                                                                                        data-vv-as="Получатель" />
                                                                                    <span v-show="errors.has('initiatorRequisitesReceiver')" class="form-field-message -error">
                                                                                        {{ errors.first('initiatorRequisitesReceiver') }}
                                                                                    </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-message -error __hidden"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Счет получателя
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input type="text" th:field="*{initiatorRequisitesReceiversAccount}" placeholder="0000 00000 00000 00000" name="initiatorRequisitesReceiversAccount"
                                                                                        v-validate="'required|numeric'"
                                                                                        :class="{'input': true, '-error': errors.has('initiatorRequisitesReceiversAccount') }"
                                                                                        data-vv-as="Счет получателя" />
                                                                                    <span v-show="errors.has('initiatorRequisitesReceiversAccount')" class="form-field-message -error">
                                                                                        {{ errors.first('initiatorRequisitesReceiversAccount') }}
                                                                                    </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-message -error __hidden"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Наименование банка ведущего счет получателя
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input type="text" th:field="*{initiatorRequisitesBankName}" placeholder="Внеш Экноном Банк" name="initiatorRequisitesBankName"
                                                                                        v-validate="'required'"
                                                                                        :class="{'input': true, '-error': errors.has('initiatorRequisitesBankName') }"
                                                                                        data-vv-as="Наименование банка" />
                                                                                    <span v-show="errors.has('initiatorRequisitesBankName')" class="form-field-message -error">
                                                                                        {{ errors.first('initiatorRequisitesBankName') }}
                                                                                    </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-message -error __hidden"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Место нахождения банка
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input type="text" th:field="*{initiatorRequisitesBankPlace}" placeholder="Россия, г. Москва" name="initiatorRequisitesBankPlace"
                                                                                        v-validate="'required'"
                                                                                        :class="{'input': true, '-error': errors.has('initiatorRequisitesBankPlace') }"
                                                                                        data-vv-as="Место нахождения банка" />
                                                                                    <span v-show="errors.has('initiatorRequisitesBankPlace')" class="form-field-message -error">
                                                                                        {{ errors.first('initiatorRequisitesBankPlace') }}
                                                                                    </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-message -error __hidden"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Кор.счет банка
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input type="text" th:field="*{initiatorRequisitesBankCorrAccount}" placeholder="00000000000000000000" name="initiatorRequisitesBankCorrAccount"
                                                                                        v-validate="'required|numeric'"
                                                                                        :class="{'input': true, '-error': errors.has('initiatorRequisitesBankCorrAccount') }"
                                                                                        data-vv-as="Кор.счет банка" />
                                                                                    <span v-show="errors.has('initiatorRequisitesBankCorrAccount')" class="form-field-message -error">
                                                                                        {{ errors.first('initiatorRequisitesBankCorrAccount') }}
                                                                                    </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-message -error __hidden"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    БИК
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputText _fluid">
                                                                                        <input type="text" th:field="*{initiatorRequisitesBankBik}" placeholder="000000000" name="initiatorRequisitesBankBik"
                                                                                        v-validate="'required|numeric'"
                                                                                        :class="{'input': true, '-error': errors.has('initiatorRequisitesBankBik') }"
                                                                                        data-vv-as="БИК" />
                                                                                    <span v-show="errors.has('initiatorRequisitesBankBik')" class="form-field-message -error">
                                                                                        {{ errors.first('initiatorRequisitesBankBik') }}
                                                                                    </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-message -error __hidden"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Расчеты в иностранной валюте
                                                                                </div>
                                                                                <div class="grid-area">
                                                                                    <div class="grid-cell _sm-2">
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputRadio">
                                                                                                <input type="radio" name="foreignCurrency" value="false"
                                                                                                       id="foreignCurrency-1" v-model="inputs.foreignCurrency"
                                                                                                       v-validate="'required'"
                                                                                                       data-vv-as="Расчеты" />

                                                                                                <label for="foreignCurrency-1">Нет</label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="grid-cell _sm-2">
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputRadio">
                                                                                                <input type="radio" name="foreignCurrency" value="true"
                                                                                                       id="foreignCurrency-2" v-model="inputs.foreignCurrency"/>
                                                                                                <label for="foreignCurrency-2">Есть</label>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <span v-show="errors.has('foreignCurrency')" class="form-field-message -error">
                                                                                        {{ errors.first('foreignCurrency') }}
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="grid-cell" v-if="inputs.foreignCurrency === 'true'">
                                                                    <div class="grid-area">
                                                                        <div class="grid-cell">
                                                                            <div class="form-sectionTitle _small">
                                                                                Расчеты в иностранной валюте
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid-cell">
                                                                            <div class="form-field">
                                                                                <div class="grid-area">
                                                                                    <div class="grid-cell _sm-8">
                                                                                        <div class="form-field-label">
                                                                                            Наименование валюты
                                                                                        </div>
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputSelect _fluid">
                                                                                                <select th:field="*{initiatorRequisitesForeignCurrency}" name="initiatorRequisitesForeignCurrency"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('initiatorRequisitesForeignCurrency') }"
                                                                                                data-vv-as=" Наименование валюты">

                                                                                                    <option value="">Выберите</option>
                                                                                                    <option th:each="item : ${ref.financingCurrency}"
                                                                                                            th:value="${item.title}"
                                                                                                            th:text="${item.title}">no title</option>
                                                                                                </select>
                                                                                                <span v-show="errors.has('initiatorRequisitesForeignCurrency')" class="form-field-message -error">
                                                                                                    {{ errors.first('initiatorRequisitesForeignCurrency') }}
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-field-message -error __hidden"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid-cell">
                                                                            <div class="form-field">
                                                                                <div class="grid-area">
                                                                                    <div class="grid-cell _sm-8">
                                                                                        <div class="form-field-label">
                                                                                            Получатель
                                                                                        </div>
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputText _fluid">
                                                                                                <input type="text" th:field="*{initiatorRequisitesForeignReceiver}" placeholder="Ivanov Ivan Ivanovich" name="initiatorRequisitesForeignReceiver"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('initiatorRequisitesForeignReceiver') }"
                                                                                                data-vv-as="Получатель" />
                                                                                                <span v-show="errors.has('initiatorRequisitesForeignReceiver')" class="form-field-message -error">
                                                                                                    {{ errors.first('initiatorRequisitesForeignReceiver') }}
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-field-message -error __hidden"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid-cell">
                                                                            <div class="form-field">
                                                                                <div class="grid-area">
                                                                                    <div class="grid-cell _sm-8">
                                                                                        <div class="form-field-label">
                                                                                            Счет получателя
                                                                                        </div>
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputText _fluid">
                                                                                                <input type="text" th:field="*{initiatorRequisitesForeignReceiverAccount}" placeholder="0000000000000000000" name="initiatorRequisitesForeignReceiverAccount"
                                                                                                v-validate="'required|numeric'"
                                                                                                :class="{'input': true, '-error': errors.has('initiatorRequisitesForeignReceiverAccount') }"
                                                                                                data-vv-as="Счет получателя" />
                                                                                                <span v-show="errors.has('initiatorRequisitesForeignReceiverAccount')" class="form-field-message -error">
                                                                                                    {{ errors.first('initiatorRequisitesForeignReceiverAccount') }}
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-field-message -error __hidden"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="grid-cell _sm-8">
                                                                            <div class="form-field">
                                                                                <div class="grid-area">
                                                                                    <div class="grid-cell">
                                                                                        <div class="form-field-label">
                                                                                            Банк, ведущий счет получателя
                                                                                        </div>
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputText _fluid">
                                                                                                <input type="text" th:field="*{initiatorRequisitesForeignBankName}" placeholder="Наименование" name="initiatorRequisitesForeignBankName"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('initiatorRequisitesForeignBankName') }"
                                                                                                data-vv-as="Банк" />
                                                                                                <span v-show="errors.has('initiatorRequisitesForeignBankName')" class="form-field-message -error">
                                                                                                    {{ errors.first('initiatorRequisitesForeignBankName') }}
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-field-message -error __hidden"></div>
                                                                                    </div>
                                                                                    <div class="grid-cell">
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputText _fluid">
                                                                                                <input type="text" th:field="*{initiatorRequisitesForeignBankPlace}" placeholder="Место нахождения банка" name="initiatorRequisitesForeignBankPlace"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('initiatorRequisitesForeignBankPlace') }"
                                                                                                data-vv-as="Место нахождения банка" />
                                                                                                <span v-show="errors.has('initiatorRequisitesForeignBankPlace')" class="form-field-message -error">
                                                                                                    {{ errors.first('initiatorRequisitesForeignBankPlace') }}
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-field-message -error __hidden"></div>
                                                                                    </div>
                                                                                    <div class="grid-cell">
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputText _fluid">
                                                                                                <input type="text" th:field="*{initiatorRequisitesForeignBankSwift}" placeholder="СВИФТ" name="initiatorRequisitesForeignBankSwift"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('initiatorRequisitesForeignBankSwift') }"
                                                                                                data-vv-as="СВИФТ" />
                                                                                                <span v-show="errors.has('initiatorRequisitesForeignBankSwift')" class="form-field-message -error">
                                                                                                    {{ errors.first('initiatorRequisitesForeignBankSwift') }}
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-field-message -error __hidden"></div>
                                                                                    </div>
                                                                                    <div class="grid-cell">
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputText _fluid">
                                                                                                <input type="text" th:field="*{initiatorRequisitesForeignBankCode}" placeholder="Код банка" name="initiatorRequisitesForeignBankCode"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('initiatorRequisitesForeignBankCode') }"
                                                                                                data-vv-as="Код банка" />
                                                                                                <span v-show="errors.has('initiatorRequisitesForeignBankCode')" class="form-field-message -error">
                                                                                                    {{ errors.first('initiatorRequisitesForeignBankCode') }}
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-field-message -error __hidden"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="space _medium"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Данные о наличии неудовлетворенных обязательств
                                                                                    (претензий) в соответствии с судебными решениями
                                                                                    перед государственнымиорганами, физическими
                                                                                    и юридическими лицами
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputTextarea _fluid">
                                                                                        <textarea th:field="*{initiatorDissatisfiedClaims}" placeholder="Указываются наименования организаций и характеристика неисполненных обязательств" name="initiatorDissatisfiedClaims"
                                                                                        v-validate="'required'"
                                                                                        :class="{'input': true, '-error': errors.has('initiatorDissatisfiedClaims') }"
                                                                                        data-vv-as="Данные">

                                                                                        </textarea>
                                                                                        <span v-show="errors.has('initiatorDissatisfiedClaims')" class="form-field-message -error">
                                                                                            {{ errors.first('initiatorDissatisfiedClaims') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-message -error __hidden"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="grid-cell">
                                                                    <div class="form-field">
                                                                        <div class="grid-area">
                                                                            <div class="grid-cell _sm-8">
                                                                                <div class="form-field-label">
                                                                                    Данные о наличии задолженности по налогам и иным
                                                                                    обязательным платежам в бюджетные и внебюджетные фонды
                                                                                </div>
                                                                                <div class="form-field-input">
                                                                                    <div class="form-inputTextarea _fluid">
                                                                                        <textarea th:field="*{initiatorTaxArrearsInfo}" placeholder="" name="initiatorTaxArrearsInfo"
                                                                                        v-validate="'required'"
                                                                                        :class="{'input': true, '-error': errors.has('initiatorTaxArrearsInfo') }"
                                                                                        data-vv-as="Данные">
                                                                                        </textarea>
                                                                                        <span v-show="errors.has('initiatorTaxArrearsInfo')" class="form-field-message -error">
                                                                                            {{ errors.first('initiatorTaxArrearsInfo') }}
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-field-message -error __hidden"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space _large"></div>
                                                <div class="formCard-footer">
                                                    <div class="grid-area">
                                                        <div class="grid-cell _md-9">
                                                            <div class="grid-area">
                                                                <div class="grid-cell __textRight">
																		<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
																		<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
																		<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="space _massive"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="space _massive"></div>
            </div>
        </div>
    </div>
</div>
