<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проект "Развитие +"</a></span>
						<span>Общие сведения об инициатооре проекта и получателе средств</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
                                        <form action="./initiator-info-2.html" class="formCard formCard-resume"
                                              th:action="@{/private-office/finance-request/initiator}"
                                              th:object="${initiator}" method="post"
                                              enctype="multipart/form-data" id="officeInitiatorInfo"
                                              style="box-shadow: none" ref="form" v-cloak="" >
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area _alignCenter">
														<div class="grid-cell _md-3">
															<div class="formCard-step __textCenter-lg-up">
																<span>2</span>/4
															</div>
														</div>
														<div class="grid-cell _md-9">
															<div class="formCard-title">
																Сведения о единоличном
																исполнительном органе/лице,
															</div>
														</div>
													</div>
												</div>
												<div class="formCard-content">
													<div class="grid-area">
														<div class="grid-cell _md-9 _md-offset-3">
															<div class="grid-area _large">
																<div class="grid-cell">
																	возглавляющем коллегиальный исполнительный орган/лицо,
																	управляющем структурой (в случае, если функции единоличного исполнительного
																	органа переданы управляющей компании, сведения предоставляются в отношении руководителя управляющей компании).
																</div>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Функции переданы в управляющую компанию
																				</div>
																				<div class="grid-area">
																					<div class="grid-cell _sm-2">
																						<div class="form-field-input">
																							<div class="form-inputRadio">
																								<input type="radio" name="executiveControlCompanyDelegate" value="true" id="functions-1" v-model="inputs.executiveControlCompanyDelegate" v-validate="'required'"
                                                                                                data-vv-as="Функции"/>
																								<label for="functions-1">Да</label>
																							</div>
																						</div>
																					</div>
																					<div class="grid-cell _sm-2">
																						<div class="form-field-input">
																							<div class="form-inputRadio">
																								<input type="radio" name="executiveControlCompanyDelegate" value="false" id="functions-2" v-model="inputs.executiveControlCompanyDelegate"/>
																								<label for="functions-2">Нет</label>
																							</div>
																						</div>
                                                                                    </div>

                                                                                    <span v-show="errors.has('executiveControlCompanyDelegate')" class="form-field-message -error">
                                                                                        {{ errors.first('executiveControlCompanyDelegate') }}
                                                                                    </span>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell" v-if="inputs.executiveControlCompanyDelegate === 'true'">
																		<div class="grid-area">
																				<div class="grid-cell _sm-8">
																						<div class="form-field">
																								<div class="form-field-label">
																										Организационно-правовая форма и&nbsp; наименование управляющей компании
																								</div>
																								<div class="grid-area">
																								<div class="grid-cell _sm-4">
																										<div class="form-field-input">
																												<div class="form-inputSelect _fluid">
																														<select name="executiveControlCompanyDelegateType" th:field="*{executiveControlCompanyDelegateType}" v-validate="'required'"
                                                                                                                        :class="{'input': true, '-error': errors.has('executiveControlCompanyDelegateType') }"
                                                                                                                        data-vv-as="Форма">
																																<option value="">Выберите</option>
																																<option th:each="item : ${ref.opf}"
																																				th:value="${item.id}"
																																				th:text="${item.title}">no title</option>
                                                                                                                        </select>
                                                                                                                        <span v-show="errors.has('executiveControlCompanyDelegateType')" class="form-field-message -error">
                                                                                                                            {{ errors.first('executiveControlCompanyDelegateType') }}
                                                                                                                        </span>
																												</div>
																										</div>
																								</div>
																								<div class="grid-cell _sm-8">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="executiveControlCompanyDelegateName" th:field="*{executiveControlCompanyDelegateName}" type="text" placeholder="&laquo;Управляющая компания&raquo;" v-validate="'required'"
                                                                                                                        :class="{'input': true, '-error': errors.has('executiveControlCompanyDelegateType') }"
                                                                                                                        data-vv-as="Управляющая компания"/>
                                                                                                                        <span v-show="errors.has('executiveControlCompanyDelegateName')" class="form-field-message -error">
                                                                                                                            {{ errors.first('executiveControlCompanyDelegateName') }}
                                                                                                                        </span>
																												</div>
																										</div>
																								</div>
																						</div>
																								<div class="form-field-message -error __hidden"></div>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Фамилия
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
																						<input name="executiveNameLast" type="text" th:field="*{executiveNameLast}"
																							   placeholder="Иванов" v-validate="'required'"
                                                                                               :class="{'input': true, '-error': errors.has('executiveNameLast') }"
                                                                                               data-vv-as="Фамилия"/>
                                                                                        <span v-show="errors.has('executiveNameLast')" class="form-field-message -error">
                                                                                        {{ errors.first('executiveNameLast') }}
                                                                                        </span>
																					</div>
																				</div>
																				<div class="form-field-message -error __hidden"></div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Имя
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
																						<input name="executiveNameFirst" type="text" th:field="*{executiveNameFirst}"
																							   placeholder="Иван" v-validate="'required'"
                                                                                               :class="{'input': true, '-error': errors.has('executiveNameFirst') }"
                                                                                               data-vv-as="Имя"/>
                                                                                        <span v-show="errors.has('executiveNameFirst')" class="form-field-message -error">
                                                                                        {{ errors.first('executiveNameFirst') }}
                                                                                        </span>
																					</div>
																				</div>
																				<div class="form-field-message -error __hidden"></div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Отчество
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
																						<input name="executiveNameMid" type="text" th:field="*{executiveNameMid}"
																							   placeholder="Иванович" v-validate="'required'"
                                                                                               :class="{'input': true, '-error': errors.has('executiveNameMid') }"
                                                                                               data-vv-as="Отчество"/>
                                                                                        <span v-show="errors.has('executiveNameMid')" class="form-field-message -error">
                                                                                        {{ errors.first('executiveNameMid') }}
                                                                                        </span>
																					</div>
																				</div>
																				<div class="form-field-message -error __hidden"></div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Должность
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
																						<input name="executivePosition" type="text" th:field="*{executivePosition}"
																							   placeholder="Генеральный директор" v-validate="'required|validateRuText'"
                                                                                               :class="{'input': true, '-error': errors.has('executivePosition') }"
                                                                                               data-vv-as="Должность"/>
                                                                                        <span v-show="errors.has('executivePosition')" class="form-field-message -error">
                                                                                        {{ errors.first('executivePosition') }}
                                                                                        </span>
																					</div>
																				</div>
																				<div class="form-field-message -error __hidden"></div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Дата рождения
																				</div>
																				<div class="grid-area">
																					<div class="grid-cell _sm-4">
																						<div class="form-field-input">
																							<div class="form-inputSelect _fluid">
																								<select name="executiveBornDate.day" th:field="*{executiveBornDate.day}" v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('executiveBornDate.day') }"
                                                                                                data-vv-as="Дата рождения">
																									<option value="">Выберите</option>
																									<option th:each="item : ${ref.days}"
																									th:value="${item.id}"
																									th:text="${item.title}">no title</option>
                                                                                                </select>
                                                                                                <span v-show="errors.has('executiveBornDate.day')" class="form-field-message -error">
                                                                                                    {{ errors.first('executiveBornDate.day') }}
                                                                                                    </span>
																							</div>
																						</div>
																					</div>
																					<div class="grid-cell _sm-4">
																						<div class="form-field-input">
																							<div class="form-inputSelect _fluid">
																								<select name="executiveBornDate.month" th:field="*{executiveBornDate.month}" v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('executiveBornDate.month') }"
                                                                                                data-vv-as="Дата рождения">
																									<option value="">Выберите</option>
																									<option th:each="item : ${ref.months}"
																									th:value="${item.id}"
																									th:text="${item.title}">no title</option>
                                                                                                </select>
                                                                                                <span v-show="errors.has('executiveBornDate.month')" class="form-field-message -error">
                                                                                                    {{ errors.first('executiveBornDate.month') }}
                                                                                                    </span>
																							</div>
																						</div>
																					</div>
																					<div class="grid-cell _sm-4">
																						<div class="form-field-input">
																							<div class="form-inputSelect _fluid">
																								<select name="executiveBornDate.year" th:field="*{executiveBornDate.year}" v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('executiveBornDate.year') }"
                                                                                                data-vv-as="Дата рождения">
																									<option value="">Выберите</option>
																									<option th:each="item : ${ref.years}"
																									th:value="${item.id}"
																									th:text="${item.title}">no title</option>
                                                                                                </select>
                                                                                                <span v-show="errors.has('executiveBornDate.year')" class="form-field-message -error">
                                                                                                    {{ errors.first('executiveBornDate.year') }}
                                                                                                    </span>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Место рождения
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
																						<input th:field="*{executiveBornPlaceAddress.name}"
                                                                                        type="text"
                                                                                        name="{executiveBornPlaceAddress.name"
                                                                                        placeholder="Россия, г. Москва"
                                                                                        v-validate="'required'"
                                                                                        :class="{'input': true, '-error': errors.has('{executiveBornPlaceAddress.name') }"
                                                                                        data-vv-as="Место рождения" />
                                                                                    <span v-show="errors.has('{executiveBornPlaceAddress.name')" class="form-field-message -error">
                                                                                        {{ errors.first('{executiveBornPlaceAddress.name') }}
                                                                                    </span>
																					</div>
																				</div>
																				<div class="form-field-message -error __hidden"></div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="form-field">
																		<div class="grid-area">
																			<div class="grid-cell _sm-8">
																				<div class="form-field-label">
																					Гражданство
																				</div>
																				<div class="form-field-input">
																					<div class="form-inputText _fluid">
                                                                                        <input th:field="*{executiveCitizenship}"
                                                                                        name="executiveCitizenship"
                                                                                        type="text"
                                                                                        placeholder="Российской федерации"
                                                                                        v-validate="'required|validateRuText'"
                                                                                        :class="{'input': true, '-error': errors.has('executiveCitizenship') }"
                                                                                        data-vv-as="Гражданство" />
                                                                                    <span v-show="errors.has('executiveCitizenship')" class="form-field-message -error">
                                                                                        {{ errors.first('executiveCitizenship') }}
                                                                                    </span>
																					</div>
																				</div>
																				<div class="form-field-message -error __hidden"></div>
																			</div>
																		</div>
																	</div>
																</div>

																<div class="grid-cell">
																	<h2 class="form-sectionTitle">
																		Адрес места жительства, регистрации
																	</h2>
																</div>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell _sm-8">
																						<div class="form-field-input">
																							<div class="form-inputText _fluid">
																								<input th:field="*{executiveAddressRegistration.region}"
                                                                                                name="executiveAddressRegistration.region"
                                                                                                type="text"
                                                                                                placeholder="Регион / область / провинция / штат"
                                                                                                v-validate="'required|validateRuText'"
                                                                                                :class="{'input': true, '-error': errors.has('executiveAddressRegistration.region') }"
                                                                                                data-vv-as="Регион / область / провинция / штат" />
                                                                                            <span v-show="errors.has('executiveAddressRegistration.region')" class="form-field-message -error">
                                                                                                {{ errors.first('executiveAddressRegistration.region') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell _sm-8">
																						<div class="form-field-input">
																							<div class="form-inputText _fluid">
                                                                                                <input th:field="*{executiveAddressRegistration.city}"
                                                                                                name="executiveAddressRegistration.city"
                                                                                                type="text"
                                                                                                placeholder="Населенный пункт"
                                                                                                v-validate="'required|validateRuText'"
                                                                                                :class="{'input': true, '-error': errors.has('executiveAddressRegistration.city') }"
                                                                                                data-vv-as="Населенный пункт" />
                                                                                            <span v-show="errors.has('executiveAddressRegistration.city')" class="form-field-message -error">
                                                                                                {{ errors.first('executiveAddressRegistration.city') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
                                                                        <div class="grid-cell">
                                                                            <div class="form-field">
                                                                                <div class="grid-area">
                                                                                    <div class="grid-cell _sm-8">
                                                                                        <div class="form-field-input">
                                                                                            <div class="form-inputText _fluid">
                                                                                                <input th:field="*{executiveAddressRegistration.index}"
                                                                                                       name="executiveAddressRegistration.index"
                                                                                                       type="text"
                                                                                                       placeholder="Индекс"
                                                                                                       data-mask="index"
                                                                                                       v-validate="'required|numeric'"
                                                                                                       :class="{'input': true, '-error': errors.has('executiveAddressRegistration.index') }"
                                                                                                       data-vv-as="Индекс" />
                                                                                                <span v-show="errors.has('executiveAddressRegistration.index')" class="form-field-message -error">
                                                                                                    {{ errors.first('executiveAddressRegistration.index') }}
                                                                                                </span>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="form-field-message -error __hidden"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell _sm-8">
																						<div class="form-field-input">
																							<div class="form-inputText _fluid">
																								<input th:field="*{executiveAddressRegistration.street}"
                                                                                                name="executiveAddressRegistration.street"
                                                                                                type="text"
                                                                                                placeholder="Улица"
                                                                                                v-validate="'required|validateRuText'"
                                                                                                :class="{'input': true, '-error': errors.has('executiveAddressRegistration.street') }"
                                                                                                data-vv-as="Улица" />
                                                                                            <span v-show="errors.has('executiveAddressRegistration.street')" class="form-field-message -error">
                                                                                                {{ errors.first('executiveAddressRegistration.street') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell _sm-8">
																						<div class="grid-area">
																							<div class="grid-cell _sm-4">
																								<div class="form-field-input">
																									<div class="form-inputText _fluid">
																										<input th:field="*{executiveAddressRegistration.house}"
                                                                                                        name="executiveAddressRegistration.house"
                                                                                                        type="text"
                                                                                                        placeholder="Дом"
                                                                                                        v-validate="'required|alpha_num'"
                                                                                                        :class="{'input': true, '-error': errors.has('executiveAddressRegistration.house') }"
                                                                                                        data-vv-as="Дом" />
                                                                                                    <span v-show="errors.has('executiveAddressRegistration.house')" class="form-field-message -error">
                                                                                                        {{ errors.first('executiveAddressRegistration.house') }}
                                                                                                    </span>
																									</div>
																								</div>
																								<div class="form-field-message -error __hidden"></div>
																							</div>
																							<div class="grid-cell _sm-4">
																								<div class="form-field-input">
																									<div class="form-inputText _fluid">
																										<input type="text" th:field="*{executiveAddressRegistration.building}" placeholder="Корпус"/>
																									</div>
																								</div>
																								<div class="form-field-message -error __hidden"></div>
																							</div>
																							<div class="grid-cell _sm-4">
																								<div class="form-field-input">
																									<div class="form-inputText _fluid">
																										<input th:field="*{executiveAddressRegistration.apartment}"
                                                                                                        name="executiveAddressRegistration.apartment"
                                                                                                        type="text"
                                                                                                        placeholder="Квартира"
                                                                                                        v-validate="'required|numeric'"
                                                                                                        :class="{'input': true, '-error': errors.has('executiveAddressRegistration.apartment') }"
                                                                                                        data-vv-as="Квартира" />
                                                                                                    <span v-show="errors.has('executiveAddressRegistration.apartment')" class="form-field-message -error">
                                                                                                        {{ errors.first('executiveAddressRegistration.apartment') }}
                                                                                                    </span>
																									</div>
																								</div>
																								<div class="form-field-message -error __hidden"></div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<h2 class="form-sectionTitle">
																	Реквизиты документа,<br />
																	удостоверяющего&nbsp;личность
																</h2>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell _sm-8">
																						<div class="form-field-input">
																							<div class="form-inputSelect _fluid">
																								<select  th:field="*{executiveIdName}"
                                                                                                th:value="*{executiveIdName}"
                                                                                                name="executiveIdName"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('executiveIdName') }"
                                                                                                data-vv-as="Документ">

                                                                                                <option value="">Выберите</option>
                                                                                                <option th:each="item : ${ref.documentNameResident}"
                                                                                                        th:value="${item.id}"
                                                                                                        th:text="${item.title}">no title</option>
                                                                                            </select>
                                                                                            <span v-show="errors.has('executiveIdName')" class="form-field-message -error">
                                                                                                {{ errors.first('executiveIdName') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="grid-area">
																				<div class="grid-cell _sm-8">
																					<div class="grid-area">
																						<div class="grid-cell _sm-5">
																							<div class="form-field">
																								<div class="form-field-input">
																									<div class="form-inputText _fluid">
																										<input th:field="*{executiveIdSeries}"
                                                                                                        name="executiveIdSeries"
                                                                                                        type="text"
                                                                                                        placeholder="Серия"
                                                                                                        v-validate="'required|alpha_num'"
                                                                                                        :class="{'input': true, '-error': errors.has('executiveIdSeries') }"
                                                                                                        data-vv-as="Серия" />
                                                                                                    <span v-show="errors.has('executiveIdSeries')" class="form-field-message -error">
                                                                                                        {{ errors.first('executiveIdSeries') }}
                                                                                                    </span>
																									</div>
																								</div>
																								<div class="form-field-message -error __hidden"></div>
																							</div>
																						</div>
																						<div class="grid-cell _sm-7">
																							<div class="form-field">
																								<div class="form-field-input">
																									<div class="form-inputText _fluid">
																										<input th:field="*{executiveIdNumber}"
                                                                                                        name="executiveIdNumber"
                                                                                                        type="text"
                                                                                                        placeholder="Номер"
                                                                                                        v-validate="'required|alpha_num'"
                                                                                                        :class="{'input': true, '-error': errors.has('executiveIdNumber') }"
                                                                                                        data-vv-as="Номер" />
                                                                                                    <span v-show="errors.has('executiveIdNumber')" class="form-field-message -error">
                                                                                                        {{ errors.first('executiveIdNumber') }}
                                                                                                    </span>
																									</div>
																								</div>
																								<div class="form-field-message -error __hidden"></div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell _sm-8">
																						<div class="form-field-label">
																							Дата выдачи
																						</div>
																						<div class="grid-area">
																							<div class="grid-cell _sm-4">
																								<div class="form-field-input">
																									<div class="form-inputSelect _fluid">
																										<select th:field="*{executiveIdIssueDate.day}"
                                                                                                        name="executiveIdIssueDate.day"
                                                                                                        th:value="*{executiveIdIssueDate.day}"
                                                                                                        v-validate="'required'"
                                                                                                        :class="{'input': true, '-error': errors.has('executiveIdIssueDate.day') }"
                                                                                                        data-vv-as="Дата">

                                                                                                        <option value="">Выберите</option>
                                                                                                        <option th:each="item : ${ref.days}"
                                                                                                        th:value="${item.id}"
                                                                                                        th:text="${item.title}">no title</option>
                                                                                                    </select>

                                                                                                    <span v-show="errors.has('executiveIdIssueDate.day')" class="form-field-message -error">
                                                                                                        {{ errors.first('executiveIdIssueDate.day') }}
                                                                                                    </span>
																									</div>
																								</div>
																							</div>
																							<div class="grid-cell _sm-4">
																								<div class="form-field-input">
																									<div class="form-inputSelect _fluid">
																										<select th:field="*{executiveIdIssueDate.month}"
                                                                                                        name="{executiveIdIssueDate.month"
                                                                                                        th:value="*{executiveIdIssueDate.month}"
                                                                                                        v-validate="'required'"
                                                                                                        :class="{'input': true, '-error': errors.has('{executiveIdIssueDate.month') }"
                                                                                                        data-vv-as="Месяц">

                                                                                                        <option value="">Выберите</option>
                                                                                                        <option th:each="item : ${ref.months}"
                                                                                                        th:value="${item.id}"
                                                                                                        th:text="${item.title}">no title</option>
                                                                                                    </select>

                                                                                                    <span v-show="errors.has('{executiveIdIssueDate.month')" class="form-field-message -error">
                                                                                                        {{ errors.first('{executiveIdIssueDate.month') }}
                                                                                                    </span>
																									</div>
																								</div>
																							</div>
																							<div class="grid-cell _sm-4">
																								<div class="form-field-input">
																									<div class="form-inputSelect _fluid">
																										<select th:field="*{executiveIdIssueDate.year}"
                                                                                                        name="executiveIdIssueDate.year"
                                                                                                        th:value="*{executiveIdIssueDate.year}"
                                                                                                        v-validate="'required'"
                                                                                                        :class="{'input': true, '-error': errors.has('executiveIdIssueDate.year') }"
                                                                                                        data-vv-as="Год">

                                                                                                        <option value="">Выберите</option>
                                                                                                        <option th:each="item : ${ref.years}"
                                                                                                        th:value="${item.id}"
                                                                                                        th:text="${item.title}">no title</option>
                                                                                                    </select>
                                                                                                    <span v-show="errors.has('executiveIdIssueDate.year')" class="form-field-message -error">
                                                                                                        {{ errors.first('executiveIdIssueDate.year') }}
                                                                                                    </span>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell _sm-8">
																						<div class="form-field-input">
																							<div class="form-inputTextarea _fluid">
																								<textarea th:field="*{executiveIdIssueAgencyName}"
                                                                                                name="executiveIdIssueAgencyName"
                                                                                                placeholder="Наименование органа, выдавшего документ"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('executiveIdIssueAgencyName') }"
                                                                                                data-vv-as="Наименование"></textarea>
                                                                                            <span v-show="errors.has('executiveIdIssueAgencyName')" class="form-field-message -error">
                                                                                                {{ errors.first('executiveIdIssueAgencyName') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field">
																				<div class="grid-area">
																					<div class="grid-cell _sm-5">
																						<div class="form-field-input">
																							<div class="form-inputText _fluid">
																								<input th:field="*{executiveIdIssueAgencyCode}"
                                                                                                name="executiveIdIssueAgencyCode"
                                                                                                type="text"
                                                                                                placeholder="Код подразделения"
                                                                                                v-validate="'required'"
                                                                                                :class="{'input': true, '-error': errors.has('executiveIdIssueAgencyCode') }"
                                                                                                data-vv-as="Код подразделения" />
                                                                                            <span v-show="errors.has('executiveIdIssueAgencyCode')" class="form-field-message -error">
                                                                                                {{ errors.first('executiveIdIssueAgencyCode') }}
                                                                                            </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area">
																				<div class="grid-cell">
																					<div class="form-field">
																						<div class="form-field-label">
																							Сведения об участии в деятельности и капитале других лиц:
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputTextarea _fluid">
																								<textarea  name="executiveInfoActivitiesParticipation" th:field="*{executiveInfoActivitiesParticipation}"
																										  placeholder="Укажите сведения, при их наличии"  v-validate="'required'"
                                                                                                          :class="{'input': true, '-error': errors.has('executiveInfoActivitiesParticipation') }"
                                                                                                          data-vv-as="Сведения">
                                                                                                </textarea>
                                                                                                <span v-show="errors.has('executiveInfoActivitiesParticipation')" class="form-field-message -error">
                                                                                                    {{ errors.first('executiveInfoActivitiesParticipation') }}
                                                                                                </span>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-footer">
													<div class="grid-area">
														<div class="grid-cell _md-9">
															<div class="grid-area">
																<div class="grid-cell __textRight">
																		<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
																		<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
																		<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _massive"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
