<div class="dropDownProject">
	<div class="dropDownProject-row">
		<div class="dropDownProject-cell">
			<div class="dropDownProject-title"></div>
			<div class="dropDownProject-subtitle"></div>
			<div class="dropDownProject-inscription"></div>
		</div>
	</div>
	<div class="dropDownProject-card"></div>
	<div class="dropDownProject-grid"></div>
</div>