.dropDown {
	position: relative;

	&-link {
		//display: inline-block;

		& > span {
			vertical-align: middle;

			& + .dropDown-link-caret {
				transition: transform .2s;
				margin-left: 5px;
			}
		}

		& > svg  {
			vertical-align: middle;
		}

		&-caret {
			display: inline-block;
			line-height: 0;
			width: 1em;
			height: 1em;
			transform: scaleY(1);
		}
	}

	&-content {
		display: block;
		position: absolute;
		z-index: 100;

		&-inner {
			overflow: auto;
		}

		&._type-1 {
			margin-top: 15px;
			filter: drop-shadow(0 4px 15px rgba(0, 0, 0, 0.1));

			&::after {
					content: '';
					position: absolute;
					top: -10px;
					left: calc(50% - 10px);
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 10px 10px 10px;
					border-color: transparent transparent #fff transparent;
				}

			.dropDown-content {

				&-inner {
					border-radius: 3px;
					width: 280px;
					background-color: #fff;
				}
			}
		}
	}

	&._right & {

		&-content {
			right: 0;
			left: auto;
		}
	}

	&._center & {

		&-content {
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&._static & {

		&-content {
			position: static;
		}
	}

	&.-open & {

		&-link-caret {
			transform: scaleY(-1);
		}
	}

	&:not(.-open) & {

		&-content {
			display: none;
		}
	}
}

.dropDownProject  {

    .dropDown-content {
        position: relative;
        border-bottom: 1px solid #018acf;
    }

}

.link {
    &.loading {
        position: relative;
        pointer-events: none;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            right: 100%;
            background-image: url("../img/svg/icon-loader.svg");
            height: 20px;
            width: 20px;
            transform: translateY(-50%);
            background-size: cover;
        }

    }
}
