.dropDownProject {

	&-grid {

		&.owlSlider {

			.owl-prev, .owl-next {

				&:before {
					filter: none;
				}
			}

			.owl-prev {
				left: -20px;
			}

			.owl-next {
				right: -20px;
			}
		}
	}

	&-row {
		@include dd-grid-area(medium, 0, false, false);
		flex-wrap: nowrap;
		font-size: 14px;
		padding-top: 10px;
		padding-bottom: 10px;

		.dropDown-link {
			display: block;
			font-size: 16px;
			font-weight: 700;
		}
	}

	&-cell {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&:nth-child(1) {
			width: 25%;
		}

		&:nth-child(2) {
			width: 20%;
		}

		&:nth-child(3) {
			width: 20%;
		}

		&:nth-child(4) {
			width: 20%;
		}

		&:nth-child(5) {
			width: 30%;
		}

		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5) {
			position: relative;

			&:before {
				content: "";
				position: absolute;
				top: 21%;
				left: 0;
				width: 1px;
				height: 30px;
				background-color: #eaeaea;
			}
		}

		svg {
			fill: currentColor;
		}

		a {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		@include dd-responsive-media(xs, sm) {
			display: none;

			&:nth-child(1) {
				display: block;
				width: auto;
			}
		}
	}

	&-title {
		font-size: 18px;
		font-weight: 600;
	}

	&-subtitle {
		font-size: 14px;
		color: dd-color-state(default);
	}

	&-inscription {
		font-size: 12px;
		color: dd-color-state(default);
	}

	&-card {
		padding: 20px;
		border: 1px solid #eaeaea;
        width: 100%;
	}

	.cardManager {

		&-connection {
			font-size: 14px;
		}
	}

	.form-field {

		&-label {
			margin: 0;
		}

		&-static {
			font-size: inherit;
			font-weight: 700;
			line-height: 1.2;
		}
	}

	.grid-cell._xl-4._xxl-4._bordered {

		@include dd-responsive-media(xl, xxl) {
			border-left: 1px solid #eaeaea;
		}
	}

	.owl-dots {
		display: none;
	}
}
