<div class="dropDown">
	<a href="#" class="dropDown-link">
		<span>Выпадайка</span>
		<svg class="dropDown-link-caret">
			<use xlink:href="#caret"></use>
		</svg>
	</a>
	<div class="dropDown-content">
		Контент выпадайки
	</div>
</div>