<div class="office-sideMenu">
	<div class="office-sideMenu-header">
		<div class="grid-container _small">
			<a class="office-burger __hidden-lg-up" href="#" th:href="@{/private-office}">
				<div class="burger">
					<div class="burger-icon"></div>
					<div class="burger-icon"></div>
					<div class="burger-icon"></div>
				</div>
			</a>
			<a class="office-logo" href="./" th:href="@{/private-office}">
				<svg class="icon-svg">
					<use xlink:href="#logo"></use>
				</svg>
			</a>
		</div>
	</div>
	<div class="office-sideMenu-menu" data-dropDown-clickOutside="">
		<a href="#" th:if="${#arrays.contains(user.roles, 'MANAGER')}"
           th:href="@{/private-office}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'projects'} ? '-active' : ''">
			Мои проекты
		</a>
		<div class="dropDown _static"  th:classappend="${chooseMenu == 'applicant'} or ${chooseMenu == 'initiator'} or ${chooseMenu == 'personal'} or ${chooseMenu == 'login-info'} ? '-open' : ''">
			<a href="#" class="dropDown-link office-sideMenu-menu-item">
				<span>Личный кабинет</span>
				<span class="dropDown-link-caret">
					<svg class="icon">
						<use xlink:href="#icon-arrow-circle"></use>
					</svg>
				</span>
			</a>
			<div class="dropDown-content">
				<!--
				<a href="#" th:href="@{/private-office/applicant}" th:if="${#arrays.contains(user.roles, 'USER')}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'applicant'} ? '-active' : ''">
					Информация
					о&nbsp;заявителе
				</a>
				<a href="#" th:href="@{/private-office/initiator}" th:if="${#arrays.contains(user.roles, 'USER')}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'initiator'} ? '-active' : ''">
					Информация
					об&nbsp;инициаторе
				</a>
			-->
				<a href="#" th:href="@{/private-office/login-info}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'login-info'} ? '-active' : ''">
					Настройки доступа
				</a>
				<a href="#" th:href="@{/private-office/personal}" th:if="${#arrays.contains(user.roles, 'MANAGER')}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'personal'} ? '-active' : ''">
					Персональные данные
				</a>
			</div>
		</div>
		<a href="#" th:href="@{/private-office/resume-list}" th:if="${#arrays.contains(user.roles, 'MANAGER')}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'resume'} ? '-active' : ''">
			Резюме проектов
		</a>
		<a href="#" th:href="@{/private-office/express-assessment-list}"  th:if="${#arrays.contains(user.roles, 'MANAGER')}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'assessment'} ? '-active' : ''">
			Экспресс-оценка
		</a>

        <a href="#" th:href="@{/private-office/sind/info}"  th:if="${#arrays.contains(user.roles, 'SIND')}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'sind'} ? '-active' : ''">
            Синдицированное кредитование
        </a>
        <a href="#" th:href="@{/private-office/sind/fab}"  th:if="${#arrays.contains(user.roles, 'FAB')}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'fab'} ? '-active' : ''">
            Фабрика проектного финансирования
        </a>

        <div class="dropDown _static"
             th:if="${#arrays.contains(user.roles, 'SIND_ADM')}"
             th:classappend="${chooseMenu == 'sind-admuser'} or ${chooseMenu == 'sind-adm'} ? '-open' : ''">
            <a href="#" class="dropDown-link office-sideMenu-menu-item">
                <span>Бизнес-Администратор</span>
                <span class="dropDown-link-caret">
					<svg class="icon">
						<use xlink:href="#icon-arrow-circle"></use>
					</svg>
				</span>
            </a>
            <div class="dropDown-content">
                <!--a href="#" th:href="@{/private-office/sind/admuser}" class="office-sideMenu-menu-item"
                   th:classappend="${chooseMenu == 'sind-admuser'} ? '-active' : ''">
                    Участники фабрики
                </a-->
                <a href="#" th:href="@{/private-office/sind/adm}" th:if="${#arrays.contains(user.roles, 'SIND_ADM')}" class="office-sideMenu-menu-item"
                   th:classappend="${chooseMenu == 'sind-adm'} ? '-active' : ''">
                    Активные проекты
                </a>
                <a href="#" th:href="@{/private-office/sind/adm?arch=1}" th:if="${#arrays.contains(user.roles, 'SIND_ADM')}" class="office-sideMenu-menu-item"
                   th:classappend="${chooseMenu == 'sind-adm'} ? '-active' : ''">
                    Архивные проекты
                </a>
            </div>
        </div>




		<a href="#" th:href="@{/private-office/finance-request-list}"  th:if="${#arrays.contains(user.roles, 'MANAGER')}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'finance'} ? '-active' : ''">
			Запрос на финансирование
		</a>
		<a href="#" th:href="@{/private-office/dossier-list}"
           th:if="${#arrays.contains(user.roles, 'MANAGER')}"
           th:classappend="${chooseMenu == 'dossier-list'} or ${chooseMenu == 'dossier'} ? '-active' : ''" class="office-sideMenu-menu-item">
			Электронное досье
		</a>
		<div class="dropDown _static" data-dropDown-clickOutside=""  th:classappend="${chooseMenu == 'notification'} or ${chooseMenu == 'message'} ? '-open' : ''">
			<a href="#" class="dropDown-link office-sideMenu-menu-item">
				<span>Обратная связь</span>
				<span class="dropDown-link-caret">
					<svg class="icon">
						<use xlink:href="#icon-arrow-circle"></use>
					</svg>
				</span>
			</a>
			<div class="dropDown-content">
				<a href="#" th:href="@{/private-office/notification}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'notification'} ? '-active' : ''">
					Уведомления
				</a>
				<a href="#" th:href="@{/private-office/message}" class="office-sideMenu-menu-item" th:classappend="${chooseMenu == 'message'} ? '-active' : ''">
					Сообщения
				</a>
			</div>
		</div>
		<a href="#" th:href="@{/private-office/knowledge-base}" class="office-sideMenu-menu-item">
			База знаний
		</a>
		<a href="#" th:href="@{/logout}" class="office-sideMenu-menu-item">
			Выход
		</a>
	</div>
</div>
