<div class="office-header">
	<div class="grid-container">
		<div class="office-header-grid">
			<div class="office-header-grid-item _logo">
				<a class="office-burger __hidden-lg-up" href="#" th:href="@{/private-office}">
					<div class="burger">
						<div class="burger-icon"></div>
						<div class="burger-icon"></div>
						<div class="burger-icon"></div>
					</div>
				</a>
				<a class="office-logo" href="../../index.html" th:href="@{/private-office}">
					<svg class="icon-svg">
						<use xlink:href="#logo"></use>
					</svg>
				</a>
			</div>
			<div class="office-header-grid-item _breadCrumbs">
				<div class="office-breadCrumbs __hidden-md-down">
					<span><!--a href="#" class="link">Заявки!</a--></span>
				</div>
			</div>
			<div class="office-header-grid-item _profile">
				<div class="grid-area _auto _dense _small _alignCenter">
					<div class="grid-cell __hidden-xs"  th:if="${#arrays.contains(user.roles, 'USER')}" >
						<a href="#" th:href="@{/firstRequest}" class="form-button _primary">
							<span class="__hidden-sm-down">+ Подать обращение</span>
							<span class="__hidden-md-up">+ Обращение</span>
						</a>
					</div>
					<div class="grid-cell __hidden-xs"  th:if="${#arrays.contains(user.roles, 'MANAGER')}" >
						<a href="#" th:href="@{/private-office/resume}" class="form-button _primary">
							<span class="__hidden-sm-down">+ Подать обращение</span>
							<span class="__hidden-md-up">+ Обращение</span>
						</a>
					</div>
					<div class="grid-cell">
						<div class="office-bell -active">
							<div class="dropDown _center">
								<div class="dropDown-link">
									<a href="#" class="form-button office-bell-link" th:if="${not #lists.isEmpty(user.notifications)}">
										<span class="office-bell-link-badge" th:text="${#lists.size(user.notifications)}">3</span>
										<svg class="icon-svg">
											<use xlink:href="#icon-bell"></use>
										</svg>
									</a>
								</div>
								<div class="dropDown-content _type-1">
									<div class="dropDown-content-inner">
										<div class="grid-container">
											<div class="space _medium"></div>
											<div class="grid-area">
												<div class="grid-cell" th:each="notification : ${user.notifications}">
													<div class="office-bell-item">
														<div class="office-bell-item-icon" th:if="${notification.isGood != null} and ${notification.viewed} == false">
															<div class="brandIcon _success" th:if="${notification.isGood}">
																<div class="brandIcon-container">
																	<div class="brandIcon-inner">
																		<svg class="icon-svg">
																			<use xlink:href="#icon-checkmark"></use>
																		</svg>
																	</div>
																</div>
															</div>
															<div class="brandIcon _fail" th:if="not ${notification.isGood}">
																<div class="brandIcon-container">
																	<div class="brandIcon-inner">
																		<svg class="icon-svg">
																			<use xlink:href="#icon-cross"></use>
																		</svg>
																	</div>
																</div>
															</div>
														</div>
														<div class="office-bell-item-message">
															Проект “<strong th:text="${notification.projectNomination}">Развитие +</strong>”
															<div th:text="${notification.message}"> </div>
														</div>
													</div>
												</div>
											</div>
											<div class="space _medium"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="grid-cell">
						<a class="profile" href="#">
							<div class="profile-grid">
								<div class="profile-grid-item _image">
									<div class="profile-image" th:style="*{user != null} ? 'background-image: url(' + ${user.image} + ')' : '#' "></div>
								</div>
								<div class="profile-grid-item _title __hidden-md-down">
									<div class="profile-title" th:text="*{user != null} ? ${user.nameFirst} + ' ' + ${user.nameLast} : 'нет данных' ">
										нет данных
									</div>
								</div>
							</div>
						</a>
						<div class="profile-body-rating" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
							<div class="profile-body-rating-top" th:style="'width: ' + ${rating} + '%'" style="width: 0%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
							<div class="profile-body-rating-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
