<script type="text/x-template" id="office-toggleGroup">
    <!--@@include = office-toggleGroup.html-->
</script>
<!--@@include = ../form/form-cryptopro-header.html-->
<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../form/form-inputFiles.html-->
</script>
<!--@@include = ../form/form-cryptopro-functions.html -->
<form action="./office-express-assessment-success.html" th:action="@{express-assessment}" method="post" enctype="multipart/form-data" class="office-cardAssessment" id="formAssessment" v-cloak="">
    <div class="card">
        <div class="grid-container">
            <div class="space _large"></div>

            <div class="office-cardAssessment-content" v-bind:class="{'__hidden':currentPageIndex!=0}">
                <!--@@include = office-cardAssessment-content/1.html-->
            </div>
            <div class="office-cardAssessment-content" v-bind:class="{'__hidden':currentPageIndex!=1}">
                <!--@@include = office-cardAssessment-content/2.html-->
            </div>
            <div class="office-cardAssessment-content" v-bind:class="{'__hidden':currentPageIndex!=2}">
                <!--@@include = office-cardAssessment-content/3.html-->
            </div>
            <div class="office-cardAssessment-content" v-bind:class="{'__hidden':currentPageIndex!=3}">
                <!--@@include = office-cardAssessment-content/4.html-->
            </div>
            <div class="office-cardAssessment-content" v-bind:class="{'__hidden':currentPageIndex!=4}">
                <!--@@include = office-cardAssessment-content/5.html-->
            </div>
            <div class="office-cardAssessment-content" v-bind:class="{'__hidden':currentPageIndex!=5}">
                <!--@@include = office-cardAssessment-content/6.html-->
            </div>
            <div class="office-cardAssessment-content" v-bind:class="{'__hidden':currentPageIndex!=6}">
                <!--@@include = office-cardAssessment-content/7.html-->
            </div>
            <div class="office-cardAssessment-content" v-bind:class="{'__hidden':currentPageIndex!=7}">
                <!--@@include = office-cardAssessment-content/8.html-->
            </div>

            <div class="space _medium"></div>
        </div>
    </div>
</form>
