.office-cardAssessment {

	&-header {

	}

	&-title {
		font-size: 24px;
		color: dd-color-palette(primary);
		font-weight: 600;
		font-family: $font-opensans;
	}

	&-subtitle {
		font-weight: 600;
	}

	&-description {
		font-weight: 400;
	}

	&-step {
		font-size: 50px;
		color: dd-color-palette(soft);
		font-weight: 300;
		font-family: $font-opensans;

		& > span {
			color: #575757;
		}
	}

	&-buttons {
		font-size: 14px;

		.form-button {

			svg {
				fill: #fff;
			}

			&.-inactive {
				background-color: #d2d2d2;
			}
		}
	}

	&-statement {
		font-size: 18px;
		font-weight: 600;
		line-height: 24px;
	}

	&-form {
		font-size: 14px;
	}

	&-result {

		&-label {
			color: #575757;
			font-size: 24px;
			font-weight: 700;
		}

		&-value {

			&-number {
				font-size: 100px;
				font-weight: 700;
				line-height: 48px;
			}

			&-suffix {
				font-size: 36px;
				font-weight: 700;
			}

			&._fail {
				color: #f57047;
			}

			&._success {
				color: #67ad4a;
			}
		}
	}

	.card {
		background-color: #fcfcfc;
	}

	input[type='text'], input[type='number'], textarea, select {
		background-color: #fff;
	}

	&[v-cloak] {
		visibility: hidden;
	}
}