.office {

	&-logo {
		display: block;
		width: 102px;
		height: 29px;
		color: #fff;

		& > svg {
			fill: dd-color-palette(primary);
			transition: fill $time;
		}

		&:hover {

			& > svg {
				fill: dd-color-palette(primary, light);
			}
		}
	}

	&-burger {
		padding-right: 10px;
	}

	&-header {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background: #fff;
		z-index: 1;
		min-height: 53px;
		padding: 4px 0;

		&-grid {
			@include dd-grid-area(medium, small);
			flex-wrap: nowrap;
			align-items: center;

			&-item {
				width: auto;

				&._logo {
					flex-shrink: 0;
					flex-grow: 0;
					width: 180px;
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
				}

				&._breadCrumbs {
					flex-shrink: 1;
					flex-grow: 1;
				}

				&._profile {
					flex-shrink: 0;
					flex-grow: 0;
					font-size: 14px;
				}
			}
		}

		.profile {
			max-width: 250px;
			display: block;

			&-grid-item._image {
				width: 3.5em;
			}

			&-image {
				width: 3em;
				height: 3em;
				padding-bottom: 0;
				border-radius: 4px;
			}
		}
	}

	&-bell {

		&-link {
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			color: #a1a1a1;
			border: 1px solid #d3d3d3;
			width: 3em;
			height: 3em;
			border-radius: 4px;
			padding: 0;

			&-badge {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				top: -3px;
				right: -5px;
				min-width: 16px;
				min-height: 16px;
				border-radius: 999px;
				font-size: 10px;
				color: #fff;
				background-color: #f57047;
			}

			svg {
				width: 1.5em;
				height: 1.5em;
				fill: currentColor;
			}
		}

		&-item {
			display: flex;
			flex-wrap: nowrap;
			align-items: flex-start;
			font-size: 14px;

			&-icon {
				width: 28px;
				font-size: 28px;
				flex-shrink: 0;
				flex-grow: 0;
				margin-right: 10px;
			}

			&-message {
				flex-shrink: 1;
				flex-grow: 1;
				color: #0086cd;

				strong {
					font-weight: 600;
				}
			}
		}

		&.-active & {

			&-link {
				@include dd-form-button-variant(dd-color-palette(primary));
				border-color: dd-color-palette(primary);
			}
		}

		&:not(.-active) & {

			&-link {

				&-badge {
					display: none;
				}
			}
		}
	}

	&-breadCrumbs {
		font-size: 20px;
		color: #3c3c3c;

		span:not(:last-child) {

			&::after {
				content: ' / ';
				color: #d2d2d2;
			}
		}

		a {
			color: #a1a1a1;
		}
	}

	&-sideMenu {
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		width: 180px;
		height: 100vh;
		background-color: dd-color-palette(primary);
		color: #fff;
		display: flex;
		flex-direction: column;
		transition: transform 0.2s;

		&-header {
			flex-shrink: 0;
			flex-grow: 0;
			position: relative;
			height: 53px;
			display: flex;
			flex-direction: column;
			justify-content: center;

			& > .grid-container {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
			}

			.burger-icon {
				background-color: #fff;
			}

			.office-logo {

				& > svg {
					fill: #fff;
					color: dd-color-palette(primary);
				}
			}

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: #fff;
				opacity: 0.1;
			}
		}

		&-menu {
			flex-shrink: 1;
			flex-grow: 1;
			font-size: 14px;
			overflow-x: hidden;
			overflow-y: auto;

			&-item {
				display: flex;
				justify-content: space-between;
				align-items: center;
				flex-wrap: nowrap;
				padding: 16px 10px;
				color: #fff;
				text-decoration: none;
				border-bottom: 1px solid transparent;

				svg {
					fill: currentColor;
				}

				.dropDown-link-caret {
					width: 1.2em;
					height: 1.2em;

					.icon {
						width: 100%;
						height: 100%;
					}
				}

				&:not(:last-child) {
					border-color: rgba(#fff, 0.1);
				}

				&.-active {
					background-color: #005c8c;
				}

				&:hover {
					background-color: rgba(#005c8c, 0.5);
				}
			}

			.dropDown.-open {

				& > .dropDown-link {
					background-color: #005c8c;
				}
			}

			.dropDown-content {

				.office-sideMenu-menu-item {
					background-color: #005c8c;

					&.-active {
						background-color: #024c73;
					}

					&:hover {
						background-color: rgba(#024c73, 0.5);
					}
				}
			}
		}
	}

	&-content {
		width: calc(100% - 180px);
		margin-left: 180px;
	}

	&-title {
		color: dd-color-palette(primary);
		font-size: 36px;
		font-weight: 600;
	}

	&-sectionTitle {
		font-size: 24px;
		font-weight: 700;
		position: relative;

		&:not(._simple)::before {
			content: '/';
			position: absolute;
			left: -0.7em;
			color: dd-color-palette(primary);
		}
	}

	&-adress {
		padding: 27px 30px;
		font-weight: 600;
		background-color: #eeeeee;
	}

	&-materialNumber {
		padding-right: 10px;
		font-size: 24px;
		color: dd-color-palette(primary);;
		font-weight: 400;
		font-family:  $font-opensans;
	}

	&-expPdf {
		position: relative;
		padding-left: 30px;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 21px;
			height: 22px;
			left: 0;
			bottom: 0;
			background: url('../img/static/icon-exp-pdf.png');
		}
	}

	@include dd-responsive-media((xs, md)) {

		&-breadCrumbs {
			font-size: 14px;
		}

		&-sideMenu:not(.-opened) {
			transform: translateX(-100%);
		}

		&-content {
			width: auto;
			margin-left: 0;
		}

		&-title {
			font-size: 20px;
		}
	}
}