<div class="office-toggleGroup">
	<div class="grid-area _auto _small _dense">
		<div class="grid-cell">
			<label class="form-button _danger _long _toggle" v-bind:class="{'-inactive': value=='true'}">
				<svg class="icon-svg">
					<use xlink:href="#icon-times"></use>
				</svg>
				<input type="radio" v-bind:name="name" value="false" v-model="radioValue"/>
			</label>
		</div>
		<div class="grid-cell">
			<label class="form-button _success _long _toggle" v-bind:class="{'-inactive': value=='false'}">
				<svg class="icon-svg">
					<use xlink:href="#icon-check"></use>
				</svg>
				<input type="radio" v-bind:name="name" value="true" v-model="radioValue"/>
			</label>
		</div>
	</div>
</div>