@mixin burger-opened()
{
	&-icon {

		&:nth-child(1) {
			transform: rotate(-45deg);
			top: calc(50% - 1px);
		}

		&:nth-child(2) {
			opacity: 0;
		}

		&:nth-child(3) {
			transform: rotate(45deg);
			top: calc(50% - 1px);
		}
	}
}

.burger {
	position: relative;
	width: 30px;
	height: 18px;
	transform: translateZ(0);
	text-decoration: none;
	opacity: 1;
	transition: opacity $time;

	&-icon {
		$height: 2px;
		position: absolute;
		height: $height;
		width: 100%;
		background-color: dd-color-palette(default);
		opacity: 1;

		&:nth-child(1) {
			transition: all 0.3s;
			top: 0;
		}

		&:nth-child(2) {
			transition: all 0.3s;
			top: calc(50% - #{$height/2});
		}

		&:nth-child(3) {
			transition: all 0.3s;
			bottom: 0;
		}
	}

	&:hover {
		opacity: 0.8;
	}

	&.-opened & {
		@include burger-opened();
	}
}