.financeIndustry {

	&-grid {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		&-item {
			display: flex;
			height: 100%;
			padding: 20px 0;
		}
	 }

	&-moreLink {
		display: inline-block;
		padding-left:  20px;
		padding-right: 15px;
		font-size: 14px;
		text-decoration: none;
		color: #a1a1a1;
	}
}