.notificationDropDown {

	.dropDown-content {
		background-color: #005c8c;

		.notificationButton {
			background-color: #005c8c;

			.link {
				color: #fff;
			}

			&.-active {
				background-color: #024c73;
			}

			&:hover {
				background-color: rgba(#024c73, 0.5);
			}
		}
	}
}