.map {
	width: 100%;
	padding-bottom: 60%;
	position: relative;

	&-object {
		position: absolute !important;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&-title {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		&.-white {
			color: #ffffff;
			font-size: 30px;

			strong {
				font-weight: 800;
				text-transform: uppercase;
			}
		}
	}
}