.chartBar {
  .bb-chart-text text {
	font-size: 20px;
	fill: #323232 !important;
  }

  .bb-axis text {
	color: #000000 !important;
	font-size: 16px;
	font-weight: 300;
  }

  &._colorBars {
	&-1 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #f5a623 !important;
		  stroke: #f5a623 !important;
		}

		&:nth-child(2) {
		  fill: #7ed321 !important;
		  stroke: #7ed321 !important;
		}

		&:nth-child(3) {
		  fill: #fecb32 !important;
		  stroke: #fecb32 !important;
		}
	  }
	}
	&-2 {
	  &:nth-child(1) {
		fill: #00a479 !important;
		stroke: none !important;
	  }

	  &:nth-child(2) {
		fill: #2fc69e !important;
		stroke: none !important;
	  }

	  &:nth-child(3) {
		fill: #00a479 !important;
		stroke: none !important;
	  }
	}
	&-3 {
	  &:nth-child(1) {
		fill: #596bc8 !important;
		stroke: none !important;
	  }

	  &:nth-child(2) {
		fill: #4789bc !important;
		stroke: none !important;
	  }

	  &:nth-child(3) {
		fill: #47b1bc !important;
		stroke: none !important;
	  }
	}
	&-4 {
	  &:nth-child(1) {
		fill: #7ed321 !important;
		stroke: none !important;
	  }

	  &:nth-child(2) {
		fill: #7ed321 !important;
		stroke: none !important;
	  }

	  &:nth-child(3) {
		fill: #6ec470 !important;
		stroke: none !important;
	  }
	}
	&-5 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #f9e815 !important;
		}

		&:nth-child(2) {
		  fill: #f6a71e !important;
		}
	  }
	}
	&-6 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #59b343 !important;
		}

		&:nth-child(2) {
		  fill: #f47d20 !important;
		}

		&:nth-child(3) {
		  fill: #ffb330 !important;
		}
	  }
	}
	&-7 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #47b1bc !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #4789bc !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #596bc8 !important;
		  stroke: none !important;
		}
	  }
	}
	&-8 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #59b244 !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #7ed321 !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #6ec470 !important;
		  stroke: none !important;
		}
	  }
	}
	&-9 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #cd0b24 !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #ff2e48 !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #ff922e !important;
		  stroke: none !important;
		}
	  }
	}
	&-10 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #f6a623 !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #f8e81c !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #ef5b08 !important;
		  stroke: none !important;
		}
	  }
	}
	&-11 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #e0808d !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #d95062 !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #cd0b24 !important;
		  stroke: none !important;
		}
	  }
	}
	&-12 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #18a37a !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #3ac59e !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #71c273 !important;
		  stroke: none !important;
		}
	  }
	}
	&-13 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #586fdb !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #4e92df !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #728af5 !important;
		  stroke: none !important;
		}
	  }
	}
	&-14 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #34a2b9 !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #558ecf !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #51dae7 !important;
		  stroke: none !important;
		}
	  }
	}
	&-15 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #81d135 !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #5cb04b !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #539a54 !important;
		  stroke: none !important;
		}
	  }
	}

	&-16 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #2e84d2 !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #5ba8d9 !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #74afef !important;
		  stroke: none !important;
		}
	  }
	}

	&-17 {
	  .bb-bars path {
		&:nth-child(1) {
		  fill: #72abec !important;
		  stroke: none !important;
		}
		&:nth-child(2) {
		  fill: #72abec !important;
		  stroke: none !important;
		}
		&:nth-child(3) {
		  fill: #5cb04b !important;
		  stroke: none !important;
		}
		&:nth-child(4) {
		  fill: #67b624 !important;
		  stroke: none !important;
		}
	  }
	}
  }

  &._onlyOneLabels {
	.bb-chart-text:not(:first-child) {
	  display: none;
	}
  }

  &._hideText-1 {
	.bb-texts-data1 {
	  .bb-text-0 {
		fill: none !important;
	  }
	}
  }

  &._hideXLine {
	.bb-axis-x {
	  path.domain {
		stroke-width: 0;
	  }

	  line {
		stroke-width: 0;
	  }
	}
  }

  &._adaptText {
	.bb-axis text {
	  font-size: 16px;
	}
  }

  @include dd-responsive-media((xs,xl)) {
	&._adaptText {
	  .bb-axis text {
		font-size: 10px;
	  }
	}
  }
}
