.chart {
	&-graph {
	}

	&-legend {

		&-label {
			display: flex;
			align-items: center;
			padding: 4px 10px 4px 0;
			color: #000;

			&:hover,
			&.-active {
				background-color: #018acf;
				color: #fff;

				.chart-legend-mark {
					visibility: hidden;
				}
			}
		}

		&-mark {
			width: 10px;
			height: 10px;
			margin-right: 5px;
			flex-shrink: 0;
			flex-grow: 0;
		}

		&-text {
			font-size: 12px;
			font-weight: 300;
			margin-right: 10px;
		}

		&-value {
			font-size: 12px;
			font-weight: 700;
			margin-left: auto;
		}
	}

	&._backGray {
		background-color: #f5f5f5;
	}

	.bb-chart-arcs-title {
		font-weight: 600;
		font-size: 18px;
	}
}
