<!--p id="info_msg" name="SignatureTitle">Подпись:</p>
<div id="item_border">
    <textarea id=" @@var filesgnname " style="font-size:9pt;height:20px;width:100%;resize:none;border:0;" name=" @@var filesgnname ">
    </textarea>
    <textarea id="SignatureTxtBox" style="font-size:9pt;height:0px;width:100%;resize:none;border:0;">
    </textarea>
</div-->
