.form {

	&-field {

		&-label {
			font-weight: 600;

			&._blue {
				color: dd-color-palette(primary);
			}

			&._gray {
				font-weight: 500;
				color: #a1a1a1;
			}
		}

		&-message {
			font-style: italic;
			font-size: 14px;

			&:not(.-error) {
				padding: 0;
			}
		}

		&-static {
			font-size: 18px;
			font-weight: 600;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&._static & {

			&-label {
				font-weight: 400;
				color: #a1a1a1;
			}
		}

		&-input {

			&-suffix {
				pointer-events: none;

				svg {
					fill: currentColor;
					width: 1em;
					height: 1em;
				}
			}
		}
	}

	&-button {
		text-transform: uppercase;
		background-image: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.07) 100%);
		border-color: transparent;

		&._long {
			padding-left: 2em;
			padding-right: 2em;
		}

		&._large {
			font-size: 20px;
		}

		&._link {
			text-transform: none;
			background: transparent;
			border-color: transparent;
			color: dd-color-palette(primary);
		}

		&._underline {
			text-decoration: underline;
		}

		&._lowercase {
			text-transform: none;
		}

        &._blue {
            background-color: #018acf;
            color: #fff;
        }

		&._disabled {
			background-color: dd-color-palette(soft);
			pointer-events: none;
			cursor: default;
		}

		&._icon {
			padding: 0;
			font-size: 2.7em;
			min-height: 1em;
		}

        &._rounded {
            border-radius: 999px;
        }
	}

	&-sectionTitle {
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;

        &._small {
            font-size: 20px;
        }
	}

	&-inputRadio {
		max-width: 100%;
	}

	&-inputCheckbox {
		max-width: 100%;
	}

	&-inputDate {
		@extend .form-inputText;

		& > input {
			padding-right: 2.2em;
		}
	}

	&-inputPassword {
		@extend .form-inputText;
	}
}
