<script>
    var fileContent2 = [];
    var i;
    var openFile1 = function (event) {
        fileContent = undefined;
        var input = event.target;
        var reader = new FileReader();
        reader.readAsDataURL(input.files[0]);
        reader.onload = function () {
            var header = ";base64,";
            var fileData = reader.result;
            fileContent = fileData.substr(fileData.indexOf(header) + header.length);
            fileContent2[i] = fileContent;
            i++;
        };
    };
</script>

<script>
    var openFile2 = function (event, id) {
        fileContent = undefined;
        var input = event.target;
        var reader = new FileReader();
        reader.readAsDataURL(input.files[0]);
        reader.onload = function () {
            var header = ";base64,";
            var fileData = reader.result;
            fileContent = fileData.substr(fileData.indexOf(header) + header.length);
            fileContent2[id] = fileContent;

        };
    };
</script>

<!--script language="javascript">
    var startCrypto = function (certInput) {
        var txtDataToSign = "Hello World";
        document.getElementById("SignatureTxtBox").innerHTML = "";
        var canPromise = !!window.Promise;
        if(canPromise) {
            cadesplugin.then(function () {
                    Common_CheckForPlugIn(certInput);
                   },
                   function(error) {
                       document.getElementById('PluginEnabledImg').setAttribute("src", "Img/red_dot.png");
                       document.getElementById('PlugInEnabledTxt').innerHTML = error;
                   }
           );
        } else {
            window.addEventListener("message", function (event){
                if (event.data == "cadesplugin_loaded") {
                    CheckForPlugIn_NPAPI(certInput);
                } else if(event.data == "cadesplugin_load_error") {
                       document.getElementById('PluginEnabledImg').setAttribute("src", "Img/red_dot.png");
                       document.getElementById('PlugInEnabledTxt').innerHTML = "Плагин не загружен";
                }
                },
            false);
            window.postMessage("cadesplugin_echo_request", "*");
        }
    }
</script>

<script language="javascript">
    var startCryptoByName = function (certInputId) {
        var txtDataToSign = "Hello World";
        document.getElementById("SignatureTxtBox").innerHTML = "";
        var canPromise = !!window.Promise;
        if(canPromise) {
            cadesplugin.then(function () {
                    Common_CheckForPlugIn(document.getElementById(certInputId));
                   },
                   function(error) {
                       document.getElementById('PluginEnabledImg').setAttribute("src", "Img/red_dot.png");
                       document.getElementById('PlugInEnabledTxt').innerHTML = error;
                   }
           );
        } else {
            window.addEventListener("message", function (event){
                if (event.data == "cadesplugin_loaded") {
                    CheckForPlugIn_NPAPI(document.getElementById(certInputId));
                } else if(event.data == "cadesplugin_load_error") {
                       document.getElementById('PluginEnabledImg').setAttribute("src", "Img/red_dot.png");
                       document.getElementById('PlugInEnabledTxt').innerHTML = "Плагин не загружен";
                }
                },
            false);
            window.postMessage("cadesplugin_echo_request", "*");
        }
    }
</script-->
