.form-inputImages {

  &-image {

    &-body {
		display: inline-block;
		width: 139px;
		height: 209px;
		background-color: #88bfe6;
		background-position: center;
		background-size: cover;
		box-shadow: 0 1px 5px rgba(11, 48, 85, 0.15);
        position: relative;

        &::before {
            content: '';
            width: 60%;
            height: 60%;
            position: absolute;
            top: 20%;
            left: 20%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/svg/icon-upload.svg);
            filter: invert(100%);
        }

        &.__upload_doc {
            position: relative;
            &::before {
                background-image: url(../img/svg/icon-file-doc.svg);
                filter: none;
            }
        }
        &.__upload_xls {
            position: relative;
            &::before {
                background-image: url(../img/svg/icon-file-xls.svg);
                filter: none;
            }
        }
        &.__upload_pdf {
            position: relative;
            &::before {
                background-image: url(../img/svg/icon-file-pdf.svg);
                filter: none;
            }
        }
        &.__upload_default {
            position: relative;
            &::before {
                background-image: url(../img/svg/icon-file.svg);
                filter: none;
            }
        }
    }
  }
}
