<div class="form-inputFiles">
	<div class="form-inputFiles-list" v-if="files.length">
		<div class="grid-area" v-bind:class="areaClass">
			<div class="grid-cell" v-for="(file, index) in files" v-bind:class="cellClass">
				<a class="form-inputFiles-file" :href="file.url">
					<div class="form-inputFiles-file-icon" v-bind:class="['_'+file.ext]"></div>
					<div class="form-inputFiles-file-body">
						<div class="form-inputFiles-file-title">{{file.name}}</div>
						<div class="form-inputFiles-file-size">{{getFileSize(file.size)}}</div>
                        <!--@@include = form-cryptopro.html {"certboxid": ""} -->
                        <!--div class="form-inputFiles-file-cryptopro" v-on:click.prevent="cryptoproFile(index)">
                            <a href="#"
                               class="form-button _primary _bordered"
                            >Подписать</a>
                        </div-->
                        <!--@@include = form-cryptopro-footer.html {"filesgnname":"filesgn"}-->
						<div class="form-inputFiles-file-remove" v-on:click.prevent="removeFile(index)" v-if="!file.undeletable">
							<svg class="icon-svg">
								<use xlink:href="#icon-remove"></use>
							</svg>
						</div>
					</div>
					<input type="file" class="__hidden" v-bind:name="name" v-on:change="updateFile(file, $event)" onchange="openFile1(event)" id="fileinput"/>

				</a>
			</div>
		</div>
		<div class="space _medium"></div>
	</div>

	<div class="form-inputFiles-buttons" th:if="${notNeedAddFile} == null">
		<a class="form-button _primary _bordered" href="#" v-on:click.prevent="addFile">+ Прикрепить</a>
	</div>
</div>
