        <!--div id="info">

            <div id="info_msg" style="text-align:center;">
                <span id="PlugInEnabledTxt"></span>
                <img src="" width="10" height="10" alt="" id="PluginEnabledImg"></img>


            </div-->
            <!--div id="boxdiv" style="display:none">
                <span id="errorarea">
                    У вас отсутствуют личные сертификаты. Вы можете
                    <a href="#" onClick="Common_RetrieveCertificate();" style="color:#0837ff"> получить</a>
                    сертификат от тестового УЦ, предварительно установив
                    <a href="/certsrv/certnew.cer?ReqID=CACert&Enc=bin" style="color:#0837ff">корневой сертификат тестового УЦ</a>
                    в доверенные.
                </span>
            </div-->
        <!--/div>
        <p id="info_msg" name="CertificateTitle">Выберите Сертификат:</p>
        <div id="item_border" name="CertListBoxToHide">
            <select size="2" name="CertListBox" id="CertListBox @@var certboxid " style="width:100%;resize:none;border:0;">
            </select>
        </div-->

        <!--div id="cert_info" style="display:none">
            <h2>Информация о сертификате</h2>
                <p class="info_field" id="subject"></p>
                <p class="info_field" id="issuer"></p>
                <p class="info_field" id="from"></p>
                <p class="info_field" id="till"></p>
                <p class="info_field" id="provname"></p>
                <p class="info_field" id="algorithm"></p>
        </div-->









