.form-inputFiles {

	&-list {

	}

	&-file {
		position: relative;
		display: flex;
		align-items: flex-start;
        text-decoration: none;
        color: inherit;

        @at-root {
            a[href]#{&} {
                color: dd-color-palette(primary);

                &:hover {
                    color: inherit;
                }
            }
        }

		&-icon {
			width: 24px;
			height: 32px;
			flex-shrink: 0;
			flex-grow: 0;
			display: inline-block;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(../img/svg/icon-file.svg);
			margin-right: 10px;

			&._doc, &._docx {
				background-image: url(../img/svg/icon-file-doc.svg);
			}

			&._xls, &._xlsx {
				background-image: url(../img/svg/icon-file-xls.svg);
			}

			&._pdf {
				background-image: url(../img/svg/icon-file-pdf.svg);
			}
		}

		&-body {
			flex-shrink: 1;
			flex-grow: 1;
		}

		&-title {
			width: calc(100% - 30px);
			margin-bottom: 3px;
		}

		&-size {
			color: #a1a1a1;
		}

		&-remove {
            cursor: pointer;
			text-decoration: none;
			position: absolute;
			top: 5px;
			right: 0;

			svg {
				fill: dd-color-palette(default);
				width: 1.2em;
				height: 1.2em;
				opacity: 0.2;
			}

			&:hover {

				svg {
					opacity: 0.7;
				}
			}
		}

		&._small {
			font-size: 14px;
		}
	}

	&-buttons {

		.form-button {
			background-color: transparent;
			border: 1px solid #d4d4d4;
			color: #a1a1a1;
		}
	}
}
