<div class="progressBar">
	<div class="grid-area">
		<div class="grid-cell _xs-11 _lg-10">
			<div class="progressBar-body">
				<div class="progressBar-process" style="width: 70%"></div>
			</div>
		</div>
		<div class="grid-cell _xs-1 _lg-1">
			<div class="progressBar-percentage">
				<span>70%</span>
			</div>
		</div>
	</div>
</div>