.progressBar {

	&-body {
		width: 100%;
		height: 20px;
		background-color: #f3f3f3;
		border: 1px solid #d2d2d2;
		border-radius: 9px;
	}

	&-process {
		width: 0;
		height: 100%;
		background-color: dd-color-palette(primary);
		border-radius: 9px;
		transition: width 0.2s;
	}
}