<!-- @@master = ../layout/html.html {"pageMod": "_gray", "root": "../"} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray" id="officeFinanceRequest">
  <div class="page-header">
    <!--@@include = ../../components/office/office-header-final.html-->
  </div>
  <div class="page-content">
    <!--@@include = ../../components/office/office-sideMenu-final.html-->
    <div class="office-content">
      <div class="grid-container">
        <div class="space _large"></div>
        <!--
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Мои проекты</a></span>
						<span>Отправка запроса на финасирование</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<form action="">
					<div class="grid-area _auto _dense _small _alignCenter">
						<div class="grid-cell">
							<div class="form-field">
								<div class="form-field-input">
									<div class="form-inputText" style="width: 70px;">
										<input type="text" placeholder="№"/>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-cell">
							<div class="form-field">
								<div class="form-field-input">
									<div class="form-inputText">
										<input type="text" placeholder="Название проекта"/>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-cell">
							<div class="form-field">
								<div class="form-field-input">
									<div class="form-inputText">
										<input type="text" placeholder="ФИО клиента"/>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-cell">
							<div class="form-field">
								<div class="form-field-input">
									<div class="form-inputSelect">
										<select>
											<option value="">Статус</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="grid-cell">
							<button type="submit" class="form-button _lowercase _primary">Применить</button>
						</div>
						<div class="grid-cell">
							<a href="" class="link _underline _inset">Очистить фильтры</a>
						</div>
					</div>
				</form>
				<div class="space _large"></div>
			-->
        <div class="grid-area">
          <div class="grid-cell">
            <div class="card">
              <div class="grid-cell">
                <div class="dropDownProject" th:attr="data-project-id=${project.projectId}">
                  <!--dropDown _static -open"- data-dropDown-clickOutside="">-->
                  <div class="dropDownProject-row">
                    <div class="dropDownProject-cell">
                      <a href="/private-office" class="dropDown-link link">
                        <span th:text="'&nbsp;№ ' + ${project.projectCode} + ' ' + ${project.projectNomination}">нет данных</span>
                      </a>
                    </div>
                    <div class="dropDownProject-cell">
                      <a href="#" th:href="@{/private-office/dossier(id=${project.projectId})}" class="link">
                        <svg class="icon">
													<use xlink:href="#icon-text-file"></use>
												</svg> Документы проекта
                      </a>
                    </div>
                    <div class="dropDownProject-cell">
                      <span class="dropDownProject-inscription">Инициатор</span>
                      <a href="#" class="link" th:text="${project.initiatorNameShort}">Иванов Иван Иванович</a>
                    </div>
                    <div class="dropDownProject-cell">
                      <span class="dropDownProject-inscription">Заемщик</span>
                      <a href="#" class="link" th:text="${project.initiatorNameShort}">ООО "Жилфондстрой"</a>
                    </div>
                    <div class="dropDownProject-cell">
                      <span class="dropDownProject-inscrigption">Статус</span>
                      <!--a href="#" class="link" th:text="(${project.projectRequestStatus} + 1) + ' этап: ' + ${ref.projectStatus[__${project.projectRequestStatus}__].title}">Запрос на финансирование</a-->
                    </div>
                  </div>
                  <div class="dropDown-content" style="border-top: 1px solid #eaeaea;">
                    <div class="space _large"></div>
                    <div class="grid-area _large">
                      <div class="grid-cell _xl-8 _xxl-8">
                        <div class="dropDownProject-grid owlSlider">
                          <div class="grid-cell" th:each="status : ${ref.projectStatus}" th:if="${status.id} lt 4">

                          </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                          <div class="grid-cell _md-6" style="display: flex;">
                            <div class="dropDownProject-card" style="flex-grow: 1; min-width: 0;">
                              <div class="dropDownProject-title">Соотношение средств</div>
                              <div class="dropDownProject-subtitle">Соотношение собственных и заемных средств</div>
                              <div class="chart chartPie _withoutGutters">
                                <div class="grid-area _alignCenter">
                                  <div class="grid-cell _sm-5">
                                    <div class="chart-graph" id="graph-1"></div>
                                  </div>
                                  <div class="grid-cell _sm-7">
                                    <div class="chart-legend" data-chart="graph-1"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _md-6" style="display: flex;">
                            <div class="dropDownProject-card" style="flex-grow: 1; min-width: 0;">
                              <div class="dropDownProject-title">Источники финансирования</div>
                              <div class="dropDownProject-subtitle">Источники финансирования проекта</div>
                              <div class="chart chartPie _withoutGutters">
                                <div class="grid-area _alignCenter">
                                  <div class="grid-cell _sm-5">
                                    <div class="chart-graph" id="graph-2"></div>
                                  </div>
                                  <div class="grid-cell _sm-7">
                                    <div class="chart-legend" data-chart="graph-2"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="space _medium"></div>
                        <div class="grid-area">
                          <div class="grid-cell _md-6" style="display: flex;">
                            <div class="dropDownProject-card">
                              <div class="dropDownProject-title">Бюджетные эффекты</div>
                              <div class="space _medium"></div>
                              <div class="divider _dashed"></div>
                              <div class="space _medium"></div>
                              <div class="grid-area">
                                <div class="grid-cell" th:if="${projectBudgetaryEffectEstimatedAmount} != null and ${projectBudgetaryEffectEstimatedAmount} > 0">
                                  <div class="form-field _static">
                                    <div class="form-field-label">Бюджетный эффект:</div>
                                    <div class="form-field-static" th:text="${#numbers.formatDecimal(__${projectBudgetaryEffectEstimatedAmount}__,3,'WHITESPACE',2,'COMMA')} + ' млн. руб.'"></div>
                                  </div>
                                </div>
                                <div class="grid-cell" th:if="${project.projectWorkPlaceCount} != null and ${project.projectWorkPlaceCount} > 0">
                                  <div class="form-field _static">
                                    <div class="form-field-label">Социально-экономический эффект (раб. мест):</div>
                                    <div class="form-field-static" th:text="${project.projectWorkPlaceCount}"></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _md-6" style="display: flex;">
                            <div class="dropDownProject-card">
                              <div class="dropDownProject-title">Общие данные о проекте</div>
                              <div class="space _medium"></div>
                              <div class="divider _dashed"></div>
                              <div class="space _medium"></div>
                              <div class="grid-area">
                                <div class="grid-cell">
                                  <div class="form-field _static">
                                    <div class="form-field-label">Отрасль:</div>
                                    <div class="form-field-static" th:text="${sector}"></div>
                                  </div>
                                </div>
                                <div class="grid-cell _md-6">
                                  <div class="form-field _static">
                                    <div class="form-field-label">Срок окупаемости:</div>
                                    <div class="form-field-static" th:text="${project.projectProjectPaybackTimeDouble}  != null ? (${#numbers.formatInteger(__${project.projectProjectPaybackTimeDouble}__,1,'WHITESPACE')} + ' лет') : ${ref.projectPaybackTime[__${project.projectPaybackTime}__].title}"></div>
                                  </div>
                                </div>
                                <div class="grid-cell _md-6">
                                  <div class="form-field _static">
                                    <div class="form-field-label">Стоимость:</div>

                                    <div class="form-field-static" th:text="${costProject} != null ? (${costProject} + ' ' + млн. + ' ' + ${project.projectCostCurrency}) : ${ref.projectCost[__${project.projectCost}__].title}"></div>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="grid-cell _xl-4 _xxl-4 _bordered">
                        <div class="grid-area">
                          <div class="grid-cell _md-6 _xl-12" th:if="${#arrays.contains(user.roles, 'USER')}">
                            <div class="cardManager">
                              <div class="grid-container" th:if="${manager} != null">
                                <div class="space _medium"></div>
                                <div class="cardManager-title">Региональный менеджер</div>
                                <div class="space _medium"></div>
                                <div class="grid-area">
                                  <div class="grid-cell">
                                    <div class="profile">
                                      <div class="profile-grid">
                                        <div class="profile-grid-item _image">
                                          <div class="profile-image" th:style="${manager != null} ? 'background-image: url(' + ${manager.image} + ')' : '#' "></div>
                                        </div>
                                        <div class="profile-grid-item _title">
                                          <div class="profile-title _black" th:text="${manager != null}? ${manager.nameFirst} + ' ' + ${manager.nameLast} : 'нет данных' ">
                                            Мария Грут
                                          </div>
                                          <div class="profile-body">
                                            <div class="profile-body-location _gray">
                                              <div class="profile-body-location-region" th:text="${regionZnF} ? ${regionZnF} : 'нет данных' ">Центральный&nbsp;ФО</div>
                                            </div>
                                          </div>
                                          <div class="profile-body-rating">
                                            <div class="profile-body-rating-top" th:style="'width: ' + ${rating} + '%'" style="width: 0%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                            <div class="profile-body-rating-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="space _medium"></div>
                                <div class="divider _dashed"></div>
                                <div class="space _medium"></div>
                                <div class="cardManager-connection" style="font-size: 14px;">
                                  <div class="grid-area">
                                    <div class="grid-cell _sm-6">
                                      <div class="cardManager-label">Телефон:</div>
                                      <a class="link _inherit cardManager-phone" href="tel:+79231510604" th:href="${manager != null} ? 'tel:' + ${manager.phone} : '#' " th:text="${manager != null} ? ${manager.phone} : 'нет данных' ">+7 923 151-06-04</a>
                                    </div>
                                    <div class="grid-cell _sm-6">
                                      <div class="cardManager-label">E-mail:</div>
                                      <div class="cardManager-email"><a class="link _underline" href="mailto:ivanov@mail.com" th:href="${manager != null} ? 'mailto:' + ${manager.email} : '#' " th:text="${manager != null} ? ${manager.email} : 'нет данных' ">ivanov@mail.com</a></div>
                                    </div>
                                  </div>
                                  <div class="space _medium"></div>
                                  <!--
																		<div class="grid-area">
																			<div class="grid-cell _sm-6">
																				<a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">Сообщения</a>
																			</div>
																			<div class="grid-cell _sm-6">
																				<a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">+&nbsp;Документ</a>
																			</div>
																		</div>
																	-->
                                </div>
                                <div class="space _large"></div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _md-6 _xl-12" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
                            <div class="cardManager">
                              <div class="space _medium"></div>
                              <div class="cardManager-title">Клиент</div>
                              <div class="space _medium"></div>
                              <div class="grid-area">
                                <div class="grid-area">
                                  <div class="grid-cell">
                                    <div class="profile">
                                      <div class="profile-grid">
                                        <div class="profile-grid-item _image">
                                          <div class="profile-image" th:style="${client != null} ? 'background-image: url(' + ${client.image} + ')' : '#' "></div>
                                        </div>
                                        <div class="profile-grid-item _title">
                                          <div class="profile-title _black" th:text="${client != null}? ${client.nameFirst} + ' ' + ${client.nameLast} : 'нет данных' ">
                                            Мария Грут
                                          </div>
                                          <div class="profile-body">
                                            <div class="profile-body-location _gray">
                                              <div class="profile-body-location-region" th:text="${regionZnF} ? ${regionZnF} : 'нет данных' ">Центральный&nbsp;ФО</div>
                                              <div class="profile-body-location-city"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="space _medium"></div>
                              <div class="divider _dashed"></div>
                              <div class="space _medium"></div>
                              <div class="cardManager-connection">
                                <div class="grid-area">
                                  <div class="grid-cell _sm-6">
                                    <div class="cardManager-label">Телефон:</div>
                                    <a class="link _inherit cardManager-phone" href="tel:+79231510604" th:href="${client != null} ? 'tel:' + ${client.phone} : '#' " th:text="${client != null} ? ${client.phone} : 'нет данных' ">+7 923 151-06-04</a>
                                  </div>
                                  <div class="grid-cell _sm-6">
                                    <div class="cardManager-label">E-mail:</div>
                                    <div class="cardManager-email"><a class="link _underline" href="mailto:ivanov@mail.com" th:href="${client != null} ? 'mailto:' + ${client.email} : '#' " th:text="${client != null} ? ${client.email} : 'нет данных' ">ivanov@mail.com</a></div>
                                  </div>
                                </div>
                                <div class="space _medium"></div>
                                <!--
																<div class="grid-area">
																	<div class="grid-cell _sm-6">
																		<a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">Сообщения</a>
																	</div>
																	<div class="grid-cell _sm-6">
																		<a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">+&nbsp;Документ</a>
																	</div>
																</div>
															-->
                              </div>
                              <div class="space _large"></div>
                            </div>
                          </div>
                          <div class="grid-cell _md-6 _xl-12">
                            <div class="cardManager">
                              <div class="cardManager-title">Сотрудник банка</div>
                              <div class="space _medium"></div>
                              <div class="grid-area">
                                <div class="grid-cell">
                                  <div class="profile">
                                    <div class="profile-grid">
                                      <div class="profile-grid-item _image">
                                        <div class="profile-image" th:style="${collaborator != null} ? 'background-image: url(' + ${collaborator.image} + ')' : '#' "></div>
                                      </div>
                                      <div class="profile-grid-item _title">
                                        <div class="profile-title _black" th:text="${collaborator != null}? ${collaborator.nameFirst} + ' ' + ${collaborator.nameLast} : 'нет данных' ">
                                          Мария Грут
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="space _medium"></div>
                              <div class="divider _dashed"></div>
                              <div class="space _medium"></div>
                              <div class="cardManager-connection" style="font-size: 14px;">
                                <div class="grid-area">
                                  <div class="grid-cell _sm-6">
                                    <div class="cardManager-label">Телефон:</div>
                                    <a class="link _inherit cardManager-phone" href="tel:+79231510604" th:href="${collaborator != null} ? 'tel:' + ${collaborator.phone} : '#' " th:text="${collaborator != null} ? ${collaborator.phone} : 'нет данных' ">+7 923 151-06-04</a>
                                  </div>
                                  <div class="grid-cell _sm-6">
                                    <div class="cardManager-label">E-mail:</div>
                                    <div class="cardManager-email"><a class="link _underline" href="mailto:ivanov@mail.com" th:href="${collaborator != null} ? 'mailto:' + ${collaborator.email} : '#' " th:text="${collaborator != null} ? ${collaborator.email} : 'нет данных' ">ivanov@mail.com</a></div>
                                  </div>
                                </div>
                                <div class="space _medium"></div>
                                <!--
																			<div class="grid-area">
																				<div class="grid-cell _sm-6">
																					<a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">Сообщения</a>
																				</div>
																				<div class="grid-cell _sm-6">
																					<a class="form-button _primary _bordered _lowercase _long" href="#" v-on:click.prevent="addFile">+&nbsp;Документ</a>
																				</div>
																			</div>
																		-->
                              </div>
                              <div class="space _large"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="space _large"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="space _massive"></div>
    </div>
  </div>
</div>
<script id="diagramParams" th:inline="javascript">
  /*<![CDATA[*// /

  function addSpaces(nStr) {
    return nStr.toString().replace(/(\d{1,3}(?=(\d{3})+(?:\.\d|\b)))/g, "\$1 ");
  }

  // var projectID = /*[[${project.projectId}]]*/ 0

  var columns1num = [
    [
      "data1",
      /*[[${amountAllRecipientSumWithInvestors}]]*/ 0
    ],
    [
      "data2",
      /*[[${project.projectAmountFinancingRequest}]]*/ 0
    ],
  ];

  var names1 = {
    data1: 'Собственные средства',
    data2: 'Заемные средства',
  };

  var columns = [
    [
      "data1",
      /*[[${project.projectAmountRecipientsCash}]]*/ 0
    ],
    [
      "data2",
      /*[[${amountInvestorCashSum}]]*/ 0
    ],
    [
      "data3",
      /*[[${amountBondArraySum}]]*/ 0
    ],
    [
      "data4",
      /*[[${project.projectAmountBanksCash}]]*/ 0
    ],
    [
      "data5",
      /*[[${amountOthersCashSum}]]*/ 0
    ],
  ];

  var names = {
    data1: 'Собственные средства',
    data2: 'Соинвестор',
    data3: 'Выпуск облигаций',
    data4: 'Кредит ВЭБ',
    data5: 'Прочие',
  };

  if (!window.chartsData) {
    window.chartsData = {};
  }
  window.chartsData['graph-1'] = {
    data: {
      columns: columns1num,
      names: names1,
      type: "donut",
    },
    donut: {
      width: 40,
      label: {
        show: false,
      },
    },
    color: {
      pattern: [
        '#fb5746',
        '#fdda70',
      ],
    },
    tooltip: {
      show: false
    },
    legend: {
      show: false,
    },
    transition: {
      duration: 1000,
    },
    size: {
      height: 200,
    },
  }
  window.chartsData['graph-2'] = {
    data: {
      columns: columns,
      names: names,
      type: "donut",
    },
    donut: {
      width: 40,
      label: {
        show: false,
      },
    },
    color: {
      pattern: [
        '#76bd80',
        '#fb5746',
        '#2085ca',
        '#fdda70',
        '#fd74d2',
      ],
    },
    tooltip: {
      show: false
    },
    legend: {
      show: false,
    },
    transition: {
      duration: 1000,
    },
    size: {
      height: 200,
    },
  }
  window.chartsData['graph-3'] = {
    data: {
      columns: columns1num,
      names: names1,
      type: "donut",
    },
    donut: {
      width: 40,
      label: {
        show: false,
      },
    },
    color: {
      pattern: [
        '#fb5746',
        '#fdda70',
      ],
    },
    tooltip: {
      show: false
    },
    legend: {
      show: false,
    },
    transition: {
      duration: 1000,
    },
    size: {
      height: 200,
    },
  }
  window.chartsData['graph-4'] = {
      data: {
        columns: columns,
        names: names,
        type: "donut",
      },
      donut: {
        width: 40,
        label: {
          show: false,
        },
      },
      color: {
        pattern: [
          '#76bd80',
          '#fb5746',
          '#2085ca',
          '#fdda70',
        ],
      },
      tooltip: {
        show: false
      },
      legend: {
        show: false,
      },
      transition: {
        duration: 1000,
      },
      size: {
        height: 200,
      },
    }
    /*]]>*/

    try {
        $('body').trigger("loadChartsData", chartsData);
    }catch (e){}

</script>
