<div class="mediaBlock">
	<div class="mediaBlock-grid">
		<div class="mediaBlock-grid-item _long">
			<div class="card">
				<div class="mediaBlock-grid-item-image"></div>
				<div class="mediaBlock--grid-item-body">
					<h3 class="mediaBlock-grid-item-title"></h3>
					<p class="mediaBlock-grid-item-text"></p>
					<a href="#" class="mediaBlock-moreLink"></a>
				</div>
			</div>
		</div>
	</div>
</div>