.mediaBlock {
	text-decoration: none;
	color: inherit;

	&-image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}

	&-title {
		font-size: 24px;
		font-weight: 700;
		color: dd-color-palette(primary);
		line-height: 1.3;
	}

	&-text {
		line-height: 1.6;
	}

	&-moreLink {
		display: inline-block;
		font-size: 14px;
		text-decoration: none;
		color: #a1a1a1;
	}

	// Вертикальная разновидность блока
	&.mediaBlockVertical & {

		&-image {
			width: 100%;
			height: 260px;
		}

		&-body {
			padding: 20px 25px;
		}

		&-title {
			margin-bottom: 15px;
		}

		&-text {
			margin-bottom: 20px;
		}
	}

	// Горизонтальная разновидность блока
	&.mediaBlockHorizontal {
		display: flex;
		flex-wrap: nowrap;

		.mediaBlock {

			&-image {
				width: 40%;
				height: 390px;
				min-width: 0;
			}

			&-body {
				width: 60%;
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				padding: 20px 25px;
				min-width: 0;
			}

			&-title {
				flex-shrink: 0;
				flex-grow: 0;
				font-size: 48px;
				line-height: 1.2;

				@include dd-responsive-media((md, lg)) {
					font-size: 3.5vw;
				}

				@include dd-responsive-media((xs, sm)) {
					font-size: 24px;
				}
			}

			&-text {
				flex-shrink: 1;
				flex-grow: 1;
			}

			&-moreLink {
				flex-shrink: 0;
				flex-grow: 0;
			}
		}

		@include dd-responsive-media((xs, sm)) {
			display: block;

			.mediaBlock {

				&-image {
					width: 100%;
				}

				&-body {
					width: 100%;
				}

				&-title {
					margin-bottom: 15px;
				}
			}
		}
	}
}