.controls {
	font-size: 0;

	&-item {
		display: inline-block;
		vertical-align: top;
		width: 10px;
		height: 10px;
		margin: 0 2px;
		background-color: #000000;
		border-radius: 999px;
		opacity: 0.1;
		cursor: pointer;

		&:hover {
			opacity: 0.2;
		}
		
		&._active {
			opacity: 0.4;
		}
	}
}