<div class="controls">
	<div class="controls-item _active"></div>
	<div class="controls-item"></div>
	<div class="controls-item"></div>
	<div class="controls-item"></div>
	<div class="controls-item"></div>
</div>