.navigator {


    &._rounded {
        .page-dot, .page-prev, .page-next {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }
    }

    button {
        &._disabled {
            pointer-events: none;
            color: dd-color-palette(soft);

            &:not(.page-dot) {
                border-color: dd-color-palette(soft);
            }
        }

        &._active {
            background: dd-color-palette(primary);
        }
    }

    .page-dot {
        width: 2em;
        height: 2em;
    }

    .page-dot:not(:nth-last-of-type(1)){
        margin-right: 1em;
    }

    .wrap-page-dot {
        margin-left: 1em;
        margin-right: 1em;
    }

    .page-dot, .page-prev, .page-next, .wrap-page-dot {
        display: inline-block;
        vertical-align: middle;
    }

    .page-dot, .page-prev, .page-next {
        border: 2px solid dd-color-palette(primary);
        color: #fff;
        background-color: transparent;
        cursor: pointer;
        -webkit-transition: background-color .2s;
        -moz-transition: background-color .2s;
        -ms-transition: background-color .2s;
        -o-transition: background-color .2s;
        transition: background-color .2s;

        &:hover {
            background: rgba(dd-color-palette(primary), .5);
        }

        &:focus {
            outline: none;
        }

    }

    .page-prev, .page-next {
        font-size: 3em;
        width: 1em;
        height: 1em;
        position: relative;
        color: dd-color-palette(primary);

        &:before {
            position: absolute;
            font-size: .7em;
            margin: 0;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }
}
