<div class="footer">
    <div class="grid-container _main">
        <div class="grid-area">
            <div class="grid-cell _md-4">
                <a class="footer-logo" href="http://www.veb.ru/">
                    <svg class="icon-svg">
						<use xlink:href="#logo"></use>
					</svg>
                </a>
                <div class="footer-copy">
                    © Внешэкономбанк, 2006—2017 <div th:text="${version}"></div>
                </div>
            </div>
            <div class="grid-cell _md-8">
                <div class="grid-area">
                    <div class="grid-cell _md-3">
                        <div class="grid-area _small">
                            <div class="grid-cell">
                                <!--a class="link _inherit footer-link" href="./manager-list.html" th:href="@{/manager-list.html}">Региональные менеджеры</a-->
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell _md-3">
                            <div class="grid-area _small">
                                <div class="grid-cell">
                                    <!--a class="link _inherit footer-link" href="./industries-finance.html" th:href="@{/industries-finance.html}">Отрасли</a-->
                                </div>
                            </div>
                        </div>
                    <div class="grid-cell _md-3">
                        <div class="grid-area _small">
                            <div class="grid-cell">
                                <a class="link _inherit footer-link" href="./project-history.html" th:href="@{/project-history.html}">Истории успеха</a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell _md-3">
                        <div class="grid-area _small">
                            <div class="grid-cell">
                                    <a class="link _inherit footer-link" href="./map.html" th:href="@{/map.html}">Регионы</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
