.footer {
	background-color: dd-color-palette(default);
	color: #575757; //TODO
	padding: 30px 0;
	font-size: 14px;

	&-logo {
		display: block;
		width: 121px;
		height: 35px;
		color: dd-color-palette(default);
		margin-bottom: 17px;

		& > svg {
			fill: #575757;
			transition: fill $time;
		}

		&:hover {
			& > svg {
				fill: #fff;
			}
		}
	}

	&-copy {

	}

	&-link {

		&.link._inherit:hover, &.link._inherit.-active {
			color: #fff;
		}
	}
}