<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray" id="officeFinanceRequest">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Мои проекты</a></span>
						<span>Отправка запроса на финасирование</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
                                        <form th:action="@{/private-office/finance-request/complete}"
                                              action="./finance-request-1.html"
                                              th:object="${sendFinanceRequest}"
                                              method="POST" enctype="multipart/form-data"
                                              class="formCard formCard-resume"
                                              style="box-shadow: none" ref="form"
                                              v-on:submit.prevent="onSubmit"
                                              v-cloak="" >
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area _alignCenter">
														<div class="grid-cell _md-3">
															<div class="formCard-step __textCenter-lg-up">
																<span>1</span>/2
															</div>
														</div>
														<div class="grid-cell _md-9">
															<div class="formCard-title">
																Оцените работу
                                                                Регионального менеджера
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-content">
													<div class="grid-area">
														<div class="grid-cell _md-9 _md-offset-3">
															<div class="grid-area _large">
																<div class="grid-cell">
																	<div class="profile">
																		<div class="profile-grid">
																			<div class="profile-grid-item _image">
																				<div class="profile-image" th:style="${manager != null} ? 'background-image: url(' + ${manager.image} + ')' : '#' "></div>
																			</div>
																			<div class="profile-grid-item _title">
																				<div class="profile-title _black" th:text="${manager != null}? ${manager.nameFirst} + ' ' + ${manager.nameLast} : 'нет данных' ">
																					Мария Грут
																				</div>
																				<div class="profile-body">
																					<div class="profile-body-location _gray">
																						<div class="profile-body-location-region" th:text="${region} ? ${region} : 'нет данных' " >Центральный&nbsp;ФО</div>
																					</div>

																					<div class="profile-body-rating">
																						<div class="profile-body-rating-top" style="width: 80%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
																						<div class="profile-body-rating-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell">
																			<div class="form-field-input">
																				<div class="form-inputRadio">
                                                                                    <input type="radio"
                                                                                        name="managerValuation"
                                                                                        id="workMark-1"
                                                                                        value="10"
                                                                                        v-validate="'required|in:2,4,6,8,10'"
                                                                                        data-vv-as="Оценка менеджера" />
																					<label for="workMark-1">Отлично</label>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field-input">
																				<div class="form-inputRadio">
																					<input type="radio" name="managerValuation" id="workMark-2" value="8"/>
																					<label for="workMark-2">Хорошо</label>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field-input">
																				<div class="form-inputRadio">
																					<input type="radio" name="managerValuation" id="workMark-3" value="6"/>
																					<label for="workMark-3">Удовлетворительно</label>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field-input">
																				<div class="form-inputRadio">
																					<input type="radio" name="managerValuation" id="workMark-4" value="4"/>
																					<label for="workMark-4">Плохо</label>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell">
																			<div class="form-field-input">
																				<div class="form-inputRadio">
																					<input type="radio" name="managerValuation" id="workMark-5" value="2"/>
																					<label for="workMark-5">Ужасно</label>
																				</div>
																			</div>
                                                                        </div>

                                                                        <span v-show="errors.has('managerValuation')" class="form-field-message -error">
                                                                            {{ errors.first('managerValuation') }}
                                                                        </span>
																	</div>
																</div>
																<div class="grid-cell"></div>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area">
																				<div class="grid-cell">
																					<div class="form-field">
																						<div class="form-field-label">
																							Комментарий
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputTextarea _fluid">
																								<textarea name="managerValuationComment" placeholder="Вы можете оставить комментарий по работе вашего регионального менеджера"></textarea>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-footer">
													<div class="grid-area">
														<div class="grid-cell _md-9">
															<div class="grid-area">
																<div class="grid-cell __textRight">
																	<input type="submit" name="back" class="form-button _link" value="Назад" />
																	<input type="submit" name="next" class="form-button _primary _long" value="Далее" />
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _massive"></div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
