<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray" id="officeFinanceRequest">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Мои проекты</a></span>
						<span>Отправка запроса на финасирование</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
                                        <form th:action="@{/private-office/finance-request/complete}"
                                              action="./finance-request-2.html"
                                              th:object="${sendFinanceRequest}"
                                              method="POST"
                                              enctype="multipart/form-data"
                                              class="formCard formCard-resume"
                                              style="box-shadow: none"
                                              ref="form"
                                              v-cloak=""
                                              v-on:submit.prevent="onSubmit">
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area _alignCenter">
														<div class="grid-cell _md-3">
															<div class="formCard-step __textCenter-lg-up">
																<span>2</span>/2
															</div>
														</div>
														<div class="grid-cell _md-9">
															<div class="formCard-title">
																Оцените удобство работы
																в онлайн-платформе
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-content">
													<div class="grid-area">
														<div class="grid-cell _md-9 _md-offset-3">
															<div class="grid-area _large">
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell _sm-3">
																			<div class="form-field-input">
																				<div class="form-inputRadio">
                                                                                    <input type="radio"
                                                                                        name="platformValuation"
                                                                                        id="platformMark-1"
                                                                                        value="0"
                                                                                        v-validate="'required|in:0,10'"
                                                                                        data-vv-as="Оценка удобства" />
																					<label for="platformMark-1">Неудобно</label>
																				</div>
																			</div>
																		</div>
																		<div class="grid-cell _sm-3">
																			<div class="form-field-input">
																				<div class="form-inputRadio">
																					<input type="radio" name="platformValuation" id="platformMark-2" value="10"/>
																					<label for="platformMark-2">Удобно</label>
																				</div>
																			</div>
                                                                        </div>
                                                                        <span v-show="errors.has('platformValuation')" class="form-field-message -error">
                                                                            {{ errors.first('platformValuation') }}
                                                                        </span>
																	</div>
																</div>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell _sm-8">
																			<div class="grid-area">
																				<div class="grid-cell">
																					<div class="form-field">
																						<div class="form-field-label">
																							Комментарий
																						</div>
																						<div class="form-field-input">
																							<div class="form-inputTextarea _fluid">
																								<textarea name="platformValuationComment" placeholder="Вы можете оставить комментарий по удобству работы в онлайн-платформе"></textarea>
																							</div>
																						</div>
																						<div class="form-field-message -error __hidden"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-footer">
													<div class="grid-area">
														<div class="grid-cell"></div>
														<div class="grid-cell _md-9">
															<div class="grid-area">
																<div class="grid-cell __textRight">
																		<input type="submit" name="back" class="form-button _link" value="Назад" />
																		<input type="submit" name="next" class="form-button _primary _long" value="Отправить заявку" />
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="space _massive"></div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
