<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Мои проекты</a></span>
						<span>Отправка запроса на финасирование</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container">
								<div class="space _massive"></div>
								<div class="grid-area">
									<div class="grid-cell _lg-10">
                                        <form th:action="@{/private-office/finance-request/complete}"
                                              th:object="${sendFinanceRequest}"
                                              method="POST"
                                              enctype="multipart/form-data"
                                              class="formCard"
                                              style="box-shadow: none">
											<div class="grid-container">
												<div class="formCard-header">
													<div class="grid-area">
														<div class="grid-cell">
															<div class="grid-area">
																<div class="grid-cell _md-3">
																	<div class="formCard-icon">
																		<svg class="icon-svg">
																			<use xlink:href="#icon-success"></use>
																		</svg>
																	</div>
																</div>
																<div class="grid-cell _md-9">
																	<div class="formCard-title">
																		Запрос на финансирование успешно отправлен
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-content">
													<div class="grid-area">
														<div class="grid-cell _md-8 _md-offset-3">
															<div class="grid-area">
																<div class="grid-cell">
																	<div class="office-cardAssessment-statement" th:text="'Уважаемый ' + ${project.applicantNameLast} + ' ' + ${project.applicantNameFirst} + ', запрос на&nbsp;финансирование успешно сохранен и отправлен в Банк для проведения экспертизы по проекту'">
																	</div>
																</div>
																<div class="grid-cell">
																	Вам необходимо распечатать и подписать концепцию проекта
																	и бизнес-модель проекта, а также приложить подписанные согласия
																	на обработку персональных данных и запрос кредитного отчета,
																	и направить данные материалы по почте в Банк по адресу:
																</div>
																<div class="grid-cell">
																	<div class="grid-area">
																		<div class="grid-cell">
																			<div class="office-adress">
																				Россия, 107996, г. Москва, пр-т Академика&nbsp;Сахарова,&nbsp;д.9.
																			</div>
																		</div>

																		<div class="grid-cell">
																			<a href="#" th:href="@{/private-office/finance-request/business-model-docx}" class="link _underline">Скачать бизнес-модель</a>
                                      <br />
                                      <a href="#" th:href="@{/private-office/finance-request/concept-docx}" class="link _underline">Скачать концепцию</a>
																		</div>
																		<div class="grid-cell"></div>
																	</div>
																</div>
																<div class="grid-cell">
																	Информация об этапах прохождения экспертизы по проекту будет отображаться в Вашем личном кабинете в онлайн режиме.
																	По всем возникающим вопросам просьба связываться
																	с Вашим персональным региональным менеджером.
																</div>
																<div class="grid-cell" th:each="field : ${fields}">
																	<p th:text="${field}">
																	</p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
												<div class="formCard-footer">
													<div class="grid-area">
														<div class="grid-cell _md-offset-3">
															<div class="grid-area">
																<div class="grid-cell">
																	<input type="submit" name="next" class="form-button _primary _long" value="Перейти в личный кабинет" />
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _large"></div>
											</div>
										</form>
									</div>
									<div class="grid-cell">
										<div class="form-field-message">
											<div class="grid-area">
												<div class="grid-cell _md-3 _md-offset-8 __textRight">
												Всего самого наилучшего!
												Всегда Ваш, Внешэкономбанк.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="space _massive"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
