<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<!--@@include = ../../../components/form/form-cryptopro-header.html-->
<script type="text/x-template" id="form-inputFiles">
  <!--@@include = ../../../components/form/form-inputFiles.html-->
</script>
<!--@@include = ../../../components/form/form-cryptopro-functions.html -->
<div class="office page-wrapper _gray" id="officeFinanceRequest">
  <div class="page-header">
    <!--@@include = ../../../components/office/office-header-final.html-->
  </div>
  <div class="page-content">
    <!--@@include = ../../../components/office/office-sideMenu-final.html-->
    <div class="office-content">
      <div class="grid-container">
        <div class="space _medium"></div>
        <div class="__hidden-lg-up">
          <div class="office-breadCrumbs">
            <span><a href="#" class="link">Мои проекты</a></span>
            <span>Отправка запроса на финасирование</span>
          </div>
          <div class="space _medium"></div>
        </div>
        <form method="post" action="" enctype="multipart/form-data" class="grid-area">
          <div class="grid-cell">
            <div class="grid-area">
              <div class="grid-cell _xl-7 _xxl-8">
                <div class="card">
                  <div class="grid-container _large">
                    <div class="space _large"></div>
                    <div class="office-sectionTitle" th:text="${project.projectNomination}"></div>
                    <div class="space _medium"></div>
                    <div class="grid-area">
                      <div class="grid-cell _sm-11" th:text="${project.projectDescription}">
                      </div>
                    </div>
                    <div class="space _large"></div>
                    <div class="office-sectionTitle">Заполненные данные</div>
                    <div class="space _medium"></div>
                    <div class="grid-area">
                      <div class="grid-cell _sm-10">
                        <div class="grid-cell _sm-11 _sm-offset-1">
                          <div class="progressBar">
                            <div class="grid-area">
                              <div class="grid-cell _xs-11 _lg-10">
                                <div class="progressBar-body">
                                  <div class="progressBar-process" th:style="'width: ' + ${project.calcTotal()} + '%'"></div>
                                </div>
                              </div>
                              <div class="grid-cell _xs-1 _lg-1">
                                <div class="progressBar-percentage">
                                  <span th:text="${project.calcTotal()} + '%'"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="space _medium"></div>
                    <div class="grid-area">
                      <div class="grid-cell _md-9 _lg-9 _xl-12">
                        <div class="form-field">
                          <div class="form-field-input">
                            <div class="grid-area">
                              <div class="grid-cell _sm-4">
                                <a href="./finance-request-02.html" th:href="@{/private-office/finance-request/complete}" class="form-button _primary _bordered" th:if="${#arrays.contains(user.roles, 'USER')} and ${project.calcTotal()} >= 99.5">Отправить запрос</a>
                                <!--<button type="submit" class="form-button _primary _bordered">Отправить запрос</button>-->
                              </div>
                              <div class="grid-cell _sm-5">
                                <div class="form-field-message -default">
                                  Заполните все поля для отправки запроса на финансирования
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="space _large"></div>
                  </div>
                </div>
              </div>
              <div class="grid-cell _xl-5 _xxl-4">
                <div class="card" style="height: 100%">
                  <div class="grid-container">
                    <div class="space _medium"></div>
                    <div class="grid-area">
                      <div class="grid-cell">
                        <div class="cardManager">
                          <div class="grid-container _medium" th:if="${userZnF != null}">
                            <div class="cardManager-title __textCenter" th:if="${#arrays.contains(user.roles, 'MANAGER')}"> Заявитель</div>
                            <div class="cardManager-title __textCenter" th:if="${#arrays.contains(user.roles, 'USER')}"> Ваш региональный менеджер</div>
                            <div class="space _medium"></div>
                            <div class="grid-area">
                              <div class="grid-cell">
                                <div class="profile">
                                  <div class="profile-grid">
                                    <div class="profile-grid-item _image">
                                      <div class="profile-image" th:style="${userZnF != null} ? 'background-image: url(' + ${userZnF.image} + ')' : '#' "></div>
                                    </div>
                                    <div class="profile-grid-item _title">
                                      <div class="profile-title _black" th:text="${userZnF != null}? ${userZnF.nameFirst} + ' ' + ${userZnF.nameLast} : 'нет данных' ">
                                        Мария Грут
                                      </div>
                                      <div class="profile-body">
                                        <div class="profile-body-location _gray">
                                          <div class="profile-body-location-region" th:text="${region} ? ${region} : 'нет данных' ">Центральный&nbsp;ФО</div>
                                          <div class="profile-body-location-city"></div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="space _medium"></div>
                            <div class="divider _dashed"></div>
                            <div class="space _medium"></div>
                            <div class="cardManager-connection">
                              <div class="grid-area">
                                <div class="grid-cell _sm-6">
                                  <div class="cardManager-label">Телефон:</div>
                                  <a class="link _inherit cardManager-phone" href="tel:+79231510604" th:href="${userZnF != null} ? 'tel:' + ${userZnF.phone} : '#' " th:text="${userZnF != null} ? ${userZnF.phone} : 'нет данных' ">+7 923 151-06-04</a>
                                </div>
                                <div class="grid-cell _sm-6">
                                  <div class="cardManager-label">E-mail:</div>
                                  <div class="cardManager-email"><a class="link _underline" href="mailto:ivanov@mail.com" th:href="${userZnF != null} ? 'mailto:' + ${userZnF.email} : '#' " th:text="${userZnF != null} ? ${userZnF.email} : 'нет данных' ">ivanov@mail.com</a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="space _medium"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-cell">
            <div class="card">
              <div class="grid-container _large">
                <div class="space _large"></div>
                <div class="grid-area">
                  <div class="grid-cell _md-8">
                    <div class="form-sectionTitle">Материалы для запроса на&nbsp;финансирование</div>
                  </div>
                  <div class="grid-cell _md-4 __textCenter">
                    <a href="#" th:href="@{/private-office/finance-request/business-model-pdf}" class="office-expPdf link">Бизнес-модель.pdf</a>
										<a href="#" th:href="@{/private-office/finance-request/business-model-docx}" class="office-expPdf link">Бизнес-модель.docx</a>
										<br />
                    <!-- <a href="#" th:href="@{/private-office/finance-request/concept-pdf}" class="office-expPdf link">Концепция.pdf</a> -->
                    <a href="#" th:href="@{/private-office/finance-request/concept-docx}" class="office-expPdf link">Концепция.docx</a>
                  </div>
                </div>
                <div class="space _large"></div>
                <div class="grid-area _inline">
                  <div class="grid-cell _xs-12 _md-6 _xl-12">
                    <div class="grid-area">
                      <div class="grid-cell _xl-4">
                        <div class="grid-area">
                          <div class="grid-cell">
                            <div class="grid-area">
                              <div class="grid-cell _sm-1">
                                <div class="office-materialNumber">
                                  <span>1</span>
                                </div>
                              </div>
                              <div class="grid-cell _sm-11">
                                <div class="office-cardAssessment-statement">
                                  Общие сведения об Инициаторе проекта и получателе средств
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-11 _sm-offset-1">
                            <div class="progressBar">
                              <div class="grid-area">
                                <div class="grid-cell _xs-11 _lg-10">
                                  <div class="progressBar-body">
                                    <div class="progressBar-process" th:style="'width: ' + ${project.calcInitiator().result} + '%'"></div>
                                  </div>
                                </div>
                                <div class="grid-cell _xs-1 _lg-1">
                                  <div class="progressBar-percentage">
                                    <span th:text="${project.calcInitiator().result} + '%'"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-offset-1">
                            <div class="form-field">
                              <div class="form-field-input">
                                <div class="grid-area _tiny">
                                  <div class="grid-cell">
                                    <a href="../../LK/02/initiator-info.html" th:href="@{/private-office/finance-request/initiator}" class="form-button _primary _bordered" th:text="${project.calcInitiator().result} >= 99.5 ? 'Посмотреть' : 'Заполнить'">Посмотреть</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="grid-cell _xl-4">
                        <div class="grid-area">
                          <div class="grid-cell">
                            <div class="grid-area">
                              <div class="grid-cell _sm-1">
                                <div class="office-materialNumber">
                                  <span>2</span>
                                </div>
                              </div>
                              <div class="grid-cell _sm-11">
                                <div class="office-cardAssessment-statement">
                                  Общая информация о&nbsp;проекте
                                </div>
                              </div>
                              <div class="grid-cell"></div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-11 _sm-offset-1">
                            <div class="progressBar">
                              <div class="grid-area">
                                <div class="grid-cell _xs-11 _lg-10">
                                  <div class="progressBar-body">
                                    <div class="progressBar-process" th:style="'width: ' + ${project.calcProjectMain().result} + '%'"></div>
                                  </div>
                                </div>
                                <div class="grid-cell _xs-1 _lg-1">
                                  <div class="progressBar-percentage">
                                    <span th:text="${project.calcProjectMain().result} + '%'"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-offset-1">
                            <div class="form-field">
                              <div class="form-field-input">
                                <div class="grid-area _tiny">
                                  <div class="grid-cell">
                                    <a href="../../LK/03/global-info.html" th:href="@{/private-office/finance-request/project-main}" class="form-button _primary _bordered" th:text="${project.calcProjectMain().result} >= 99.5 ? 'Посмотреть' : 'Заполнить'">Посмотреть</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="grid-cell _xl-4">
                        <div class="grid-area">
                          <div class="grid-cell">
                            <div class="grid-area">
                              <div class="grid-cell _sm-1">
                                <div class="office-materialNumber">
                                  <span>3</span>
                                </div>
                              </div>
                              <div class="grid-cell _sm-11">
                                <div class="office-cardAssessment-statement">
                                  Направленность проекта и его отраслевая принадлежность
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-11 _sm-offset-1">
                            <div class="progressBar">
                              <div class="grid-area">
                                <div class="grid-cell _xs-11 _lg-10">
                                  <div class="progressBar-body">
                                    <div class="progressBar-process" th:style="'width: ' + ${project.calcDirectionIndustry().result} + '%'"></div>
                                  </div>
                                </div>
                                <div class="grid-cell _xs-1 _lg-1">
                                  <div class="progressBar-percentage">
                                    <span th:text="${project.calcDirectionIndustry().result} + '%'"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-offset-1">
                            <div class="form-field">
                              <div class="form-field-input">
                                <div class="grid-area _tiny">
                                  <div class="grid-cell">
                                    <a href="../../LK/04/project-direction.html" th:href="@{/private-office/finance-request/direction-industry}" class="form-button _primary _bordered" th:text="${project.calcDirectionIndustry().result} >= 99.5 ? 'Посмотреть' : 'Заполнить'">Заполнить</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="grid-cell _xs-12 _md-6 _xl-12">
                    <div class="grid-area">
                      <div class="grid-cell _xl-4">
                        <div class="grid-area">
                          <div class="grid-cell">
                            <div class="grid-area">
                              <div class="grid-cell _sm-1">
                                <div class="office-materialNumber">
                                  <span>4</span>
                                </div>
                              </div>
                              <div class="grid-cell _sm-11">
                                <div class="office-cardAssessment-statement">
                                  Влияние реализации проекта на экономику и общество РФ
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-11 _sm-offset-1">
                            <div class="progressBar">
                              <div class="grid-area">
                                <div class="grid-cell _xs-11 _lg-10">
                                  <div class="progressBar-body">
                                    <div class="progressBar-process" th:style="'width: ' + ${project.calcInfluence().result} + '%'"></div>
                                  </div>
                                </div>
                                <div class="grid-cell _xs-1 _lg-1">
                                  <div class="progressBar-percentage">
                                    <span th:text="${project.calcInfluence().result} + '%'"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-offset-1">
                            <div class="form-field">
                              <div class="form-field-input">
                                <div class="grid-area _tiny">
                                  <div class="grid-cell">
                                    <a href="../../LK/05/impact-info.html" th:href="@{/private-office/finance-request/influence}" class="form-button _primary _bordered" th:text="${project.calcInfluence().result} >= 99.5 ? 'Посмотреть' : 'Заполнить'">Заполнить</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="grid-cell _xl-4">
                        <div class="grid-area">
                          <div class="grid-cell">
                            <div class="grid-area">
                              <div class="grid-cell _sm-1">
                                <div class="office-materialNumber">
                                  <span>5</span>
                                </div>
                              </div>
                              <div class="grid-cell _sm-11">
                                <div class="office-cardAssessment-statement">
                                  Основные характеристики проекта
                                </div>
                              </div>
                              <div class="grid-cell"></div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-11 _sm-offset-1">
                            <div class="grid-cell _sm-11  _sm-offset-1">
                              <div class="progressBar">
                                <div class="grid-area">
                                  <div class="grid-cell _xs-11 _lg-10">
                                    <div class="progressBar-body">
                                      <div class="progressBar-process" th:style="'width: ' + ${project.calcProjectCharacteristic().result} + '%'"></div>
                                    </div>
                                  </div>
                                  <div class="grid-cell _xs-1 _lg-1">
                                    <div class="progressBar-percentage">
                                      <span th:text="${project.calcProjectCharacteristic().result} + '%'"></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-offset-1">
                            <div class="form-field">
                              <div class="form-field-input">
                                <div class="grid-area _tiny">
                                  <div class="grid-cell">
                                    <a href="../../LK/06/project-characteristics.html" th:href="@{/private-office/finance-request/project-characteristics}" class="form-button _primary _bordered" th:text="${project.calcProjectCharacteristic().result} >= 99.5 ? 'Посмотреть' : 'Заполнить'">Заполнить</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="grid-cell _xl-4">
                        <div class="grid-area">
                          <div class="grid-cell">
                            <div class="grid-area">
                              <div class="grid-cell _sm-1">
                                <div class="office-materialNumber">
                                  <span>6</span>
                                </div>
                              </div>
                              <div class="grid-cell _sm-11">
                                <div class="office-cardAssessment-statement">
                                  Бизнес-модель проекта
                                </div>
                                <div>
                                  <a href="http://veb.ru/strategy/invest/#doc" class="link _underline" style="font-size: 16px">
																		Скачать требования
																		к составлению бизнес-модели
																	</a>
                                  <span class="form-field-message">PDF 25 мб</span>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-11  _sm-offset-1">
                            <div class="progressBar">
                              <div class="grid-area">
                                <div class="grid-cell _xs-11 _lg-10">
                                  <div class="progressBar-body">
                                    <div class="progressBar-process" th:style="'width: ' + ${project.calcBusinessModel().result} + '%'"></div>
                                  </div>
                                </div>
                                <div class="grid-cell _xs-1 _lg-1">
                                  <div class="progressBar-percentage">
                                    <span th:text="${project.calcBusinessModel().result} + '%'"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="grid-cell _sm-offset-1">
                            <div class="form-field">
                              <div class="form-field-input">
                                <div class="grid-area _tiny">
                                  <div class="grid-cell">
                                    <a href="../../LK/07/business-model.html" th:href="@{/private-office/finance-request/business-model}" class="form-button _primary _bordered" th:text="${project.calcBusinessModel().result} >= 99.5 ? 'Посмотреть' : 'Заполнить'">Заполнить</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="space _large"></div>
              </div>
            </div>
          </div>
        </form>
        <form th:action="@{/private-office/finance-request/additionInfo}" th:object="${additionInfo}" method="POST" enctype="multipart/form-data" class="formCard" style="box-shadow: none">
          <div class="grid-cell">
            <div class="grid-container _large">
              <div class="space _large"></div>
              <div class="form-sectionTitle">Прикрепленные документы</div>
              <div class="space _large"></div>
              <form-input-files name="files[]" v-bind:files="inputs.files" v-on:change="inputs.files = arguments[0]"></form-input-files>

            </div>
          </div>
          <div class="grid-cell _xl-7 _xxl-8">
            <div class="grid-container _large">
              <div class="space _large"></div>
              <div class="form-sectionTitle">Дополнительная информация</div>
              <div class="space _large"></div>
              <div class="grid-area">
                <div class="grid-cell">
                  <div class="form-field">
                    <div class="grid-area">
                      <div class="grid-cell">
                        <div class="form-field-input">
                          <div class="form-inputTextarea _fluid">
                            <textarea th:field="*{projectAdditionalInfo}" style="min-height: 215px" placeholder="Дополнительная информация по проекту, которую Инициатор проекта считает существенной для указания в Инвестиционной заявке"></textarea>
                          </div>
                        </div>
                        <div class="form-field-message -error __hidden"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-cell _md-9 _lg-9 _xl-12">
                  <div class="form-field">
                    <div class="form-field-input">
                      <div class="grid-area">
                        <div class="grid-cell _sm-4">
                          <button name="next" type="submit" class="form-button _primary _bordered">Отправить дополнительную информацию</button>
                        </div>
                        <div class="grid-cell _sm-5">
                          <div class="form-field-message -default">
                            Заполните все поля для отправки запроса на финансирования
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="space _massive"></div>
    </div>
  </div>
</div>
