.brandIcon {

	&-container {
		position: relative;
		width: 1em;
		height: 1em;
		border: 3px solid;
		border-radius: 999px;
	}

	&-inner {
		position: absolute;
	}

	&._success & {

		&-container {
			border-color: #f5f5f5;
		}

		&-inner {
			top: -0.15em;
			right: -0.2em;
			width: 0.9em;
			height: 0.9em;

			.icon, .icon-svg {
				display: block;
				width: 100%;
				height: 100%;
				fill: #67ad4a;
			}
		}
	}

	&._fail & {

		&-container {
			border-color: #f5f5f5;
		}

		&-inner {
			top: 0;
			right: -0.1em;
			width: 0.7em;
			height: 0.7em;

			.icon, .icon-svg {
				display: block;
				width: 100%;
				height: 100%;
				fill: #f57047;
			}
		}
	}

	&._number & {

		&-container {

		}

		&-inner {
			top: 50%;
			left: 0;
			width: 100%;
			height: 0;
			font-size: 0.41em;
			font-weight: 700;
			line-height: 0;
			text-align: center;
		}
	}

	&._small & {

		&-container {
			border-width: 1px;
		}

		&-inner {
			font-weight: 400;
		}
	}

	&.-active & {

		&-container {
			border-color: dd-color-palette(primary);
		}

		&-inner {
			color: dd-color-palette(primary);
		}
	}

	&.-disabled & {

		&-container {
			border-color: #f5f5f5;
		}

		&-inner {
			color: #f5f5f5;

			.icon, .icon-svg {
				fill: #f5f5f5;
			}
		}
	}
}
