<div class="cardManager">
	<div class="cardManager-title"></div>
	<div class="cardManager-connection">
		<div class="cardManager-label">Телефон:</div>
		<a class="link _inherit cardManager-phone" href="tel:+79231510604">+7 923 151-06-04</a>
		<div class="cardManager-label">E-mail:</div>
		<div class="cardManager-email"><a class="link _underline" href="mailto:ivanov@mail.com">ivanov@mail.com</a></div>
	</div>
</div>