.cardManager {

	&-title {
		font-size: 18px;
		font-weight: 700;
		color: dd-color-palette(primary);
	}

	&-label {
		color: dd-color-palette(soft); //TODO
		font-weight: 400;
	}

	&-connection {
		font-weight: 600;
	}

	&-phone {
		text-decoration: none;
        word-wrap: break-word;
	}

	&-email {
        max-width: 100%;
        display: inline-block;
        word-wrap: break-word;
		color: dd-color-palette(primary);
		//overflow: hidden;
		//text-overflow: ellipsis;
	}
}
