.link {
	color: dd-color-palette(primary);
	transition: color $time;
	text-decoration: none;

	svg {
		vertical-align: middle;
		display: inline-block;
		width: 1em;
		height: 1em;
		fill: currentColor;
	}

	&:hover, &.-active {
		color: inherit;
	}

	&._inherit {
		color: inherit;

		&:hover, &.-active {
			color: dd-color-palette(primary);
		}
	}

	&._underline {
		text-decoration: underline;

		&:hover, &.-active {
			text-decoration: none;
		}
	}

	&._underline-reverse {

		&:hover, &.-active {
			text-decoration: underline;
		}
	}

	&._flex {
		display: flex;
		align-items: center;
	}

	&._white {

		&.-active {
			color: #fff;
			text-decoration: none;

			svg {
				fill: currentColor;
			}
		}
	}

	&._transparent {
		opacity: 0.5;

		&:hover {
			color: #fff;
			opacity: 1;
		}
	}
}