@mixin dd-form-button-variant($_color)
{
	background-color: $_color;
	//border-color: dd-color-modifier($_color, dark);
	color: dd-color-contrast($_color);

	svg {
		fill: dd-color-contrast($_color);
	}

	&:hover {
		background-color: dd-color-modifier($_color, light);
	}

	&:active, &.-active {
		box-shadow: inset 0 2px 5px rgba(#000, 0.1);
		background-color: dd-color-modifier($_color, dark);
	}

	&._bordered {
		color: $_color;
		background-color: transparent;
		border: 1px solid $_color;

		&:hover {
			background-color: $_color;
			color: dd-color-contrast($_color);
		}

		&:active, &.-active {
			box-shadow: inset 0 2px 5px rgba(#000, 0.1);
			background-color: dd-color-modifier($_color, dark);
			border-color: dd-color-modifier($_color, dark);
		}
	}
}

@mixin dd-form-inputSelect-customRules()
{
	$_arrowSize: $_dd-form-paddingHorizontal/1.2;

	& > select {
		padding-right: $_dd-form-paddingHorizontal * 2 + $_arrowSize;
	}

	&::after {
		content: '';
		position: absolute;
		height: $_arrowSize;
		width: $_arrowSize;
		top: ($dd-form-height - $_arrowSize)/2 + 0.1em;
		right: $_dd-form-paddingHorizontal;
		pointer-events: none;
		background-image: url(../img/svg/icon-select-caret.svg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}

@mixin dd-form-inputText-stateVariant($_color)
{
	& > input {
		border-color: $_color;
		//background-color: mix(#fff, $_color, 95%);

		/*&::placeholder {
			color: mix(#fff, $_color, 65%);
		}*/
	}
}

@mixin dd-form-inputTextarea-stateVariant($_color)
{
	& > textarea {
		border-color: $_color;
		//background-color: mix(#fff, $_color, 95%);

		/*&::placeholder {
			color: mix(#fff, $_color, 65%);
		}*/
	}
}

@mixin dd-form-inputSelect-stateVariant($_color)
{
	& > select {
		border-color: $_color;
		//background-color: mix(#fff, $_color, 95%);
	}
}

@mixin dd-form-inputCheckbox-inner()
{
	background-color: transparent;
	background-image: url(../img/svg/icon-check.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

@mixin dd-form-inputRadio()
{
	@include dd-form-input-control((innerSize:0.6em, size: 1.2em));

	& > label {

		&::before {
			border-radius: 999px;
		}

		&::after {
			@include dd-form-inputRadio-inner();
		}
	}
}

@mixin dd-form-inputRadio-inner()
{
	border-radius: 999px;
	background-color: dd-color-palette(primary);
}


.form-inputText._rounded {

	& > input {
		border-radius: 999px;
	}
}

.form-inputSelect._rounded {

	& > select {
		border-radius: 999px;
	}
}

.form-inputSelect._multiple {

	&::after {
		display: none;
	}

	& > select {
		padding-right: $_dd-form-paddingHorizontal;
	}
}

.form-button {

	svg {
		width: 1em;
		height: 1em;
	}
}

.form {

	&-field {

		&-input {
			position: relative;

			&-suffix {
				display: flex;
				align-items: center;
				position: absolute;
				top: 0;
				right: $_dd-form-paddingHorizontal;
				height: 100%;
				color: dd-color-palette(soft);
			}
		}
	}
}

.form-message {

    strong {
        font-weight: 600;
    }
}
