<div class="chat">
	<div class="chat-messages">
		<div class="grid-container">
			<div class="chat-message" th:each="message : ${messages}" th:classappend="((${#arrays.contains(user.roles, 'USER')} and ${message.authorId} == 'CLIENT')) or ((${#arrays.contains(user.roles, 'MANAGER')} and ${message.authorId} == 'MANAGER')) ? '_invert'">
				<div class="chat-message-body" th:text="${message.text}">

				</div>
				<div class="chat-message-date" th:text="${#dates.format(message.dateEntered, 'yyyy-MM-dd HH:MM')} + ' - ' + ${message.authorTitle}">

				</div>
			</div>
		</div>
	</div>
	<div class="chat-controls">
		<div class="grid-container">
			<form method="post" th:object="${messageSend}" th:action="@{/private-office/message(id=${projectId},who=${currentProject.declarer.crmId})}">
				<div class="chat-controls-grid">
					<div class="chat-controls-grid-item _message">
						<div class="form-inputText _fluid">
							<input name="text" type="text" placeholder="Введите сообщение" />
						</div>
					</div>
					<div class="chat-controls-grid-item _submit">
						<button name="next" type="submit" class="form-button _primary _lowercase _fluid">Отправить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
