.chat {

	&-messages {
		max-height: 600px;
		overflow-x: hidden;
		overflow-y: scroll;
		border-bottom: 1px solid #f4f4f4;
	}

	&-message {
		@include dd-grid-area(10px, 0, false, false);
		flex-wrap: nowrap;
		padding: 20px 0;

		&:not(:last-child) {
			border-bottom: 1px solid #f4f4f4;
		}

		& > * {
			width: auto;
			flex-shrink: 0;
			flex-grow: 0;
		}

		&-image {

			img {
				width: 30px;
				height: 30px;
				overflow: hidden;
				border-radius: 15px;
			}
		}

		&-body {
			margin-top: 4px;
			flex-shrink: 1;
			flex-grow: 1;
		}

		&-date {
			margin-left: auto;
			color: #a1a1a1;
			font-size: 14px;
			margin-top: 7px;
		}

		.form-inputFiles-file {
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&._invert {
			flex-direction: row-reverse;

			.chat-message {

				&-date {
					margin-left: 0;
					margin-right: auto;
				}

				&-body {
					text-align: right;
				}
			}
		}
	}

	&-controls {
		padding: 20px 0;

		&-grid {
			@include dd-grid-area(10px, 10px, false, false);
			@include dd-grid-templateColumns(1, 0, 0);
			flex-wrap: nowrap;

			& > * {
				width: auto;
			}

			@include dd-responsive-media(xs) {
				flex-wrap: wrap;

				&-item {

					&._message {
						width: 100%;
					}

					&._submit {
						flex-grow: 1;
					}
				}
			}
		}
	}

	&-addFileButton {
		background-color: transparent;
		color: #a1a1a1;

		& > svg {
			fill: #a1a1a1;
		}

		&:hover, &:active {
			background-color: transparent;
			box-shadow: none;

			& > svg {
				fill: #333;
			}
		}
	}
}