<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->

<!--@@include = ../../../components/form/form-cryptopro-header.html-->
<script type="text/x-template" id="form-inputFiles">
	<!--@@include = ../../../components/form/form-inputFiles.html-->
</script>
<!--@@include = ../../../components/form/form-cryptopro-functions.html -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проекта "Развитие +"</a></span>
						<span>Влияние реализации проекта на экономику и общество РФ</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container _large">
								<div class="space _large"></div>
                                <form action="./impact-info-2.html"
                                      th:action="@{/private-office/finance-request/influence}"
                                      th:object="${influence}"
                                      method="post"
                                      enctype="multipart/form-data"
                                      class="formCard formCard-resume"
                                      style="box-shadow: none"
                                      id="projectImpactInfo"
                                      ref="form"
                                      v-cloak="" >
									<div class="grid-area _alignCenter">
										<div class="grid-cell _md-3">
											<div class="formCard-step __textCenter-lg-up">
												<span>2</span>/6
											</div>
										</div>
										<div class="grid-cell _md-9">
											<div class="formCard-title">
												Подтверждение наличия эффекта в области занятости
											</div>
										</div>
									</div>
									<div class="grid-area">
										<div class="grid-cell _md-9 _md-offset-3">
											<div class="grid-area _large">
												<div class="grid-cell">
													<div class="space _large"></div>
													<div class="form-field">
														<div class="grid-area">
															<div class="grid-cell _sm-8">
																<div class="form-field-label">
																	Количество создаваемых (созданных) новых рабочих мест
																</div>
															</div>
														</div>
														<div class="grid-area">
															<div class="grid-cell _md-10">
																<div class="grid-area">
																	<div class="grid-cell _sm-4">
																		<div class="form-field-input">
																			<div class="form-inputText _fluid">
                                                                                <input type="text" th:field="*{projectEffectEmployment}" placeholder="100"
                                                                                name="projectEffectEmployment" v-validate="'required|numeric'"
                                                                                :class="{'input': true, '-error': errors.has('projectEffectEmployment') }"
                                                                                data-vv-as="Количество" />

																			</div>
																			<div class="form-field-input-suffix">
																				чел.
                                                                            </div>
                                                                            <span v-show="errors.has('projectEffectEmployment')" class="form-field-message -error">
                                                                                {{ errors.first('projectEffectEmployment') }}
                                                                            </span>
																		</div>
																	</div>
																	<div class="grid-cell _sm-8">
																		<div class="form-field-message -default">
																			В том числе количество созданных рабочих мест
																			в моногородах (если применимо)
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
												<div class="grid-cell">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-label">
																	Метод оценки
																</div>
																<div class="form-field-input">
																	<div class="form-inputTextarea _fluid">
																		<textarea th:field="*{projectEvaluationMethod}" placeholder="Укажите метод оценки" autosize="autosize" name="projectEvaluationMethod" v-validate="'required'"
                                                                        :class="{'input': true, '-error': errors.has('projectEvaluationMethod') }"
                                                                        data-vv-as="Метод оценки"></textarea>
                                                                        <span v-show="errors.has('projectEvaluationMethod')" class="form-field-message -error">
                                                                            {{ errors.first('projectEvaluationMethod') }}
                                                                        </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-label">
																	Формула расчета
																</div>
																<div class="form-field-input">
																	<div class="form-inputTextarea _fluid">
																		<textarea th:field="*{projectCalculationFormula}" placeholder="Укажите формулу расчета" name="projectCalculationFormula" v-validate="'required'"
                                                                        :class="{'input': true, '-error': errors.has('projectCalculationFormula') }"
                                                                        data-vv-as="Формула расчета"></textarea>
                                                                        <span v-show="errors.has('projectCalculationFormula')" class="form-field-message -error">
                                                                            {{ errors.first('projectCalculationFormula') }}
                                                                        </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell _md-8">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-field-label">
																Прикрепить файл формулы
															</div>
															<div class="grid-area _small">
																<div class="grid-cell">
																	<form-input-files name="files[]" v-bind:files="inputs.files" v-on:change="inputs.files = arguments[0]" ></form-input-files>
																</div>
																<div class="grid-cell">
																	<div class="form-field-message -default">
																		Доступны форматы: doc, xls, pdf, png, jpeg не более 10 мб
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-label">
																	Описание качественных подходов
																</div>
																<div class="form-field-input">
																	<div class="form-inputTextarea _fluid">
																		<textarea th:field="*{projectQualitativeApproachesDescription}" placeholder="Опишите качественные подходы" autosize="autosize" name="projectQualitativeApproachesDescription" v-validate="'required'"
                                                                        :class="{'input': true, '-error': errors.has('projectQualitativeApproachesDescription') }"
                                                                        data-vv-as="Описание"></textarea>
                                                                        <span v-show="errors.has('projectQualitativeApproachesDescription')" class="form-field-message -error">
                                                                            {{ errors.first('projectQualitativeApproachesDescription') }}
                                                                        </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-label">
																	Какие компоненты учитывались при расчете эффекта
																</div>
																<div class="form-field-input">
																	<div class="form-inputTextarea _fluid">
																		<textarea th:field="*{projectCalculatingEffectComponents}" placeholder="Укажите, какие компоненты учитывались при расчете эффекта" autosize="autosize" name="projectCalculatingEffectComponents" v-validate="'required'"
                                                                        :class="{'input': true, '-error': errors.has('projectCalculatingEffectComponents') }"
                                                                        data-vv-as="Какие компоненты учитывались при расчете эффекта"></textarea>
                                                                        <span v-show="errors.has('projectCalculatingEffectComponents')" class="form-field-message -error">
                                                                            {{ errors.first('projectCalculatingEffectComponents') }}
                                                                        </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell _sm-8" v-if="inputs.projectProjectFinancingExpenseInvestmentFund === 'true'">
													<div class="form-field">
														<div class="form-field-label">
															Подтверждение бюджетного эффекта от реализации проекта
														</div>
                                                        <div class="form-field-input">
                                                            <div class="form-inputTextarea _fluid">
            <textarea th:field="*{projectConfirmingBudgetaryEffect}"
                      placeholder="Расчетная величина бюджетных доходов, расчетная величина бюджетных расходов, методы и принципы расчета, бюджетная ставка"
                      name="projectConfirmingBudgetaryEffect"
                      v-validate="'required'"
                      :class="{'input': true, '-error': errors.has('projectConfirmingBudgetaryEffect') }"
                      data-vv-as="Подтверждение"></textarea>
                                                                <span
                                                                    v-show="errors.has('projectConfirmingBudgetaryEffect')"
                                                                    class="form-field-message -error">
                                                                      {{ errors.first('projectConfirmingBudgetaryEffect') }}
                                                                  </span>
                                                            </div>
                                                        </div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="space _massive"></div>
									<div class="grid-area">
										<div class="grid-cell _md-9">
											<div class="grid-area">
												<div class="grid-cell __textRight">
														<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="space _massive"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
