<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проекта "Развитие +"</a></span>
						<span>Влияние реализации проекта на экономику и общество РФ</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container _large">
								<div class="space _large"></div>
                                <form action="./impact-info-3.html"
                                      th:action="@{/private-office/finance-request/influence}"
                                      th:object="${influence}"
                                      method="post"
                                      enctype="multipart/form-data"
                                      class="formCard formCard-resume"
                                      style="box-shadow: none"
                                      id="projectImpactInfo"
                                      ref="form"
                                      v-cloak="" >
									<div class="grid-area _alignCenter">
										<div class="grid-cell _md-3">
											<div class="formCard-step __textCenter-lg-up">
												<span>3</span>/6
											</div>
										</div>
										<div class="grid-cell _md-9">
											<div class="formCard-title">
												Финансирование
											</div>
										</div>
									</div>
									<div class="grid-area">
										<div class="grid-cell _md-9 _md-offset-3">
											<div class="grid-area _large">
												<div class="grid-cell _sm-8">
													<div class="form-field">
														<div class="form-field-label">
															Финансировались ли в России
														</div>
														<div class="grid-area">
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
                                                                        <input type="radio" name="projectHaveFinancingAtRfBefore" value="true" id="financedInRussia-1" v-model="inputs.projectHaveFinancingAtRfBefore"
                                                                        v-validate="'required'"
                                                                        data-vv-as="Финансировались ли в России"/>
																		<label for="financedInRussia-1">Да</label>
																	</div>
																</div>
															</div>
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
																		<input type="radio" name="projectHaveFinancingAtRfBefore" value="false" v-model="inputs.projectHaveFinancingAtRfBefore" id="financedInRussia-2"/>
																		<label for="financedInRussia-2">Нет</label>
																	</div>
																</div>
                                                            </div>

                                                            <span v-show="errors.has('projectHaveFinancingAtRfBefore')" class="form-field-message -error">
                                                                {{ errors.first('projectHaveFinancingAtRfBefore') }}
                                                            </span>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
												<div class="grid-cell _sm-4">
													<div class="form-field-message -default">
														По информации Получателя средств, Инициатора проекта,
														финансовыми организациями, банками развития ранее
														аналогичные проекты в отраслях экономики
													</div>
												</div>

												<div class="grid-cell" v-if="inputs.projectHaveFinancingAtRfBefore == 'true'">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-label">
																	Проекты и условия их финансирования
																</div>
																<div class="form-field-input">
																	<div class="form-inputTextarea _fluid">
                                    <textarea th:field="*{projectProjectsAndConditionsForTheirFinancing}"
                                              placeholder="В свободной форме"
                                              name="projectProjectsAndConditionsForTheirFinancing"
                                              vt-validate="'required'"
                                              :class="{'input': true, '-error': errors.has('projectProjectsAndConditionsForTheirFinancing') }"
                                              data-vv-as="Проекты"></textarea>
                                    <span v-show="errors.has('projectProjectsAndConditionsForTheirFinancing')" class="form-field-message -error">
                                        {{ errors.first('projectProjectsAndConditionsForTheirFinancing') }}
                                    </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
														<div class="grid-cell _sm-4">
															<div class="form-field-message -default">
															</div>
														</div>
													</div>
												</div>

												<div class="grid-cell _sm-8">
													<div class="form-field">
														<div class="form-field-label">
															Может ли проект быть профинансирован финансовыми организациями
														</div>
														<div class="grid-area">
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
																		<input type="radio" name="projectCanProjectFinancedByFinancialInstitutions" value="true" id="byFinancialInstitutions-1" v-model="inputs.projectCanProjectFinancedByFinancialInstitutions" v-validate="'required'"
                                                                        data-vv-as="Может ли проект быть профинансирован финансовыми организациями"/>
																		<label for="byFinancialInstitutions-1">Да</label>
																	</div>
																</div>
															</div>
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
																		<input type="radio" name="projectCanProjectFinancedByFinancialInstitutions" value="false" v-model="inputs.projectCanProjectFinancedByFinancialInstitutions" id="byFinancialInstitutions-2"/>
																		<label for="byFinancialInstitutions-2">Нет</label>
																	</div>
																</div>
                                                            </div>
                                                            <span v-show="errors.has('projectCanProjectFinancedByFinancialInstitutions')" class="form-field-message -error">
                                                                {{ errors.first('projectCanProjectFinancedByFinancialInstitutions') }}
                                                            </span>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
												<div class="grid-cell _sm-4">
													<div class="form-field-message -default">
														По информации Получателя средств, Инициатора проекта
													</div>
												</div>

												<div class="grid-cell _sm-8" v-if="inputs.projectCanProjectFinancedByFinancialInstitutions === 'false'">
													<div class="form-field">
														<div class="form-field-label">
															Причины полученного / ожидаемого отказа от коммерческих
															финансовых институтов финансировать проект
														</div>
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectReasonsForRefusalOfFinancing}" placeholder="В свободной форме" name="projectReasonsForRefusalOfFinancing" vt-validate="'required'"
                                :class="{'input': true, '-error': errors.has('projectReasonsForRefusalOfFinancing') }"
                                data-vv-as="Причины"></textarea>
                                <span v-show="errors.has('projectReasonsForRefusalOfFinancing')" class="form-field-message -error">
                                    {{ errors.first('projectReasonsForRefusalOfFinancing') }}
                                </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>

												<div class="grid-cell _sm-8">
													<div class="form-field">
														<div class="form-field-label">
															Готовы ли финансовые организации финансировать проект при условии участия в нем Банка
														</div>
														<div class="grid-area">
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
																		<input type="radio" name="projectFinancialInstitutionsReadyToFinanceTheProject" value="true" id="institutionsWithBank-1" v-model="inputs.projectFinancialInstitutionsReadyToFinanceTheProject" v-validate="'required'"
                                                                        data-vv-as="Готовы ли финансовые организации финансировать проект при условии участия в нем Банка"/>
																		<label for="institutionsWithBank-1">Да</label>
																	</div>
																</div>
															</div>
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
																		<input type="radio" name="projectFinancialInstitutionsReadyToFinanceTheProject" value="false" v-model="inputs.projectFinancialInstitutionsReadyToFinanceTheProject" id="institutionsWithBank-2"/>
																		<label for="institutionsWithBank-2">Нет</label>
																	</div>
																</div>
                                                            </div>

                                                            <span v-show="errors.has('projectFinancialInstitutionsReadyToFinanceTheProject')" class="form-field-message -error">
                                                                {{ errors.first('projectFinancialInstitutionsReadyToFinanceTheProject') }}
                                                            </span>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
												<div class="grid-cell _sm-4">
													<div class="form-field-message -default">
														По информации Получателя средств, Инициатора проекта
													</div>
												</div>

												<div class="grid-cell _sm-8" v-if="inputs.projectFinancialInstitutionsReadyToFinanceTheProject === 'true'">
													<div class="grid-area">
														<div class="grid-cell">
															<div class="form-field">
																<div class="form-field-label">
																	Какие именно коммерческие финансовые институты
																	могут принять участие в финансировании проекта
																</div>
																<div class="form-field-input">
																	<div class="form-inputTextarea _fluid">
                                    <textarea th:field="*{projectWhichFinancialInstitutions}" placeholder="Перечислите коммерческие финансовые институты" name="projectWhichFinancialInstitutions" vt-validate="'required'"
                                    :class="{'input': true, '-error': errors.has('projectWhichFinancialInstitutions') }"
                                    data-vv-as="Финансовые институты"></textarea>
                                    <span v-show="errors.has('projectWhichFinancialInstitutions')" class="form-field-message -error">
                                        {{ errors.first('projectWhichFinancialInstitutions') }}
                                    </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
														<div class="grid-cell">
															<div class="form-field">
																<div class="form-field-label">
																	Условия их участия в проекте
																</div>
																<div class="form-field-input">
																	<div class="form-inputTextarea _fluid">
                                    <textarea th:field="*{projectFinancialInstitutionsParticipationTermsInProject}" placeholder="Опишите условия" name="projectFinancialInstitutionsParticipationTermsInProject" v-validate="'required'"
                                    :class="{'input': true, '-error': errors.has('projectFinancialInstitutionsParticipationTermsInProject') }"
                                    data-vv-as="Условия"></textarea>
                                    <span v-show="errors.has('projectFinancialInstitutionsParticipationTermsInProject')" class="form-field-message -error">
                                        {{ errors.first('projectFinancialInstitutionsParticipationTermsInProject') }}
                                    </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>

												<div class="grid-cell _sm-8">
													<div class="form-field">
														<div class="form-field-label">
															Укажите, почему участие Банка в финансировании проекта
															не нанесет ущерба интересам финансовых организаций
														</div>
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectWhyBanksParticipationNotDamageFinancialOrganizations}" placeholder="Краткое обоснование в свободной форме" name="projectWhyBanksParticipationNotDamageFinancialOrganizations" v-validate="'required'"
                                :class="{'input': true, '-error': errors.has('projectWhyBanksParticipationNotDamageFinancialOrganizations') }"
                                data-vv-as="Укажите, почему участие Банка в финансировании проекта
                                не нанесет ущерба интересам финансовых организаций"></textarea>
                                <span v-show="errors.has('projectWhyBanksParticipationNotDamageFinancialOrganizations')" class="form-field-message -error">
                                    {{ errors.first('projectWhyBanksParticipationNotDamageFinancialOrganizations') }}
                                </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>

												<div class="grid-cell _sm-8">
													<div class="form-field">
														<div class="form-field-label">
															Проект соответствует требованиям охраны окружающей среды
															и стандартам экологической эффективности
														</div>
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectEnvironmentalProtectionComment}" placeholder="Краткое обоснование в свободной форме" name="projectEnvironmentalProtectionComment" v-validate="'required'"
                                :class="{'input': true, '-error': errors.has('projectEnvironmentalProtectionComment') }"
                                data-vv-as="Проект"></textarea>
                                <span v-show="errors.has('projectEnvironmentalProtectionComment')" class="form-field-message -error">
                                    {{ errors.first('projectEnvironmentalProtectionComment') }}
                                </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="space _massive"></div>
									<div class="grid-area">
										<div class="grid-cell _md-9">
											<div class="grid-area">
												<div class="grid-cell __textRight">
														<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="space _massive"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
