<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
	<!--@@include = ../../../components/form/form-inputFiles.html-->
</script>

<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проекта "Развитие +"</a></span>
						<span>Влияние реализации проекта на экономику и общество РФ</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container _large">
								<div class="space _large"></div>
                                <form action="./impact-info-6.html"
                                      th:action="@{/private-office/finance-request/influence}"
                                      th:object="${influence}"
                                      method="post"
                                      enctype="multipart/form-data"
                                      class="formCard formCard-resume"
                                      style="box-shadow: none"
                                      id="projectImpactInfo"
                                      ref="form"
                                      v-cloak="" >
									<div class="grid-area _alignCenter">
										<div class="grid-cell _md-3">
											<div class="formCard-step __textCenter-lg-up">
												<span>6</span>/6
											</div>
										</div>
										<div class="grid-cell _md-9">
											<div class="formCard-title">
												Технологии
											</div>
										</div>
									</div>
									<div class="grid-area">
										<div class="grid-cell _md-9 _md-offset-3">
											<div class="grid-area _large">
												<div class="grid-cell _sm-8">
													<div class="form-field">
														<div class="form-field-label">
															Технологии, планируемые к применению в рамках реализации проекта
														</div>
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectTechnologiesImplementation}" placeholder="Перечислите технологии" name="projectTechnologiesImplementation" v-validate="'required'"
                                :class="{'input': true, '-error': errors.has('projectTechnologiesImplementation') }"
                                data-vv-as="Технологии"></textarea>
                                <span v-show="errors.has('projectTechnologiesImplementation')" class="form-field-message -error">
                                    {{ errors.first('projectTechnologiesImplementation') }}
                                </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
												<div class="grid-cell _sm-8">
													<div class="form-field">
														<div class="form-field-label">
															Наличие технологических возможностей реализации проекта
														</div>
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectTechnologicalOpportunities}" placeholder="Опишите технологические возможности" name="projectTechnologicalOpportunities" v-validate="'required'"
                                :class="{'input': true, '-error': errors.has('projectTechnologicalOpportunities') }"
                                data-vv-as="Наличие технологических возможностей"></textarea>
                                <span v-show="errors.has('projectTechnologicalOpportunities')" class="form-field-message -error">
                                    {{ errors.first('projectTechnologicalOpportunities') }}
                                </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
												<div class="grid-cell _sm-8">
													<div class="formCard-subtitle">
														Наличие государственной поддержки
													</div>
												</div>
												<div class="grid-cell _sm-8">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-input">
																	<div class="form-inputCheckbox _fluid">
																		<input type="checkbox" name="noSupport" id="noSupport" v-model="inputs.govSupportNot"/>
																		<label for="noSupport">Нет</label>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-input">
																	<div class="form-inputCheckbox _fluid">
																		<input type="checkbox" name="refundableSupport" id="refundableSupport" v-model="inputs.govSupport1"/>
																		<label for="refundableSupport">
																			Привлечение возвратной меры господдержки
																			(по факту понесенных расходов):
																			проект соответствует правилам получения субсидии
																		</label>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell _sm-8" v-if="inputs.govSupport1">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectImpactInfoAvailabilityOfStateSupportComment0}" placeholder="Краткое обоснование в свободной форме" name="projectImpactInfoAvailabilityOfStateSupportComment0" vt-validate="'required'"
                                :class="{'input': true, '-error': errors.has('projectImpactInfoAvailabilityOfStateSupportComment0') }"
                                data-vv-as="Краткое обоснование"></textarea>
                                <span v-show="errors.has('projectImpactInfoAvailabilityOfStateSupportComment0')" class="form-field-message -error">
                                    {{ errors.first('projectImpactInfoAvailabilityOfStateSupportComment0') }}
                                </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
												<div class="grid-cell">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-input">
																	<div class="form-inputCheckbox _fluid">
																		<input type="checkbox" name="advanceSupport" id="advanceSupport" v-model="inputs.govSupport2"/>
																		<label for="advanceSupport">
																			Привлечение авансовой меры господдержки:
																			проект соответствует правилам получения
																			субсидии или есть решение ГРБС
																			о предоставлении возвратной меры господдержки по проекту
																		</label>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell _sm-8" v-if="inputs.govSupport2">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectImpactInfoAvailabilityOfStateSupportComment1}" placeholder="Краткое обоснование в свободной форме" name="projectImpactInfoAvailabilityOfStateSupportComment1" vt-validate="'required'"
                                :class="{'input': true, '-error': errors.has('projectImpactInfoAvailabilityOfStateSupportComment1') }"
                                data-vv-as="Краткое обоснование"></textarea>
                                <span v-show="errors.has('projectImpactInfoAvailabilityOfStateSupportComment1')" class="form-field-message -error">
                                    {{ errors.first('projectImpactInfoAvailabilityOfStateSupportComment1') }}
                                </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
												<div class="grid-cell">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-input">
																	<div class="form-inputCheckbox _fluid">
																		<input type="checkbox" name="grbsDecision" id="grbsDecision" v-model="inputs.govSupport3"/>
																		<label for="grbsDecision">
																			Есть решение ГРБС о получении
																			авансовой меры господдержки под проект
																			(до момента предоставления финансирования Внешэкономбанком)
																		</label>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell _sm-8" v-if="inputs.govSupport3">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectImpactInfoAvailabilityOfStateSupportComment2}" placeholder="Краткое обоснование в свободной форме" name="projectImpactInfoAvailabilityOfStateSupportComment2" vt-validate="'required'"
                                :class="{'input': true, '-error': errors.has('projectImpactInfoAvailabilityOfStateSupportComment2') }"
                                data-vv-as="Краткое обоснование"></textarea>
                                <span v-show="errors.has('projectImpactInfoAvailabilityOfStateSupportComment2')" class="form-field-message -error">
                                    {{ errors.first('projectImpactInfoAvailabilityOfStateSupportComment2') }}
                                </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="space _massive"></div>
									<div class="grid-area">
										<div class="grid-cell _md-9">
											<div class="grid-area">
												<div class="grid-cell __textRight">
														<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="space _massive"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
