<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<!--@@include = ../../../components/form/form-cryptopro-header.html-->
<script type="text/x-template" id="form-inputFiles">
	<!--@@include = ../../../components/form/form-inputFiles.html-->
</script>
<!--@@include = ../../../components/form/form-cryptopro-functions.html -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проекта "Развитие +"</a></span>
						<span>Влияние реализации проекта на экономику и общество РФ</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container _large">
								<div class="space _large"></div>
                                <form action="./impact-info-5.html"
                                      th:action="@{/private-office/finance-request/influence}"
                                      th:object="${influence}"
                                      method="post" enctype="multipart/form-data"
                                      class="formCard formCard-resume"
                                      style="box-shadow: none"
                                      id="projectImpactInfo"
                                      ref="form"
                                      v-cloak="" >
									<div class="grid-area _alignCenter">
										<div class="grid-cell _md-3">
											<div class="formCard-step __textCenter-lg-up">
												<span>5</span>/6
											</div>
										</div>
										<div class="grid-cell _md-9">
											<div class="formCard-title">
												Наличие положительного заключения
												по результатам независимой
												экологической экспертизы
											</div>
										</div>
									</div>
									<div class="grid-area">
										<div class="grid-cell _md-9 _md-offset-3">
											<div class="grid-area _large">
												<div class="grid-cell _sm-9">
													В случаях, когда наличие такой экспертизы обусловлено
													требованиями в стране реализации проекта
													и/или является условием участия в финансировании
													проекта иностранного юридического лица
												</div>
												<div class="grid-cell _sm-8">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-label">
																	Кем выдано
																</div>
																<div class="form-field-input">
																	<div class="form-inputText _fluid">
																		<input type="text" th:field="*{projectEnvironmentalExpertiseIssuedBy}" placeholder="Укажите, кем выдано заключение" name="projectEnvironmentalExpertiseIssuedBy" v-validate="!inputs.projectEnvironmentalExpertiseIsNotRequiredIs ? 'required' : ''"
                                                                        :class="{'input': true, '-error': errors.has('projectEnvironmentalExpertiseIssuedBy') }"
                                                                        data-vv-as="Кем выдано" />
                                                                        <span v-show="errors.has('projectEnvironmentalExpertiseIssuedBy')" class="form-field-message -error">
                                                                            {{ errors.first('projectEnvironmentalExpertiseIssuedBy') }}
                                                                        </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell sm-8">
													<div class="form-field">
														<div class="grid-area">
															<div class="grid-cell _sm-8">
																<div class="form-field-label">
																	Дата выдачи
																</div>
																<div class="grid-area">
																	<div class="grid-cell _sm-4">
																		<div class="form-field-input">
																			<div class="form-inputSelect _fluid">
																					<select  th:field="*{projectEnvironmentalExpertiseIssuedDate.day}" name="projectEnvironmentalExpertiseIssuedDateD" v-validate="!inputs.projectEnvironmentalExpertiseIsNotRequiredIs ? 'required' : ''"
                                                                                    :class="{'input': true, '-error': errors.has('projectEnvironmentalExpertiseIssuedDateD') }"
                                                                                    data-vv-as="Дата выдачи">
																							<option value="">Выберите</option>
																							<option th:each="item : ${ref.days}"
																									th:value="${item.id}"
																									th:text="${item.title}">no title</option>
                                                                                    </select>
                                                                                    <span v-show="errors.has('projectEnvironmentalExpertiseIssuedDateD')" class="form-field-message -error">
                                                                                        {{ errors.first('projectEnvironmentalExpertiseIssuedDateD') }}
                                                                                    </span>
																			</div>
																		</div>
																	</div>
																	<div class="grid-cell _sm-4">
																		<div class="form-field-input">
																			<div class="form-inputSelect _fluid">
																					<select th:field="*{projectEnvironmentalExpertiseIssuedDate.month}" name="projectEnvironmentalExpertiseIssuedDateM" v-validate="!inputs.projectEnvironmentalExpertiseIsNotRequiredIs ? 'required' : ''"
                                                                                    :class="{'input': true, '-error': errors.has('projectEnvironmentalExpertiseIssuedDateM') }"
                                                                                    data-vv-as="Дата выдачи">
																							<option value="">Выберите</option>
																							<option th:each="item : ${ref.months}"
																									th:value="${item.id}"
																									th:text="${item.title}">no title</option>
                                                                                        </select>
                                                                                        <span v-show="errors.has('projectEnvironmentalExpertiseIssuedDateM')" class="form-field-message -error">
                                                                                            {{ errors.first('projectEnvironmentalExpertiseIssuedDateM') }}
                                                                                        </span>
																			</div>
																		</div>
																	</div>
																	<div class="grid-cell _sm-4">
																		<div class="form-field-input">
																			<div class="form-inputSelect _fluid">
																					<select th:field="*{projectEnvironmentalExpertiseIssuedDate.year}"  name="projectEnvironmentalExpertiseIssuedDateY" v-validate="!inputs.projectEnvironmentalExpertiseIsNotRequiredIs ? 'required' : ''"
                                                                                    :class="{'input': true, '-error': errors.has('projectEnvironmentalExpertiseIssuedDateY') }"
                                                                                    data-vv-as="Дата выдачи">
																							<option value="">Выберите</option>
																							<option th:each="item : ${ref.years}"
																									th:value="${item.id}"
																									th:text="${item.title}">no title</option>
                                                                                        </select>
                                                                                        <span v-show="errors.has('projectEnvironmentalExpertiseIssuedDateY')" class="form-field-message -error">
                                                                                            {{ errors.first('projectEnvironmentalExpertiseIssuedDateY') }}
                                                                                        </span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<!--
												<div class="grid-cell _sm-8">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-input">
																	<div class="form-inputCheckbox _fluid">
																		<input type="checkbox" name="projectEnvironmentalExpertiseConclusionNotRequiredIs" id="conclusionNot" v-model="inputs.projectEnvironmentalExpertiseConclusionNotRequiredIs"/>
																		<label for="conclusionNot">Заключение не требуется</label>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell _sm-8" v-if="inputs.projectEnvironmentalExpertiseConclusionNotRequiredIs === true">
													<div class="form-field">
														<div class="form-field-label">
															Обоснование
														</div>
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectEnvironmentalExpertiseConclusionNotRequired}" placeholder="В свободной форме" name="projectEnvironmentalExpertiseConclusionNotRequired" v-validate="'required'"
                                :class="{'input': true, '-error': errors.has('projectEnvironmentalExpertiseConclusionNotRequired') }"
                                data-vv-as="Обоснование"></textarea>
                                <span v-show="errors.has('projectEnvironmentalExpertiseConclusionNotRequired')" class="form-field-message -error">
                                    {{ errors.first('projectEnvironmentalExpertiseConclusionNotRequired') }}
                                </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
												-->
												<div class="grid-cell">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-input">
																	<div class="form-inputCheckbox _fluid">
																		<input type="checkbox" name="projectEnvironmentalExpertiseIsNotRequiredIs" id="examinationNot" v-model="inputs.projectEnvironmentalExpertiseIsNotRequiredIs"/>
																		<label for="examinationNot">Проведение экологической экспертизы не требуется</label>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>
												<div class="grid-cell _sm-8" v-if="inputs.projectEnvironmentalExpertiseIsNotRequiredIs === true">
													<div class="form-field">
														<div class="form-field-label">
															Обоснование
														</div>
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectEnvironmentalExpertiseIsNotRequired}" placeholder="В свободной форме" name="projectEnvironmentalExpertiseIsNotRequired" vt-validate="'required'"
                                :class="{'input': true, '-error': errors.has('projectEnvironmentalExpertiseIsNotRequired') }"
                                data-vv-as="Обоснование"></textarea>
                                <span v-show="errors.has('projectEnvironmentalExpertiseIsNotRequired')" class="form-field-message -error">
                                    {{ errors.first('projectEnvironmentalExpertiseIsNotRequired') }}
                                </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>

												<div class="grid-cell _md-8">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-field-label">
																Прикрепить скан документа
															</div>
															<div class="space _small"></div>
															<div class="grid-area _small">
																<div class="grid-cell">
																	<form-input-files name="files[]" v-bind:files="inputs.files" v-on:change="inputs.files = arguments[0]"></form-input-files>
																</div>
																<div class="grid-cell">
																	<div class="form-field-message -default">
																		Доступны форматы: doc, xls, pdf, png, jpeg не более 10 мб
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="space _massive"></div>
									<div class="grid-area">
										<div class="grid-cell _md-9">
											<div class="grid-area">
												<div class="grid-cell __textRight">
														<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="space _massive"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
