<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проекта "Развитие +"</a></span>
						<span>Влияние реализации проекта на экономику и общество РФ</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container _large">
								<div class="space _large"></div>
                                <form action="./impact-info-1.html"
                                      th:action="@{/private-office/finance-request/influence}"
                                      th:object="${influence}"
                                      method="post"
                                      enctype="multipart/form-data"
                                      v-cloak=""
                                      class="formCard formCard-resume"
                                      style="box-shadow: none"
                                      id="projectImpactInfo"
                                      ref="form" >
									<div class="grid-area _alignCenter">
										<div class="grid-cell _md-3">
											<div class="formCard-step __textCenter-lg-up">
												<span>1</span>/6
											</div>
										</div>
										<div class="grid-cell _md-9">
											<div class="formCard-title">
												Влияние реализации проекта на экономику и общество РФ
											</div>
										</div>
									</div>
									<div class="space _large"></div>
									<div class="grid-area">
										<div class="grid-cell _md-9 _md-offset-3">
											<div class="grid-area _large">
												<div class="grid-cell _sm-8">
													<div class="form-field">
														<div class="form-field-label">
															Реализация проекта соответствует приоритетам государства
														</div>
														<div class="grid-area">
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
                                                                        <input type="radio" name="projectImplementationCorrespondsToPriorities" value="true" id="compliance-1" v-model="inputs.projectImplementationCorrespondsToPriorities"
                                                                        v-validate="'required'"
                                                                        data-vv-as="Реализация проекта"/>
																		<label for="compliance-1">Да</label>
																	</div>
																</div>
															</div>
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
																		<input type="radio" name="projectImplementationCorrespondsToPriorities" value="false" v-model="inputs.projectImplementationCorrespondsToPriorities" id="compliance-2"/>
																		<label for="compliance-2">Нет</label>
																	</div>
																</div>
                                                            </div>

                                                            <span v-show="errors.has('projectImplementationCorrespondsToPriorities')" class="form-field-message -error">
                                                                {{ errors.first('projectImplementationCorrespondsToPriorities') }}
                                                            </span>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>

												<div class="grid-cell" v-if="inputs.projectImplementationCorrespondsToPriorities === 'true'">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-label">
																	Приоритетные отрасли и госпрограммы
																</div>
																<div class="form-field-input">
																	<div class="form-inputTextarea _fluid">
                                                                            <textarea th:field="*{projectProjectCorrespondenceSectors}"
                                                                                  placeholder="Минпромторга, НТИ, Минтранса, Минэкономразвития, планам импортозамещения Минпромторга и т.д."
                                                                                  name="projectProjectCorrespondenceSectors" vt-validate="'required'"
                                                                                  :class="{'input': true, '-error': errors.has('projectProjectCorrespondenceSectors') }"
                                                                                  data-vv-as="Приоритетные отрасли"></textarea>
                                                                                <span v-show="errors.has('projectProjectCorrespondenceSectors')" class="form-field-message -error">
                                                                                    {{ errors.first('projectProjectCorrespondenceSectors') }}
                                                                                </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
														<div class="grid-cell _sm-4">
															<div class="form-field-message -default">
															</div>
														</div>
													</div>
												</div>

												<div class="grid-cell _sm-8">
													<div class="form-field">
														<div class="form-field-label">
															Реализация проекта основана на механизмах государственно-частного партнерства
														</div>
														<div class="grid-area">
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
                                                                        <input type="radio" name="projectProjectImplementationPublicPrivatePartnership" value="true" id="basedOnPartnership-1" v-model="inputs.projectProjectImplementationPublicPrivatePartnership"
                                                                        v-validate="'required'"
                                                                        data-vv-as="Реализация проекта"/>
																		<label for="basedOnPartnership-1">Да</label>
																	</div>
																</div>
															</div>
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
																		<input type="radio" name="projectProjectImplementationPublicPrivatePartnership" value="false" v-model="inputs.projectProjectImplementationPublicPrivatePartnership" id="basedOnPartnership-2"/>
																		<label for="basedOnPartnership-2">Нет</label>
																	</div>
																</div>
                                                            </div>
                                                            <span v-show="errors.has('projectProjectImplementationPublicPrivatePartnership')" class="form-field-message -error">
                                                                {{ errors.first('projectProjectImplementationPublicPrivatePartnership') }}
                                                            </span>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>

												<div class="grid-cell _sm-8" v-if="inputs.projectProjectImplementationPublicPrivatePartnership === 'true'">
													<div class="form-field">
														<div class="form-field-label">
															Основные параметры соглашения
														</div>
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectAgreementBasicParameters}"
																		  placeholder="Параметры и стандарты установленные для проекта ГЧП" name="projectAgreementBasicParameters" vt-validate="'required'"
                                                                          :class="{'input': true, '-error': errors.has('projectAgreementBasicParameters') }"
                                                                          data-vv-as="Основные параметры соглашения"></textarea>
                                                                        <span v-show="errors.has('projectAgreementBasicParameters')" class="form-field-message -error">
                                                                            {{ errors.first('projectAgreementBasicParameters') }}
                                                                        </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>

												<div class="grid-cell _sm-8">
													<div class="form-field">
														<div class="form-field-label">
															Финансирование проекта планируется за счет средств Инвестиционного
															фонда РФ и(или) связан с созданием объектов, предназначенных
															для обеспечения функционирования особых экономических зон
														</div>
														<div class="grid-area">
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
																		<input type="radio" name="projectProjectFinancingExpenseInvestmentFund" value="true" id="investmentFund-1" v-model="inputs.projectProjectFinancingExpenseInvestmentFund" v-validate="'required'"
                                                                        data-vv-as="Финансирование"/>
																		<label for="investmentFund-1">Да</label>
																	</div>
																</div>
															</div>
															<div class="grid-cell _sm-2">
																<div class="form-field-input">
																	<div class="form-inputRadio">
																		<input type="radio" name="projectProjectFinancingExpenseInvestmentFund" value="false" v-model="inputs.projectProjectFinancingExpenseInvestmentFund" id="investmentFund-2"/>
																		<label for="investmentFund-2">Нет</label>
																	</div>
																</div>
                                                            </div>

                                                            <span v-show="errors.has('projectProjectFinancingExpenseInvestmentFund')" class="form-field-message -error">
                                                                {{ errors.first('projectProjectFinancingExpenseInvestmentFund') }}
                                                            </span>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>

												<div class="grid-cell _sm-8" v-if="inputs.projectProjectFinancingExpenseInvestmentFund === 'true'">
													<div class="form-field">
														<div class="form-field-label">
															Основные условия финансирования проекта Фондом
														</div>
														<div class="form-field-input">
															<div class="form-inputTextarea _fluid">
                                <textarea th:field="*{projectFinancingBasicTerms}"
																		  placeholder="Обоснования, что проект предназначен для особых экономических зон" name="projectFinancingBasicTerms" vt-validate="'required'"
                                                                          :class="{'input': true, '-error': errors.has('projectFinancingBasicTerms') }"
                                                                          data-vv-as="Основные условия"></textarea>
                                                                        <span v-show="errors.has('projectFinancingBasicTerms')" class="form-field-message -error">
                                                                            {{ errors.first('projectFinancingBasicTerms') }}
                                                                        </span>
															</div>
														</div>
														<div class="form-field-message -error __hidden"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="space _massive"></div>
									<div class="grid-area">
										<div class="grid-cell _md-9">
											<div class="grid-area">
												<div class="grid-cell __textRight">
														<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="space _massive"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
