<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->
<!--@@include = ../../../components/form/form-cryptopro-header.html-->
<script type="text/x-template" id="form-inputFiles">
	<!--@@include = ../../../components/form/form-inputFiles.html-->
</script>
<!--@@include = ../../../components/form/form-cryptopro-functions.html -->
<div class="office page-wrapper _gray">
	<div class="page-header">
		<!--@@include = ../../../components/office/office-header-final.html-->
	</div>
	<div class="page-content">
		<!--@@include = ../../../components/office/office-sideMenu-final.html-->
		<div class="office-content">
			<div class="grid-container">
				<div class="space _medium"></div>
				<div class="__hidden-lg-up">
					<div class="office-breadCrumbs">
						<span><a href="#" class="link">Проекта "Развитие +"</a></span>
						<span>Влияние реализации проекта на экономику и общество РФ</span>
					</div>
					<div class="space _medium"></div>
				</div>
				<div class="grid-area">
					<div class="grid-cell">
						<div class="card">
							<div class="grid-container _large">
								<div class="space _large"></div>
                                <form action="./impact-info-4.html"
                                      th:action="@{/private-office/finance-request/influence}"
                                      th:object="${influence}"
                                      method="post"
                                      enctype="multipart/form-data"
                                      class="formCard formCard-resume"
                                      style="box-shadow: none"
                                      id="projectImpactInfo"
                                      ref="form"
                                      v-cloak="" >
									<div class="grid-area _alignCenter">
										<div class="grid-cell _md-3">
											<div class="formCard-step __textCenter-lg-up">
												<span>4</span>/6
											</div>
										</div>
										<div class="grid-cell _md-9">
											<div class="formCard-title">
												Наличие действующих разрешительных документов
												для финансирования и реализации проекта на территории РФ
											</div>
										</div>
									</div>
									<div class="grid-area">
										<div class="grid-cell _md-9 _md-offset-3">
											<div class="grid-area _large">
												<div class="grid-cell _sm-9">
													Выданных уполномоченными органами в области проведения
													государственной экологической экспертизы и государственной
													экспертизы проектной документации
												</div>
												<div class="grid-cell">
													<div class="space _medium"></div>
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-label">
																	Вид разрешительного документа
																</div>
																<div class="form-field-input">
																	<div class="form-inputText _fluid">
																		<input type="text" th:field="*{projectTypeOfAuthorizationDocument}" placeholder="Укажите вид разрешительного документа" name="projectTypeOfAuthorizationDocument" v-validate="'required'"
                                                                        :class="{'input': true, '-error': errors.has('projectTypeOfAuthorizationDocument') }"
                                                                        data-vv-as="Вид разрешительного документа" />
                                                                        <span v-show="errors.has('projectTypeOfAuthorizationDocument')" class="form-field-message -error">
                                                                            {{ errors.first('projectTypeOfAuthorizationDocument') }}
                                                                        </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>

												<div class="grid-cell">
													<div class="grid-area">
														<div class="grid-cell _sm-8">
															<div class="form-field">
																<div class="form-field-label">
																	Кем выдан
																</div>
																<div class="form-field-input">
																	<div class="form-inputText _fluid">
																		<input type="text" th:field="*{projectAuthorizationDocumentIssuedBy}" placeholder="Укажите кем выдан разрешительный документ" name="projectAuthorizationDocumentIssuedBy" v-validate="'required'"
                                                                        :class="{'input': true, '-error': errors.has('projectAuthorizationDocumentIssuedBy') }"
                                                                        data-vv-as="Кем выдан" />
                                                                        <span v-show="errors.has('projectAuthorizationDocumentIssuedBy')" class="form-field-message -error">
                                                                            {{ errors.first('projectAuthorizationDocumentIssuedBy') }}
                                                                        </span>
																	</div>
																</div>
																<div class="form-field-message -error __hidden"></div>
															</div>
														</div>
													</div>
												</div>

												<div class="grid-cell">
													<div class="form-field">
														<div class="grid-area">
															<div class="grid-cell _sm-8">
																<div class="form-field-label">
																	Дата выдачи
																</div>
																<div class="grid-area">
																	<div class="grid-cell _sm-4">
																		<div class="form-field-input">
																			<div class="form-inputSelect _fluid">
																				<select th:field="*{projectAuthorizationDocumentIssuedDate.day}" name="projectAuthorizationDocumentIssuedDate" v-validate="'required'"
                                                                                :class="{'input': true, '-error': errors.has('projectAuthorizationDocumentIssuedDate') }"
                                                                                data-vv-as="Дата выдачи">
																						<option value="">Выберите</option>
																						<option th:each="item : ${ref.days}"
																								th:value="${item.id}"
																								th:text="${item.title}">no title</option>
                                                                                </select>
                                                                                <span v-show="errors.has('projectAuthorizationDocumentIssuedDate')" class="form-field-message -error">
                                                                                    {{ errors.first('projectAuthorizationDocumentIssuedDate') }}
                                                                                </span>
																			</div>
																		</div>
																	</div>
																	<div class="grid-cell _sm-4">
																		<div class="form-field-input">
																			<div class="form-inputSelect _fluid">
																				<select th:field="*{projectAuthorizationDocumentIssuedDate.month}" name="projectAuthorizationDocumentIssuedDateM" v-validate="'required'"
                                                                                :class="{'input': true, '-error': errors.has('projectAuthorizationDocumentIssuedDateM') }"
                                                                                data-vv-as="Дата выдачи">
																					<option value="">Выберите</option>
																					<option th:each="item : ${ref.months}"
																							th:value="${item.id}"
																							th:text="${item.title}">no title</option>
                                                                                </select>
                                                                                <span v-show="errors.has('projectAuthorizationDocumentIssuedDateM')" class="form-field-message -error">
                                                                                    {{ errors.first('projectAuthorizationDocumentIssuedDateM') }}
                                                                                </span>
																			</div>
																		</div>
																	</div>
																	<div class="grid-cell _sm-4">
																		<div class="form-field-input">
																			<div class="form-inputSelect _fluid">
																				<select th:field="*{projectAuthorizationDocumentIssuedDate.year}" name="projectAuthorizationDocumentIssuedDateY" v-validate="'required'"
                                                                                :class="{'input': true, '-error': errors.has('projectAuthorizationDocumentIssuedDateY') }"
                                                                                data-vv-as="Дата выдачи">
																					<option value="">Выберите</option>
																					<option th:each="item : ${ref.years}"
																							th:value="${item.id}"
																							th:text="${item.title}">no title</option>
                                                                                </select>
                                                                                <span v-show="errors.has('projectAuthorizationDocumentIssuedDateY')" class="form-field-message -error">
                                                                                    {{ errors.first('projectAuthorizationDocumentIssuedDateY') }}
                                                                                </span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="space _medium"></div>
												<div class="grid-cell _md-8">
													<div class="form-field">
														<div class="form-field-input">
															<div class="form-field-label">
																Прикрепить скан документа
															</div>
															<div class="grid-area _small">
																<div class="grid-cell">
																	<form-input-files name="files[]" v-bind:files="inputs.files" v-on:change="inputs.files = arguments[0]"></form-input-files>
																</div>
																<div class="grid-cell">
																	<div class="form-field-message -default">
																		Доступны форматы: doc, xls, pdf, png, jpeg не более 10 мб
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="space _massive"></div>
									<div class="grid-area">
										<div class="grid-cell _md-9">
											<div class="grid-area">
												<div class="grid-cell __textRight">
														<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
														<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
												</div>
											</div>
										</div>
									</div>
								</form>
								<div class="space _massive"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="space _massive"></div>
			</div>
		</div>
	</div>
</div>
