<div class="jambotron" style="background-image: url('./img/static/backgroundMain.jpg')">
	<div class="jambotron-wrapper">
		<div class="grid-container">
			<div class="grid-area _center">
				<h1 class="jambotron-title grid-cell _md-10">
					<span class="jambotron-title-firstLine">
						Инвестиции в Россию
					</span>
					<span class="jambotron-title-secondLine">
						Прием заявок на финансирование проектов
					</span>
				</h1>
				<div class="jambotron-search grid-cell">
					<div class="space _large"></div>
					<div class="grid-area _center">
						<div class="grid-cell _md-6 _lg-6">
							<a href="./firstRequest.html" th:href="@{/firstRequest}" class="pageMain-header-button form-button _large _long">Подать обращение</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>