.jambotron {
	position: relative;
	background: center no-repeat;
	background-size: cover;
	height: 750px;

	&-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&-title {
		//margin-bottom: 10px;
		font-size: 36px;
		line-height: 1.3;
		text-align: center;
		color: #fff;

		&-firstLine {
			display: block;
			font-size: 2em;
			font-weight: 700;
			line-height: 1.6em;
			text-transform: uppercase;
		}

		&-secondLine {
			font-weight: 300;
			letter-spacing: 0.5px;
			line-height: 1.8em;
		}
	}

	&-search {
		//margin-top: 58px;
	}

	@include dd-responsive-media ((sm, lg)) {
		padding-bottom: 63%;
		height: auto;
	}

	@include dd-responsive-media ((md, lg)) {

		&-title {
			font-size: 2.5vw;
		}
	}

	@include dd-responsive-media ((xs, sm)) {

		&-title {
			font-size: 16px;
		}
	}

	@include dd-responsive-media (xs) {
		height: 330px;
	}
}
