.industryCard {

	&-grid {
		display: flex;
		align-items: center;
		min-width: 0;

		&-icon {
            flex-basis: auto;
            flex-shrink: 0;
            flex-grow: 0;
            min-width: 0;

			&._figure {
				width: 4em;
				height: 4em;

				svg {
					fill: dd-color-palette(primary);
				}
			}

			&._arrow {
				width: 1em;
				height: 1.5em;
				transform: scale(-1, 1);

				svg {
					fill: inherit;
				}
			}
		}

        &-link {
            display: flex;
            flex-basis: auto;
            flex-shrink: 0;
            flex-grow: 0;
            min-width: 0;
            color: inherit;
            text-decoration: none;
            max-width: 100%;
        }

		&-title {
			flex-basis: auto;
			flex-shrink: 1;
			flex-grow: 1;
			min-width: 0;
			padding-left: 18px;
			font-size: 20px;
			font-weight: 600;
            //word-break: break-word;
            word-wrap: break-word;
		}
	}
}
