.projectCard {

	&-container {
		display: flex;

		@include dd-responsive-media((xs, lg)) {
			flex-wrap: wrap;
		}
	}

	&-image {
        position: relative;
		width: 29%;
        overflow: hidden;
        transform: translateZ(0);
        $blur: 50px;

        &-inner {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &-back {
            position: absolute;
            top: -$blur;
            left: -$blur;
            width: calc(100% + #{$blur*2});
            height: calc(100% + #{$blur*2});
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            filter: blur($blur);
        }

        &-backSvg {
            position: absolute;
            top: -$blur;
            left: -$blur;
            width: calc(100% + #{$blur*2});
            height: calc(100% + #{$blur*2});
            //background-color: #fff;
        }
	}

	&-body {
		width: 71%;
		padding: 20px;
		padding-bottom: 45px;
	}

	&-title {
		margin-bottom: 30px;
		font-size: 24px;
		font-weight: 700;
		line-height: 1.2;
		color: dd-color-palette(primary);
	}

	&-data {
		margin-bottom: 20px;
	}

	@include dd-responsive-media((xs, lg)) {

		&-body,
		&-image {
			width: 100%;
		}

		&-image {
			height: 300px;
		}
	}
}

_:-ms-fullscreen, :root .projectCard-image-backSvg {
    background-color: #fff;
}
