<div class="projectCard">
    <div class="projectCard-container card">
        <div class="projectCard-image" style="background-image: url('./img/static/mediaBlock-img-4.jpg');"></div>
        <div class="projectCard-body">
            <div class="projectCard-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel volutpat
                nulla. Donec ultrices hendrerit lacus, eu hendrerit augue feugiat at.
            </div>
            <div class="projectCard-data">
                <div class="grid-area">
                    <div class="grid-cell _md-4">
                        <div class="form-field _static">
                            <div class="form-field-label">
                                Стоимость проекта
                            </div>
                            <div class="form-field-static">
                                Информационно
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell _md-4">
                        <div class="form-field _static">
                            <div class="form-field-label">
                                Объём участия ВЭБ
                            </div>
                            <div class="form-field-static">
                                Информационно-коммуникационные технологии
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell _md-4">
                        <div class="form-field _static">
                            <div class="form-field-label">
                                Отрасль
                            </div>
                            <div class="form-field-static">
                                нформационно-коммуникационные технологии, включая аппаратное и программное обеспечение
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell _md-6">
                        <div class="form-field _static">
                            <div class="form-field-label">
                                Место реализации проекта
                            </div>
                            <div class="form-field-static">
                                Информационно-коние
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="projectCard-text">
                <p>Morbi laoreet vehicula placerat. Morbi vestibulum efficitur neque, eget cursus mi viverra sed. Donec
                    sit amet purus tincidunt, semper tortor vel, commodo erat. Maecenas sit amet molestie neque. Quisque
                    cursus porta leo ac sollicitudin. Vestibulum egestas feugiat gravida. Sed pretium sodales volutpat.
                    Aliquam erat volutpat. Pellentesque cursus tellus eget velit gravida imperdiet.</p>
            </div>
        </div>
    </div>
</div>
