.customList {
	padding-left: 20px;
	font-size: 18px;

	&-item {
		position: relative;
		padding: 9px 0;
		line-height: 25px;

		&::before {
			content: '/';
			position: absolute;
			left: -0.8em;
			color: dd-color-palette(primary);
		}
	}

	&._spaced & {

		&-item {
			padding: 17px 0;
		}
	}
}