.projectStage {

	&-grid {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		font-size: 12px;
	}

	&-icon {
		font-size: 68px;
		margin: 8px 0;
	}

	&-title {
		margin-bottom: 10px;
		text-align: center;
		max-width: 100%;
		padding: 0 5px;
	}

	&-date {
		display: inline-block;
		color: #a1a1a1;
	}

	&._disabled & {

		&-title {
			pointer-events: none;
			cursor: default;

			a {
				text-decoration: none;
				color: #d2d2d2;
			}
		}
	}
}