<div class="projectStage">
	<div class="projectStage-grid">
		<div class="projectStage-icon"></div>
		<div class="projectStage-title">
			<a href="#" class="link _underline"></a>
		</div>
		<div class="projectStage-date"></div>
		<div class="projectStage-button">
			<a href="#" class="form-button _primary">Заполнить</a>
		</div>
	</div>
</div>