<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->


<div class="office page-wrapper _gray">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _medium"></div>

                <div class="grid-container _main" id="projectSindVoice" v-cloak="">
                    <div class="grid-area __textCenter">
                        <div class="grid-cell">
                            <div class="page-backLink _gray">
                                <a href="./fab" class="link _inherit">
                                    <svg class="icon-svg">
                                        <use xlink:href="#icon-arrow"></use>
                                    </svg>
                                    К списку
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-cell _sm-8" align="center">
                        <div class="grid-area _large">
                            <div class="grid-cell">
                                <div class="form-field _static">
                                    <div class="grid-area">
                                        <div class="grid-cell" >
                                            <div class="form-field-label">Проект :
                                                <span style="color:#000000;" th:text="${sindrequest.selectProject.project.title}" />
                                            </div>
                                            <div class="form-field-label">Дата окончания голосования :
                                                <span style="color:#000000;" th:if="${sindrequest.selectProject.project.dateBegin}" data-th-text="${#dates.format(sindrequest.selectProject.project.dateBegin, 'dd-MM-yyyy')}" />
                                            </div>
                                            <div class="form-field-label">Дата окончания :
                                                <span style="color:#000000;" th:if="${sindrequest.selectProject.project.dateEnd}" data-th-text="${#dates.format(sindrequest.selectProject.project.dateEnd, 'dd-MM-yyyy')}" />
                                            </div>
                                            <div class="form-field-label">Администратор проекта :
                                                <span style="color:#000000;" th:text="${sindrequest.selectProject.project.adminProj}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                        <div class="grid-cell">

                            <div class="grid-cell _sm-8">
                                <div class="grid-area _large">
                                    <div class="grid-cell">
                                        <div class="form-field _static">
                                            <div class="grid-area">
                                                <div class="grid-cell">
                                                    <div class="form-field-label">
                                                        Дата голосования
                                                    </div>
                                                    <div class="form-field-static"
                                                         th:if="sindrequest.selectProject.dateVoice"
                                                         data-th-text="${#dates.format(sindrequest.selectProject.dateVoice, 'dd-MM-yyyy')}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="grid-cell">
                                        <div class="form-field _static">
                                            <div class="grid-area">
                                                <div class="grid-cell">
                                                    <div class="form-field-label">
                                                        Виза при согласовании
                                                    </div>
                                                    <div class="form-field-static">
                                                        {{typeVoice.<span th:text="${sindrequest.selectProject.typeVoice}" th:remove="tag" />}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field _static">
                                            <div class="grid-area">
                                                <div class="grid-cell" th:if="${sindrequest.selectProject.sum}">
                                                    <div class="form-field-label">
                                                        Ожидаемая сумма участия
                                                    </div>
                                                    <div class="form-field-static" th:text="${sindrequest.selectProject.sum}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field _static">
                                            <div class="grid-area">
                                                <div class="grid-cell" th:if="${sindrequest.selectProject.sumCur}">
                                                    <div class="form-field-label">
                                                        Валюта
                                                    </div>
                                                    <div class="form-field-static" th:text="${sindrequest.selectProject.sumCur}"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                </div>



            </div>
        </div>
    </div>
</div>
