<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../../../components/form/form-inputFiles.html-->
</script>

<div class="office page-wrapper _gray">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _medium"></div>
                <div class="__hidden-lg-up">
                    <div class="office-breadCrumbs">
                        <span><a href="#" class="link">Проекта "Развитие +"</a></span>
                        <span>Влияние реализации проекта на экономику и общество РФ</span>
                    </div>
                    <div class="space _medium"></div>
                </div>

                <h1 class="office-title __textUpperCase" th:text="'Фабрика проектного финансирования'"></h1>

                <div class="grid-area">
                    <div class="grid-cell">
                        <div class="card">
                            <div class="grid-container _large">
                                <div class="space _large"></div>
                                    <h2 class="page-title _small">На голосовании</h2>
                                    <div class="projectGrid">
                                        <div class="projectGrid-container">
                                            <table class="projectGrid-table">
                                                <tr class="projectGrid-row">
                                                    <td class="column-header">Код проекта</td>
                                                    <td class="column-header">Название</td>
                                                    <td class="column-header">Дата размещения</td>
                                                    <td class="column-header">Дата окончания голосования</td>
                                                    <td class="column-header">Администратор</td>
                                                    <td class="column-header">Голосование</td>
                                                </tr>
                                                <tr class="projectGrid-row" data-th-each="upr : ${sindrequest.listProject}"
                                                    th:if="${upr.isVoice()} == false">
                                                    <td class="projectGrid-cell" data-th-text="${upr.project.code}" />

                                                    <td class="projectGrid-cell">
                                                        <a href="#" th:href="@{/private-office/dossier(id=${upr.project.link})}"
                                                           class="link" th:text="${upr.project.title}" />
                                                    </td>

                                                    <td class="projectGrid-cell">
                                                        <div th:if="${upr.project.dateBegin}"
                                                             data-th-text="${#dates.format(upr.project.dateBegin, 'dd-MM-yyyy')}"/>
                                                    </td>

                                                    <td class="projectGrid-cell">
                                                        <div th:if="${upr.project.dateEnd}"
                                                             data-th-text="${#dates.format(upr.project.dateEnd, 'dd-MM-yyyy')}" />
                                                    </td>

                                                    <td class="projectGrid-cell" data-th-text="${upr.project.adminProj}" />

                                                    <td class="projectGrid-cell">
                                                        <a href="#" th:href="@{/private-office/sind/voice(id=${upr.id})}"
                                                           class="link" th:text="Голосовать" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="space _large"></div>
                                    <h2 class="page-title _small">Голос учтен</h2>
                                    <div class="projectGrid">
                                        <div class="projectGrid-container">
                                            <table class="projectGrid-table">
                                                <tr class="projectGrid-row">
                                                    <td class="column-header">Код проекта</td>
                                                    <td class="column-header">Название</td>
                                                    <td class="column-header">Дата размещения</td>
                                                    <td class="column-header">Дата окончания голосования</td>
                                                    <td class="column-header">Администратор</td>
                                                    <td class="column-header">Голосование</td>
                                                </tr>
                                                <tr class="projectGrid-row" data-th-each="upr : ${sindrequest.listProject}"
                                                    th:if="${upr.isVoice()} == true">
                                                    <td class="projectGrid-cell" data-th-text="${upr.project.code}" />

                                                    <td class="projectGrid-cell">
                                                        <a href="#" th:href="@{/private-office/dossier(id=${upr.project.link})}" class="link" th:text="${upr.project.title}" />
                                                    </td>

                                                    <td class="projectGrid-cell">
                                                        <div th:if="${upr.project.dateBegin}"
                                                             data-th-text="${#dates.format(upr.project.dateBegin, 'dd-MM-yyyy')}"/>
                                                    </td>

                                                    <td class="projectGrid-cell">
                                                        <div th:if="${upr.project.dateEnd}"
                                                             data-th-text="${#dates.format(upr.project.dateEnd, 'dd-MM-yyyy')}" />
                                                    </td>

                                                    <td class="projectGrid-cell" data-th-text="${upr.project.adminProj}" />

                                                    <td class="projectGrid-cell">
                                                        <a href="#" th:href="@{/private-office/sind/voice(id=${upr.id})}" class="link" th:text="Результаты" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="space _massive" />
            </div>
        </div>
    </div>
</div>
