<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->

<div class="office page-wrapper _gray">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _medium"></div>
                <div class="__hidden-lg-up">
                    <div class="office-breadCrumbs">
                        <span><a href="#" class="link">Проекта "Развитие +"</a></span>
                        <span>Влияние реализации проекта на экономику и общество РФ</span>
                    </div>
                    <div class="space _medium"></div>
                </div>

                <div class="grid-area">
                    <div class="grid-cell">
                        <div class="card">
                            <div class="grid-container _large">
                                <div class="space _large"/>
                                <h2 class="page-title _small" th:text="'Проект ' + ${sindadmrequest.selectProject.title}" />
                                <div class="space _medium"/>


                                <form action="#"
                                      th:action="@{/private-office/sind/adm_view_time}"
                                      method="post" th:object="${sindadmedit}">
                                    <div class="form-field-label">Виза при согласовании:</div>
                                    <div class="space _large"></div>

                                    <table>
                                        <tr>
                                            <td>
                                                <div class="form-field-label">Дата начала:
                                                <div class="form-inputDate _fluid">
                                                    <input name="dateBegin" type="text" placeholder="Дата"
                                                           th:if="${sindadmrequest.selectProject.dateBegin}"
                                                           th:value="${#dates.format(sindadmrequest.selectProject.dateBegin, 'dd-MM-yyyy')}" />
                                                    <input name="dateBegin" type="text" placeholder="Дата"
                                                           th:unless="${sindadmrequest.selectProject.dateBegin}" />
                                                </div>
                                                <div class="form-field-input-suffix">
                                                    <svg class="icon-svg">
                                                        <use xlink:href="#icon-calendar"></use>
                                                    </svg>
                                                </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-field-label">Дата окончания
                                                <div class="form-inputDate _fluid">
                                                    <input name="dateEnd" type="text" placeholder="Дата"
                                                           th:if="${sindadmrequest.selectProject.dateEnd}"
                                                           th:value="${#dates.format(sindadmrequest.selectProject.dateEnd, 'dd-MM-yyyy')}" />
                                                    <input name="dateEnd" type="text" placeholder="Дата"
                                                           th:unless="${sindadmrequest.selectProject.dateEnd}" />
                                                </div>
                                                <div class="form-field-input-suffix">
                                                    <svg class="icon-svg">
                                                        <use xlink:href="#icon-calendar"></use>
                                                    </svg>
                                                </div>
                                                </div>
                                            </td>

                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="form-field-label">Администратор проекта
                                                    <div class="form-inputText _fluid">
                                                        <input name="adminProj" type="text"
                                                           th:value="${sindadmrequest.selectProject.adminProj}"/>
                                                    </div>
                                                </div>

                                            </td>

                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="form-field-label">
                                                    <div class="form-inputCheckbox _fluid">

                                                        <input type="checkbox" id="toArch" name="toArch"
                                                               th:checked="${sindadmrequest.selectProject.projectRequestStatus}"
                                                          />
                                                        <label for="toArch">Поместить в архив</label>
                                                    </div>
                                                </div>

                                            </td>

                                        </tr>
                                    </table>
                                    <input name="id" type="hidden"
                                           th:value="${sindadmrequest.selectProject.projectId}"/>
                                    <table width="90%">
                                        <td><div class="space _medium"/></td>
                                        <tr><td width="20%" />
                                            <td width="30%">
                                                <div class="grid-cell">
                                                    <button type="reset" class="form-button">Сброс</button>
                                                </div>
                                            </td>
                                            <td width="20%">
                                                <div class="grid-cell">
                                                    <button type="submit" class="form-button _primary _fluid">Сохранить</button>
                                                </div>
                                            </td>
                                            <td width="30%" />
                                        </tr>
                                    </table>

                                </form>




                            </div>
                        </div>
                    </div>
                </div>
                <div class="space _massive" />
            </div>
        </div>
    </div>
</div>
