<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->


<div class="office page-wrapper _gray">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _medium"></div>

                <div class="grid-container _main" id="projectSindVoice" v-cloak="">
                    <div class="grid-area __textCenter">
                        <div class="grid-cell">
                            <div class="page-backLink _gray">
                                <a href="./info" class="link _inherit">
                                    <svg class="icon-svg">
                                        <use xlink:href="#icon-arrow"></use>
                                    </svg>
                                    К списку
                                </a>
                            </div>
                        </div>
                    </div>
                    <h2 class="page-title _small" th:if="${sindrequest.voiceEnd == 1}">
                        Голосование завершенно
                    </h2>
                    <div class="grid-cell _sm-8" align="center">
                        <div class="grid-area _large">
                            <div class="grid-cell">
                                <div class="form-field _static">
                                    <div class="grid-area">
                                        <div class="grid-cell" >
                        <div class="form-field-label">Проект :
                            <span style="color:#000000;" th:text="${sindrequest.selectProject.project.title}" />
                        </div>
                        <div class="form-field-label">Дата размещения :
                            <span style="color:#000000;" th:if="${sindrequest.selectProject.project.dateBegin}"
                                  data-th-text="${#dates.format(sindrequest.selectProject.project.dateBegin, 'dd-MM-yyyy')}" />
                        </div>
                        <div class="form-field-label">Дата окончания :
                            <span style="color:#000000;" th:if="${sindrequest.selectProject.project.dateEnd}"
                                  data-th-text="${#dates.format(sindrequest.selectProject.project.dateEnd, 'dd-MM-yyyy')}" />
                        </div>
                        <div class="form-field-label">Администратор проекта :
                            <span style="color:#000000;" th:text="${sindrequest.selectProject.project.adminProj}" />
                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="space _large"></div>
                        <form action="#"
                              id="voiceFormId"

                           th:action="@{/private-office/sind/voice}"
                           method="post" th:object="${sindVoice}">
                            <div class="form-field-label">Виза при согласовании:</div>
                            <div class="space _large"></div>
                            <div class="grid-cell">
                                <div class="form-field-input">
                                    <div class="form-inputRadio">
                                        <input id="voiceTypeid_1" type="radio" name="voiceType" value="t1" v-model="voiceReq" />
                                        <label for="voiceTypeid_1">{{typeVoice.t1}}</label>
                                    </div>
                                </div>
                            </div>
                                    <div class="space _large" v-if="voiceReq == 't1'"></div>
                                    <div class="grid-cell" v-if="voiceReq == 't1'">
                                        <div class="form-field-input">
                                            <div class="form-inputText" v-if="voiceReq == 't1'">
                                                <div class="form-field-label">
                                                    Ожидаемая сумма участия:
                                                </div>
                                                <input name="voiceSum"
                                                       type="text" v-model="sum" v-money=""
                                                       v-on:change="onChange"
                                                />
                                                <div class="form-field-message __textRight -error" v-if="sumErr" >
                                                    {{sumErr}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="space _large" v-if="voiceReq == 't1'"></div>
                                    <div class="grid-cell _sm-4" v-if="voiceReq == 't1'">
                                        <div class="form-field-input">
                                            <div class="form-inputSelect _fluid">
                                                <div class="form-inputSelect _fluid" width="50%">
                                                    <div class="form-field-label">
                                                        Валюта:
                                                    </div>
                                                    <select name="voiceCur"
                                                            style="width: 300px"
                                                            v-model="voiceCur"
                                                            v-on:change="onChange"
                                                            v-validate="'required'"
                                                            data-vv-as="Валюта">
                                                        <option th:each="item : ${ref.financingCurrency}"
                                                                th:value="${item.title}"
                                                                th:text="${item.title}">no title</option>
                                                    </select>

                                                    <div class="form-field-message __textLeft -error" v-if="curErr" >
                                                        {{curErr}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                            <div class="space _large"/>
                            <div class="grid-cell">
                                <div class="form-field-input">
                                    <div class="form-inputRadio">
                                        <input id="voiceTypeid_2" type="radio" name="voiceType" value="t2" v-model="voiceReq" />
                                        <label for="voiceTypeid_2">{{typeVoice.t2}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="space _large"></div>
                            <div class="grid-cell">
                                <div class="form-field-input">
                                    <div class="form-inputRadio">
                                        <input id="voiceTypeid_3" type="radio" name="voiceType" value="t3" v-model="voiceReq" />
                                        <label for="voiceTypeid_3">{{typeVoice.t3}}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="space _large"></div>
                            <table width="90%">
                                <tr><td width="20%" />
                                    <td width="30%">
                                        <div class="grid-cell">
                                            <button type="reset" class="form-button">Сброс</button>
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="grid-cell">
                                            <div th:if="${sindrequest.voiceEnd == 0}">
                                                <button v-on:click="onVoiceSubmit"
                                                    type="button" class="form-button _primary _fluid">Голосовать</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="30%" />
                                </tr>
                            </table>
                        </form>

                </div>


            </div>
        </div>
    </div>
</div>
