<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->


<div class="office page-wrapper _gray">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _medium"></div>

                <div class="grid-container _main" id="projectSindVoice" v-cloak="">
                    <div class="grid-area __textCenter">
                        <div class="grid-cell">
                            <div class="page-backLink _gray">
                                <a href="./info" class="link _inherit">
                                    <svg class="icon-svg">
                                        <use xlink:href="#icon-arrow"></use>
                                    </svg>
                                    К списку
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="grid-cell _sm-8" align="center">
                        <div class="grid-area _large">
                            <div class="grid-cell">
                                <div class="form-field _static">
                                    <div class="grid-area">
                                        <div class="grid-cell" >
                                            <div class="form-field-label">Проект :
                                                <span style="color:#000000;" th:text="${sindadmrequest.selectProject.title}" />
                                            </div>
                                            <div class="form-field-label">Дата окончания голосования :
                                                <span style="color:#000000;" th:if="${sindadmrequest.selectProject.dateBegin}" data-th-text="${#dates.format(sindadmrequest.selectProject.dateBegin, 'dd-MM-yyyy')}" />
                                            </div>
                                            <div class="form-field-label">Дата окончания :
                                                <span style="color:#000000;" th:if="${sindadmrequest.selectProject.dateEnd}" data-th-text="${#dates.format(sindadmrequest.selectProject.dateEnd, 'dd-MM-yyyy')}" />
                                            </div>
                                            <div class="form-field-label">Администратор проекта :
                                                <span style="color:#000000;" th:text="${sindadmrequest.selectProject.adminProj}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="grid-container _large">
                        <div class="space _large"></div>
                        <h2 class="page-title _small">Результаты голосования</h2>
                        <div class="space _medium"/>
                        <div class="projectGrid">
                            <div class="projectGrid-container">
                                <table class="projectGrid-table" width="90%">
                                    <tr class="projectGrid-row">
                                        <td class="column-header">Участник</td>
                                        <td class="column-header" align="left">Дата голосования</td>
                                        <td class="column-header" align="left">Участие</td>
                                        <td class="column-header" align="left">Сумма участия</td>
                                    </tr>
                                    <tr class="projectGrid-row"
                                        data-th-each="item : ${sindadmrequest.listUserProject}">

                                        <td class="projectGrid-cell">
                                            <div class="grid-cell" th:if="${item.username}">
                                                <div th:text="${item.username}"/>
                                            </div>
                                        </td>

                                        <td class="projectGrid-cell">
                                            <div th:if="${item.dateVoice}"
                                                 data-th-text="${#dates.format(item.dateVoice, 'dd-MM-yyyy HH:mm:ss')}"/>
                                        </td>

                                        <td th:switch="${item.typeVoice}">
                                            <span th:case="t1">Готов к фин. в рамках фабрики</span>
                                            <span th:case="t2">Не готов к фин. в рамках фабрики</span>
                                            <span th:case="t3">Готов к фин. вне фабрики</span>
                                            <span th:case="*">Нет данных</span>
                                        </td>

                                        <td>
                                            <div class="grid-cell" th:if="${item.sum}">
                                                <div th:text="${item.sum}"/>
                                            </div>
                                        </td>

                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>



            </div>
        </div>
    </div>
</div>
