<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->

<div class="office page-wrapper _gray">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _medium"></div>
                <div class="__hidden-lg-up">
                    <div class="office-breadCrumbs">
                        <span><a href="#" class="link">Проекта "Развитие +"</a></span>
                        <span>Влияние реализации проекта на экономику и общество РФ</span>
                    </div>
                    <div class="space _medium"></div>
                </div>

                <h1 class="office-title __textUpperCase" th:text="'Активные проекты'"></h1>

                <div class="grid-area">
                    <div class="grid-cell">
                        <div class="card">
                            <div class="grid-container _large">
                                <div class="space _large"/>
                                <h2 class="page-title _small">На голосовании</h2>
                                <div class="space _medium"/>
                                <div class="projectGrid">
                                    <div class="projectGrid-container">
                                        <table class="projectGrid-table">
                                            <tr class="projectGrid-row">
                                                <td class="column-header">Название</td>
                                                <td class="column-header">Тип проекта</td>
                                                <td class="column-header">Дата размещения</td>
                                                <td class="column-header">Дата окончания</td>
                                                <td class="column-header">Статус</td>
                                                <td class="column-header" align="center">Управление проектом</td>
                                            </tr>
                                            <tr class="projectGrid-row"
                                                data-th-each="item : ${sindadmrequest.listProject.?[statusTr == 'activ']}">

                                                <td class="projectGrid-cell">
                                                    <a href="#"
                                                       th:href="@{/private-office/dossier(id=${item.link})}"
                                                       class="link" th:text="${item.title}" />
                                                </td>

                                                <td class="projectGrid-cell" th:text="${item.typeProj}" />

                                                <td class="projectGrid-cell">
                                                    <div th:if="${item.dateBegin}"
                                                        data-th-text="${#dates.format(item.dateBegin, 'dd-MM-yyyy')}" />
                                                </td>
                                                <td class="projectGrid-cell">
                                                    <div th:if="${item.dateEnd}"
                                                        data-th-text="${#dates.format(item.dateEnd, 'dd-MM-yyyy')}"/>
                                                </td>

                                                <td class="projectGrid-cell" th:text="${item.countTr}" />

                                                <td class="projectGrid-cell">
                                                    <a th:href="@{/private-office/sind/adm_view(id=${item.projectId})}"
                                                       class="link" th:text="@{Участники}" />
                                                    <br/>
                                                    <a th:href="@{/private-office/sind/adm_view_time(id=${item.projectId})}"
                                                       class="link" th:text="@{Редактирование проекта}" />
                                                    <br/>
                                                    <a th:href="@{/private-office/sind/adm_view_res(id=${item.projectId})}"
                                                       class="link" th:text="@{Результаты голосования}" />

                                                </td>


                                            </tr>
                                        </table>
                                    </div>
                                </div>


                                <div class="space _large"/>
                                <h2 class="page-title _small">Голосование завершено</h2>
                                <div class="space _medium"/>
                                <div class="projectGrid">
                                    <div class="projectGrid-container">
                                        <table class="projectGrid-table">
                                            <tr class="projectGrid-row">
                                                <td class="column-header">Название</td>
                                                <td class="column-header">Тип проекта</td>
                                                <td class="column-header">Дата размещения</td>
                                                <td class="column-header">Дата окончания</td>
                                                <td class="column-header">Статус</td>
                                                <td class="column-header" align="center">Управление проектом</td>
                                            </tr>
                                            <tr class="projectGrid-row"
                                                data-th-each="item : ${sindadmrequest.listProject.?[statusTr == 'end']}">

                                                <td class="projectGrid-cell">
                                                    <a href="#"
                                                       th:href="@{/private-office/dossier(id=${item.link})}"
                                                       class="link" th:text="${item.title}" />
                                                </td>

                                                <td class="projectGrid-cell" th:text="${item.typeProj}" />

                                                <td class="projectGrid-cell">
                                                    <div th:if="${item.dateBegin}"
                                                         data-th-text="${#dates.format(item.dateBegin, 'dd-MM-yyyy')}" />
                                                </td>
                                                <td class="projectGrid-cell">
                                                    <div th:if="${item.dateEnd}"
                                                         data-th-text="${#dates.format(item.dateEnd, 'dd-MM-yyyy')}"/>
                                                </td>

                                                <td class="projectGrid-cell" th:text="${item.countTr}" />

                                                <td class="projectGrid-cell">
                                                    <a th:href="@{/private-office/sind/adm_view(id=${item.projectId})}"
                                                       class="link" th:text="@{Участники}" />
                                                    <br/>
                                                    <a th:href="@{/private-office/sind/adm_view_time(id=${item.projectId})}"
                                                       class="link" th:text="@{Редактирование проекта}" />
                                                    <br/>
                                                    <a th:href="@{/private-office/sind/adm_view_res(id=${item.projectId})}"
                                                       class="link" th:text="@{Результаты голосования}" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>

                                <div class="space _large"/>
                                <h2 class="page-title _small">Голосование не начато</h2>
                                <div class="space _medium"/>
                                <div class="projectGrid">
                                    <div class="projectGrid-container">
                                        <table class="projectGrid-table">
                                            <tr class="projectGrid-row">
                                                <td class="column-header">Название</td>
                                                <td class="column-header">Тип проекта</td>
                                                <td class="column-header">Дата размещения</td>
                                                <td class="column-header">Дата окончания</td>
                                                <td class="column-header">Статус</td>
                                                <td class="column-header" align="center">Управление проектом</td>
                                            </tr>
                                            <tr class="projectGrid-row"
                                                data-th-each="item : ${sindadmrequest.listProject.?[statusTr == 'no']}">

                                                <td class="projectGrid-cell">
                                                    <a href="#"
                                                       th:href="@{/private-office/dossier(id=${item.link})}"
                                                       class="link" th:text="${item.title}" />
                                                </td>

                                                <td class="projectGrid-cell" th:text="${item.typeProj}" />

                                                <td class="projectGrid-cell">
                                                    <div th:if="${item.dateBegin}"
                                                         data-th-text="${#dates.format(item.dateBegin, 'dd-MM-yyyy')}" />
                                                </td>
                                                <td class="projectGrid-cell">
                                                    <div th:if="${item.dateEnd}"
                                                         data-th-text="${#dates.format(item.dateEnd, 'dd-MM-yyyy')}"/>
                                                </td>

                                                <td class="projectGrid-cell" th:text="${item.countTr}" />

                                                <td class="projectGrid-cell">
                                                    <a th:href="@{/private-office/sind/adm_view(id=${item.projectId})}"
                                                       class="link" th:text="@{Участники}" />
                                                    <br/>
                                                    <a th:href="@{/private-office/sind/adm_view_time(id=${item.projectId})}"
                                                       class="link" th:text="@{Редактирование проекта}" />
                                                    <br/>
                                                    <a th:href="@{/private-office/sind/adm_view_res(id=${item.projectId})}"
                                                       class="link" th:text="@{Результаты голосования}" />

                                                </td>


                                            </tr>
                                        </table>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
                <div class="space _massive" />
            </div>
        </div>
    </div>
</div>
