<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->

<div class="office page-wrapper _gray">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _medium"/>




                <div class="grid-area">
                    <div class="grid-cell">
                        <div class="card">
                            <div class="grid-container _large">
                                <div class="space _large"/>
                                <h2 class="page-title _small">Аккредитованные участники фабрики</h2>
                                <div class="space _medium"/>
                                <div class="projectGrid">
                                    <div class="projectGrid-container">
                                        <table class="projectGrid-table">
                                            <tr class="projectGrid-row">
                                                <td class="column-header">Акредитованый участник</td>
                                                <td class="column-header">Дата аккредитации</td>
                                                <td class="column-header">Роли</td>
                                            </tr>
                                            <tr class="projectGrid-row"
                                                data-th-each="item : ${sindadmrequest.listUserSind}">

                                                <td class="projectGrid-cell">
                                                    <a href="#"
                                                       th:href="@{/private-office/sind/admuser_view(id=${item.username})}"
                                                       class="link" th:text="${item.username}" />
                                                </td>

                                                <td class="projectGrid-cell">
                                                    <div th:if="${item.lastUpdateDate}"
                                                         data-th-text="${item.lastUpdateDate}" />
                                                </td>

                                                <td class="projectGrid-cell">
                                                    <a href="#"
                                                       th:href="@{/private-office/sind/admuser_role(id=${item.username})}"
                                                       class="link" th:text="${item.username}" />
                                                </td>

                                            </tr>
                                        </table>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="space _massive" />
            </div>
        </div>
    </div>
</div>
