<!-- @@master = ../../layout/html.html {"pageMod": "_gray", "root": "../.."} -->

<!-- @@block = body -->

<div class="office page-wrapper _gray">
    <div class="page-header">
        <!--@@include = ../../../components/office/office-header-final.html-->
    </div>
    <div class="page-content">
        <!--@@include = ../../../components/office/office-sideMenu-final.html-->
        <div class="office-content">
            <div class="grid-container">
                <div class="space _medium"></div>
                <div class="__hidden-lg-up">
                    <div class="office-breadCrumbs">
                        <span><a href="#" class="link">Проекта "Развитие +"</a></span>
                        <span>Влияние реализации проекта на экономику и общество РФ</span>
                    </div>
                    <div class="space _medium"></div>
                </div>


                <div class="grid-area">
                    <div class="grid-cell">
                        <div class="card">
                            <div class="grid-container _large">
                                <div class="space _large"/>
                                <h2 class="page-title _small" th:text="'Проект ' + ${sindadmrequest.selectProject.title}" />
                                <div class="space _medium"/>
                                <div class="projectGrid">

                                    <div class="projectGrid-container">
                                        <table class="projectGrid-table">
                                          <tr class="projectGrid-row _high">
                                            <td class="column-header">Участник</td>
                                            <td class="column-header">Тип участия</td>
                                            <td class="column-header">Сумма участия</td>
                                            <td class="column-header">Дата голосования</td>
                                            <td class="column-header">Дата добавления</td>
                                            <td class="column-header" align="center">Действие</td>
                                          </tr>
                                          <tr class="projectGrid-row" data-th-each="i : ${sindadmrequest.listUserProject}">
                                            <td class="projectGrid-cell">
                                              <a href="#"
                                                th:href="@{/private-office/sind/admuser_view(id=${i.userId})}"
                                                class="link" th:text="${i.username}" />
                                              </td>


                                              <td th:switch="${i.typeVoice}">
                                                  <span th:case="t1">Готов к фин. в рамках фабрики</span>
                                                  <span th:case="t2">Не готов к фин. в рамках фабрики</span>
                                                  <span th:case="t3">Готов к фин. вне фабрики</span>
                                                  <span th:case="*">Нет данных</span>
                                              </td>

                                              <td class="projectGrid-cell" data-th-text="${i.sum}"></td>

                                              <td class="projectGrid-cell">
                                                <div th:if="${i.dateVoice}"
                                                  data-th-text="${#dates.format(i.dateVoice, 'dd-MM-yyyy')}" />
                                              </td>

                                              <td class="projectGrid-cell">
                                                  <div th:if="${i.dateAppend}"
                                                       data-th-text="${#dates.format(i.dateAppend, 'dd-MM-yyyy')}" />
                                              </td>

                                              <td class="projectGrid-cell">
                                                  <a href="#"
                                                     th:unless="${i.typeVoice}"
                                                     th:href="@{/private-office/sind/adm_view_remove(id=${i.userId})}"
                                                     class="link" th:text="Удалить" />
                                              </td>

                                          </tr>
                                        </table>
                                        <div class="space _large"/>

                                        <table class="projectGrid-table">
                                            <tr class="projectGrid-row _high">
                                                <td class="column-header">Участник</td>
                                                <td class="column-header" align="center">Действие</td>
                                            </tr>
                                            <tr class="projectGrid-row"
                                                data-th-each="i : ${sindadmrequest.listNotUseUserSind}">

                                                <td class="projectGrid-cell">
                                                    <a href="#"
                                                       th:href="@{/private-office/sind/admuser_view(id=${i.nameFirst})}"
                                                       class="link" th:text="${i.nameFirst}" />
                                                </td>

                                                <td class="projectGrid-cell" align="left">
                                                    <a href="#"
                                                       th:href="@{/private-office/sind/adm_view_add(id=${i.crmId})}"
                                                       class="link" th:text="Добавить" />
                                                </td>


                                            </tr>
                                        </table>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="space _massive" />
            </div>
        </div>
    </div>
</div>
