<script type="text/x-template" id="formCard-page2">
	<div class="formCard" v-bind:class="{'-loading': loading}">
		<div class="grid-container _large">
			<div class="space _massive"></div>
			<div class="formCard-header">
				<div class="grid-area _alignCenter">
					<div class="grid-cell _md-3">
						<div class="formCard-step __textCenter-lg-up">
							<span>2</span>/3
						</div>
					</div>
					<div class="grid-cell _md-9">
						<div class="formCard-title">
							Сведения<br/>об&nbsp;инициаторе проекта
						</div>
					</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-content">
				<div class="grid-area">
				<div class="grid-cell _md-3"></div>
				<div class="grid-cell _md-9">
					<div class="grid-area _large">
						<div class="grid-cell">
							<field name="organizationTitle"
								   label="Наименование юр.лица"
								   placeholder="ООО ”Компания”"
								   v-model="inputs.organizationTitle"
								   v-bind:cells="['_md-8', '_md-4']"
								   validate="required">
							</field>
						</div>

						<div class="grid-cell">
							<div class="form-field">
								<label class="form-field-label">Резидент РФ</label>
								<div class="grid-area _auto _dense">
									<div class="grid-cell">
										<div class="form-field-input">
											<div class="form-inputRadio" v-bind:class="{'-error': errors.has('resident')}">
												<input type="radio" name="resident" value="true" v-model="inputs.resident" id="resident-1" v-validate="" data-vv-rules="required" data-vv-as="Резидент РФ"/>
												<label for="resident-1">Да</label>
											</div>
										</div>
									</div>
									<div class="grid-cell">
										<div class="form-field-input">
											<div class="form-inputRadio" v-bind:class="{'-error': errors.has('resident')}">
												<input type="radio" name="resident" value="false" v-model="inputs.resident" id="resident-2" v-validate="" data-vv-rules="required" data-vv-as="Резидент РФ"/>
												<label for="resident-2">Нет</label>
											</div>
										</div>
									</div>
								</div>
								<div class="form-field-message -error" v-if="errors.has('resident')">
									{{errors.first('resident')}}
								</div>
							</div>
						</div>
						<div class="grid-cell" v-if="inputs.resident=='true'">
							<field name="inn"
								   label="ИНН"
								   placeholder="000000000000"
								   v-model="inputs.inn"
								   v-bind:cells="['_md-8', '_md-4']"
								   validate="required|numeric|min:10|max:12">
							</field>
                            <field name="kpp"
                                   label="КПП"
                                   placeholder="000000000000"
                                   v-model="inputs.kpp"
                                   v-bind:cells="['_md-8', '_md-4']"
                                   validate="required|numeric">
                            </field>
						</div>
						<div class="grid-cell" v-if="inputs.resident=='false'">
							<field name="taxNumber"
								   label="Налоговый номер"
								   placeholder="Налоговый номер"
								   v-model="inputs.taxNumber"
								   v-bind:cells="['_md-8', '_md-4']"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell">
							<field name="addressRegister"
                                   type="textarea"
								   label="Место государственной регистрации юридического&nbsp;лица"
								   placeholder="Россия, г. Москва, ул. Ленина, д.15, офис 3"
								   v-model="inputs.addressRegister"
								   v-bind:cells="['_md-8', '_md-4']"
                                   autosize="true"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell">
							<field name="addressActual"
                                   type="textarea"
								   label="Адрес фактического местонахождения лица"
								   placeholder="Россия, г. Москва, Тверской бульвар, д.3, офис 505"
								   v-model="inputs.addressActual"
								   v-bind:cells="['_md-8', '_md-4']"
                                   autosize="true"
								   validate="required">
							</field>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-footer">
				<div class="grid-area">
					<div class="grid-cell _md-3"></div>
					<div class="grid-cell _md-9">
						<div class="grid-area">
							<div class="grid-cell __textRight _md-8">
								<a href="#" class="form-button _link" v-on:mousedown="prevPage">Назад</a>
								<a href="#" class="form-button _primary _long" v-on:mousedown="nextPage">Далее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
</script>
