<script type="text/x-template" id="formCard-field">
	<div class="form-field">
		<div class="form-field-label">
			<div class="grid-container _clear" v-bind:class="cells[0]" v-html="label"></div>
		</div>
		<div class="grid-area">
			<div class="grid-cell" v-bind:class="cells[0]">
				<div class="form-field-input">
					<div v-if="type=='text'" class="form-inputText _fluid" v-bind:class="{'-error': errors.has(name)}">
						<input v-if="!mask" type="text" v-bind:placeholder="placeholder" v-bind:value="value" v-on:input="updateValue($event.target.value)" v-validate="" v-bind:data-vv-rules="validate" v-bind:data-vv-as="label" v-bind:name="name" v-filter="true" :data-filter-pattern="filter"/>
						<input v-if="mask" type="text" v-bind:placeholder="placeholder" v-bind:value="value" v-on:input="updateValue($event.target.value)" v-validate="" v-bind:data-vv-rules="validate" v-bind:data-vv-as="label" v-bind:name="name" v-mask="mask"/>
					</div>
					<div v-if="type=='textarea'" class="form-inputTextarea _fluid" v-bind:class="{'-error': errors.has(name)}">
						<textarea v-bind:placeholder="placeholder" v-bind:value="value" v-on:input="updateValue($event.target.value)" v-validate="" v-bind:data-vv-rules="validate" v-bind:data-vv-as="label" v-bind:name="name" :autosize="autosize"></textarea>
					</div>
					<div v-if="type=='select'" class="form-inputSelect _fluid" v-bind:class="{'-error': errors.has(name)}">
						<select v-if="!selectArray" v-bind:value="value" v-on:input="updateValue($event.target.value)" v-on:change="updateValue($event.target.value)" v-validate="" v-bind:data-vv-rules="validate" v-bind:data-vv-as="label" v-bind:name="name">
							<option v-if="placeholder" value="">{{placeholder}}</option>
							<option v-for="(val, key) in options" v-bind:value="key">{{val}}</option>
						</select>
						<select v-if="selectArray" v-bind:value="value" v-on:input="updateValue($event.target.value)" v-on:change="updateValue($event.target.value)" v-validate="" v-bind:data-vv-rules="validate" v-bind:data-vv-as="label" v-bind:name="name">
							<option v-if="placeholder" value="">{{placeholder}}</option>
							<option v-for="(val, key) in options" v-bind:value="val">{{val}}</option>
						</select>
					</div>
					<div v-if="type=='multiselect'" class="form-inputSelect _multiple _fluid" v-bind:class="{'-error': errors.has(name)}">
						<select multiple="" v-on:change="multiselectOnChange"  v-bind:name="name" v-validate="" v-bind:data-vv-rules="validate" v-bind:data-vv-as="label">
							<option v-for="(val, key) in options" v-bind:value="key" v-bind:selected="multiselectIsSelected(key)" ref="options" v-bind:title="val">{{val}}</option>
						</select>
					</div>
				</div>
				<div class="form-field-message -error" v-if="errors.has(name)">
					{{errors.first(name)}}
				</div>
			</div>
			<div class="grid-cell" v-bind:class="cells[1]" v-if="help">
				<div class="form-field-message -default" v-html="help"></div>
			</div>
		</div>
	</div>
</script>
