<script type="text/x-template" id="formCard-page4">
    <div class="formCard" v-bind:class="{'-loading': loading}">
        <div class="grid-container _large">
            <div class="space _massive"></div>
            <div class="formCard-header">
                <div class="grid-area">
                    <div class="grid-cell">
                        <div class="grid-area _alignCenter">
                            <div class="grid-cell _md-9 _md-offset-3">
                                <div class="formCard-title">
                                    Региональные<br/>менеджеры
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="grid-container _md-9 _md-offset-3 _tiny">
                            <div class="formCard-description">
                                Если вы ранее общались с нашим региональным менеджером, то можете выбрать его из списка или пропустить этот шаг, тогда менеджер назначится автоматически
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
            <div class="formCard-content">
                <div class="grid-area">
                    <div class="grid-cell _md-9 _md-offset-3">
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="form-field-label">
                                        <div class="grid-container _clear">
                                            Региональные менеджеры
                                        </div>
                                    </div>
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-7">
                                            <div class="form-field-input">
                                                <div class="form-inputSelect _fluid">
                                                    <select v-model="inputs.manager">
														<option value="">Не выбрано</option>
														<option v-for="(manager, key) in managers" v-bind:value="manager.crmId">{{manager.nameFirst}} {{manager.nameLast}}</option>
													</select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
            <div class="formCard-footer">
                <div class="grid-area">
                    <div class="grid-cell _md-3"></div>
                    <div class="grid-cell _md-9">
                        <div class="grid-area">
                            <div class="grid-cell __textRight _md-7">
                                <a href="#" class="form-button _link" v-on:mousedown="prevPage">Назад</a>
                                <a href="#" class="form-button _primary _long" v-on:mousedown="submitManager">Далее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _massive"></div>
        </div>
    </div>
</script>
