.formCard {
	background: #fff;
	box-shadow: 0 2px 5px rgba(#000, 0.2);

	&-header {

	}

	&-title {
		text-transform: uppercase;
		font-size: 36px;
		color: dd-color-palette(primary);
		font-weight: 700;
		font-family: $font-opensans;

		&._normalCase {
			text-transform: none;
		}
	}

	&-subtitle {
		font-weight: 700;

		&.__large {
			font-size: 24px;
		}

		&.__massive {
			text-transform: uppercase;
			font-size: 24px;
		}
	}

	&-description {
		font-weight: 400;
	}

	&-step {
		font-size: 80px;
		color: dd-color-palette(soft);
		font-weight: 300;
		font-family: $font-opensans;

		& > span {
			color: #575757;
		}
	}

	&-icon {
		position: relative;

		& > .icon-svg {
			top: 0;
			left: 0;
			width: 100%;
			position: absolute;
			max-height: none;
		}
	}

	&[v-cloak] {
		visibility: hidden;
	}

	@include dd-responsive-media((xs, sm)) {

		&-icon {

			& > .icon-svg {
				position: static;
				width: 100px;
				height: 100px;
			}
		}
	}

	&.-loading {
		position: relative;
		z-index: 0;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: rgba(#fff,0.5);
		}

		&:after {
			content: '';
			position: absolute;
			top: calc(50% - 25px);
			left: calc(50% - 25px);
			width: 50px;
			height: 50px;
			z-index: 2;
			background: url(../img/svg/icon-loader.svg) center center no-repeat;
		}
	}

	// Анимации
	&.next-enter-active,
	&.next-leave-active,
	&.prev-enter-active,
	&.prev-leave-active {
		transition: opacity 0.2s, transform 0.2s;
	}
	&.next-enter {
		opacity: 0;
		transform: translateX(100px);
	}
	&.next-leave-to {
		opacity: 0;
		transform: translateX(-100px);
	}
	&.next-leave-active {
		position: absolute;
	}
	&.prev-enter {
		opacity: 0;
		transform: translateX(-100px);
	}
	&.prev-leave-to {
		opacity: 0;
		transform: translateX(100px);
	}
	&.prev-leave-active {
		position: absolute;
	}

	ol.styled-ol {
		counter-reset: myCounter;

		strong {
			font-weight: 600;
		}

		& > li {
			position: relative;
			margin-bottom: 20px;

			&:before {
				color: dd-color-palette(primary);
				counter-increment: myCounter;
				content:counter(myCounter);
				font-size: 26px;
				position:absolute;
				top: -7px;
				left: -50px;
				text-align: center;
				line-height: 40px;
				width: 40px;
				height: 40px;
			}

			& > ul {
				& > li {
					position: relative;
					margin: 10px 0;

					&:before {
						color: dd-color-palette(primary);
						content: "-";
						font-size: 26px;
						position: absolute;
						top: -10px;
						left: -20px;
					}
				}
			}
		}
	}
}