<script type="text/x-template" id="formCard-pageFail">
	<div class="formCard">
		<div class="grid-container _large">
			<div class="space _massive"></div>
			<div class="formCard-header">
				<div class="grid-area">
					<div class="grid-cell">
						<div class="grid-area">
							<div class="grid-cell _md-3">
								<div class="formCard-icon">
									<svg class="icon-svg">
										<use xlink:href="#icon-fail"></use>
									</svg>
								</div>
							</div>
							<div class="grid-cell _md-9">
								<div class="formCard-title" v-if="fullname">
									Уважаемый {{fullname}},
									спасибо за&nbsp;Ваше обращение.
								</div>
								<div class="formCard-title" v-if="!fullname">
									Спасибо за&nbsp;Ваше обращение.
								</div>
							</div>
						</div>
					</div>
					<div class="grid-cell">
						<div class="grid-container _md-9 _md-offset-3 _tiny">
							<div class="formCard-description">
								К сожалению, Внешэкономбанк не может рассмотреть Ваше обращение,
								так как проект "{{projectname}}" не соответствует
								федеральному закону <a class="link _underline" href="http://veb.ru/about/normpr/"><nobr>от 17.05.2007 № 82-ФЗ "О банке развития"</nobr></a>.
							</div>
						</div>
					</div>
					<div class="formCard-subtitle">
						Вы можете обратиться к региональному менеджеру для рассмотрения возможности подачи обращения в организации группы ВЭБ
					</div>
					<div class="space _medium"></div>
					<div class="grid-area">
						<div class="grid-cell" v-for="manager in managers">
							<div class="card cardManager">
								<div class="space _medium"></div>
								<div class="grid-container _medium">
									<div class="grid-area _alignCenter">
										<div class="grid-cell _sm-6">
											<div class="profile">
												<div class="profile-grid">
													<div class="profile-grid-item _image">
														<div class="profile-image" v-bind:style="{'background-image': 'url(\''+manager.image+'\')'}"></div>
													</div>
													<div class="profile-grid-item _title">
														<div class="profile-title">
															{{manager.nameFirst}} {{manager.nameLast}}
														</div>
													</div>
												</div>
											</div>
										</div>
										<!-- <div class="grid-cell _sm-4">
											<div class="cardManager-label">Тел.</div>
											<a class="link _inherit cardManager-phone" v-bind:href="'tel:'+manager.phone">{{manager.phone}}</a>
										</div> -->
										<div class="grid-cell _sm-6">
											<div class="cardManager-label">E-mail</div>
											<a class="link _inherit cardManager-email" v-bind:href="'mailto:'+manager.email">{{manager.username}}</a>
										</div>
									</div>
								</div>
								<div class="space _medium"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-footer">
				<div class="form-field-message -default __textRight">
					Всего самого наилучшего!<br/>
					Всегда Ваш, Внешэкономбанк.
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
</script>
