<script type="text/x-template" id="formCard-pageSuccess">
	<div class="formCard">
		<div class="grid-container _large">
			<div class="space _massive"></div>
			<div class="formCard-header">
				<div class="grid-area">
					<div class="grid-cell">
						<div class="grid-area">
							<div class="grid-cell _md-3">
								<div class="formCard-icon">
									<svg class="icon-svg">
										<use xlink:href="#icon-success"></use>
									</svg>
								</div>
							</div>
							<div class="grid-cell _md-9">
								<div class="formCard-title">
									Благодарим за&nbsp;обращение
								</div>
							</div>
						</div>
					</div>
					<div class="grid-cell">
						<div class="grid-container _md-9 _md-offset-3 _tiny">
							<div class="formCard-description">
								Ваш персональный региональный менеджер свяжется с&nbsp;вами в&nbsp;ближайшее время.<br /><br />
                                На Вашу почту будут отправлены логин и&nbsp;пароль для&nbsp;входа в&nbsp;личный кабинет, где&nbsp;Вы можете продолжить заполнять информацию о&nbsp;проекте.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-content">
				<div class="grid-container _md-9 _md-offset-3 _tiny">
					<div class="formCard-subtitle">
						Ваш персональный региональный менеджер
					</div>
					<div class="space _medium"></div>
					<div class="grid-area">
						<div class="grid-cell" v-for="manager in managers">
							<div class="card cardManager">
								<div class="space _medium"></div>
								<div class="grid-container _medium">
									<div class="grid-area _alignCenter">
										<div class="grid-cell _sm-4">
											<div class="profile">
												<div class="profile-grid">
													<div class="profile-grid-item _image">
														<div class="profile-image" v-bind:style="{'background-image': 'url(\''+manager.image+'\')'}"></div>
													</div>
													<div class="profile-grid-item _title">
														<div class="profile-title">
															{{manager.nameFirst}} {{manager.nameLast}}
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="grid-cell _sm-4">
											<div class="cardManager-label">Тел.</div>
											<a class="link _inherit cardManager-phone" v-bind:href="'tel:'+manager.phone">{{manager.phone}}</a>
										</div>
										<div class="grid-cell _sm-4">
											<div class="cardManager-label">E-mail</div>
											<a class="link _inherit cardManager-email" v-bind:href="'mailto:'+manager.email">{{manager.username}}</a>
										</div>
									</div>
								</div>
								<div class="space _medium"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-footer">
				<div class="form-field-message -default __textRight">
					Всего самого наилучшего!<br/>
					Всегда Ваш, Внешэкономбанк.
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
</script>
