<script type="text/x-template" id="formCard-page3">
	<div class="formCard" v-bind:class="{'-loading': loading}">
		<div class="grid-container _large">
			<div class="space _massive"></div>
			<div class="formCard-header">
				<div class="grid-area _alignCenter">
					<div class="grid-cell _md-3">
						<div class="formCard-step __textCenter-lg-up">
							<span>3</span>/3
						</div>
					</div>
					<div class="grid-cell _md-9">
						<div class="formCard-title">
							Сведения<br/>о&nbsp;проекте
						</div>
					</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-content">
				<div class="grid-area">
				<div class="grid-cell _md-3"></div>
				<div class="grid-cell _md-9">
					<div class="grid-area _large">
						<div class="grid-cell">
							<field name="projectTitle"
                                   type="textarea"
                                   autosize="true"
								   label="Наименование проекта"
								   placeholder="Укажите название своего проекта"
								   v-model="inputs.projectTitle"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell">
							<field name="projectTarget"
                                   type="textarea"
                                   autosize="true"
								   v-model="inputs.projectTarget"
								   label="Цель проекта"
								   placeholder="Наладить производство трубопрокатных изделий"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell">
							<field name="projectResult"
                                   type="textarea"
                                   autosize="true"
								   v-model="inputs.projectResult"
								   label="Ожидаемый результат"
								   placeholder="Увеличение объема поставки труб"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell">
							<field name="projectType"
								   v-model="inputs.projectType"
								   v-bind:options="options.projectType"
								   type="select"
								   label="Тип проекта"
								   placeholder="Не указано"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell" v-if="inputs.projectType==5">
							<field name="projectTypeCustom"
								   v-model="inputs.projectTypeCustom"
								   label="Иной тип проекта"
								   placeholder="Укажите свой вариант"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell">
							<field name="projectDesc"
								   v-model="inputs.projectDesc"
								   type="textarea"
								   label="Краткое описание сути проекта"
								   placeholder="Мы хотим реализовать..."
								   validate="required">
							</field>
						</div>
						<div class="grid-cell">
							<field name="projectPlacement"
								   v-model="inputs.projectPlacement"
								   label="Место реализации проекта"
								   v-bind:options="options.projectPlacement"
								   type="select"
								   placeholder="Выбрать"
								   v-bind:cells="['_md-7', '_md-4']"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell">
							<field name="projectIndustry"
									 v-model="inputs.projectIndustry"
									 label="Отрасль реализации проекта"
								   v-bind:options="options.projectIndustry"
								   type="select"
								   placeholder="Выбрать"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell" v-if="inputs.projectIndustry.includes('53')">
							<field name="projectIndustryCustom"
								   v-model="inputs.projectIndustryCustom"
								   label="Иная отрасль реализации проекта"
								   placeholder="Укажите свой вариант"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell">
							<field name="projectCost"
								   v-model="inputs.projectCost"
								   v-bind:options="options.projectCost"
								   type="select"
								   label="Общая стоимость проекта"
								   placeholder="Выбрать"
								   validate="required">
							</field>
						</div>
						<div class="grid-cell">
							<field name="projectRecoupment"
								   v-model="inputs.projectRecoupment"
								   v-bind:options="options.projectRecoupment"
								   type="select"
								   label="Срок окупаемости проекта"
								   placeholder="Выбрать"
								   validate="required">
							</field>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-footer">
				<div class="grid-area">
					<div class="grid-cell _md-3"></div>
					<div class="grid-cell _md-9">
						<div class="grid-area">
							<div class="grid-cell __textRight _md-7">
								<a href="#" class="form-button _link" v-on:mousedown="prevPage">Назад</a>
								<a href="#" class="form-button _primary _long" v-on:mousedown="submitForm">Далее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
</script>
