<script type="text/x-template" id="formCard-page1">
	<div class="formCard" v-bind:class="{'-loading': loading}">
		<div class="grid-container _large">
			<div class="space _massive"></div>
			<div class="formCard-header">
				<div class="grid-area _alignCenter">
					<div class="grid-cell _md-3">
						<div class="formCard-step __textCenter-lg-up">
							<span>1</span>/3
						</div>
					</div>
					<div class="grid-cell _md-9">
						<div class="formCard-title">
							Сведения<br/>о&nbsp;заявителе
						</div>
					</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-content">
				<div class="grid-area">
					<div class="grid-cell _md-3"></div>
					<div class="grid-cell _md-9">
						<div class="grid-area _large">
							<div class="grid-cell">
								<field name="name1"
									   label="Фамилия"
									   placeholder="Иванов"
									   v-model="inputs.name1"
									   help="Фамилия, Имя, Отчество инициатора проекта указываются полностью"
                                       filter="[A-Za-zА-Яа-яЁё]"
									   validate="required">
								</field>
							</div>
							<div class="grid-cell">
								<field name="name2"
									   label="Имя"
									   placeholder="Иван"
									   v-model="inputs.name2"
                                       filter="[A-Za-zА-Яа-яЁё]"
									   validate="required">
								</field>
							</div>
							<div class="grid-cell">
								<field name="name3"
									   label="Отчество"
									   placeholder="Иванович"
									   v-model="inputs.name3"
                                       filter="[A-Za-zА-Яа-яЁё]"
									   validate="required">
								</field>
							</div>
							<div class="grid-cell">
								<field name="phone"
									   label="Номер телефона"
									   placeholder="+7 (999) 999-99-99"
									   v-model="inputs.phone"
									   mask="+7 (###) ###-##-##"
									   validate="required|regex:^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$">
								</field>
							</div>
							<div class="grid-cell">
								<field name="email"
									   label="Адрес электронной почты"
									   placeholder="ivanov@mail.com"
									   v-model="inputs.email"
									   validate="required|regex:^[A-Za-z0-9-_\.]+@[A-Za-z0-9-_\.]+\.[A-Za-z0-9-_\.]+$">
								</field>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-footer">
				<div class="grid-area">
					<div class="grid-cell _md-3"></div>
					<div class="grid-cell _md-9">
						<div class="grid-area">
							<div class="grid-cell __textRight _md-7">
								<a href="#" class="form-button _primary _long" v-on:mousedown="nextPage">Далее</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _massive"></div>
		</div>
	</div>
</script>
