.icon {

	&-svg {
		max-width: 100%;
		max-height: 100%;
	}

	&._rotate90 {
		transform: rotate(90deg);
	}

	&._rotate180 {
		transform: rotate(180deg);
	}

	&._rotate270 {
		transform: rotate(270deg);
	}

    &._invert {
        filter: invert(100%);
    }
}
