.d {
    &_ib {
        display: inline-block;
    }

    &_i {
        display: inline;
    }
}

.va {
    &_middle {
        vertical-align: middle;
    }
}

.ws {
    &_nowrap {
        white-space: nowrap;
    }
}

.bg {
    &_red {
        background: #ff0000;
    }

    &_yellow {
        background: #ffff00;
    }
}

.c {
    &_red {
        color: red;
    }

    &_yellow {
        color: #ffff00;
    }

    &_orange {
       color: #FF9933;
    }
}

.m {
    &_l-1 {
        margin-left: 1em;
    }
    &_l-2 {
        margin-left: 2em;
    }
    &_l-3 {
        margin-left: 3em;
    }
    &_l-4 {
        margin-left: 4em;
    }
    &_l-5 {
        margin-left: 5em;
    }
}

.p {
    &_l-1 {
        padding-left: 1em !important;
    }
    &_l-2 {
        padding-left: 2em !important;
    }
    &_l-3 {
        padding-left: 3em !important;
    }
    &_l-4 {
        padding-left: 4em !important;
    }
    &_l-5 {
        padding-left: 5em !important;
    }
}
