// Настройка сетки
$dd-system-classPrefix: '';
$dd-system-autoGenerate: false;
$dd-grid-columns: 12;
$dd-grid-gutterContainer: 20px;
$dd-grid-gutterHorizontal: 20px;
$dd-grid-gutterVertical: 20px;
$dd-responsive-breakpoints: (
	xs:(
		cutoff: 0,
		containerWidth: 100%,
		spaceScale: 0.75,
	),
	sm:(
		cutoff: 544px,
		containerWidth: 100%,
		spaceScale: 0.75,
	),
	md:(
		cutoff: 768px,
		containerWidth: 100%,
		spaceScale: 0.75,
	),
	lg:(
		cutoff: 992px,
		containerWidth: 100%,
		spaceScale: 1,
	),
	xl:(
		cutoff: 1200px,
		spaceScale: 1,
		containerWidth: 1200px,
	),
	xxl: (
		cutoff: 1320px,
		spaceScale: 1,
		containerWidth: 1320px,
	)
);

$dd-globalMod-map: (
	pullRight: (
		float: 'right',
	),
	pullLeft: (
		float: 'left',
	),
	hidden: (
		display: 'none',
	),
	textRight: (
		text-align: 'right',
	),
	textLeft: (
		text-align: 'left',
	),
	textCenter: (
		text-align: 'center',
	),
	textJustify: (
		text-align: 'justify',
	),
	textNoWrap: (
		white-space: 'nowrap',
	),
	textUpperCase: (
		text-transform: 'uppercase',
	),
) !default;

$fontSize: 16px;

// Цветовая схема
$dd-color-palette: (
	primary: #018acf,
	default: #202020,
	soft: #d2d2d2,
	danger: #f57047,
	success: #67ad4a,
);

$dd-color-state: (
	default: #a1a1a1,
	error: #FF3900,
);

// Цвет по умолчанию
$dd-color-default: default;

// Misc
$time: .25s; // Таймер для transition

// Шрифты
$font-opensans: 'Open Sans';

// Формы
$dd-form-height: 2.7em;
$dd-form-fontFamily: $font-opensans;
$dd-form-color: #202020;
$dd-form-backgroundColor: #fcfcfc;
$dd-form-borderColor: #efeeee;

@import '../../../node_modules/divo-divnoe/src/lib/main.scss';

@mixin dd-form-message-variant($_color)
{
    color: $_color;
    border: none;
}

@import '../components/dd/form';
@import '../components/dd/grid';

@include dd-generator();

* {
	box-sizing: border-box;
};

html, body {
	font-family: $font-opensans, sans-serif;
	height: 100%;
	font-size: $fontSize;
	line-height: 1.4;
};

body {
	overflow-x: hidden; // Фикс горизонтальной прокрутки на macOS
};

[v-cloak] { display:none; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

textarea[autosize] {
    resize: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .form-button:not(.office-bell-link) {
        display: inline-block !important;
    }
}

@import "fontello";

// Компоненты
@import './default';
@import '../components/fonts/fonts';
@import '../components/header/header';
@import '../components/footer/footer';
@import '../components/formCard/formCard';
@import '../components/form/form';
@import '../components/form/form-inputFiles';
@import '../components/form/form-inputImages';
@import '../components/card/card';
@import '../components/card/cardManager';
@import '../components/icon/icon';
@import '../components/profile/profile';
@import '../components/link/link';
@import '../components/burger/burger';
@import '../components/divider/divider';
@import '../components/office/office';
@import '../components/office/office-cardAssessment';
@import '../components/progressBar/progressBar';
@import '../components/mainTabs/mainTabs';
@import '../components/financeIndustry/financeIndustry';
@import '../components/jambotron/jambotron';
@import '../components/mediaBlock/mediaBlock';
@import './jqvmap';
@import '../components/map/map';
@import '../components/financingMap/financingMap';
@import '../components/controls/controls';
@import '../components/customList/customList';
@import '../components/industryCard/industryCard';
@import '../components/owlSlider/owlSlider';
@import '../components/dropDown/dropDown';
@import '../components/dropDown/dropDownProject';
@import '../components/projectStage/projectStage';
@import '../components/brandIcon/brandIcon';
@import '../components/chart/chart';
@import '../components/chart/chartPie';
@import '../components/chart/chartBar';
@import '../components/notificationButton/notificationButton';
@import '../components/projectGrid/projectGrid';
@import '../components/notificationDropDown/notificationDropDown';
@import '../components/chat/chat';
@import '../components/storiesSlider/storiesSlider';
@import '../components/projectCard/projectCard';
@import '../components/navigator/navigator';

// Костыли
@import '../components/crutch/crutch';

// Страницы
@import '../components/page/page';
@import '../components/page/pageMain';
@import '../components/page/industries-finance';
