<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->
<div class="grid-container">
    <div class="space _massive"></div>
    <form action="./project-characteristics-2.html"
          th:action="@{/private-office/finance-request/project-characteristics}"
          th:object="${projectCharacteristics}"
          method="post" enctype="multipart/form-data"
          class="formCard formCard-resume"
          style="box-shadow: none"
          id="projectCharacteristics"
          ref="form"
          v-cloak="" >
        <div class="grid-container">
            <div class="formCard-header">
                <div class="grid-area _alignCenter">
                    <div class="grid-cell _md-2">
                        <div class="formCard-step __textCenter-lg-up">
                            <span>2</span>/4
                        </div>
                    </div>
                    <div class="grid-cell _md-8">
                        <div class="formCard-title">
                            Структура финансирования
                            предстоящих затрат
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
            <div class="formCard-content">
                <div class="grid-area">
                    <div class="grid-cell _md-10 _md-offset-2">
                        <!-- В это поле нужно вставить стоимость проекта с прошлых страниц (для расчета процентов) -->
                        <input type="hidden" id="input-project-cost" value="100"/>
                        <div class="grid-area _large">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-7">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Размер финансирования, запрашиваемый у Банка
                                                    </div>
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{projectAmountFinancingRequest}"
                                                                   type="text" placeholder="10 000 000 000"
                                                                   v-model="inputs.projectAmountBanksCash"
                                                                   v-money=""
                                                                   name="projectAmountFinancingRequest"
                                                                   data-vv-rules="required|not_in:0"
                                                                   :class="{'input': true, '-error': errors.has('projectAmountFinancingRequest') }"
                                                                   data-vv-as="Размер финансирования"/>
                                                            <span v-show="errors.has('projectAmountFinancingRequest')" class="form-field-message -error">
                                                                {{ errors.first('projectAmountFinancingRequest') }}
                                                            </span>
                                                        </div>
                            <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="grid-area" style="align-items: flex-end">
                                    <div class="grid-cell _sm-8">
                                        <div class="grid-area" style="align-items: flex-end">
                                            <div class="grid-cell _sm-7">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Собственные средства получателя средств
                                                    </div>
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{projectAmountRecipientsCash}"
                                                                   type="text"
                                                                   placeholder="1 000 000 000"
                                                                   v-model="inputs.projectAmountRecipientsCash"
                                                                   v-money="" name="projectAmountRecipientsCash"
                                                                   data-vv-rules="required|not_in:0"
                                                                   :class="{'input': true, '-error': errors.has('projectAmountRecipientsCash') }"
                                                                   data-vv-as="Собственные средства"/>
                                                            <span v-show="errors.has('projectAmountRecipientsCash')" class="form-field-message -error">
                                                                {{ errors.first('projectAmountRecipientsCash') }}
                                                            </span>
                                                        </div>
                                                        <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-5">
                                                <div class="form-field">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{projectAmountRecipientsPart}" type="text" placeholder="10" disabled="" v-bind:value="partOfGlobalSum(inputs.projectAmountRecipientsCash)"/>
                                                        </div>
                                                        <div class="form-field-input-suffix">
                                                            %
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="grid-area" style="align-items: flex-end">
                                    <div class="grid-cell _sm-8">
                                        <div class="grid-area" style="align-items: flex-end">
                                            <div class="grid-cell _sm-7">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Средства банка
                                                    </div>
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{projectAmountBanksCash}" type="text" placeholder="1 000 000 000" v-model="inputs.projectAmountBanksCash" v-money="" disabled=""/>
                                                        </div>
                                                        <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-5">
                                                <div class="form-field">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{projectAmountBanksPart}" type="text" placeholder="10" disabled="" v-bind:value="partOfGlobalSum(inputs.projectAmountBanksCash)"/>
                                                        </div>
                                                        <div class="form-field-input-suffix">
                                                            %
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="form-field-label">
                                        Соинвестор
                                    </div>
                                    <div class="grid-area">
                                        <div class="grid-cell" v-for="(item, index) in inputs.projectAmountInvestor">
                                            <div class="grid-area" style="align-items: center">
                                                <div class="grid-cell _xs-8">
                                                    <div class="grid-area" style="align-items: flex-end">
                                                        <div class="grid-cell _sm-7">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input v-bind:name="'amountInvestor['+index+']'" type="text" placeholder="1 000 000 000" v-model="item.volume" v-money=""/>
                                                                </div>
                                                                <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                            </div>
                                                        </div>
                                                        <div class="grid-cell _sm-5">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input th:field="*{projectAmountInvestorPart}" type="text" placeholder="10" disabled="" v-bind:value="partOfGlobalSum(item.volume)"/>
                                                                </div>
                                                                <div class="form-field-input-suffix">
                                                                    %
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _xs-4">
                                                    <div class="grid-area _small _auto _dense">
                                                        <a href="#" class="link" v-on:click.prevent="removeProjectAmountInvestor(index)" v-if="index > 0">
                                                            <svg class="icon icon-svg _invert" style="width: 2em; height: 2em">
                                                                <use xlink:href="#icon-close"></use>
                                                            </svg>
                                                        </a>
                                                        <a href="#" class="link" v-on:click.prevent="addProjectAmountInvestor" v-if="index == inputs.projectAmountInvestor.length-1">
                                                            <svg class="icon icon-svg" style="width: 2em; height: 2em">
                                                                <use xlink:href="#icon-add"></use>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="form-field-label">
                                        Выпуск облигаций
                                    </div>
                                    <div class="grid-area">
                                        <div class="grid-cell" v-for="(item, index) in inputs.projectAmountBond">
                                            <div class="grid-area" style="align-items: center">
                                                <div class="grid-cell _xs-8">
                                                    <div class="grid-area" style="align-items: flex-end">
                                                        <div class="grid-cell _sm-7">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input v-bind:name="'amountBondArray['+index+']'" type="text" placeholder="1 000 000 000" v-model="item.volume" v-money=""/>
                                                                </div>
                                                                <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                            </div>
                                                        </div>
                                                        <div class="grid-cell _sm-5">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input th:field="*{projectAmountBondPart}" type="text" placeholder="10" disabled="" v-bind:value="partOfGlobalSum(item.volume)"/>
                                                                </div>
                                                                <div class="form-field-input-suffix">
                                                                    %
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _xs-4">
                                                    <div class="grid-area _small _auto _dense">
                                                        <a href="#" class="link" v-on:click.prevent="removeProjectAmountBond(index)" v-if="index > 0">
                                                            <svg class="icon icon-svg _invert" style="width: 2em; height: 2em">
                                                                <use xlink:href="#icon-close"></use>
                                                            </svg>
                                                        </a>
                                                        <a href="#" class="link" v-on:click.prevent="addProjectAmountBond" v-if="index == inputs.projectAmountBond.length-1">
                                                            <svg class="icon icon-svg" style="width: 2em; height: 2em">
                                                                <use xlink:href="#icon-add"></use>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="form-field-label">
                                        Другое финансирование
                                    </div>
                                    <div class="grid-area">
                                        <div class="grid-cell" v-for="(item, index) in inputs.projectAmountOthers">
                                            <div class="grid-area" style="align-items: center">
                                                <div class="grid-cell _xs-8">
                                                    <div class="grid-area" style="align-items: flex-end">
                                                        <div class="grid-cell _sm-7">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input v-bind:name="'amountFinanceArray['+index+']'" type="text" placeholder="1 000 000 000" v-model="item.volume" v-money=""/>
                                                                </div>
                                                                <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                            </div>
                                                        </div>
                                                        <div class="grid-cell _sm-5">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input th:field="*{projectAmountOthersPart}" type="text" placeholder="10" disabled="" v-bind:value="partOfGlobalSum(item.volume)"/>
                                                                </div>
                                                                <div class="form-field-input-suffix">
                                                                    %
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _xs-4">
                                                    <div class="grid-area _small _auto _dense">
                                                        <a href="#" class="link" v-on:click.prevent="removeProjectAmountOthers(index)" v-if="index > 0">
                                                            <svg class="icon icon-svg _invert" style="width: 2em; height: 2em">
                                                                <use xlink:href="#icon-close"></use>
                                                            </svg>
                                                        </a>
                                                        <a href="#" class="link" v-on:click.prevent="addProjectAmountOthers" v-if="index == inputs.projectAmountOthers.length-1">
                                                            <svg class="icon icon-svg" style="width: 2em; height: 2em">
                                                                <use xlink:href="#icon-add"></use>
                                                            </svg>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="space _medium"></div>
                                            <div class="grid-area">
                                                <div class="grid-cell _xs-8">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input v-bind:name="'amountFinanceSourceArray['+index+']'" type="text" placeholder="Источник финансирования" v-model="item.source"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-label">Тип запрашиваемого финансирования у Банка</div>
                                            <div class="form-field-input">
                                                <div class="form-inputCheckbox">
                                                    <input name="financeLongCheck" v-model="inputs.checks.financeLongCheck" type="checkbox" id="c1"/>
                                                    <label for="c1">Долгосрочное финансирование</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-bind:class="{'__hidden':!inputs.checks.financeLongCheck}">
                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="grid-area" style="align-items: flex-end">
                                                    <div class="grid-cell _md-7">
                                                        <div class="form-field">
                                                            <div class="form-field-label">Срок финансирования</div>
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input th:field="*{financeLongTerm}" type="text" placeholder="10"/>
                                                                </div>
                                                                <div class="form-field-input-suffix">
                                                                    лет
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-cell _md-5">
                                                        <div class="form-field">
                                                            <div class="form-field-label">Стоимость кредитных ресурсов</div>
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input th:field="*{financeLongPercent}" type="text" placeholder="25"/>
                                                                </div>
                                                                <div class="form-field-input-suffix">
                                                                    %
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field-label">
                                                    Отсрочка по обслуживанию и погашению основного долга
                                                </div>
                                                <div class="grid-area" style="align-items: flex-end">
                                                    <div class="grid-cell _md-7">
                                                        <div class="form-field">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input th:field="*{financeLongDelayYear}"  type="text" placeholder="Год"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-cell _md-5">
                                                        <div class="form-field">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input th:field="*{financeLongDelayMonth}"  type="text" placeholder="Месяцев"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field-label">
                                                    Срок возврата кредита
                                                </div>
                                                <div class="grid-area" style="align-items: flex-end">
                                                    <div class="grid-cell _md-7">
                                                        <div class="form-field">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input th:field="*{financeLongTermReturnYear}" type="text" placeholder="Год"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-cell _md-5">
                                                        <div class="form-field">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input th:field="*{financeLongTermReturnMonth}" type="text" placeholder="Месяцев"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        График погашения кредита
                                                    </div>
                                                    <div class="form-field-input">
                                                        <div class="form-inputTextarea _fluid">
                                                            <textarea th:field="*{financeLongSсhedule}"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{financeLongDescription}" type="text" placeholder="Пояснение"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputCheckbox">
                                                    <input name="financeMezonCheck" v-model="inputs.checks.financeMezonCheck" type="checkbox" id="c2"/>
                                                    <label for="c2">Мезонинное финансирование</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-bind:class="{'__hidden':!inputs.checks.financeMezonCheck}">
                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Доходность инвестируемых средств Банка
                                                    </div>
                                                    <div class="form-field-input">
                                                        <div class="form-inputTextarea _fluid">
                                                            <textarea th:field="*{financeMezonYield}" placeholder="Доходность капитала" autosize="autosize"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Срок выхода Банка из проекта
                                                    </div>
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{financeMezonExitTerm}" type="text" placeholder="Укажите срок выхода банка из проекта"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Способ выхода Банка из проекта
                                                    </div>
                                                    <div class="form-field-input">
                                                        <div class="form-inputTextarea _fluid">
                                                            <textarea th:field="*{financeMezonExitType}" placeholder="Укажите способ выхода Банка из проекта" autosize="autosize"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputCheckbox">
                                                    <input name="financeSidicirCheck" v-model="inputs.checks.financeSidicirCheck" type="checkbox" id="c3"/>
                                                    <label for="c3">Синдицированное кредитование</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-bind:class="{'__hidden':!inputs.checks.financeSidicirCheck}">
                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Общая сумма синдицированного кредита
                                                    </div>
                                                    <div class="grid-container _clear _md-7">
                                                        <div class="form-field-input">
                                                            <div class="form-inputText _fluid">
                                                                <input th:field="*{financeSidicirYield}" type="text" placeholder="Доходность капитала"/>
                                                            </div>
                                                            <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area" style="align-items: flex-end" v-for="(participant, index) in inputs.syndicateParticipants">
                                            <div class="grid-cell _xs-10 _md-8">
                                                <div class="grid-area" style="align-items: flex-end">
                                                    <div class="grid-cell _sm-7">
                                                        <div class="form-field">
                                                            <div class="form-field-label">
                                                                Участники синдиката
                                                            </div>
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input v-bind:name="'syndicateParticipantsTitle['+index+']'" v-model="participant.title" type="text" placeholder="Банк 'Х-1'"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-cell _sm-5">
                                                        <div class="form-field">
                                                            <div class="form-field-label">
                                                                Сумма финансирования
                                                            </div>
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input v-bind:name="'syndicateParticipantsValue['+index+']'" v-model="participant.value" type="text" placeholder="2 500 000"/>
                                                                </div>
                                                                <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell _xs-2 _md-2" v-if="index!==0">
                                                <a class="link" href="#" v-on:click.prevent="removeSyndicateParticipant(index)">
                                                    <svg class="icon-svg" style="width: 2em; height: 2em;">
                                                        <use xlink:href="#icon-close"></use>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="space _medium"></div>
                                        <a v-on:click.prevent="addSyndicateParticipant" class="form-button _primary _bordered" href="#">+ Еще участник</a>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Срок
                                                    </div>
                                                    <div class="grid-container _clear _md-7">
                                                        <div class="form-field-input">
                                                            <div class="form-inputText _fluid">
                                                                <input th:field="*{financeSidicirTerm}" type="text" placeholder="5"/>
                                                            </div>
                                                            <div class="form-field-input-suffix">
                                                                лет
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Основные условия
                                                    </div>
                                                    <div class="form-field-input">
                                                        <div class="form-inputTextarea _fluid">
                                                            <textarea th:field="*{financeSidicirCondition}"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputCheckbox">
                                                    <input name="financeCapitalCheck" v-model="inputs.checks.financeCapitalCheck" type="checkbox" id="c4"/>
                                                    <label for="c4">Финансирование через участие в уставном
                                                        капитале/покупку портфеля акций</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-bind:class="{'__hidden':!inputs.checks.financeCapitalCheck}">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input th:field="*{financeCapitalDescription}" type="text" placeholder="Пояснение"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputCheckbox">
                                                    <input name="financeBondCheck" v-model="inputs.checks.financeBondCheck" type="checkbox" id="c5"/>
                                                    <label for="c5">Финансирование через приобретение
                                                        облигаций/векселей</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-bind:class="{'__hidden':!inputs.checks.financeBondCheck}">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input th:field="*{financeBondDescription}" type="text" placeholder="Пояснение"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputCheckbox">
                                                    <input name="financeGarantCheck" v-model="inputs.checks.financeGarantCheck" type="checkbox" id="c6"/>
                                                    <label for="c6">Предоставление гарантии</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-bind:class="{'__hidden':!inputs.checks.financeGarantCheck}">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input th:field="*{financeGarantDescription}" type="text" placeholder="Пояснение"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputCheckbox">
                                                    <input name="financeSuretytCheck" v-model="inputs.checks.financeSuretytCheck" type="checkbox" id="c7"/>
                                                    <label for="c7">Предоставление поручительства</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-bind:class="{'__hidden':!inputs.checks.financeSuretytCheck}">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input th:field="*{financeSuretytDescription}" type="text" placeholder="Пояснение"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputCheckbox">
                                                    <input name="financeAccredetivCheck" v-model="inputs.checks.financeAccredetivCheck" type="checkbox" id="c8"/>
                                                    <label for="c8">Аккредитивные формы расчетов</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-bind:class="{'__hidden':!inputs.checks.financeAccredetivCheck}">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input th:field="*{financeAccredetivDescription}" type="text" placeholder="Пояснение"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _md-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="form-inputCheckbox">
                                                    <input name="financeOtherCheck" v-model="inputs.checks.financeOtherCheck" type="checkbox" id="c9"/>
                                                    <label for="c9">Иное</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-bind:class="{'__hidden':!inputs.checks.financeOtherCheck}">
                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{financeOtherOther}" type="text" placeholder="Иной вариант"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _md-8">
                                                <div class="form-field">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{financeOtherDescription}" type="text" placeholder="Пояснение"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
            <div class="formCard-footer">
                <div class="grid-area">
                    <div class="grid-cell _md-10 _md-offset-2">
                        <div class="grid-area">
                            <div class="grid-cell _sm-8 __textRight">
                                    <input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
                                    <input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
                                    <input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="space _massive"></div>
        </div>
    </form>
</div>
