<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->
<div class="grid-container">
    <div class="space _massive"></div>
    <form action="./project-characteristics-1.html"
          th:action="@{/private-office/finance-request/project-characteristics}"
          th:object="${projectCharacteristics}"
          method="post"
          enctype="multipart/form-data"
          class="formCard formCard-resume"
          style="box-shadow: none" id="projectCharacteristics"
          ref="form"
          v-cloak="" >
        <div class="grid-container">
            <div class="formCard-header">
                <div class="grid-area _alignCenter">
                    <div class="grid-cell _md-2">
                        <div class="formCard-step __textCenter-lg-up">
                            <span>1</span>/4
                        </div>
                    </div>
                    <div class="grid-cell _md-8">
                        <div class="formCard-title">
                            Основные характеристики
                            проекта
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
            <div class="formCard-content">
                <div class="grid-area">
                    <div class="grid-cell _md-10 _md-offset-2">
                        <div class="grid-area">
                            <div class="grid-cell _md-6">
                                <div class="grid-area _large">
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="form-field-label">Общая стоимость проекта</div>
                                            <div class="grid-container _clear _xl-9">
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input th:field="*{projectProjectCostDouble}"
                                                            name="projectProjectCostDouble"
                                                            type="text"
                                                            v-model="inputs.projectProjectCostDouble"
                                                            v-money=""
                                                            data-vv-rules="required|not_in:0"
                                                            :class="{'input': true, '-error': errors.has('projectProjectCostDouble') }"
                                                            data-vv-as="Общая стоимость проекта" />
                                                        <span v-show="errors.has('projectProjectCostDouble')" class="form-field-message -error">
                                                            {{ errors.first('projectProjectCostDouble') }}
                                                        </span>
                                                    </div>
                                                    <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="form-field-label">Ранее осуществленные затраты по проекту</div>
                                            <div class="grid-container _clear _xl-9">
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input th:field="*{projectLastCost}" type="text" placeholder="100 000 000"
                                                            v-model="inputs.projectLastCost" v-money=""
                                                            name="projectLastCost"
                                                            data-vv-rules="required|not_in:0"
                                                            :class="{'input': true, '-error': errors.has('projectLastCost') }"
                                                            data-vv-as="Ранее осуществленные затраты по проекту" />
                                                        <span v-show="errors.has('projectLastCost')" class="form-field-message -error">
                                                            {{ errors.first('projectLastCost') }}
                                                        </span>
                                                    </div>
                                                    <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="form-field-label">Предстоящие инвестиции в проект</div>
                                            <div class="grid-container _clear _xl-9">
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input th:field="*{projectProjectUpcomingInvestments}" type="text"  v-model="inputs.projectProjectUpcomingInvestments" placeholder="6 000 000 000"
                                                            v-money="" name="projectProjectUpcomingInvestments"
                                                            data-vv-rules="required|not_in:0"
                                                            :class="{'input': true, '-error': errors.has('projectProjectUpcomingInvestments') }"
                                                            data-vv-as="Предстоящие инвестиции в проект" />
                                                        <span v-show="errors.has('projectProjectUpcomingInvestments')" class="form-field-message -error">
                                                            {{ errors.first('projectProjectUpcomingInvestments') }}
                                                        </span>

                                                    </div>
                                                    <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="form-field-label">Срок окупаемости проекта</div>
                                            <div class="grid-container _clear _xl-9">
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                       <input th:field="*{projectProjectPaybackTimeDouble}"
                                                            name="projectProjectPaybackTimeDouble"
                                                            type="text"
                                                            v-validate="'required|numeric|not_in:0'"
                                                            :class="{'input': true, '-error': errors.has('projectProjectPaybackTimeDouble') }"
                                                            data-vv-as="Срок окупаемости" />
                                                        <span v-show="errors.has('projectProjectPaybackTimeDouble')" class="form-field-message -error">
                                                            {{ errors.first('projectProjectPaybackTimeDouble') }}
                                                        </span>
                                                    </div>
                                                    <div class="form-field-input-suffix">лет</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell _md-6">
                                <div class="form-field-message -default">
                                    Общая сумма ранее осуществленных
                                    и планируемых инвестиций в проект,
                                    включая затраты на подготовку проекта и
                                    предпроектные работы (подготовку
                                    проектно-сметной документации, получение
                                    необходимых согласований и разрешений,
                                    проектно-изыскательские работы и т.д.),
                                    проектные работы (строительные,
                                    монтажные, пуско-наладочные работы и т.д.),
                                    капитальные вложения (приобретение земли,
                                    зданий, сооружений и оборудования и т.д.),
                                    подбор и обучение персонала, инвестиции
                                    в оборотный капитал. Планируемые
                                    инвестиции в проект указываются
                                    в номинальных ценах (с учетом прогнозной
                                    инфляции соответствующих затрат).
                                    Ранее осуществленные инвестиции в проект
                                    указываются по фактической величине понесенных
                                    и документально подтвержденных затрат.
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell _md-8">
                                <div class="form-field">
                                    <div class="form-field-label">Срок реализации проекта (фаза строительства)</div>
                                    <div class="form-field-input">
                                        <div class="form-inputTextarea _fluid">
                                            <textarea th:field="*{projectProjectTermConstructionPhase}" placeholder="Фаза строительства –" name="projectProjectTermConstructionPhase"
                                            type="text"
                                            v-validate="'required'"
                                            :class="{'input': true, '-error': errors.has('projectProjectTermConstructionPhase') }"
                                            data-vv-as="Срок реализации"></textarea>
                                        <span v-show="errors.has('projectProjectTermConstructionPhase')" class="form-field-message -error">
                                            {{ errors.first('projectProjectTermConstructionPhase') }}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell _md-8">
                                <div class="form-field">
                                    <div class="form-field-label">Срок реализации проекта (фаза эксплуатации)</div>
                                    <div class="form-field-input">
                                        <div class="form-inputTextarea _fluid">
                                            <textarea th:field="*{projectTermOperationalPhase}" placeholder="Фаза эксплуатации – "
                                                name="projectTermOperationalPhase"
                                                type="text"
                                                v-validate="'required'"
                                                :class="{'input': true, '-error': errors.has('projectTermOperationalPhase') }"
                                                data-vv-as="Срок реализации"></textarea>
                                            <span v-show="errors.has('projectTermOperationalPhase')" class="form-field-message -error">
                                                {{ errors.first('projectTermOperationalPhase') }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area" style="align-items: flex-end" v-for="(participant, index) in inputs.extraParticipants">
                            <div class="grid-cell _xs-8">
                                <h2 class="form-sectionTitle">
                                    Участник проекта
                                </h2>
                            </div>
                            <div class="grid-cell _xs-4" v-if="index!==0">
                                <a href="#" class="link" v-on:click.prevent="removeExtraParticipant(index)">
                                    <svg class="icon-svg" style="width: 2em; height: 2em">
                                        <use xlink:href="#icon-close"></use>
                                    </svg>
                                </a>
                            </div>
                            <input v-bind:name="'id['+index+']'" v-model="participant.id" type="hidden" />
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputRadio">
                                                            <input v-bind:name="'type['+index+']'" type="radio" value="ul" v-model="participant.type" v-bind:id="'type-'+index+'-1'"/>
                                                            <label v-bind:for="'type-'+index+'-1'">Юридическое лицо</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputRadio">
                                                            <input v-bind:name="'type['+index+']'" type="radio" value="fl" v-model="participant.type" v-bind:id="'type-'+index+'-2'"/>
                                                            <label v-bind:for="'type-'+index+'-2'">Физическое лицо</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- === START =============== -->

                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Роль участника
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputSelect _fluid">
                                                    <select v-bind:name="'status['+index+']'"
                                                        v-model="participant.status"

                                                        v-bind:class="{'input': true, '-error': errors.has('status['+index+']')}"
                                                        data-vv-as="Роль участника">

                                                        <option value="">Выберите</option>
                                                        <option th:each="item : ${ref.participantRole}"
                                                                th:value="${item.id}"
                                                                th:text="${item.title}">no title</option>
                                                    </select>

                                                    <span v-show="errors.has('status['+index+']')" class="form-field-message -error">
                                                        {{ errors.first('status['+index+']') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Резидент РФ
                                            </div>
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-2">
                                                    <div class="form-field-input">
                                                        <div class="form-inputRadio">
                                                            <input v-bind:name="'resident['+index+']'" type="radio" value="true" v-model="participant.resident" v-bind:id="'resident-'+index+'-1'"/>
                                                            <label v-bind:for="'resident-'+index+'-1'">Да</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-2">
                                                    <div class="form-field-input">
                                                        <div class="form-inputRadio">
                                                            <input v-bind:name="'resident['+index+']'" type="radio" value="false" v-model="participant.resident" v-bind:id="'resident-'+index+'-2'"/>
                                                            <label v-bind:for="'resident-'+index+'-2'">Нет</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.type == 'fl'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Фамилия
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input :name="'nameLast['+ index +']'" v-model="participant.nameLast" type="text" placeholder="Иванов"/>
                                                </div>
                                            </div>
                                            <div class="form-field-message -error __hidden"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.type == 'fl'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Имя
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input :name="'nameFirst['+ index +']'" v-model="participant.nameFirst" type="text" placeholder="Иван"/>
                                                </div>
                                            </div>
                                            <div class="form-field-message -error __hidden"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.type == 'fl'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Отчество
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input :name="'nameMid['+ index +']'" v-model="participant.nameMid" type="text" placeholder="Иванович"/>
                                                </div>
                                            </div>
                                            <div class="form-field-message -error __hidden"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.type == 'fl'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Дата рождения
                                            </div>
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select :name="'bornDate_day['+ index +']'" v-model="participant.bornDate.day">
                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.days}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select :name="'bornDate_month['+ index +']'" v-model="participant.bornDate.month">
                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.months}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select :name="'bornDate_year['+ index +']'" v-model="participant.bornDate.year">
                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.years}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.type == 'fl'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Место рождения
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input :name="'bornPlace_name['+ index +']'" v-model="participant.bornPlace.name" type="text" placeholder="Россия, г. Москва"/>
                                                </div>
                                            </div>
                                            <div class="form-field-message -error __hidden"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.type == 'fl'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Гражданство
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input :name="'citizenship['+ index +']'" v-model="participant.citizenship" type="text" placeholder="Российской федерации"/>
                                                </div>
                                            </div>
                                            <div class="form-field-message -error __hidden"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ====== END ======= -->

                            <h2 class="form-sectionTitle" v-show="participant.type == 'fl'">
                                Адрес места жительства, регистрации
                            </h2>
                            <div class="grid-cell" v-show="participant.type == 'fl'">
                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-8">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input :name="'addressRegistration_region['+ index +']'" v-model="participant.addressRegistration.region" type="text" placeholder="Регион / область / провинция / штат"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-field-message -error __hidden"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-8">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input :name="'addressRegistration_city['+ index +']'" v-model="participant.addressRegistration.city" type="text" placeholder="Населенный пункт"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-field-message -error __hidden"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-8">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input :name="'addressRegistration_street['+ index +']'" v-model="participant.addressRegistration.street"  type="text" placeholder="Улица"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-field-message -error __hidden"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-8">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input :name="'addressRegistration_index['+ index +']'" v-model="participant.addressRegistration.index" data-mask="index" type="text" placeholder="Индекс"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-field-message -error __hidden"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-8">
                                                    <div class="grid-area">
                                                        <div class="grid-cell _sm-4">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input :name="'addressRegistration_house['+ index +']'" v-model="participant.addressRegistration.house" type="text" placeholder="Дом"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-field-message -error __hidden"></div>
                                                        </div>
                                                        <div class="grid-cell _sm-4">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input :name="'addressRegistration_building['+ index +']'" v-model="participant.addressRegistration.house_corps" type="text" placeholder="Корпус"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-field-message -error __hidden"></div>
                                                        </div>
                                                        <div class="grid-cell _sm-4">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input :name="'addressRegistration_apartment['+ index +']'" v-model="participant.addressRegistration.apartment" type="text" placeholder="Квартира"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-field-message -error __hidden"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h2 class="form-sectionTitle" v-show="participant.type == 'fl'">
                                Реквизиты документа, удостоверяющего&nbsp;личность
                            </h2>
                            <div class="grid-cell" v-show="participant.type == 'fl'">
                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-8">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid" v-if="participant.resident === 'true'">
                                                            <select :name="'idName['+ index +']'" v-model="participant.idName">
                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.documentNameResident}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-inputSelect _fluid" v-if="participant.resident === 'false'">
                                                            <select :name="'idName['+ index +']'" v-model="participant.idName">
                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.documentNameNotResident}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-field-message -error __hidden"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-8">
                                                <div class="grid-area">
                                                    <div class="grid-cell _sm-5">
                                                        <div class="form-field">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input :name="'idSeries['+ index +']'" v-model="participant.idSeries" type="text" placeholder="Серия"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-field-message -error __hidden"></div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-cell _sm-7">
                                                        <div class="form-field">
                                                            <div class="form-field-input">
                                                                <div class="form-inputText _fluid">
                                                                    <input :name="'idNumber['+ index +']'" v-model="participant.idNumber" type="text" placeholder="Номер"/>
                                                                </div>
                                                            </div>
                                                            <div class="form-field-message -error __hidden"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-8">
                                                    <div class="form-field-label">
                                                        Дата выдачи
                                                    </div>
                                                    <div class="grid-area">
                                                        <div class="grid-cell _sm-4">
                                                            <div class="form-field-input">
                                                                <div class="form-inputSelect _fluid">
                                                                    <select :name="'idIssueDate_day['+ index +']'" v-model="participant.idIssueDate.day">
                                                                        <option value="">Выберите</option>
                                                                        <option th:each="item : ${ref.days}"
                                                                                th:value="${item.id}"
                                                                                th:text="${item.title}">no title</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="grid-cell _sm-4">
                                                            <div class="form-field-input">
                                                                <div class="form-inputSelect _fluid">
                                                                    <select :name="'idIssueDate_month['+ index +']'" v-model="participant.idIssueDate.month">
                                                                        <option value="">Выберите</option>
                                                                        <option th:each="item : ${ref.months}"
                                                                                th:value="${item.id}"
                                                                                th:text="${item.title}">no title</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="grid-cell _sm-4">
                                                            <div class="form-field-input">
                                                                <div class="form-inputSelect _fluid">
                                                                    <select :name="'idIssueDate_year['+ index +']'" v-model="participant.idIssueDate.year">
                                                                        <option value="">Выберите</option>
                                                                        <option th:each="item : ${ref.years}"
                                                                                th:value="${item.id}"
                                                                                th:text="${item.title}">no title</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-8">
                                                    <div class="form-field-input">
                                                        <div class="form-inputTextarea _fluid">
                                                            <textarea :name="'idIssueAgencyName['+ index +']'" v-model="participant.idIssueAgencyName" placeholder="Наименование органа, выдавшего документ"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-field-message -error __hidden"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell">
                                        <div class="form-field">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-5">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input :name="'idIssueAgencyCode['+ index +']'" v-model="participant.idIssueAgencyCode" type="text" placeholder="Код подразделения"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-field-message -error __hidden"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="grid-cell" v-show="participant.type == 'ul'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Организационно-правовая форма и&nbsp;полное наименование на&nbsp;русском языке
                                            </div>
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select v-bind:name="'organizationType['+index+']'"
                                                                v-model="participant.organizationType"

                                                                v-bind:class="{'input': true, '-error': errors.has('organizationType['+index+']')}"
                                                                data-vv-as="Организационно-правовая форма">

                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.opf}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>

                                                            <span v-show="errors.has('organizationType['+index+']')" class="form-field-message -error">
                                                                {{ errors.first('organizationType['+index+']') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-8">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input v-bind:name="'organizationTitle['+index+']'"
                                                                type="text"
                                                                placeholder="&laquo;Жилфондстрой&raquo;"
                                                                v-model="participant.organizationTitle"

                                                                v-bind:class="{'input': true, '-error': errors.has('organizationTitle['+index+']')}"
                                                                data-vv-as="Наименование" />
                                                            <span v-show="errors.has('organizationTitle['+index+']')" class="form-field-message -error">
                                                                {{ errors.first('organizationTitle['+index+']') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.resident === 'true' &amp;&amp; participant.type == 'ul'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                ОГРН
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input v-bind:name="'ogrn['+index+']'"
                                                        v-model="participant.ogrn"
                                                        type="number"
                                                        placeholder="0000000000000"

                                                        v-bind:class="{'input': true, '-error': errors.has('ogrn['+index+']')}"
                                                        data-vv-as="ОГРН" />
                                                    <span v-show="errors.has('ogrn['+index+']')" class="form-field-message -error">
                                                        {{ errors.first('ogrn['+index+']') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.resident === 'true' &amp;&amp; participant.type == 'ul'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                ИНН
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input v-bind:name="'inn['+index+']'"
                                                        v-model="participant.inn"
                                                        type="number"
                                                        placeholder="000000000000"

                                                        v-bind:class="{'input': true, '-error': errors.has('inn['+index+']')}"
                                                        data-vv-as="ИНН" />
                                                    <span v-show="errors.has('inn['+index+']')" class="form-field-message -error">
                                                        {{ errors.first('inn['+index+']') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.resident ===  'true' &amp;&amp; participant.type == 'ul'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                КПП
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input v-bind:name="'kpp['+index+']'"
                                                           v-model="participant.kpp"
                                                           type="number"
                                                           placeholder="000000000000"

                                                           v-bind:class="{'input': true}"
                                                           data-vv-as="КПП" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.resident ===  'false' &amp;&amp; participant.type == 'ul'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Налоговый номер
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input v-bind:name="'nalogNumber['+index+']'"
                                                        v-model="participant.kio"
                                                        type="text"
                                                        placeholder="0000000000000"
                                                        v-bind:class="{'input': true, '-error': errors.has('nalogNumber['+index+']')}"
                                                        data-vv-as="Налоговый номер" />
                                                    <span v-show="errors.has('nalogNumber['+index+']')" class="form-field-message -error">
                                                        {{ errors.first('nalogNumber['+index+']') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell" v-show="participant.resident ===  'false' &amp;&amp; participant.type == 'ul'">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Регистрационный номер
                                            </div>
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input v-bind:name="'regNumber['+index+']'"
                                                        v-model="participant.regNumber"
                                                        type="number"
                                                        placeholder="000000000000"
                                                        v-bind:class="{'input': true, '-error': errors.has('regNumber['+index+']')}"
                                                        data-vv-as="Регистрационный номер" />
                                                    <span v-show="errors.has('regNumber['+index+']')" class="form-field-message -error">
                                                        {{ errors.first('regNumber['+index+']') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="grid-area" style="align-items: flex-end">
                                    <div class="grid-cell _sm-8">
                                        <div class="grid-area" style="align-items: flex-end">
                                            <div class="grid-cell _sm-7">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Объем вложенных средств
                                                    </div>
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input v-bind:name="'volume['+index+']'"
                                                                v-model="participant.volume"
                                                                type="text"
                                                                placeholder="100 000 000"
                                                                v-money=""

                                                                v-bind:class="{'input': true, '-error': errors.has('volume['+index+']')}"
                                                                data-vv-as="Объем вложенных средств" />
                                                            <span v-show="errors.has('volume['+index+']')" class="form-field-message -error">
                                                                {{ errors.first('volume['+index+']') }}
                                                            </span>
                                                        </div>
                                                        <div class="form-field-input-suffix" v-html="currencySuffix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="grid-area" style="align-items: flex-end">
                                    <div class="grid-cell _sm-8">
                                        <div class="grid-area">
                                            <div class="grid-cell">
                                                <div class="form-field">
                                                    <div class="form-field-label">
                                                        Условия вложения средств
                                                    </div>
                                                    <div class="form-field-input">
                                                        <div class="form-inputTextarea _fluid">
                                                            <textarea v-bind:name="'rules['+index+']'"
                                                                v-model="participant.rules"
                                                                placeholder="Опишитие условия вложения средств"

                                                                v-bind:class="{'input': true, '-error': errors.has('rules['+index+']')}"
                                                                data-vv-as="Условия вложения средств" />
                                                            <span v-show="errors.has('rules['+index+']')" class="form-field-message -error">
                                                                {{ errors.first('rules['+index+']') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell _sm-4">
                                        <div class="form-field-message -default">
                                            Объем средств, уже вложенных в проект, с указанием перечня Участников, уже произведших данные вложения в проект, объем и условия вложения средств каждым из них
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="divider _dashed"></div>
                                <div class="space _medium"></div>
                            </div>
                        </div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field">
                                            <div class="form-field-input">
                                                <div class="grid-area _tiny">
                                                    <div class="grid-cell">
                                                        <a href="#" class="form-button _primary _bordered" v-on:click.prevent="addExtraParticipant">+ Еще участник</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
            <div class="formCard-footer">
                <div class="grid-area">
                    <div class="grid-cell _md-10 _md-offset-2">
                        <div class="grid-area">
                            <div class="grid-cell _sm-8 __textRight _alignCenter">
                                    <input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
                                    <input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
                                    <input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="space _massive"></div>
        </div>
    </form>
</div>
