<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->
<div class="grid-container">
	<div class="space _massive"></div>
    <form action="./project-characteristics-3.html"
          th:action="@{/private-office/finance-request/project-characteristics}"
          th:object="${projectCharacteristics}"
          method="post"
          enctype="multipart/form-data"
          class="formCard formCard-resume"
          style="box-shadow: none"
          id="projectCharacteristics"
          ref="form"
          v-cloak="" >
		<div class="grid-container">
			<div class="formCard-header">
				<div class="grid-area _alignCenter">
					<div class="grid-cell _md-2">
						<div class="formCard-step __textCenter-lg-up">
							<span>3</span>/4
						</div>
					</div>
					<div class="grid-cell _md-8">
						<div class="formCard-title">
							Характеристика обеспечения
							по проекту
						</div>
					</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-content">
				<div class="grid-area">
						<div class="grid-cell _md-10 _md-offset-2">
								<div class="form-field-label">
										Планируемое обеспечение по проекту
								</div>
								<div class="grid-area">
										<div class="grid-cell">
												<div class="form-field">
														<div class="form-field-input">
																<div class="form-inputCheckbox">
																		<input name="bankCheck" v-model="inputs.supply.bank.check" type="checkbox" id="c10"/>
																		<label for="c10">Банковская гарантия</label>
																</div>
														</div>
												</div>
										</div>
										<div class="grid-cell" v-bind:class="{'__hidden':!inputs.supply.bank.check}">
												<div class="grid-area">
														<div class="grid-cell" v-for="(item, index) in inputs.supply.bank.items">
																<input name="itemsId" v-model="item.id" type="hidden" />
																<input name="itemsType" v-model="item.type" type="hidden" />
																<input name="itemsDepositType" v-model="item.depositType" type="hidden" />
																<input name="itemsDepositWho" v-model="item.depositWho" type="hidden" />
																<input name="itemsDepositCompany" v-model="item.depositCompany" type="hidden" />
																<input name="itemsDepositCompanyDay" v-model="item.depositCompanyDay" type="hidden" />
																<input name="itemsDepositCompanyMonth" v-model="item.depositCompanyMonth" type="hidden" />
																<input name="itemsDepositCompanyYear" v-model="item.depositCompanyYear" type="hidden" />
																<div class="grid-area">
																		<div class="grid-cell">
																				<div class="grid-area">
																						<div class="grid-cell _xs-10">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="itemsGuarantor" type="text" placeholder="Наименование банка–гаранта" v-model="item.guarantor"/>
																												</div>
																										</div>
																								</div>
																						</div>
																						<div class="grid-cell _xs-2" v-if="index!==0">
																								<a class="link" href="#" v-on:click.prevent="removeGuarantorBank(index)">
																										<svg class="icon-svg" style="width: 2em; height: 2em;">
																												<use xlink:href="#icon-close"></use>
																										</svg>
																								</a>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="space _medium"></div>
																<div class="grid-area" style="align-items: flex-end">
																		<div class="grid-cell _md-10">
																				<div class="grid-area" style="align-items: flex-end">
																						<div class="grid-cell _sm-7">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="itemsValue" type="text" placeholder="1 000 000" v-model="item.value" v-money=""/>
																												</div>
																										</div>
																								</div>
																						</div>
																						<div class="grid-cell _sm-5">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputSelect _fluid">
																														<select name="itemsCurrency" v-model="item.currency">
																																<option value="" selected="selected">Выберите</option>
																																<option th:each="item : ${ref.financingCurrency}"
																																		th:value="${item.title}"
																																		th:text="${item.title}">no title</option>
																														</select>
																												</div>
																										</div>
																								</div>
																						</div>
																				</div>
																		</div>
																</div>
														</div>
												</div>
												<div class="space _medium"></div>
												<a v-on:click.prevent="addGuarantorBank" class="form-button _primary _bordered" href="#">+ Добавить</a>
										</div>
								</div>
								<div class="space _large"></div>
								<div class="grid-area">
										<div class="grid-cell">
												<div class="form-field">
														<div class="form-field-input">
																<div class="form-inputCheckbox">
																		<input name="val5a" v-model="inputs.supply.guarantee.check" type="checkbox" id="c11"/>
																		<label for="c11">Гарантия</label>
																</div>
														</div>
												</div>
										</div>
										<div class="grid-cell" v-bind:class="{'__hidden':!inputs.supply.guarantee.check}">
												<div class="grid-area">
														<div class="grid-cell" v-for="(item, index) in inputs.supply.guarantee.items">
																<input name="itemsId" v-model="item.id" type="hidden" />
																<input name="itemsType" v-model="item.type" type="hidden" />
																<input name="itemsDepositType" v-model="item.depositType" type="hidden" />
																<input name="itemsDepositWho" v-model="item.depositWho" type="hidden" />
																<input name="itemsDepositCompany" v-model="item.depositCompany" type="hidden" />
																<input name="itemsDepositCompanyDay" v-model="item.depositCompanyDay" type="hidden" />
																<input name="itemsDepositCompanyMonth" v-model="item.depositCompanyMonth" type="hidden" />
																<input name="itemsDepositCompanyYear" v-model="item.depositCompanyYear" type="hidden" />
																<div class="grid-area">
																		<div class="grid-cell">
																				<div class="grid-area">
																						<div class="grid-cell _xs-10">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="itemsGuarantor" type="text" placeholder="Наименование гаранта" v-model="item.guarantor"/>
																												</div>
																										</div>
																								</div>
																						</div>
																						<div class="grid-cell _xs-2" v-if="index!==0">
																								<a class="link" href="#" v-on:click.prevent="removeGuarantor(index)">
																										<svg class="icon-svg" style="width: 2em; height: 2em;">
																												<use xlink:href="#icon-close"></use>
																										</svg>
																								</a>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="space _medium"></div>
																<div class="grid-area" style="align-items: flex-end">
																		<div class="grid-cell _md-10">
																				<div class="grid-area" style="align-items: flex-end">
																						<div class="grid-cell _sm-7">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="itemsValue" type="text" placeholder="1 000 000" v-model="item.value" v-money=""/>
																												</div>
																										</div>
																								</div>
																						</div>
																						<div class="grid-cell _sm-5">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputSelect _fluid">
																														<select name="itemsCurrency" v-model="item.currency">
																																<option value="" selected="selected">Выберите</option>
																																<option th:each="item : ${ref.financingCurrency}"
																																		th:value="${item.title}"
																																		th:text="${item.title}">no title</option>
																														</select>
																												</div>
																										</div>
																								</div>
																						</div>
																				</div>
																		</div>
																</div>
														</div>
												</div>
												<div class="space _medium"></div>
												<a v-on:click.prevent="addGuarantor" class="form-button _primary _bordered" href="#">+ Добавить</a>
										</div>
								</div>
								<div class="space _large"></div>
								<div class="grid-area">
										<div class="grid-cell">
												<div class="form-field">
														<div class="form-field-input">
																<div class="form-inputCheckbox">
																		<input name="val9a" v-model="inputs.supply.surety.check" type="checkbox" id="c12"/>
																		<label for="c12">Поручительство(а)</label>
																</div>
														</div>
												</div>
										</div>
										<div class="grid-cell" v-bind:class="{'__hidden':!inputs.supply.surety.check}">
												<div class="grid-area">
														<div class="grid-cell" v-for="(item, index) in inputs.supply.surety.items">
																		<input name="itemsId" v-model="item.id" type="hidden" />
																		<input name="itemsType" v-model="item.type" type="hidden" />
																		<input name="itemsDepositType" v-model="item.depositType" type="hidden" />
																		<input name="itemsDepositWho" v-model="item.depositWho" type="hidden" />
																		<input name="itemsDepositCompany" v-model="item.depositCompany" type="hidden" />
																		<input name="itemsDepositCompanyDay" v-model="item.depositCompanyDay" type="hidden" />
																		<input name="itemsDepositCompanyMonth" v-model="item.depositCompanyMonth" type="hidden" />
																		<input name="itemsDepositCompanyYear" v-model="item.depositCompanyYear" type="hidden" />
																<div class="grid-area">
																		<div class="grid-cell">
																				<div class="grid-area">
																						<div class="grid-cell _xs-10">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="itemsGuarantor" type="text" placeholder="Наименование поручителя(ей)" v-model="item.guarantor"/>
																												</div>
																										</div>
																								</div>
																						</div>
																						<div class="grid-cell _xs-2" v-if="index!==0">
																								<a class="link" href="#" v-on:click.prevent="removeSurety(index)">
																										<svg class="icon-svg" style="width: 2em; height: 2em;">
																												<use xlink:href="#icon-close"></use>
																										</svg>
																								</a>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="space _medium"></div>
																<div class="grid-area" style="align-items: flex-end">
																		<div class="grid-cell _md-10">
																				<div class="grid-area" style="align-items: flex-end">
																						<div class="grid-cell _sm-7">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="itemsValue" type="text" placeholder="1 000 000" v-model="item.value" v-money=""/>
																												</div>
																										</div>
																								</div>
																						</div>
																						<div class="grid-cell _sm-5">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputSelect _fluid">
																														<select name="itemsCurrency" v-model="item.currency">
																																<option value="" selected="selected">Выберите</option>
																																<option th:each="item : ${ref.financingCurrency}"
																																		th:value="${item.title}"
																																		th:text="${item.title}">no title</option>
																														</select>
																												</div>
																										</div>
																								</div>
																						</div>
																				</div>
																		</div>
																</div>
														</div>
												</div>
												<div class="space _medium"></div>
												<a v-on:click.prevent="addSurety" class="form-button _primary _bordered" href="#">+ Добавить</a>
										</div>
								</div>
								<div class="space _large"></div>
								<div class="grid-area">
										<div class="grid-cell">
												<div class="form-field">
														<div class="form-field-input">
																<div class="form-inputCheckbox">
																		<input name="val13a" v-model="inputs.supply.pledge.check" type="checkbox" id="c13"/>
																		<label for="c13">Залог(и)</label>
																</div>
														</div>
												</div>
										</div>
										<div class="grid-cell" v-bind:class="{'__hidden':!inputs.supply.pledge.check}">
												<div class="grid-area">
														<div class="grid-cell" v-for="(item, index) in inputs.supply.pledge.items">
																		<input name="itemsId" v-model="item.id" type="hidden" />
																		<input name="itemsType" v-model="item.type" type="hidden" />
																<div class="grid-area">
																		<div class="grid-cell">
																				<div class="grid-area">
																						<div class="grid-cell _xs-10">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="itemsGuarantor" type="text" placeholder="Тип залога" v-model="item.guarantor"/>
																												</div>
																										</div>
																								</div>
																						</div>
																						<div class="grid-cell _xs-2" v-if="index!==0">
																								<a class="link" href="#" v-on:click.prevent="removePledge(index)">
																										<svg class="icon-svg" style="width: 2em; height: 2em;">
																												<use xlink:href="#icon-close"></use>
																										</svg>
																								</a>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="space _medium"></div>
																<div class="grid-area" style="align-items: flex-end">
																		<div class="grid-cell _md-10">
																				<div class="grid-area" style="align-items: flex-end">
																						<div class="grid-cell _sm-7">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="itemsValue" type="text" placeholder="Рыночная стоимость залога" v-model="item.value" v-money=""/>
																												</div>
																										</div>
																								</div>
																						</div>
																						<div class="grid-cell _sm-5">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputSelect _fluid">
																														<select name="itemsCurrency" v-model="item.currency">
																																<option value="" selected="selected">Выберите</option>
																																<option th:each="item : ${ref.financingCurrency}"
																																		th:value="${item.title}"
																																		th:text="${item.title}">no title</option>
																														</select>
																												</div>
																										</div>
																								</div>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="space _medium"></div>
																<div class="grid-area">
																		<div class="grid-cell _md-10">
																				<div class="form-field">
																						<div class="form-field-label">
																								Оценка стоимости
																						</div>
																						<div class="grid-area">
																								<div class="grid-cell">
																										<div class="form-field-input">
																												<div class="form-inputRadio">
																														<input name="itemsDepositWho" v-bind:id="'r1-'+index" v-model="item.depositWho" type="radio" value="0"/>
																														<label v-bind:for="'r1-'+index">Проведена самостоятельно</label>
																												</div>
																										</div>
																								</div>
																								<div class="grid-cell">
																										<div class="form-field-input">
																												<div class="form-inputRadio">
																														<input name="itemsDepositWho" v-bind:id="'r2-'+index" v-model="item.depositWho" type="radio" value="1"/>
																														<label v-bind:for="'r2-'+index">Специализированной компанией по оценке имущества</label>
																												</div>
																										</div>
																								</div>
																								<div class="grid-cell" v-bind:class="{'__hidden':item.depositWho!='1'}">
																										<div class="grid-area">
																												<div class="grid-cell">
																														<div class="form-field">
																																<div class="form-field-label">
																																		Наименование компании
																																</div>
																																<div class="form-field-input">
																																		<div class="form-inputText _fluid">
																																				<input name="itemsDepositCompany" type="text" placeholder="ООО 'Оценстар'" v-model="item.depositCompany"/>
																																		</div>
																																</div>
																														</div>
																												</div>
																										</div>
																										<div class="grid-area">
																												<div class="grid-cell">
																														<div class="form-field-label">
																																Дата оценки
																														</div>
																														<div class="grid-area">
																																<div class="grid-cell _sm-4">
																																		<div class="form-field-input">
																																				<div class="form-inputSelect _fluid">
																																						<select name="itemsDepositCompanyDay" v-model="item.depositCompanyDay">
																																								<option value="" selected="selected">Выберите</option>
																																								<option th:each="item : ${ref.days}"
																																												th:value="${item.id}"
																																												th:text="${item.title}">no title</option>
																																						</select>
																																				</div>
																																		</div>
																																</div>
																																<div class="grid-cell _sm-4">
																																		<div class="form-field-input">
																																				<div class="form-inputSelect _fluid">
																																						<select name="itemsDepositCompanyMonth" v-model="item.depositCompanyMonth">
																																								<option value="" selected="selected">Выберите</option>
																																								<option th:each="item : ${ref.months}"
																																												th:value="${item.id}"
																																												th:text="${item.title}">no title</option>
																																						</select></div>
																																		</div>
																																</div>
																																<div class="grid-cell _sm-4">
																																		<div class="form-field-input">
																																				<div class="form-inputSelect _fluid">
																																						<select name="itemsDepositCompanyYear" v-model="item.depositCompanyYear">
																																								<option value="" selected="selected">Выберите</option>
																																								<option th:each="item : ${ref.years}"
																																												th:value="${item.id}"
																																												th:text="${item.title}">no title</option>
																																						</select></div>
																																		</div>
																																</div>
																														</div>
																												</div>
																										</div>
																								</div>
																								<div class="grid-cell">
																										<div class="form-field-input">
																												<div class="form-inputRadio">
																														<input name="itemsDepositWho" v-bind:id="'r3-'+index" v-model="item.depositWho" type="radio" value=""/>
																														<label v-bind:for="'r3-'+index">Отсутствует</label>
																												</div>
																										</div>
																								</div>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="space _medium"></div>
																<div class="grid-container _clear _md-10">
																		<div class="divider _dashed"></div>
																</div>
														</div>
												</div>
												<div class="space _medium"></div>
												<a v-on:click.prevent="addPledge" class="form-button _primary _bordered" href="#">+ Добавить</a>
										</div>
								</div>
								<div class="space _large"></div>
								<div class="grid-area">
										<div class="grid-cell">
												<div class="form-field">
														<div class="form-field-input">
																<div class="form-inputCheckbox">
																		<input name="val22a" v-model="inputs.supply.other.check" type="checkbox" id="c14"/>
																		<label for="c14">Другое обеспечение</label>
																</div>
														</div>
												</div>
										</div>
										<div class="grid-cell" v-bind:class="{'__hidden':!inputs.supply.other.check}">
												<div class="grid-area">
														<div class="grid-cell" v-for="(item, index) in inputs.supply.other.items">
																		<input name="itemsId" v-model="item.id" type="hidden" />
																		<input name="itemsType" v-model="item.type" type="hidden" />
																		<input name="itemsDepositType" v-model="item.depositType" type="hidden" />
																		<input name="itemsDepositWho" v-model="item.depositWho" type="hidden" />
																		<input name="itemsDepositCompany" v-model="item.depositCompany" type="hidden" />
																		<input name="itemsDepositCompanyDay" v-model="item.depositCompanyDay" type="hidden" />
																		<input name="itemsDepositCompanyMonth" v-model="item.depositCompanyMonth" type="hidden" />
																		<input name="itemsDepositCompanyYear" v-model="item.depositCompanyYear" type="hidden" />
																<div class="grid-area">
																		<div class="grid-cell">
																				<div class="grid-area">
																						<div class="grid-cell _xs-10">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="itemsGuarantor" type="text" placeholder="Наименование поручителя(ей)" v-model="item.guarantor"/>
																												</div>
																										</div>
																								</div>
																						</div>
																						<div class="grid-cell _xs-2" v-if="index!==0">
																								<a class="link" href="#" v-on:click.prevent="removeOther(index)">
																										<svg class="icon-svg" style="width: 2em; height: 2em;">
																												<use xlink:href="#icon-close"></use>
																										</svg>
																								</a>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="space _medium"></div>
																<div class="grid-area" style="align-items: flex-end">
																		<div class="grid-cell _md-10">
																				<div class="grid-area" style="align-items: flex-end">
																						<div class="grid-cell _sm-7">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputText _fluid">
																														<input name="itemsValue" type="text" placeholder="1 000 000" v-model="item.value" v-money=""/>
																												</div>
																										</div>
																								</div>
																						</div>
																						<div class="grid-cell _sm-5">
																								<div class="form-field">
																										<div class="form-field-input">
																												<div class="form-inputSelect _fluid">
																														<select name="itemsCurrency" v-model="item.currency">
																																<option value="" selected="selected">Выберите</option>
																																<option th:each="item : ${ref.financingCurrency}"
																																		th:value="${item.title}"
																																		th:text="${item.title}">no title</option>
																														</select>
																												</div>
																										</div>
																								</div>
																						</div>
																				</div>
																		</div>
																</div>
														</div>
												</div>
												<div class="space _medium"></div>
												<a v-on:click.prevent="addOther" class="form-button _primary _bordered" href="#">+ Добавить</a>
										</div>
								</div>
								<!--
								<div class="space _large"></div>
								<div class="form-field">
										<div class="form-field-input">
												<div class="form-inputCheckbox">
														<input name="val26a" v-model="inputs.checks.c15" type="checkbox" id="c15"/>
														<label for="c15">Обеспечение отсутствует</label>
												</div>
										</div>
								</div>
								-->
						</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-footer">
				<div class="grid-area">
					<div class="grid-cell _md-10 _md-offset-2">
						<div class="grid-area">
							<div class="grid-cell _sm-8 __textRight">
									<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
									<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
									<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="space _massive"></div>
		</div>
	</form>
</div>
