<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->
<div class="grid-container">
	<div class="space _massive"></div>
	<div class="grid-area">
		<div class="grid-cell _lg-10">
            <form th:action="@{/private-office/finance-request/project-characteristics}"
                  th:object="${projectCharacteristics}"
                  method="post"
                  enctype="multipart/form-data"
                  v-cloak=""
                  class="formCard"
                  style="box-shadow: none"
                  id="projectCharacteristics">
				<div class="grid-container">
					<div class="formCard-header">
						<div class="grid-area">
							<div class="grid-cell">
								<div class="grid-area">
									<div class="grid-cell _md-2 _md-offset-2">
										<div class="formCard-icon">
											<svg class="icon-svg">
												<use xlink:href="#icon-success"></use>
											</svg>
										</div>
									</div>
									<div class="grid-cell _md-8">
										<div class="formCard-title">
											Данные успешно сохранены
										</div>
										<div class="grid-cell" th:each="field : ${fields}">
											<p th:text="${field}">
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell">
								<div class="grid-container _md-8 _md-offset-4 _tiny">
									<div class="formCard-description">
										Следующий этап "Бизнес-модель проекта"
									</div>
								</div>
							</div>

						</div>
					</div>
					<div class="space _large"></div>
					<div class="formCard-footer">
						<div class="grid-area">
							<div class="grid-cell">
								<div class="grid-area">
									<div class="grid-cell _md-offset-4">
											<input type="submit" name="next" class="form-button _primary _long" value="Продолжить" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="space _massive"></div>
				</div>
			</form>
		</div>
	</div>
</div>
