<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->
<div class="grid-container">
	<div class="space _massive"></div>
    <form action="./project-characteristics-4.html"
          th:action="@{/private-office/finance-request/project-characteristics}"
          th:object="${projectCharacteristics}"
          method="post"
          enctype="multipart/form-data"
          class="formCard formCard-resume"
          style="box-shadow: none"
          id="projectCharacteristics"
          ref="form"
          v-cloak="" >
		<div class="grid-container">
			<div class="formCard-header">
				<div class="grid-area _alignCenter">
					<div class="grid-cell _md-2">
						<div class="formCard-step __textCenter-lg-up">
							<span>4</span>/4
						</div>
					</div>
					<div class="grid-cell _md-10">
						<div class="formCard-title">
							Дополнительные характеристики
							инвестиционного качества проекта
						</div>
					</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-content">
				<div class="grid-area">
					<div class="grid-cell _md-10 _md-offset-2">
						<div class="grid-area _large">
							<div class="grid-cell">
								<div class="form-field">
									<div class="grid-area">
										<div class="grid-cell _md-8">
											<div class="form-field-label">
												Проект предусматривает обязательное использование
												конкурсных процедур для найма подрядчиков и поставщиков
											</div>
											<div class="grid-area">
												<div class="grid-cell _sm-2">
													<div class="form-field-input">
														<div class="form-inputRadio">
															<input name="projectProjectProvidesForACompetition" th:checked="*{projectProjectProvidesForACompetition} == 'true'" type="radio" value="true" id="r1"  v-validate="'required'"
                                                            data-vv-as=" " />
															<label for="r1" >Да</label>
														</div>
													</div>
												</div>
												<div class="grid-cell _sm-2">
													<div class="form-field-input">
														<div class="form-inputRadio">
															<input name="projectProjectProvidesForACompetition" th:checked="*{projectProjectProvidesForACompetition} == 'false'" type="radio" value="false" id="r2" />
															<label for="r2">Нет</label>
														</div>
													</div>
                                                </div>

                                                <span v-show="errors.has('projectProjectProvidesForACompetition')" class="form-field-message -error">
                                                    {{ errors.first('projectProjectProvidesForACompetition') }}
                                                </span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell">
								<div class="grid-area">
									<div class="grid-cell _md-8">
										<div class="form-field">
											<div class="form-field-input">
												<div class="form-inputTextarea _fluid">
													<textarea th:field="*{projectProjectProvidesForACompetitionDescription}" placeholder="Описание в свободной форме" name="projectProjectProvidesForACompetitionDescription" v-validate="'required'"
                                                    :class="{'input': true, '-error': errors.has('projectProjectProvidesForACompetitionDescription') }"
                                                    data-vv-as=" "></textarea>
                                                  <span v-show="errors.has('projectProjectProvidesForACompetitionDescription')" class="form-field-message -error">
                                                      {{ errors.first('projectProjectProvidesForACompetitionDescription') }}
                                                  </span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell">
								<div class="grid-area">
									<div class="grid-cell _md-8">
										<div class="form-field-label">
											Предполагаемые механизмы контроля использования
											средств Банком
										</div>
									</div>
								</div>
								<div class="grid-area">
									<div class="grid-cell _md-8">
										<div class="form-field">
											<div class="form-field-input">
												<div class="form-inputTextarea _fluid">
													<textarea rows="31" th:field="*{projectFundsUsingMonitoringMechanismsDescription}" placeholder="Описание в свободной форме" name="projectFundsUsingMonitoringMechanismsDescription" v-validate="'required'"
                                                    :class="{'input': true, '-error': errors.has('projectFundsUsingMonitoringMechanismsDescription') }"
                                                    data-vv-as=" "></textarea>
                                                  <span v-show="errors.has('projectFundsUsingMonitoringMechanismsDescription')" class="form-field-message -error">
                                                      {{ errors.first('projectFundsUsingMonitoringMechanismsDescription') }}
                                                  </span>
												</div>
											</div>
										</div>
									</div>
									<div class="grid-cell _md-4">
										<div class="form-field-message -default">
											Предполагаемые механизмы контроля
											использования средств Банком.
											В частности, указывается информация о возможности использования следующих механизмов:
											<div class="space _medium"></div>
											+ Залог акций Получателя средств/материнской компании Получателя средств или других участников проекта;
											<div class="space _medium"></div>
											+ Перевод расчетных счетов Получателя средств в Банк применение резервных счетов (счетов условного депонирования);
											<div class="space _medium"></div>
											+ Выделение финансирования в виде траншей, выплачиваемых по завершении очередного этапа реализации проекта;
											<div class="space _medium"></div>
											+ Участие представителей Банка в текущем управлении проекта (Получателя средств), в том числе через представительство в органах управления;
											<div class="space _medium"></div>
											+ Выделение и уступка отдельных прав требования по договорам, которые заключены от имени Получателя средств и иных Участников проекта;
											<div class="space _medium"></div>
											+ Иное
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell">
								<div class="grid-area">
									<div class="grid-cell _md-8">
										<div class="form-field-label">
											Чистая приведенная стоимость проекта
										</div>
									</div>
								</div>
								<div class="grid-area">
									<div class="grid-cell _md-8">
										<div class="form-field">
											<div class="form-field-input">
												<div class="form-inputText _fluid">
                                                    <input type="text" th:field="*{projectNetPresentValue}" placeholder="" v-money=""
                                                        name="projectNetPresentValue"
                                                        v-validate=""
                                                        data-vv-rules="required|not_in:0"
                                                        :class="{'input': true, '-error': errors.has('projectNetPresentValue') }"
                                                        data-vv-as="Чистая приведенная стоимость проекта" />
                                                    <span v-show="errors.has('projectNetPresentValue')" class="form-field-message -error">
                                                        {{ errors.first('projectNetPresentValue') }}
                                                    </span>
												</div>
											</div>
										</div>
									</div>
									<div class="grid-cell _md-4">
										<div class="form-field-message -default">
											Расчет на основании бизнес-модели проекта
										</div>
									</div>
								</div>
							</div>
							<div class="grid-cell">
								<div class="grid-area">
									<div class="grid-cell _md-8">
										<div class="form-field">
											<div class="form-field-label">
												IRR (внутренняя норма доходности) проекта
											</div>
											<div class="form-field-input">
												<div class="form-inputText _fluid">
                                                    <input th:field="*{projectProjectIrrString}" type="text" placeholder="Укажите IRR"
                                                    name="projectProjectIrrString" v-validate="'required|not_in:0'"
                                                    :class="{'input': true, '-error': errors.has('projectProjectIrrString') }"
                                                    data-vv-as="IRR" />
                                                <span v-show="errors.has('projectProjectIrrString')" class="form-field-message -error">
                                                    {{ errors.first('projectProjectIrrString') }}
                                                </span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="space _large"></div>
			<div class="formCard-footer">
				<div class="grid-area">
					<div class="grid-cell _md-10 _md-offset-2">
						<div class="grid-area">
							<div class="grid-cell _sm-8 __textRight">
									<input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
									<input type="submit" name="save" class="form-button _primary _link _bordered" value="Сохранить как черновик" v-on:click="onSubmit($event , true)" />
									<input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="space _massive"></div>
		</div>
	</form>
</div>
