<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../../../components/form/form-inputFiles.html-->
</script>

<form action="./resume-3.html" th:action="@{/private-office/resume/2}" th:object="${resume}" method="post"
      enctype="multipart/form-data" class="formCard formCard-resume" id="formResume"
      ref="form" v-cloak="">

<div class="grid-container _large">
    <div class="space _massive"></div>
    <div class="formCard-header">
        <div class="grid-area _alignCenter">
            <div class="grid-cell _md-3">
                <div class="formCard-step __textCenter-lg-up">
                    <span>2</span>/7
                </div>
            </div>
            <div class="grid-cell _md-9">
                <div class="formCard-title">
                    Сведения о единоличном исполнителе
                </div>
            </div>
        </div>
    </div>
    <div class="formCard-content">
        <div class="grid-area">
            <div class="grid-cell _md-9 _md-offset-3">
                <div class="grid-area _large">
                    <div class="grid-cell">
                        возглавляющем коллегиальный исполнительный орган/лице, управляющем структурой (в случае, если функции единоличного исполнительного органа переданы управляющей компании, сведения предоставляются в отношении руководителя управляющей компании).
                    </div>
                    <div class="grid-cell">
                        <div class="form-field">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="form-field-label">
                                        Функция управления передана управляющей компании
                                    </div>
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-2">
                                            <div class="form-field-input">
                                                <div class="form-inputRadio">
                                                    <input type="radio" name="executiveControlCompanyDelegate" value="true" id="managementCompany-1" v-model="inputs.executiveControlCompanyDelegate" />
                                                    <label for="managementCompany-1">Да</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-cell _sm-2">
                                            <div class="form-field-input">
                                                <div class="form-inputRadio">
                                                    <input type="radio" name="executiveControlCompanyDelegate" value="false" id="managementCompany-2" v-model="inputs.executiveControlCompanyDelegate" />
                                                    <label for="managementCompany-2">Нет</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="inputs.executiveControlCompanyDelegate === 'true'">
                            <div class="space _medium"></div>
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="form-field">
                                        <div class="form-field-label">
                                            Организационно-правовая форма и&nbsp; наименование управляющей компании
                                        </div>
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-4">
                                                <div class="form-field-input">
                                                    <div class="form-inputSelect _fluid">
                                                        <select th:field="*{executiveControlCompanyDelegateType}"
                                                            name="executiveControlCompanyDelegateType"
                                                            v-validate="'required'"
                                                            :class="{'input': true, '-error': errors.has('executiveControlCompanyDelegateType') }"
                                                            data-vv-as="Организационно-правовая форма" >

                                                            <option value="">Выберите</option>
                                                            <option th:each="item : ${ref.opf}"
                                                                    th:value="${item.id}"
                                                                    th:text="${item.title}">no title</option>
                                                        </select>
                                                        <span v-show="errors.has('executiveControlCompanyDelegateType')" class="form-field-message -error">
                                                            {{ errors.first('executiveControlCompanyDelegateType') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-8">
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input th:field="*{executiveControlCompanyDelegateName}"
                                                            name="executiveControlCompanyDelegateName"
                                                            type="text"
                                                            placeholder="&laquo;Управляющая компания&raquo;"
                                                            autocomplete="off"
                                                            v-validate="'required'"
                                                            :class="{'input': true, '-error': errors.has('executiveControlCompanyDelegateName') }"
                                                            data-vv-as="Наименование" />
                                                        <span v-show="errors.has('executiveControlCompanyDelegateName')" class="form-field-message -error">
                                                            {{ errors.first('executiveControlCompanyDelegateName') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="form-field">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="form-field-label">
                                        Фамилия
                                    </div>
                                    <div class="form-field-input">
                                        <div class="form-inputText _fluid">
                                            <input th:field="*{executiveNameLast}"
                                                name="executiveNameLast"
                                                type="text"
                                                placeholder="Иванов"
                                                autocomplete="off"
                                                v-validate="'required'"
                                                :class="{'input': true, '-error': errors.has('executiveNameLast') }"
                                                data-vv-as="Фамилия" />
                                            <span v-show="errors.has('executiveNameLast')" class="form-field-message -error">
                                                {{ errors.first('executiveNameLast') }}
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="form-field">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="form-field-label">
                                        Имя
                                    </div>
                                    <div class="form-field-input">
                                        <div class="form-inputText _fluid">
                                            <input th:field="*{executiveNameFirst}"
                                                name="executiveNameFirst"
                                                type="text"
                                                placeholder="Иван"
                                                autocomplete="off"
                                                v-validate="'required'"
                                                :class="{'input': true, '-error': errors.has('executiveNameFirst') }"
                                                data-vv-as="Имя" />
                                            <span v-show="errors.has('executiveNameFirst')" class="form-field-message -error">
                                                {{ errors.first('executiveNameFirst') }}
                                            </span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="form-field">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="form-field-label">
                                        Отчество
                                    </div>
                                    <div class="form-field-input">
                                        <div class="form-inputText _fluid">
                                            <input th:field="*{executiveNameMid}"
                                                name="executiveNameMid"
                                                type="text"
                                                placeholder="Иванович"
                                                autocomplete="off"
                                                v-validate="''"
                                                :class="{'input': true, '-error': errors.has('executiveNameMid') }"
                                                data-vv-as="Отчество" />
                                            <span v-show="errors.has('executiveNameMid')" class="form-field-message -error">
                                                {{ errors.first('executiveNameMid') }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="form-field">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="form-field-label">
                                        Дата рождения
                                    </div>
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-4">
                                            <div class="form-field-input">
                                                <div class="form-inputSelect _fluid">
                                                    <select th:field="*{executiveBornDate.day}"
                                                        th:value="*{executiveBornDate.day}"
                                                        v-validate="'required'"
                                                        name="executiveBornDate.day"
                                                        :class="{'input': true, '-error': errors.has('executiveBornDate.day') }"
                                                        data-vv-as="День рождения">

                                                        <option value="">Выберите</option>
                                                        <option th:each="item : ${ref.days}"
                                                                th:value="${item.id}"
                                                                th:text="${item.title}">no title</option>
                                                    </select>
                                                    <span v-show="errors.has('executiveBornDate.day')" class="form-field-message -error">
                                                        {{ errors.first('executiveBornDate.day') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-cell _sm-4">
                                            <div class="form-field-input">
                                                <div class="form-inputSelect _fluid">
                                                    <select th:field="*{executiveBornDate.month}"
                                                        th:value="*{executiveBornDate.month}"
                                                        v-validate="'required'"
                                                        name="executiveBornDate.month"
                                                        :class="{'input': true, '-error': errors.has('executiveBornDate.month') }"
                                                        data-vv-as="Месяц рождения">

                                                        <option value="">Выберите</option>
                                                        <option th:each="item : ${ref.months}"
                                                                th:value="${item.id}"
                                                                th:text="${item.title}">no title</option>
                                                    </select>
                                                    <span v-show="errors.has('executiveBornDate.month')" class="form-field-message -error">
                                                        {{ errors.first('executiveBornDate.month') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-cell _sm-4">
                                            <div class="form-field-input">
                                                <div class="form-inputSelect _fluid">
                                                    <select th:field="*{executiveBornDate.year}"
                                                        th:value="*{executiveBornDate.year}"
                                                        v-validate="'required'"
                                                        name="executiveBornDate.year"
                                                        :class="{'input': true, '-error': errors.has('executiveBornDate.year') }"
                                                        data-vv-as="Год рождения">

                                                        <option value="">Выберите</option>
                                                        <option th:each="item : ${ref.years}"
                                                                th:value="${item.id}"
                                                                th:text="${item.title}">no title</option>
                                                    </select>
                                                    <span v-show="errors.has('executiveBornDate.year')" class="form-field-message -error">
                                                        {{ errors.first('executiveBornDate.year') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="form-field">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="form-field-label">
                                        Место рождения
                                    </div>
                                    <div class="form-field-input">
                                        <div class="form-inputText _fluid">
                                            <input th:field="*{executiveBornPlaceAddress.name}"
                                                type="text"
                                                name="executiveBornPlaceAddress.name"
                                                placeholder="Россия, г. Москва"
                                                autocomplete="off"
                                                v-validate="'required'"
                                                :class="{'input': true, '-error': errors.has('executiveBornPlaceAddress.name') }"
                                                data-vv-as="Место рождения" />
                                            <span v-show="errors.has('executiveBornPlaceAddress.name')" class="form-field-message -error">
                                                {{ errors.first('executiveBornPlaceAddress.name') }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="form-field">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="form-field-label">
                                        Гражданство
                                    </div>
                                    <div class="form-field-input">
                                        <div class="form-inputText _fluid">
                                            <input th:field="*{executiveCitizenship}"
                                                name="executiveCitizenship"
                                                type="text"
                                                placeholder="Российской федерации"
                                                autocomplete="off"
                                                v-validate="'required'"
                                                :class="{'input': true, '-error': errors.has('executiveCitizenship') }"
                                                data-vv-as="Гражданство" />
                                            <span v-show="errors.has('executiveCitizenship')" class="form-field-message -error">
                                                {{ errors.first('executiveCitizenship') }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell">
                        <div class="form-field">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="form-field-label">
                                        Резидент РФ
                                    </div>
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-2">
                                            <div class="form-field-input">
                                                <div class="form-inputRadio">
                                                    <input type="radio" name="executiveResident" value="true" id="resident-1" v-model="inputs.executiveResident" />
                                                    <label for="resident-1">Да</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid-cell _sm-2">
                                            <div class="form-field-input">
                                                <div class="form-inputRadio">
                                                    <input type="radio" name="executiveResident" value="false" id="resident-2" v-model="inputs.executiveResident" />
                                                    <label for="resident-2">Нет</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="form-sectionTitle">
                        Адрес места жительства, регистрации
                    </h2>
                    <div class="grid-cell">
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input th:field="*{executiveAddressRegistration.region}"
                                                        name="executiveAddressRegistration.region"
                                                        type="text"
                                                        placeholder="Регион / область / провинция / штат"
                                                        v-validate="'required'"
                                                        :class="{'input': true, '-error': errors.has('executiveAddressRegistration.region') }"
                                                        data-vv-as="Регион / область / провинция / штат" />
                                                    <span v-show="errors.has('executiveAddressRegistration.region')" class="form-field-message -error">
                                                        {{ errors.first('executiveAddressRegistration.region') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input th:field="*{executiveAddressRegistration.city}"
                                                        name="executiveAddressRegistration.city"
                                                        type="text"
                                                        placeholder="Населенный пункт"
                                                        v-validate="'required'"
                                                        :class="{'input': true, '-error': errors.has('executiveAddressRegistration.city') }"
                                                        data-vv-as="Населенный пункт" />
                                                    <span v-show="errors.has('executiveAddressRegistration.city')" class="form-field-message -error">
                                                        {{ errors.first('executiveAddressRegistration.city') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input th:field="*{executiveAddressRegistration.street}"
                                                        name="executiveAddressRegistration.street"
                                                        type="text"
                                                        placeholder="Улица"
                                                        v-validate="'required'"
                                                        :class="{'input': true, '-error': errors.has('executiveAddressRegistration.street') }"
                                                        data-vv-as="Улица" />
                                                    <span v-show="errors.has('executiveAddressRegistration.street')" class="form-field-message -error">
                                                        {{ errors.first('executiveAddressRegistration.street') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input th:field="*{executiveAddressRegistration.index}"
                                                           name="executiveAddressRegistration.index"
                                                           type="text"
                                                           placeholder="Индекс"
                                                           data-mask="index"
                                                           v-validate="'required|numeric'"
                                                           :class="{'input': true, '-error': errors.has('executiveAddressRegistration.index') }"
                                                           data-vv-as="Индекс" />
                                                    <span v-show="errors.has('executiveAddressRegistration.index')" class="form-field-message -error">
                                                        {{ errors.first('executiveAddressRegistration.index') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{executiveAddressRegistration.house}"
                                                                name="executiveAddressRegistration.house"
                                                                type="number"
                                                                placeholder="Дом"
                                                                autocomplete="off"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveAddressRegistration.house') }"
                                                                data-vv-as="Дом" />
                                                            <span v-show="errors.has('executiveAddressRegistration.house')" class="form-field-message -error">
                                                                {{ errors.first('executiveAddressRegistration.house') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{executiveAddressRegistration.building}" type="number" placeholder="Корпус"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{executiveAddressRegistration.apartment}"
                                                                name="executiveAddressRegistration.apartment"
                                                                type="number"
                                                                placeholder="Квартира"
                                                                autocomplete="off"
                                                                v-validate="'required|numeric'"
                                                                :class="{'input': true, '-error': errors.has('executiveAddressRegistration.apartment') }"
                                                                data-vv-as="Квартира" />
                                                            <span v-show="errors.has('executiveAddressRegistration.apartment')" class="form-field-message -error">
                                                                {{ errors.first('executiveAddressRegistration.apartment') }}
                                                            </span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 class="form-sectionTitle">
                        Реквизиты документа, удостоверяющего&nbsp;личность
                    </h2>
                    <div class="grid-cell">
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-input">
                                                <div class="form-inputSelect _fluid" v-if="inputs.executiveResident === 'true'">
                                                    <select  th:field="*{executiveIdName}"
                                                        th:value="*{executiveIdName}"
                                                        name="executiveIdName"
                                                        v-validate="'required'"
                                                        :class="{'input': true, '-error': errors.has('executiveIdName') }"
                                                        data-vv-as="Документ">

                                                        <option value="">Выберите</option>
                                                        <option th:each="item : ${ref.documentNameResident}"
                                                                th:value="${item.id}"
                                                                th:text="${item.title}">no title</option>
                                                    </select>
                                                    <span v-show="errors.has('executiveIdName')" class="form-field-message -error">
                                                        {{ errors.first('executiveIdName') }}
                                                    </span>
                                                </div>
                                                <div class="form-inputSelect _fluid" v-if="inputs.executiveResident === 'false'">
                                                    <select  th:field="*{executiveIdName}"
                                                        th:value="*{executiveIdName}"
                                                        name="executiveIdName"
                                                        v-validate="'required'"
                                                        :class="{'input': true, '-error': errors.has('executiveIdName') }"
                                                        data-vv-as="Документ">

                                                        <option value="">Выберите</option>
                                                        <option th:each="item : ${ref.documentNameNotResident}"
                                                                th:value="${item.id}"
                                                                th:text="${item.title}">no title</option>
                                                    </select>
                                                    <span v-show="errors.has('executiveIdName')" class="form-field-message -error">
                                                        {{ errors.first('executiveIdName') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-5">
                                                <div class="form-field">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{executiveIdSeries}"
                                                                name="executiveIdSeries"
                                                                type="text"
                                                                placeholder="Серия"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveIdSeries') }"
                                                                data-vv-as="Серия" />
                                                            <span v-show="errors.has('executiveIdSeries')" class="form-field-message -error">
                                                                {{ errors.first('executiveIdSeries') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-7">
                                                <div class="form-field">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{executiveIdNumber}"
                                                                name="executiveIdNumber"
                                                                type="text"
                                                                placeholder="Номер"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveIdNumber') }"
                                                                data-vv-as="Номер" />
                                                            <span v-show="errors.has('executiveIdNumber')" class="form-field-message -error">
                                                                {{ errors.first('executiveIdNumber') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Дата выдачи
                                            </div>
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select th:field="*{executiveIdIssueDate.day}"
                                                                name="executiveIdIssueDateDay"
                                                                th:value="*{executiveIdIssueDate.day}"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveIdIssueDate.day') }"
                                                                data-vv-as="Дата">

                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.days}"
                                                                th:value="${item.id}"
                                                                th:text="${item.title}">no title</option>
                                                            </select>

                                                            <span v-show="errors.has('executiveIdIssueDate.day')" class="form-field-message -error">
                                                                {{ errors.first('executiveIdIssueDate.day') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select th:field="*{executiveIdIssueDate.month}"
                                                                name="executiveIdIssueDate.month"
                                                                th:value="*{executiveIdIssueDate.month}"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveIdIssueDate.month') }"
                                                                data-vv-as="Месяц">

                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.months}"
                                                                th:value="${item.id}"
                                                                th:text="${item.title}">no title</option>
                                                            </select>

                                                            <span v-show="errors.has('executiveIdIssueDate.month')" class="form-field-message -error">
                                                                {{ errors.first('executiveIdIssueDate.month') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select th:field="*{executiveIdIssueDate.year}"
                                                                name="executiveIdIssueDate.year"
                                                                th:value="*{executiveIdIssueDate.year}"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveIdIssueDate.year') }"
                                                                data-vv-as="Год">

                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.years}"
                                                                th:value="${item.id}"
                                                                th:text="${item.title}">no title</option>
                                                            </select>
                                                            <span v-show="errors.has('executiveIdIssueDate.year')" class="form-field-message -error">
                                                                {{ errors.first('executiveIdIssueDate.year') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-input">
                                                <div class="form-inputTextarea _fluid">
                                                    <textarea th:field="*{executiveIdIssueAgencyName}"
                                                        name="executiveIdIssueAgencyName"
                                                        placeholder="Наименование органа, выдавшего документ"
                                                        v-validate="'required'"
                                                        :class="{'input': true, '-error': errors.has('executiveIdIssueAgencyName') }"
                                                        data-vv-as="Наименование"></textarea>
                                                    <span v-show="errors.has('executiveIdIssueAgencyName')" class="form-field-message -error">
                                                        {{ errors.first('executiveIdIssueAgencyName') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-5">
                                            <div class="form-field-input">
                                                <div class="form-inputText _fluid">
                                                    <input th:field="*{executiveIdIssueAgencyCode}"
                                                        name="executiveIdIssueAgencyCode"
                                                        type="text"
                                                        placeholder="Код подразделения"
                                                        v-validate="'required'"
                                                        :class="{'input': true, '-error': errors.has('executiveIdIssueAgencyCode') }"
                                                        data-vv-as="Код подразделения" />
                                                    <span v-show="errors.has('executiveIdIssueAgencyCode')" class="form-field-message -error">
                                                        {{ errors.first('executiveIdIssueAgencyCode') }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid-cell" v-if="inputs.executiveResident === 'false'">
                        <div class="form-sectionTitle">
                            Данные миграционной карты
                        </div>
                        <div class="space _large"></div>
                        <div class="grid-area">
                            <div class="grid-cell">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-4">
                                                <div class="form-field">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{executiveMigrationSeries}"
                                                                name="executiveMigrationSeries"
                                                                type="text"
                                                                placeholder="Серия"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveMigrationSeries') }"
                                                                data-vv-as="Серия" />
                                                            <span v-show="errors.has('executiveMigrationSeries')" class="form-field-message -error">
                                                                {{ errors.first('executiveMigrationSeries') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-8">
                                                <div class="form-field">
                                                    <div class="form-field-input">
                                                        <div class="form-inputText _fluid">
                                                            <input th:field="*{executiveMigrationNumber}"
                                                                name="executiveMigrationNumber"
                                                                type="text"
                                                                placeholder="Номер"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveMigrationNumber') }"
                                                                data-vv-as="Номер" />
                                                            <span v-show="errors.has('executiveMigrationNumber')" class="form-field-message -error">
                                                                {{ errors.first('executiveMigrationNumber') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Дата начала срока пребывания (проживания)
                                            </div>
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select th:field="*{executiveMigrationDateStart.day}"
                                                                th:value="*{executiveMigrationDateStart.day}"
                                                                name="executiveMigrationDateStart.day"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveMigrationDateStart.day') }"
                                                                data-vv-as="Дата">

                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.days}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>

                                                            <span v-show="errors.has('executiveMigrationDateStart.day')" class="form-field-message -error">
                                                                {{ errors.first('executiveMigrationDateStart.day') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select th:field="*{executiveMigrationDateStart.month}"
                                                                th:value="*{executiveMigrationDateStart.month}"
                                                                name="executiveMigrationDateStart.month"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveMigrationDateStart.month') }"
                                                                data-vv-as="Месяц">

                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.months}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>

                                                            <span v-show="errors.has('executiveMigrationDateStart.month')" class="form-field-message -error">
                                                                {{ errors.first('executiveMigrationDateStart.month') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select th:field="*{executiveMigrationDateStart.year}"
                                                                th:value="*{executiveMigrationDateStart.year}"
                                                                name="executiveMigrationDateStart.year"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveMigrationDateStart.year') }"
                                                                data-vv-as="Год">

                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.years}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>

                                                            <span v-show="errors.has('executiveMigrationDateStart.year')" class="form-field-message -error">
                                                                {{ errors.first('executiveMigrationDateStart.year') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-cell">
                                <div class="form-field">
                                    <div class="grid-area">
                                        <div class="grid-cell _sm-8">
                                            <div class="form-field-label">
                                                Дата окончания срока пребывания (проживания)
                                            </div>
                                            <div class="grid-area">
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select th:field="*{executiveMigrationDateEnd.day}"
                                                                th:value="*{executiveMigrationDateEnd.day}"
                                                                name="executiveMigrationDateEnd.day"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveMigrationDateEnd.day') }"
                                                                data-vv-as="Дата">

                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.days}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>

                                                            <span v-show="errors.has('executiveMigrationDateEnd.day')" class="form-field-message -error">
                                                                {{ errors.first('executiveMigrationDateEnd.day') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select th:field="*{executiveMigrationDateEnd.month}"
                                                                th:value="*{executiveMigrationDateEnd.month}"
                                                                name="executiveMigrationDateEnd.month"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveMigrationDateEnd.month') }"
                                                                data-vv-as="Месяц">

                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.months}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>
                                                            <span v-show="errors.has('executiveMigrationDateEnd.month')" class="form-field-message -error">
                                                                {{ errors.first('executiveMigrationDateEnd.month') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-cell _sm-4">
                                                    <div class="form-field-input">
                                                        <div class="form-inputSelect _fluid">
                                                            <select th:field="*{executiveMigrationDateEnd.year}"
                                                                th:value="*{executiveMigrationDateEnd.year}"
                                                                name="executiveMigrationDateEnd.year"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('executiveMigrationDateEnd.year') }"
                                                                data-vv-as="Год">

                                                                <option value="">Выберите</option>
                                                                <option th:each="item : ${ref.years}"
                                                                        th:value="${item.id}"
                                                                        th:text="${item.title}">no title</option>
                                                            </select>
                                                            <span v-show="errors.has('executiveMigrationDateEnd.year')" class="form-field-message -error">
                                                                {{ errors.first('executiveMigrationDateEnd.year') }}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space _large"></div>
    <div class="formCard-footer">
        <div class="grid-area">
            <div class="grid-cell _md-3"></div>
            <div class="grid-cell _md-9">
                <div class="grid-area">
                    <div class="grid-cell __textRight _md-8">
                        <input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
                        <input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="space _massive"></div>
</div>
</form>
