<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../../../components/form/form-inputFiles.html-->
</script>

<form action="./resume-5.html" th:action="@{/private-office/resume/4}" th:object="${resume}" method="post"
      enctype="multipart/form-data" class="formCard formCard-resume" id="formResume" ref="form" v-cloak="">
    <div class="grid-container _large">
        <div class="space _massive"></div>
        <div class="formCard-header">
            <div class="grid-area _alignCenter">
                <div class="grid-cell _md-3">
                    <div class="formCard-step __textCenter-lg-up">
                        <span>4</span>/7
                    </div>
                </div>
                <div class="grid-cell _md-9">
                    <div class="formCard-title">
                        Дополнительные сведения об Инициаторе проекта / Получателе средств
                    </div>
                </div>
            </div>
        </div>
        <div class="space _large"></div>
        <div class="formCard-content">
            <div class="grid-area">
                <div class="grid-cell _md-9 _md-offset-3">
                    <div class="grid-area _large">
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-5">
                                        <div class="form-field-label">
                                            Номер телефона
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{initiatorPhoneNumber}"
                                                    name="initiatorPhoneNumber"
                                                    type="text"
                                                    placeholder="+7 (495) 456-78-90"
                                                    data-mask="phone"
                                                    v-validate=""
                                                    data-vv-rules="required|regex:^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$"
                                                    :class="{'input': true, '-error': errors.has('initiatorPhoneNumber') }"
                                                    data-vv-as="Номер телефона" />
                                                <span v-show="errors.has('initiatorPhoneNumber')" class="form-field-message -error">
                                                    {{ errors.first('initiatorPhoneNumber') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell _sm-3">
                                        <div class="form-field-label">
                                            Добавочный номер
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{initiatorPhoneNumberAdditional}"
                                                       name="initiatorPhoneNumberAdditional"
                                                       type="text"
                                                       placeholder="000"
                                                       v-validate=""
                                                       data-vv-rules="regex:^\d+$"
                                                       :class="{'input': true, '-error': errors.has('initiatorPhoneNumberAdditional') }"
                                                       data-vv-as="Добавочный номер" />
                                                <span v-show="errors.has('initiatorPhoneNumberAdditional')" class="form-field-message -error">
                                                    {{ errors.first('initiatorPhoneNumberAdditional') }}
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Номер факса
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{initiatorFaxNumber}"
                                                    name="initiatorFaxNumber"
                                                    type="text"
                                                    placeholder="+7 (495) 456-78-90"
                                                    data-mask="phone"
                                                    v-validate=""
                                                    data-vv-rules="required|regex:^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$"
                                                    :class="{'input': true, '-error': errors.has('initiatorFaxNumber') }"
                                                    data-vv-as="Номер факса" />
                                                <span v-show="errors.has('initiatorFaxNumber')" class="form-field-message -error">
                                                    {{ errors.first('initiatorFaxNumber') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Адрес электронной почты
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{initiatorEmail}"
                                                    name="initiatorEmail"
                                                    type="text"
                                                    placeholder="ivanov@mail.com"
                                                    v-validate=""
                                                    data-vv-rules="required|regex:^[A-Za-z0-9-_\.]+@[A-Za-z0-9-_\.]+\.[A-Za-z0-9-_\.]+$"
                                                    :class="{'input': true, '-error': errors.has('initiatorEmail') }"
                                                    data-vv-as="Адрес электронной почты" />
                                                <span v-show="errors.has('initiatorEmail')" class="form-field-message -error">
                                                    {{ errors.first('initiatorEmail') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Почтовый адрес
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{initiatorPostalAddress.name}"
                                                    name="initiatorPostalAddressName"
                                                    type="text"
                                                    placeholder="0123456789, г. Москва, ул. Петухова, д. 12, кв. 151"
                                                    v-validate="'required'"
                                                    :class="{'input': true, '-error': errors.has('initiatorPostalAddressName') }"
                                                    data-vv-as="Почтовый адрес" />
                                                <span v-show="errors.has('initiatorPostalAddressName')" class="form-field-message -error">
                                                    {{ errors.first('initiatorPostalAddressName') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space _large"></div>
        <div class="formCard-footer">
            <div class="grid-area">
                <div class="grid-cell _md-3"></div>
                <div class="grid-cell _md-9">
                    <div class="grid-area">
                        <div class="grid-cell __textRight _md-8">
                            <input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
                            <input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space _massive"></div>
    </div>
</form>
