<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../../../components/form/form-inputFiles.html-->
</script>

<script type="text/x-template" id="countdown">
    <div class="form-field-message __textRight" v-if="string" :class="{'-error':errorMax, '-default':!errorMax}">
        <span v-if="errorMax">
            Лимит превышен на {{Math.abs(diff)}} сим.
        </span>
        <span v-else="">
            Осталось {{Math.abs(diff)}} сим.
        </span>
    </div>
</script>

<form action="./resume-6.html" method="post" th:action="@{/private-office/resume/5}" th:object="${resume}"
      enctype="multipart/form-data" class="formCard formCard-resume" id="formResume" ref="form" v-cloak="">
    <div class="grid-container _large">
        <div class="space _massive"></div>
        <div class="formCard-header">
            <div class="grid-area _alignCenter">
                <div class="grid-cell _md-3">
                    <div class="formCard-step __textCenter-lg-up">
                        <span>5</span>/7
                    </div>
                </div>
                <div class="grid-cell _md-9">
                    <div class="formCard-title">
                        Общая информация о&nbsp;проекте
                    </div>
                </div>
            </div>
        </div>
        <div class="formCard-content">
            <div class="grid-area">
                <div class="grid-cell _md-9 _md-offset-3">
                    <div class="grid-area _large">
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Наименование проекта
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{projectNomination}"
                                                    name="projectNomination"
                                                    type="text"
                                                    placeholder="Развитие +"
                                                    v-validate="'required'"
                                                    :class="{'input': true, '-error': errors.has('projectNomination') }"
                                                    data-vv-as="Наименование" />
                                                <span v-show="errors.has('projectNomination')" class="form-field-message -error">
                                                    {{ errors.first('projectNomination') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-10">
                                                <div class="form-field-label">
                                                    Цель проекта
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-2">
                                                <div class="form-field-message -default">
                                                    500 сим.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputTextarea _fluid">
                                                <textarea th:field="*{projectTarget}"
                                                    name="projectTarget"
                                                    placeholder="Кратко опишите цель проекта"
                                                    v-model="inputs.projectTarget"
                                                    v-validate="'required|max:500'"
                                                    :class="{'input': true, '-error': errors.has('projectTarget') }"
                                                    v-on:input="sliceResult('inputs.projectTarget', 500)"
                                                    data-vv-as="Цель проекта">
                                                </textarea>
                                                <span v-show="errors.has('projectTarget')" class="form-field-message -error">
                                                    {{ errors.first('projectTarget') }}
                                                </span>
                                            </div>
                                            <countdown :string="inputs.projectTarget" :max="500"></countdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-10">
                                                <div class="form-field-label">
                                                    Ожидаемый результат
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-2">
                                                <div class="form-field-message -default">
                                                    2000 сим.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputTextarea _fluid">
                                                <textarea th:field="*{projectExpectedResult}"
                                                    name="projectExpectedResult"
                                                    placeholder="Опишите ожидаемый результат от проекта"
                                                    v-model="inputs.projectExpectedResult"
                                                    v-validate="'required|max:2000'"
                                                    :class="{'input': true, '-error': errors.has('projectExpectedResult') }"
                                                    v-on:input="sliceResult('inputs.projectExpectedResult', 2000)"
                                                    data-vv-as="Ожидаемый результат">
                                                </textarea>
                                                <span v-show="errors.has('projectExpectedResult')" class="form-field-message -error">
                                                    {{ errors.first('projectExpectedResult') }}
                                                </span>
                                            </div>
                                            <countdown :string="inputs.projectExpectedResult" :max="2000"></countdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Тип проекта
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputSelect _fluid">
                                                <select th:field="*{projectType1}"
                                                    name="projectType1"
                                                    v-model="inputs.projectType1"
                                                    v-validate="'required'"
                                                    :class="{'input': true, '-error': errors.has('projectType1') }"
                                                    data-vv-as="Тип проекта">

                                                    <option value="">Выберите</option>
                                                    <option th:each="item : ${ref.projectType}"
                                                            th:value="${item.id}"
                                                            th:text="${item.title}">no title</option>
                                                </select>
                                                <span v-show="errors.has('projectType1')" class="form-field-message -error">
                                                    {{ errors.first('projectType1') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell" v-if="inputs.projectType1 == 5">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Иной вариант
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{projectType1Custom}"
                                                    name="projectType1Custom"
                                                    v-validate="'required'"
                                                    :class="{'input': true, '-error': errors.has('projectType1Custom') }"
                                                    data-vv-as="Иной вариант" />
                                                <span v-show="errors.has('projectType1Custom')" class="form-field-message -error">
                                                    {{ errors.first('projectType1Custom') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-10">
                                                <div class="form-field-label">
                                                    Краткое описание сути проекта
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-2">
                                                <div class="form-field-message -default">
                                                    2000 сим.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputTextarea _fluid">
                                                <textarea th:field="*{projectDescription}"
                                                    name="projectDescription"
                                                    placeholder="Опишите суть проекта"
                                                    v-model="inputs.projectDescription"
                                                    v-validate="'required|max:2000'"
                                                    :class="{'input': true, '-error': errors.has('projectDescription') }"
                                                    v-on:input="sliceResult('inputs.projectDescription', 2000)"
                                                    data-vv-as="Краткое описание сути проекта">
                                                </textarea>
                                                <span v-show="errors.has('projectDescription')" class="form-field-message -error">
                                                    {{ errors.first('projectDescription') }}
                                                </span>
                                            </div>
                                            <countdown :string="inputs.projectDescription" :max="2000"></countdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Место реализации проекта
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputSelect _fluid">
                                                <select name="projectSalePlace"
                                                    th:field="*{projectSalePlace}"
                                                    v-validate="'required'"
                                                    :class="{'input': true, '-error': errors.has('projectSalePlace') }"
                                                    data-vv-as="Место реализации проекта">

                                                    <option value="">Выберите</option>
                                                    <option th:each="item : ${ref.region}"
                                                            th:value="${item.id}"
                                                            th:text="${item.title}">no title</option>
                                                </select>
                                                <span v-show="errors.has('projectSalePlace')" class="form-field-message -error">
                                                    {{ errors.first('projectSalePlace') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell" v-for="(place, index) in inputs.extraPlaces">
                            <div class="form-field">
                                <div class="grid-area" style="align-items: flex-end">
                                    <div class="grid-cell _xs-8">
                                        <div class="form-field-label">
                                            Дополнительное место реализации проекта
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputSelect _fluid">
                                                <select name="projectSalePlaceCustom"
                                                    v-model="place.value"
                                                    v-validate="'required'"
                                                    :class="{'input': true, '-error': errors.has('projectSalePlaceCustom') }"
                                                    data-vv-as="Место реализации проекта">

                                                    <option value="">Выберите</option>
                                                    <option th:each="item : ${ref.region}"
                                                            th:value="${item.id}"
                                                            th:text="${item.title}">no title</option>
                                                </select>
                                                <span v-show="errors.has('projectSalePlaceCustom')" class="form-field-message -error">
                                                    {{ errors.first('projectSalePlaceCustom') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-cell _xs-4">
                                        <a href="#" class="link" v-on:click.prevent="removeExtraPlace(index)">
                                            <svg class="icon-svg" style="width: 2em; height: 2em">
                                                <use xlink:href="#icon-close"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="form-field">
                                        <div class="form-field-input">
                                            <div class="grid-area _tiny">
                                                <div class="grid-cell">
                                                    <a href="#" class="form-button _primary _bordered" v-on:click.prevent="addExtraPlace">+ Добавить место</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="grid-area" style="align-items: flex-end">
                                <div class="grid-cell _sm-8">
                                    <div class="grid-area">
                                        <div class="grid-cell">
                                            <div class="form-field">
                                                <div class="grid-area">
                                                    <div class="grid-cell _sm-10">
                                                        <div class="form-field-label">
                                                            Наличие опыта у менеджеров проекта по реализации аналогичных проектов
                                                        </div>
                                                    </div>
                                                    <div class="grid-cell _sm-2">
                                                        <div class="form-field-message -default">
                                                            2000 сим.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-field-input">
                                                    <div class="form-inputTextarea _fluid">

                                                        <textarea th:field="*{projectExperienceProjectManagers}"
                                                            name="projectExperienceProjectManagers"
                                                            placeholder="Опишите наличие опыта у менеджеров проекта"
                                                            v-model="inputs.projectExperienceProjectManagers"
                                                            v-validate="'required|max:2000'"
                                                            :class="{'input': true, '-error': errors.has('projectExperienceProjectManagers') }"
                                                            v-on:input="sliceResult('inputs.projectExperienceProjectManagers', 2000)"
                                                            data-vv-as="Наличие опыта">
                                                        </textarea>
                                                        <span v-show="errors.has('projectExperienceProjectManagers')" class="form-field-message -error">
                                                            {{ errors.first('projectExperienceProjectManagers') }}
                                                        </span>
                                                    </div>
                                                    <countdown :string="inputs.projectExperienceProjectManagers" :max="2000"></countdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-cell _sm-4">
                                    <div class="form-field-message -default">
                                        Указать наименование проектов, реализованных менеджерами при отсутствии опыта представить обоснование формирования данной команды менеджеров
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="grid-area" style="align-items: flex-end">
                                <div class="grid-cell _sm-8">
                                    <div class="grid-area">
                                        <div class="grid-cell">
                                            <div class="form-field">
                                                <div class="grid-area">
                                                    <div class="grid-cell _sm-9">
                                                        <div class="form-field-label">
                                                            Информация о степени проработки проекта
                                                        </div>
                                                    </div>
                                                    <div class="grid-cell _sm-3">
                                                        <div class="form-field-message -default __textRight">
                                                            2000 сим.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-field-input">
                                                    <div class="form-inputTextarea _fluid">
                                                        <textarea th:field="*{projectDegree}"
                                                            name="projectDegree"
                                                            placeholder="Опишите степени проработки проекта"
                                                            style="min-height: 350px;"
                                                            v-model="inputs.projectDegree"
                                                            v-validate="'required|max:2000'"
                                                            :class="{'input': true, '-error': errors.has('projectDegree') }"
                                                            v-on:input="sliceResult('inputs.projectDegree', 2000)"
                                                            data-vv-as="Информация">
                                                        </textarea>
                                                        <span v-show="errors.has('projectDegree')" class="form-field-message -error">
                                                            {{ errors.first('projectDegree') }}
                                                        </span>
                                                    </div>
                                                    <countdown :string="inputs.projectDegree" :max="2000"></countdown>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-cell _sm-4">
                                    <div class="form-field-message -default">
                                        Указываются: дата и уровень принятия решения о необходимости реализации проекта<br/><br/> степень готовности проектной документации (приводится список имеющейся документации по проекту), в том
                                        числе наличие необходимых экспертных заключений по проекту, предусмотренных законодательством РФ (налоговых, юридических, экологических, технико-экономических и иных)<br/><br/> перечень ранее
                                        проведенных и осуществляемых в настоящее время мероприятий по реализации проекта
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space _large"></div>
        <div class="formCard-footer">
            <div class="grid-area">
                <div class="grid-cell _md-3"></div>
                <div class="grid-cell _md-9">
                    <div class="grid-area">
                        <div class="grid-cell __textRight _md-8">
                            <input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
                            <input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space _massive"></div>
    </div>
</form>
