<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->

<form action="window.location.reload()" method="post" enctype="multipart/form-data" class="formCard" id="formResume" v-cloak="">
  <div class="formCard" v-cloak="">
    <div class="grid-container _large">
      <div class="space _massive"></div>
      <div class="formCard-header">
        <div class="grid-area">
          <div class="grid-cell" th:if="${error}">
            <div class="grid-area">
              <div class="grid-cell _md-3">
                <div class="formCard-icon">
                  <svg class="icon-svg">
                                    <use xlink:href="#icon-fail"></use>
                                </svg>
                </div>
              </div>
              <div class="grid-cell _md-9">
                <div class="formCard-title _normalCase" th:if="${#arrays.contains(user.roles, 'USER')}">
                  Данные введены неверно или не полностью, все поля обязательны к заполнению. Резюме проекта не может быть передано в работу региональному менеджеру.
                </div>
                <div class="formCard-title _normalCase" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
                  Данные введены неверно или не полностью, все поля обязательны к заполнению. Резюме проекта не может быть передано в работу.
                </div>
                <div class="formCard-description" th:each="field : ${fields}">
                  <p th:text="${field}">
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-cell" th:if="not ${error}">
            <div class="grid-area">
              <div class="grid-cell _md-3">
                <div class="formCard-icon">
                  <svg class="icon-svg">
                                    <use xlink:href="#icon-success"></use>
                                </svg>
                </div>
              </div>
              <div class="grid-cell _md-9">
                <div class="formCard-title _normalCase" th:if="${#arrays.contains(user.roles, 'USER')}">
                  Данные о проекте успешно отправлены вашему персональному региональному менеджеру для проведения экспресс-оценки
                </div>
                <div class="formCard-title _normalCase" th:if="${#arrays.contains(user.roles, 'MANAGER')}">
                  Данные о проекте успешно отправлены.
                </div>
              </div>
            </div>
          </div>
          <div class="grid-cell">
            <div class="grid-container _md-9 _md-offset-3 _tiny">
              <div class="formCard-description" th:if="not ${error} and ${#arrays.contains(user.roles, 'USER')}">
                О результате экспресс-оценки мы уведомим вас в течение 5 раб. дней
              </div>
              <div class="formCard-description" th:if="${dzo}">
                Данные о проекте успешно отправлены.<br />
                По результатам рассмотрения информации о проекте Вы можете связаться с
              </div>
              <div class="formCard-description" th:if="${dzo}" th:each="d : ${dzos}">
                <p th:text="${d}">
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="space _large"></div>
      <div class="formCard-footer">
        <div class="grid-area">
          <div class="grid-cell _md-3"></div>
          <div class="grid-cell _md-9">
            <div class="grid-area">
              <div class="grid-cell __textRight _md-8">
                <a href="./resume-4.html" th:href="@{/private-office/resume(id=${projectId})}" class="form-button _link">Назад</a>
                <a href="./resume-5.html" th:href="@{/private-office}" class="form-button _primary _long">Вернуться в личный кабинет</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="space _massive"></div>
    </div>
  </div>
</form>