<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../../../components/form/form-inputFiles.html-->
</script>

<form action="./resume-4.html" th:action="@{/private-office/resume/3}" th:object="${resume}" method="post"
      enctype="multipart/form-data" class="formCard formCard-resume" id="formResume" ref="form" v-cloak="">
    <div class="grid-container _large">
        <div class="space _massive"></div>
        <div class="formCard-header">
            <div class="grid-area _alignCenter">
                <div class="grid-cell _md-3">
                    <div class="formCard-step __textCenter-lg-up">
                        <span>3</span>/7
                    </div>
                </div>
                <div class="grid-cell _md-9">
                    <div class="formCard-title">
                        Сотрудник организации, ответственный за взаимодействие с банком
                    </div>
                </div>
            </div>
        </div>
        <div class="space _large"></div>
        <div class="formCard-content">
            <div class="grid-area">
                <div class="grid-cell _md-9 _md-offset-3">
                    <div class="grid-area _large">
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Фамилия
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{applicantNameLast}"
                                                       name="applicantNameLast"
                                                       type="text"
                                                       placeholder="Иванов"
                                                       v-validate="'required|validateRuName'"
                                                       :class="{'input': true, '-error': errors.has('applicantNameLast') }"
                                                       data-vv-as="Фамилия" />
                                                <span v-show="errors.has('applicantNameLast')" class="form-field-message -error">
                                                    {{ errors.first('applicantNameLast') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Имя
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{applicantNameFirst}"
                                                       name="applicantNameFirst"
                                                       type="text"
                                                       placeholder="Иван"
                                                       v-validate="'required|validateRuName'"
                                                       :class="{'input': true, '-error': errors.has('applicantNameFirst') }"
                                                       data-vv-as="Имя" />
                                                <span v-show="errors.has('applicantNameFirst')" class="form-field-message -error">
                                                    {{ errors.first('applicantNameFirst') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Отчество
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{applicantNameMid}"
                                                       name="applicantNameMid"
                                                       type="text"
                                                       placeholder="Иванович"
                                                       v-validate="'validateRuName'"
                                                       :class="{'input': true, '-error': errors.has('applicantNameMid') }"
                                                       data-vv-as="Отчество" />
                                                <span v-show="errors.has('applicantNameMid')" class="form-field-message -error">
                                                    {{ errors.first('applicantNameMid') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell"></div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Должность
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{employeePosition}"
                                                       name="employeePosition"
                                                       type="text"
                                                       placeholder="Генеральный директор"
                                                       v-validate="'required|validateRuText'"
                                                       :class="{'input': true, '-error': errors.has('employeePosition') }"
                                                       data-vv-as="Должность" />
                                                <span v-show="errors.has('employeePosition')" class="form-field-message -error">
                                                    {{ errors.first('employeePosition') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Номер телефона
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{employeePhoneNumber}"
                                                       name="employeePhoneNumber"
                                                       type="text"
                                                       placeholder="+7 (495) 456-78-90"
                                                       data-mask="phone"
                                                       v-validate=""
                                                       data-vv-rules="required|regex:^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$"
                                                       :class="{'input': true, '-error': errors.has('employeePhoneNumber') }"
                                                       data-vv-as="Номер телефона" />
                                                <span v-show="errors.has('employeePhoneNumber')" class="form-field-message -error">
                                                    {{ errors.first('employeePhoneNumber') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Номер факса
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{employeeFaxNumber}"
                                                       name="employeeFaxNumber"
                                                       type="text"
                                                       placeholder="+7 (495) 456-78-90"
                                                       data-mask="phone"
                                                       v-validate=""
                                                       data-vv-rules="required|regex:^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$"
                                                       :class="{'input': true, '-error': errors.has('employeeFaxNumber') }"
                                                       data-vv-as="Номер факса" />
                                                <span v-show="errors.has('employeeFaxNumber')" class="form-field-message -error">
                                                    {{ errors.first('employeeFaxNumber') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Адрес электронной почты
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input th:field="*{applicantEmail}"
                                                       name="applicantEmail"
                                                       type="text"
                                                       placeholder="ivanov@mail.com"
                                                       v-validate=""
                                                       data-vv-rules="required|regex:^[A-Za-z0-9-_\.]+@[A-Za-z0-9-_\.]+\.[A-Za-z0-9-_\.]+$"
                                                       :class="{'input': true, '-error': errors.has('applicantEmail') }"
                                                       data-vv-as="Адрес электронной почты" />
                                                <span v-show="errors.has('applicantEmail')" class="form-field-message -error">
                                                    {{ errors.first('applicantEmail') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _large"></div>
            <div class="formCard-footer">
                <div class="grid-area">
                    <div class="grid-cell _md-3"></div>
                    <div class="grid-cell _md-9">
                        <div class="grid-area">
                            <div class="grid-cell __textRight _md-8">
                                <input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
                                <input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space _massive"></div>
        </div>
    </div>
</form>
