<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../../../components/form/form-inputFiles.html-->
</script>
<form action="./resume-finish.html" th:action="@{/private-office/resume/8}" th:object="${resume}" method="post" enctype="multipart/form-data" class="formCard" id="formResume" v-cloak="">
    <div class="grid-container _large">
        <div class="space _massive"></div>
        <div class="formCard-header">
            <div class="grid-area _alignCenter">
                <div class="grid-cell _md-3">
                    <div class="formCard-step __textCenter-lg-up">
                        <!-- <span>7</span>/7 -->
                    </div>
                </div>
                <div class="grid-cell _md-9">
                    <div class="formCard-title">
                        Куда отправить резюме
                    </div>
                </div>
            </div>
        </div>
        <div class="formCard-content">
            <div class="grid-area">
                <div class="grid-cell _md-9 _md-offset-3">
                    <div class="grid-area _large">
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Отправить в
                                        </div>
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-2">
                                                <div class="form-field-input">
                                                    <div class="form-inputRadio">
                                                        <input name="where_send" type="radio" value="veb" v-model="inputs.where_send" id="where_send_1"/>
                                                        <label for="where_send_1">ВЭБ</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-2">
                                                <div class="form-field-input">
                                                    <div class="form-inputRadio">
                                                        <input name="where_send" type="radio" value="dzo" v-model="inputs.where_send" id="where_send_2"/>
                                                        <label for="where_send_2">ДЗО</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="grid-cell" v-if="inputs.where_send == 'dzo'">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Куда конкретно направляем
                                        </div>
                                        <div class="grid-area">
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input name="dzo_send" type="checkbox" value="fcpf" id="fcpf" v-model="inputs.dzo_send" />
                                                        <label for="fcpf">ОАО «ФЦПФ»</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input name="dzo_send" type="checkbox" value="veb-inovation" id="veb-inovation" v-model="inputs.dzo_send" />
                                                        <label for="veb-inovation">ООО «ВЭБ-Инновации»</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input name="dzo_send" type="checkbox" value="veb-lizing" id="veb-lizing" v-model="inputs.dzo_send" />
                                                        <label for="veb-lizing">АО «ВЭБ-Лизинг»</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input name="dzo_send" type="checkbox" value="dvostok" id="dvostok" v-model="inputs.dzo_send" />
                                                        <label for="dvostok">Фонд развития Дальнего Востока (ФРДВ)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input name="dzo_send" type="checkbox" value="veb-injiring" id="veb-injiring" v-model="inputs.dzo_send" />
                                                        <label for="veb-injiring">ООО «ВЭБ-Инжинирнг»</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input name="dzo_send" type="checkbox" value="globexpbank" id="globexpbank" v-model="inputs.dzo_send" />
                                                        <label for="globexpbank">АО «Глобэксбанк»</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input name="dzo_send" type="checkbox" value="sv-bank" id="sv-bank" v-model="inputs.dzo_send" />
                                                        <label for="sv-bank">ПАО АКБ «Связьбанк»</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-cell" v-if="where_send == 'dzo'">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space _large"></div>
        <div class="formCard-footer">
            <div class="grid-area">
                <div class="grid-cell _md-3"></div>
                <div class="grid-cell _md-9">
                    <div class="grid-area">
                        <div class="grid-cell __textRight _md-8">
                            <input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
                            <input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space _massive"></div>
    </div>
</form>
