<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../../../components/form/form-inputFiles.html-->
</script>





<form action="./resume-2.html" th:action="@{/private-office/resume/1}" th:object="${resume}"
      enctype="multipart/form-data" method="post" class="formCard formCard-resume" id="formResume" ref="form"
      v-cloak="" >

    <div class="grid-container _large">
        <div class="space _massive"></div>
        <div class="formCard-header">
            <div class="grid-area _alignCenter">
                <div class="grid-cell _md-3">
                    <div class="formCard-step __textCenter-lg-up">
                        <span>1</span>/7
                    </div>
                </div>
                <div class="grid-cell _md-9">
                    <div class="formCard-title">
                        Общие сведения об&nbsp;инициаторе проекта и&nbsp;получателе средств
                    </div>
                </div>
            </div>
        </div>
        <div class="space _large"></div>
        <div class="formCard-content">
            <div class="grid-area">
                <div class="grid-cell _md-9 _md-offset-3">
                    <div class="grid-area">

                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Организационно-правовая форма и&nbsp;полное наименование на&nbsp;русском
                                            языке
                                        </div>
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-4">
                                                <div class="form-field-input">
                                                    <div class="form-inputSelect _fluid">
                                                        <select name="initiatorOrganizationalLegalForm"
                                                                th:field="*{initiatorOrganizationalLegalForm}"
                                                                v-validate="'required'"
                                                                :class="{'input': true, '-error': errors.has('initiatorOrganizationalLegalForm') }"
                                                                data-vv-as="Организационно-правовая форма">

                                                            <option value="">Выберите</option>
                                                            <option th:each="item : ${ref.opf }"
                                                                    th:value="${item.id}"
                                                                    th:text="${item.title}">no title
                                                            </option>
                                                        </select>
                                                        <span v-show="errors.has('initiatorOrganizationalLegalForm')"
                                                              class="form-field-message -error">
                                                            {{ errors.first('initiatorOrganizationalLegalForm') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-8">
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input name="initiatorNameRus"
                                                               th:field="*{initiatorNameRus}"
                                                               type="text"
                                                               placeholder="&laquo;Жилфондстрой&raquo;"
                                                               autocomplete="off"
                                                               v-validate="'required'"
                                                               :class="{'input': true, '-error': errors.has('initiatorNameRus') }"
                                                               data-vv-as="Наименование"/>
                                                        <span v-show="errors.has('initiatorNameRus')"
                                                              class="form-field-message -error">
                                                            {{ errors.first('initiatorNameRus') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">

                                        <div class="form-field-label">
                                            ОГРН
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input name="initiatorOgrn"
                                                       th:field="*{initiatorOgrn}"
                                                       type="number"
                                                       placeholder="0000000000000"
                                                       autocomplete="off"
                                                       v-validate="'required|validateOgrn'"
                                                       :class="{'input': true, '-error': errors.has('initiatorOgrn') }"
                                                       data-vv-as="ОГРН"
                                                       />
                                                <span v-show="errors.has('initiatorOgrn')"
                                                      class="form-field-message -error">
                                                    {{ errors.first('initiatorOgrn') }}
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">

                                        <div class="form-field-label">
                                            ИНН
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input name="initiatorInn"
                                                       th:field="*{initiatorInn}"
                                                       type="number"
                                                       placeholder="000000000000"
                                                       autocomplete="off"
                                                       v-validate="'required|numeric|validateInn'"
                                                       :class="{'input': true, '-error': errors.has('initiatorInn') }"
                                                       data-vv-as="ИНН"
                                                        />
                                                <span v-show="errors.has('initiatorInn')"
                                                      class="form-field-message -error">
                                                    {{ errors.first('initiatorInn') }}
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-cell"></div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">

                                        <div class="form-field-label">
                                            КПП
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input name="initiatorKpp"
                                                       th:field="*{initiatorKpp}"
                                                       type="number"
                                                       placeholder="000000000000"
                                                       autocomplete="off"
                                                       v-validate="'required|numeric'"
                                                       :class="{'input': true}"
                                                       data-vv-as="КПП"
                                                />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid-cell"></div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">

                                        <div class="form-field-label">
                                            Место государственной регистрации
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputText _fluid">
                                                <input name="initiatorAddressRegistration.name"
                                                       th:field="*{initiatorAddressRegistration.name}"
                                                       type="text"
                                                       placeholder="г. Москва"
                                                       autocomplete="off"
                                                       v-validate="'required'"
                                                       :class="{'input': true, '-error': errors.has('initiatorAddressRegistration.name') }"
                                                       data-vv-as="Место государственной регистрации"/>
                                                <span v-show="errors.has('initiatorAddressRegistration.name')"
                                                      class="form-field-message -error">
                                                    {{ errors.first('initiatorAddressRegistration.name') }}
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">

                                        <div class="form-field-label">
                                            Место ведения основной деятельности юридического лица&nbsp;/&nbsp;структуры
                                        </div>
                                        <div class="grid-area">
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input name="initiatorMainActivityAddress.country"
                                                               th:field="*{initiatorMainActivityAddress.country}"
                                                               type="text"
                                                               placeholder="Государство"
                                                               autocomplete="off"
                                                               v-validate="'required'"
                                                               :class="{'input': true, '-error': errors.has('initiatorMainActivityAddress.country') }"
                                                               data-vv-as="Государство"/>
                                                        <span v-show="errors.has('initiatorMainActivityAddress.country')"
                                                              class="form-field-message -error">
                                                            {{ errors.first('initiatorMainActivityAddress.country') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input name="initiatorMainActivityAddress.region"
                                                               th:field="*{initiatorMainActivityAddress.region}"
                                                               type="text"
                                                               placeholder="Территория"
                                                               autocomplete="off"
                                                               v-validate="'required'"
                                                               :class="{'input': true, '-error': errors.has('initiatorMainActivityAddress.region') }"
                                                               data-vv-as="Территория"/>
                                                        <span
                                                            v-show="errors.has('initiatorMainActivityAddress.region')"
                                                            class="form-field-message -error">
                                                            {{ errors.first('initiatorMainActivityAddress.region') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input name="initiatorMainActivityAddress.city"
                                                               th:field="*{initiatorMainActivityAddress.city}"
                                                               type="text"
                                                               placeholder="Город"
                                                               autocomplete="off"
                                                               v-validate="'required'"
                                                               :class="{'input': true, '-error': errors.has('initiatorMainActivityAddress.city') }"
                                                               data-vv-as="Город"/>
                                                        <span v-show="errors.has('initiatorMainActivityAddress.city')"
                                                              class="form-field-message -error">
                                                            {{ errors.first('initiatorMainActivityAddress.city') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">

                                        <div class="form-field-label">
                                            Основные виды деятельности юридического лица&nbsp;/&nbsp;структуры
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputTextarea _fluid">
                                                <textarea name="initiatorActivity"
                                                          th:field="*{initiatorActivity}"
                                                          placeholder="Проектирование, строительство"
                                                          autosize="autosize"
                                                          v-validate="'required'"
                                                          :class="{'input': true, '-error': errors.has('initiatorActivity') }"
                                                          data-vv-as="Виды деятельности">
                                                </textarea>
                                                <span v-show="errors.has('initiatorActivity')"
                                                      class="form-field-message -error">
                                                    {{ errors.first('initiatorActivity') }}
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="grid-area" style="align-items: flex-end">
                                <div class="grid-cell _sm-8">
                                    <div class="grid-area" style="align-items: flex-end">

                                        <div class="grid-cell _sm-5">
                                            <div class="form-field">

                                                <div class="form-field-label">
                                                    Срок деятельности
                                                </div>
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input name="initiatorActivityTerm"
                                                               th:field="*{initiatorActivityTerm}"
                                                               type="number"
                                                               placeholder="5"
                                                               autocomplete="off"
                                                               v-validate="'required|numeric'"
                                                               :class="{'input': true, '-error': errors.has('initiatorActivityTerm') }"
                                                               data-vv-as="Срок деятельности"/>
                                                        <span v-show="errors.has('initiatorActivityTerm')"
                                                              class="form-field-message -error">
                                                            {{ errors.first('initiatorActivityTerm') }}
                                                        </span>
                                                    </div>
                                                    <div class="form-field-input-suffix">
                                                        лет
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="grid-cell _sm-7">
                                            <div class="form-field">
                                                <div class="form-field-label">
                                                    Среднесписочная численность работников
                                                </div>
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input name="initiatorEmployeesNumber"
                                                               th:field="*{initiatorEmployeesNumber}"
                                                               type="number"
                                                               placeholder="100"
                                                               autocomplete="off"
                                                               v-validate="'required|numeric'"
                                                               :class="{'input': true, '-error': errors.has('initiatorEmployeesNumber') }"
                                                               data-vv-as="Среднесписочная численность работников"/>
                                                        <span v-show="errors.has('initiatorEmployeesNumber')"
                                                              class="form-field-message -error">
                                                            {{ errors.first('initiatorEmployeesNumber') }}
                                                        </span>
                                                    </div>
                                                    <div class="form-field-input-suffix">
                                                        чел.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-cell _sm-4">
                                    <div class="form-field-message -default">
                                        На дату заполнения Концепции проекта
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="grid-area" style="align-items: flex-end">
                                <div class="grid-cell _sm-8">
                                    <div class="grid-area">
                                        <div class="grid-cell">
                                            <div class="form-field">
                                                <div class="form-field-label">
                                                    Сведения о всей цепочке собственников и&nbsp;органах управления
                                                </div>
                                                <div class="form-field-input">
                                                    <div class="form-inputTextarea _fluid">
                                                        <textarea name="initiatorOwnersChain"
                                                                  th:field="*{initiatorOwnersChain}"
                                                                  placeholder="Напишите сведения о всей цепочке собственников и органах управления"
                                                                  v-validate="'required'"
                                                                  :class="{'input': true, '-error': errors.has('initiatorOwnersChain') }"
                                                                  data-vv-as="Собственники и органы управления">
                                                        </textarea>
                                                        <span v-show="errors.has('initiatorOwnersChain')"
                                                              class="form-field-message -error">
                                                                {{ errors.first('initiatorOwnersChain') }}
                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid-cell _sm-4">
                                    <div class="form-field-message -default">
                                        Или прикрепите документом, под этой формой.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">

                                    <div class="grid-area">

                                        <div class="grid-cell">
                                            <div class="form-field">
                                                <div class="grid-area __textCenter">
                                                    <div class="grid-cell _sm-6">
                                                        <div class="grid-area">
                                                            <div class="grid-cell">
                                                                <div class="form-field-input">
                                                                    <div class="form-inputImages">
                                                                        <div class="form-inputImages-image-body"
                                                                             style="background-image: url('../../img/static/chains_of_owners.png')"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="grid-cell">
                                                                <div class="form-field-message -default">
                                                                    Скачайте и распечатайте&nbsp;документ
                                                                </div>
                                                            </div>
                                                            <div class="grid-cell">
                                                                <div class="grid-area">
                                                                    <div class="grid-cell">
                                                                        <div class="form-field">
                                                                            <div class="form-field-input">
                                                                                <div class="grid-area _tiny">
                                                                                    <div class="grid-cell">
                                                                                        <a href="/files/info_about_chain_of_owner.doc"
                                                                                           target="_blank"
                                                                                           class="form-button _primary _bordered">Скачать</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="grid-cell _sm-6">
                                                        <div class="grid-area">
                                                            <div class="grid-cell">
                                                                <div class="form-field-input">
                                                                    <div class="form-inputImages">
                                                                        <div
                                                                            :class="['form-inputImages-image-body', getClassByExt(getFileExt(chains_of_owners))]"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="grid-cell">
                                                                <div class="form-field-message -default">
                                                                    <template v-if="chains_of_owners">
                                                                        Файл: <b>{{ chains_of_owners }}</b>
                                                                    </template>
                                                                    <template v-else="">
                                                                        Загрузить скан копии
                                                                    </template>
                                                                    <!--input type="button" value="Подписать файл" onclick="
                                                                        if ('' == scan-1.value)
                                                                            { alert('Файл не выбран.'); return; }
                                                                        else
                                                                            if ('' == fileContent || undefined == fileContent)
                                                                            { alert('Выбран пустой файл'); return; }
                                                                        else
                                                                            Common_SignCadesBES_File('CertListBox')"-->

                                                                </div>
                                                            </div>
                                                            <div class="grid-cell">
                                                                <div class="grid-area">
                                                                    <div class="grid-cell">
                                                                        <div class="form-field">
                                                                            <div class="form-field-input">
                                                                                <div class="grid-area _tiny">
                                                                                    <div class="grid-cell">
                                                                                        <a href="#"
                                                                                           class="form-button _primary _bordered"
                                                                                           onclick="document.getElementById('scan-1').click(); event.preventDefault();">

                                                                                            <template
                                                                                                v-if="chains_of_owners">
                                                                                                Загрузить другой файл
                                                                                            </template>
                                                                                            <template v-else="">
                                                                                                Загрузить
                                                                                            </template>
                                                                                        </a>

                                                                                        <input
                                                                                            v-on:change="setDateFor('chains_of_owners', $event)"
                                                                                            type="file" id="scan-1"
                                                                                            class="__hidden"
                                                                                            onchange="openFile1(event)"
                                                                                            name="file"/>
                                                                                        <!--@@include = ../../../components/form/form-cryptopro-header.html -->
                                                                                        <!--@@include = ../../../components/form/form-cryptopro.html {"certboxid": "0"} -->
                                                                                        <!--@@include = ../../../components/form/form-cryptopro-button.html {"fileid":"scan-1", "filesgnname":"filesgn", "certboxid": "0"}-->
                                                                                        <!--@@include = ../../../components/form/form-cryptopro-footer.html {"filesgnname":"filesgn"}-->
                                                                                        <!--@@include = ../../../components/form/form-cryptopro-functions.html -->
                                                                                        <script language="javascript">
                                                                                            startCryptoByName('CertListBox0');
                                                                                        </script>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space _large"></div>
        <div class="formCard-footer">
            <div class="grid-area">
                <div class="grid-cell _md-3"></div>
                <div class="grid-cell _md-9">
                    <div class="grid-area">
                        <div class="grid-cell __textRight _md-8">
                            <input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
                            <input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space _massive"></div>
    </div>
</form>

