<!-- @@master = ../../layout/lk.html -->

<!-- @@block = body -->

<script type="text/x-template" id="form-inputFiles">
    <!--@@include = ../../../components/form/form-inputFiles.html-->
</script>

<form action="./resume-7.html" th:action="@{/private-office/resume/6}" th:object="${resume}" method="post"
      enctype="multipart/form-data" class="formCard formCard-resume" id="formResume" ref="form" v-cloak="">
    <div class="grid-container _large">
        <div class="space _massive"></div>
        <div class="formCard-header">
            <div class="grid-area _alignCenter">
                <div class="grid-cell _md-3">
                    <div class="formCard-step __textCenter-lg-up">
                        <span>6</span>/7
                    </div>
                </div>
                <div class="grid-cell _md-9">
                    <div class="formCard-title">
                        Общая информация о&nbsp;проекте
                    </div>
                </div>
            </div>
        </div>
        <div class="formCard-content">
            <div class="grid-area">
                <div class="grid-cell _md-9 _md-offset-3">
                    <div class="grid-area _large">
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Направление проекта
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputSelect _fluid">
                                                <select th:field="*{projectProjectIsAimedTo}"
                                                    name="projectProjectIsAimedTo"
                                                    v-validate="'required'"
                                                    :class="{'input': true, '-error': errors.has('projectProjectIsAimedTo') }"
                                                    data-vv-as="Направление проекта">

                                                    <option value="">Выберите</option>
                                                    <option th:each="item : ${ref.projectDirection}"
                                                            th:value="${item.id}"
                                                            th:text="${item.title}">no title</option>
                                                </select>

                                                <span v-show="errors.has('projectProjectIsAimedTo')" class="form-field-message -error">
                                                    {{ errors.first('projectProjectIsAimedTo') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Отрасль реализации проекта
                                        </div>
                                        <div class="form-field-input">
                                            <div class="form-inputSelect _fluid">
                                                <select th:field="*{projectSectors1}"
                                                    name="projectSectors1"
                                                    v-validate="'required'"
                                                    :class="{'input': true, '-error': errors.has('projectSectors1') }"
                                                    data-vv-as="Отрасль">
                                                    <option value="">Выберите</option>
                                                    <option th:each="item : ${ref.projectSectors}"
                                                            th:value="${item.id}"
                                                            th:text="${item.title}">no title</option>
                                                </select>
                                                <span v-show="errors.has('projectSectors1')" class="form-field-message -error">
                                                    {{ errors.first('projectSectors1') }}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell">
                                        <div class="form-field-label">
                                            Наличие эффекта в области занятости
                                        </div>
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-3">
                                                <div class="form-field-input">
                                                    <div class="form-inputText _fluid">
                                                        <input th:field="*{projectWorkPlaceCount}"
                                                            name="projectWorkPlaceCount"
                                                            type="number"
                                                            placeholder="10"
                                                            v-validate="'required|numeric'"
                                                            :class="{'input': true, '-error': errors.has('projectWorkPlaceCount') }"
                                                            data-vv-as="Наличие эффекта" />
                                                        <span v-show="errors.has('projectWorkPlaceCount')" class="form-field-message -error">
                                                            {{ errors.first('projectWorkPlaceCount') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-8">
                                                <div class="grid-cell">
                                                    <div class="form-field-message -default">
                                                        Количество создаваемых (созданных) новых рабочих мест, в том числе количество созданных рабочих мест в моногородах (если&nbsp;применимо)
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Проект соответствует требованиям охраны окружающей среды и стандартам экологической&nbsp;эффективности
                                        </div>
                                        <div class="grid-area">
                                            <div class="grid-cell _sm-2">
                                                <div class="form-field-input">
                                                    <div class="form-inputRadio">
                                                        <input type="radio" name="projectEnvironmentalProtection" value="true" id="conformity-1" th:checked="*{projectEnvironmentalProtection} == 'true'" checked="checked" />
                                                        <label for="conformity-1">Да</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell _sm-2">
                                                <div class="form-field-input">
                                                    <div class="form-inputRadio">
                                                        <input type="radio" name="projectEnvironmentalProtection" value="false" id="conformity-2" th:checked="*{projectEnvironmentalProtection} == 'false'" />
                                                        <label for="conformity-2">Нет</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="grid-area">
                                        <div class="grid-cell">
                                            <div class="form-field">
                                                <div class="form-field-label">
                                                    Технологии, планируемые к применению в рамках реализации проекта
                                                </div>
                                                <div class="form-field-input">
                                                    <div class="form-inputTextarea _fluid">
                                                        <textarea th:field="*{projectTechnologiesImplementation}"
                                                            name="projectTechnologiesImplementation"
                                                            placeholder="Опишите технологии, планируемые к применению в рамках реализации проекта"
                                                            v-validate="'required'"
                                                            :class="{'input': true, '-error': errors.has('projectTechnologiesImplementation') }"
                                                            data-vv-as="Технологии" />
                                                        <span v-show="errors.has('projectTechnologiesImplementation')" class="form-field-message -error">
                                                            {{ errors.first('projectTechnologiesImplementation') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="grid-area">
                                <div class="grid-cell _sm-8">
                                    <div class="grid-area">
                                        <div class="grid-cell">
                                            <div class="form-field">
                                                <div class="form-field-label">
                                                    Наличие технологических возможностей реализации проекта
                                                </div>
                                                <div class="form-field-input">
                                                    <div class="form-inputTextarea _fluid">
                                                        <textarea th:field="*{projectTechnologicalOpportunities}"
                                                            name="projectTechnologicalOpportunities"
                                                            placeholder="Опишите наличие технологических возможностей реализации проекта"
                                                            v-validate="'required'"
                                                            :class="{'input': true, '-error': errors.has('projectTechnologicalOpportunities') }"
                                                            data-vv-as="Технологии" />
                                                        <span v-show="errors.has('projectTechnologicalOpportunities')" class="form-field-message -error">
                                                            {{ errors.first('projectTechnologicalOpportunities') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid-cell">
                            <div class="form-field">
                                <div class="grid-area">
                                    <div class="grid-cell _sm-8">
                                        <div class="form-field-label">
                                            Наличие государственной поддержки
                                        </div>
                                        <div class="grid-area">
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input name="val9" type="checkbox" id="nope" v-model="inputs.govSupportNot" checked="checked" />
                                                        <label for="nope">Нет</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input type="checkbox" name="val10" id="version-1" v-model="inputs.govSupport1"/>
                                                        <label for="version-1">Привлечение возвратной меры господдержки
                                                        (по&nbsp;факту понесенных расходов): проект соответствует
                                                        правилам получения субсидии</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell" v-if="inputs.govSupport1">
                                                <div class="form-field-input">
                                                    <div class="form-inputTextarea _fluid">
                                                        <textarea th:field="*{projectImpactInfoAvailabilityOfStateSupportComment0}"
                                                            name="projectImpactInfoAvailabilityOfStateSupportComment0"
                                                            placeholder="Краткое обоснование в свободной форме"
                                                            v-validate="'required'"
                                                            :class="{'input': true, '-error': errors.has('projectImpactInfoAvailabilityOfStateSupportComment0') }"
                                                            data-vv-as="Привлечение" />
                                                        <span v-show="errors.has('projectImpactInfoAvailabilityOfStateSupportComment0')" class="form-field-message -error">
                                                            {{ errors.first('projectImpactInfoAvailabilityOfStateSupportComment0') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input type="checkbox" name="val12" id="version-2" v-model="inputs.govSupport2"/>
                                                        <label for="version-2">Привлечение авансовой меры господдержки:
                                                        проект соответствует правилам получения субсидии
                                                        или есть решение ГРБС о предоставлении возвратной
                                                        меры господдержки по&nbsp;проекту</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell" v-if="inputs.govSupport2">
                                                <div class="form-field-input">
                                                    <div class="form-inputTextarea _fluid">
                                                        <textarea th:field="*{projectImpactInfoAvailabilityOfStateSupportComment1}"
                                                            name="projectImpactInfoAvailabilityOfStateSupportComment1"
                                                            placeholder="Краткое обоснование в свободной форме"
                                                            v-validate="'required'"
                                                            :class="{'input': true, '-error': errors.has('projectImpactInfoAvailabilityOfStateSupportComment1') }"
                                                            data-vv-as="Привлечение" />
                                                        <span v-show="errors.has('projectImpactInfoAvailabilityOfStateSupportComment1')" class="form-field-message -error">
                                                            {{ errors.first('projectImpactInfoAvailabilityOfStateSupportComment1') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell">
                                                <div class="form-field-input">
                                                    <div class="form-inputCheckbox">
                                                        <input type="checkbox" name="val14" id="version-3" th:checked="*{val14} == true" v-model="inputs.govSupport3"/>
                                                        <label for="version-3">Есть решение ГРБС о получении авансовой меры
                                                        господдержки под проект (до момента предоставления
                                                        финансирования&nbsp;Внешэкономбанком)</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="grid-cell" v-if="inputs.govSupport3">
                                                <div class="form-field-input">
                                                    <div class="form-inputTextarea _fluid">
                                                        <textarea th:field="*{projectImpactInfoAvailabilityOfStateSupportComment2}"
                                                            name="projectImpactInfoAvailabilityOfStateSupportComment2"
                                                            placeholder="Краткое обоснование в свободной форме"
                                                            v-validate="'required'"
                                                            :class="{'input': true, '-error': errors.has('projectImpactInfoAvailabilityOfStateSupportComment2') }"
                                                            data-vv-as="Решение ГРБС" />
                                                        <span v-show="errors.has('projectImpactInfoAvailabilityOfStateSupportComment2')" class="form-field-message -error">
                                                            {{ errors.first('projectImpactInfoAvailabilityOfStateSupportComment2') }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space _large"></div>
        <div class="formCard-footer">
            <div class="grid-area">
                <div class="grid-cell _md-3"></div>
                <div class="grid-cell _md-9">
                    <div class="grid-area">
                        <div class="grid-cell __textRight _md-8">
                            <input type="submit" name="back" class="form-button _link" value="Назад" v-on:click="onSubmit($event , true)" />
                            <input type="submit" name="next" class="form-button _primary _long" value="Далее"  v-on:click="onSubmit($event)"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space _massive"></div>
    </div>
</form>
